@font-face{font-family:'Roboto';src:url("../fonts/roboto-regular-webfont.eot");src:url("../fonts/roboto-regular-webfont.eot?#iefix") format("embedded-opentype"),
url("../fonts/roboto-regular-webfont.woff2") format("woff2"),
url("../fonts/roboto-regular-webfont.woff") format("woff"),
url("../fonts/roboto-regular-webfont.ttf") format("truetype"),
url("../fonts/roboto-regular-webfont.svg#robotoregular") format("svg");
 font-weight:400;
 font-style:normal
}
@font-face{font-family:'Roboto';src:url("../fonts/roboto-light-webfont.eot");src:url("../fonts/roboto-light-webfont.eot?#iefix") format("embedded-opentype"),
url("../fonts/roboto-light-webfont.woff2") format("woff2"),
url("../fonts/roboto-light-webfont.woff") format("woff"),
url("../fonts/roboto-light-webfont.ttf") format("truetype"),
url("../fonts/roboto-light-webfont.svg#robotolight") format("svg");
 font-weight:300;
 font-style:normal
}
@font-face{font-family:'Roboto';src:url("../fonts/roboto-medium-webfont.eot");src:url("../fonts/roboto-medium-webfont.eot?#iefix") format("embedded-opentype"),
url("../fonts/roboto-medium-webfont.woff2") format("woff2"),
url("../fonts/roboto-medium-webfont.woff") format("woff"),
url("../fonts/roboto-medium-webfont.ttf") format("truetype"),
url("../fonts/roboto-medium-webfont.svg#robotomedium") format("svg");
 font-weight:700;
 font-style:normal
}
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url("../fonts/2fcrYFNaTjcS6g4U3t-Y5ZjZjT5FdEJ140U2DJYC3mY.woff2") format('woff2');
}

body,html{ font-family:Roboto; height:100%; width:100%; background-color:#f5f5f5 !important;
-webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none; 
}


*{outline:none;}

.signup_btn_clr{  background: #72A308 !important;color:#fff !important;}
.text-green {color: #72A308 !important;}


/* ------------Background color----------*/

.header_color{background: #0D904F !important;}

.tran{background:transparent !important;}

.md-dialog-header{background: #ED6663 !important;}

.guaranty {background: #FF8F3D;}

.quality {background: #FFC234;}

.organic {background: #72A308;}

.price {background: #61DDAB;}

md-checkbox.md-checked .md-icon{background:#0F9D58 !important;}

.bg-yellow,.bg-yellow:hover{background:#E8D935 !important;color:#fff;}

.bg-green,.bg-green:hover{background:#72a308 !important;color:#fff;}

/*.bg-wh-tran, .md-subheader-inner{background: rgba(255,255,255, 0.5);}*/

.bg-white{background:white !important; color: #000 ! important;}

.bg-black{background:black !important; color: #fff ! important;}

.bg_gray{background: #ddd !important;}

a.md-button:not([disabled]):hover, .md-button:not([disabled]):hover {
    background-color: transparent;
}

/* .selectedField {background: #282D33 ! important; width: 100%; border-radius: 0px; border-left:5px inset #3b5c87;} */

.activemenu{background: #282D33 ! important; width: 100%;}
/* ------------ Padding ----------*/

.nopadd{padding:0px !important;}
.padd_righ8{padding-right:8px !important;}
.padd_btm10{padding-bottom:10px;}
.padd_btm20{padding-bottom:20px;}
.padd_tb30{padding:30px 0px;}
.padd_tb10{padding:10px 0px;}
.padd_tb5{padding:5px 0px;}
/*.padd_righ0{padding-right:0px !important;}*/
.nopad-left .md-subheader-inner{padding-left:0px !important;}
.md-subheader-inner{padding:0px !important;}
 md-ink-bar{display: none; width: 0;}
.md-tab{padding: 8px; }
.padd-0 {padding: 0px;}
.padd-5{padding: 0px;}
.navigate{padding-left: 220px;  transition: 0.3s ease-in all;}
.navigate-right{padding-right: 304px;  transition: 0.3s ease-in all;}
.remove{padding-left: 0px;}
.remove-right{padding-right: 0px;}
.padd-l30{padding-left:30px ! important;}
.padd-l20{padding-left: 20px ! important;}
.padd-t30{padding-top: 30px;}
.padd-tb20{padding: 20px 0px;}
.padd-lr10{padding: 0px 10px;}



/* ------------ Margin ----------*/

.nomargin{margin:0px !important;}
.nomarg_btm{margin-bottom: 0px;}
.marg-t70{margin-top: 70px;}
.margrt-0 {	margin-right: 0px ! important;}
.menu-drop {margin-top: 42px ! important;}
.layout-fill-cust {margin-top: -58px ! important;}
.mtopn8{margin-top:-8px;}
.mg-tb25{margin: 25px 0px;}
.mg_t15{margin: 15px 0px 0px;}
.marg-5{margin:5px ! important;}
.marg-15{margin:15px ! important;}
.marg-tb15{margin:15px 0px;}
/* ------------ Font color ----------*/

.text-white{color:#fff;}
.text-orange{color:orange;}
.text-black{color:black;}
.ft_black{color:#000;}
.ft_gray{color:gray;}
.ft_yellow{color:yellow}
.ft-grn{color:#4eaf4c;}
/* ------------ Text align ----------*/

.tright{text-align: right;}
.text-center{text-align: center;}
.text-center {text-align: center ! important;}

/* ------------ Floating ----------*/


/* ------------ Width ----------*/

.wid_100{width: 100%;}
.wid_60{width: 60px !important;}
.wid_120{width: 110px;height:110px !important;}
.wid_150{width: 150px !important;height:150px !important;}

/* ------------ Height ----------*/

.height50{height:50px !important;min-height: 50px !important;}
.height30{height:30px !important;min-height:30px !important;}
.ht55{min-height: 55px !important;height:55px !important;}
.ht45{min-height: 45px !important;height:45px !important; border-bottom: 2px solid lightgrey;}
.category md-tabs-canvas {height: 150px;}
.feature md-tabs-canvas {height: 290px;}

/* ------------ Font-size ----------*/

.sp-top {font-size: 20px;}
.sp-bottom {font-size: 17px;}
.ft_size18{font-size: 18px;}
.ft_size14{font-size: 14px;}
.ft_size20{font-size: 20px;}
/* ------------ border-radius ----------*/

.header_color .md-icon-button{border-radius:0px;}
.bor_radius{border-radius:0px;}
md-dialog {border-radius:0px; display: block ! important;}
/* .cart-count{background: #fff;} */
.cart-count .md-button {margin: 0px;}
.cart-count .md-icon-button{border-radius: 0px; background: #494949; height: 40px; width: 40px; line-height: 45px; padding: 0px;}
.cart-count span{font-weight: bold; font-size: 22px; padding: 9px 15px; background: white; margin: -3px;}		.cart-count span{font-weight: bold; font-size: 22px; padding: 9px 8px; margin: 0px;}
.cart-count .md-icon-button:hover{background: #494949 ! important;}
.mycart-img{width: 80px; height: 80px;}
.cart-btm-btns{color: #fff; padding: 5px 15px;}
.cart-remove{margin-top: 15px ! important;}
/* ------------ Floating ----------*/


.border-bottom {
    border-bottom-style: solid;
    border-bottom-width: 1px;
}
.border-right {
    border-right-style: solid;
    border-right-width: 1px;
}
.border-top {
    border-top-style: solid;
    border-top-width: 1px;
    border-color: inherit;
}
.border-light {
    border-color: rgba(0, 0, 0, 0.2);
}
.border-green{border: 1px solid #4eaf4c;}
.bg-green{ background:#4eaf4c;}







.svgstyle svg{margin-top: 2px;height: 16px;width: 16px;}

#overlay {
	background: rgba(0, 0, 0, .75);
	text-align: center;
	margin: 0;
	opacity: 1;
	display: none;
	-webkit-transition: opacity .25s ease;
	-moz-transition: opacity .25s ease;
}




.guaranty, .quality, .organic, .price {
	text-align: center;
	padding: 30px 0px 0px 0px;
}
.viewlarge {
    position:relative;
    width:150px;
    height:150px;
}
.viewlarge img {
    width:100% !important;
        height: 95%;
    vertical-align:top;
}
.viewlarge:after {
    content:'\A';
    position:absolute;
    width:100%; height:100%;
    top:0; left:0;
    background:rgba(0,0,0,0.3);
    opacity:0;
    transition: all 0.7s;
    -webkit-transition: all 0.7s;
}
.viewlarge:hover:after {
    opacity:1;
}
.sample-product {
	background: rgba(0, 0, 0, 0.2);
	padding: 10px 0px 10px 20px;
	margin-top: 35px;
	color: #fff;
	text-align: left;
}



md-toolbar:not (.md-menu-toolbar ).md-accent {
	background: none ! important;
}







.card {border: 1px solid lightgrey;}


.cart-btn {
	color: #fff ! important;
	border: 2px solid #72A308 ! important;
	background: #72A308 ! important;
}

.btn-count {
	color: #fff;
	padding-left: 2px;
	background: #72A308;
  line-height: 1.4;
height: 40px;
}


.nav-bar-subheader{ padding:10px 0px; background-color:#0F9D58 !important}
ul.nav-menu{ width:400px; padding:6px; margin:0px; display:inline; list-style-type:none; position:absolute;}
ul.nav-menu li{ width:auto; display:inline; list-style-type: none; padding:10px; list-style-type:none;}

.triangle ::after {
	width: 0;
	height: 0;
	border-bottom: 100px solid black;
	border-right: 100px solid transparent;
}

.triangle ::before {
	width: 0;
	height: 0;
	border-bottom: 100px solid black;
	border-right: 100px solid transparent;
}

.triangle-bottomleft {
  width: 0;
height: 0;
border-bottom: 8px solid #cc3e3e;
border-right: 8px solid transparent;
position: absolute;
top: 1px;
right: -8px;
}
.triangle-bottomright {
	width: 0;
	height: 0;
	border-bottom: 8px solid #cc3e3e;
	border-left: 8px solid transparent;
  position: absolute;
  top: 1px;
  left: -8px;
}

.triangle-fpright{
  width: 0;
  height: 0;
  border-bottom: 8px solid #657f05;
  border-left: 8px solid transparent;
  position: absolute;
  top: 1px;
  left: -8px;
}
.triangle-fpleft {
  width: 0;
height: 0;
border-bottom: 8px solid #657f05;
border-right: 8px solid transparent;
position: absolute;
top: 1px;
right: -8px;
}

.feature md-tab-item h4, .feature md-tab-item h4 .ft_gray{
  font-weight: 100;
  text-transform: capitalize !important;}
.ttc{
  text-transform: capitalize !important;
}



/* sidenav */
.side_logo{ height: 120px;}
.md-sidenav-left{background: #30363E ! important; position: fixed; color:#757575;}
.md-sidenav-right{position: fixed; top: 82px;}
.menu-list{padding: 0; margin: 0; background: #30363E ! important;}
.btn-menu{font-size: 14px ! important; }
/* .btn-sub{padding-left: 35px ! important; margin: 0; font-size: 14px ! important;}
.btn-sub2{padding-left: 50px ! important; margin: 0; font-size: 14px ! important;}
.btn-sub2:hover{padding-left: 45px ! important; border-left: 5px solid yellow; background: #7C817E ! important; color: yellow; width: 100%; border-radius: 0px;}
.btn-sub:hover{padding-left: 30px ! important; border-left: 5px solid yellow; background: #7C817E ! important; color: yellow; width: 100%; border-radius: 0px;} */

/* .btn-menu:hover{background: #7C817E ! important; padding-left: 11px ! important; border-left: 5px solid yellow; color: yellow; width: 100%; border-radius: 0px;} */
.btn-sub{margin: 0; padding-left: 25px !important; font-size: 14px ! important;}
.btn-sub:hover{padding-left: 20px !important; background: #282D33 ! important; width: 100%; border-radius: 0px; border-left:5px inset #3b5c87;}
.btn-sub2{margin: 0; padding-left: 40px !important; font-size: 14px ! important;}
.btn-sub2:hover{padding-left: 35px !important; background: #282D33 ! important; width: 100%; border-radius: 0px; border-left:5px inset #3b5c87;}

.btn-menu:hover{padding-left: 11px !important; color:#fff !important; fill:#fff !important;background-color: #282D33 ! important; border-left:5px inset #3b5c87;}
.md-3-line:hover,.cursor{cursor: pointer;}

/* Image icons */
.sa {background: url(../images/websiteIconSprites.7a64e88b.png) no-repeat -661px -46px;}

.sd {background: url(../images/websiteIconSprites.7a64e88b.png) no-repeat -716px -45px;}

.sp {background: url(../images/websiteIconSprites.7a64e88b.png) no-repeat -770px -44px;}

.src {background: url(../images/websiteIconSprites.7a64e88b.png) no-repeat -829px -44px;}

/* md-backdrop{visibility: hidden ! important;} */
md-backdrop.md-sidenav-backdrop{ z-index:-59;}
.cardsliderheader{padding: 0px; min-height: 100% ! important; min-width: 0 !important;}
.cardsliderheader md-list{height: auto; overflow: auto;padding-top: 0px;max-height: 399px;}
.cartsliderlist_img{width:90px; margin:5px;height:75px;text-align: center;}
.listofcartitem md-list-item{padding: 8px 12px;}
.cartsliderlist_img img{width:100%;height:100%;}
.text-white {color: #fff;}
.text-black {color: #000;}

.mylistsliderlist_img{width:100px;height:100px; margin:5px;}
.mylistsliderlist_img img{width:100%;height:100%;}

.scroll-cart{
	min-height:180px; width:100%; position: absolute; overflow: auto; height: 180px;
}

.scroll-cart::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
	background-color: #F5F5F5;
	border-radius: 5px;
}

.scroll-cart::-webkit-scrollbar
{
	width: 5px;
	background-color: #F5F5F5;
}

.scroll-cart::-webkit-scrollbar-thumb
{
	border-radius: 5px;
	background-color: #333;
	border: none ! important;
}

.toptool{transition: 0.3s ease-in all; width: calc(100% - 220px)}
.toptoolrem{width: 100%;}
ul.nav-menu1{margin-left: 210px ! important;}
.merch-logo{position: absolute;top: -60px;left:60px;width:118px;height:118px; padding-top:10px;}
.merch-marg{left: 178px ! important;}

.menu-item{border-bottom: 1px solid lightgrey ! important;}
.menu-item:hover{background: #0F9D58 ! important; color: #ffffff ! important; }
/* .top-tool{width: calc(100% - 220px);} */
.producutItem{min-width:100%;}
.customerSideNav{min-width:280px;max-width:280px; top:82px;}


/*  17-11  */
.sa-logo{ width:auto; height:52px; float:left;  padding:0px 10px;}
.ma-logo{ width:auto; height:52px; float:left; background-color:transparent; padding:0px 10px;}

nav.mainslider-tab ul li{ }
nav.mainslider-tab ul li a{ width:100% !important; height:100% !important; border:1px solid #999999; border-radius:0px;}
nav.mainslider-tab ul li a md-subhead,nav.mainslider-tab ul li a md-caption{ width:100%;float:left;}
.prod-headings h2{ color:#4eaf4c; text-transform: uppercase; }
.prod-headings a{ color:#CF3721; }
.footer-nav{ margin:0px; padding:0px; }
.footer-nav li{ list-style-type:none;display:inline-block;}
.footer-nav li a{ font-size:12px; color:#FFFFFF; padding:5px; text-decoration:none;}

.slider-left{ padding:10px; color:#FFFFFF;}
.slider-left h1{ font-size:40px; margin:20px 0px 10px 0px; color:#ED6663; color:#FFFFFF;}
.slider-left strong{  color:#FFFFFF;}

.slider-right{  padding:10px; color:#FFFFFF;}
.slider-right h1{ font-size:40px; margin:20px 0px 10px 0px;  }
.slider-right strong{ }

.hpy-shop{ position:relative; top:20px; width:230px; left:20px;}


.producutItem .md-subhead,.producutItem .md-body-1{ font-weight:600;}	
.storelist{ text-align:center; margin:10px;}
.storelist div{ padding:0px 5px;}
.storelist label{ width: 100%; text-overflow: ellipsis; overflow:hidden; white-space:nowrap; float:left;
 }


/* Change placeholder color */
md-select .md-select-value.md-select-placeholder,md-input-container label, md-input-container .md-placeholder{color: rgba(0,0,0,0.8);}

md-select .md-select-value,md-input-container .md-input{ border-color:rgba(0,0,0,0.6)}


/* text color */
.text-white{ color:#FFFFFF;}

.del-address{ list-style-type:none; padding-left:0px;}
.del-address li span{ width:30px; float:left; font-weight:600;}



.del-prod-img{ width:80px}
.del-prod-desc{ width:calc(50% - 80px);}
.del-prod-price{ width:50%}
.box-gray{ background-color:#F1F1F1; border:1px solid rgba(0,0,0,0.1)}
.succ-popup{ 
	background-color:#FF0000; top:-10%;
}
.fav-container{}





@media screen and (max-width: 384px){
	.marg-l10{margin-left: 10px ! important;}
	.marg-l-15{margin-left: -15px ! important;}
	.padd-l10{padding-left: 10px ! important;}
	.cart-count span{font-weight: bold; font-size: 22px; padding: 9px 11px; margin: 0px;}	
	.font-16{font-size: 16px ! important;}
	.font-14{font-size: 14px ! important;}
	.responsive-container{ width:100%;}
}
@media screen and (max-width: 450px){
	.cart-count .md-icon-button{border-radius: 50% ! important; height: 25px ! important; width: 25px ! important; min-height: 0 ! important; margin-left: 3px;}
	.cart-btm-btns{width: 100%;}
	.responsive-container{ width:100%;}
	.pro-detail-popup{width:400px; height:80%; }
}

@media screen and (min-width: 450px) and (max-width: 600px) {
	.pro-detail-popup{width:400px; height:80%; }
}

@media screen and (max-width: 600px) {
    .product-detail-dialog{}
    .nopadd-sm { padding:0px !important; }
    .nomar-sm{ margin:6px 0px !important;}
    .width-sm{width:50px !important; float:left; padding:0px !important;}
	.responsive-container{ width:100%;}
	.pro-header{ height:250px;}
	
	.succ-popup{ width:80%; height:80%;  position:absolute;  left:10%; }
	.fav-container{width:100%;}
}

@media screen and (max-width: 960px) {
	.mainapp-container{ margin-top:130px; }
	.user-dropdown,.cart-dropdown{margin-top: 127px; }
}
@media screen and (min-width: 960px) {
    .mainapp-container{ margin-top:82px; }
    .user-dropdown,.cart-dropdown{margin-top: 77px; }
}

@media screen and (min-width: 601px) and (max-width: 960px) {
    .product-detail-dialog{}
    .responsive-container{ width:100%;}
    .pro-header{ height:250px;}
     .del-prod-price{text-align:right;}
     
     .succ-popup{ width:60%; height:70%;  position:absolute; left:20%; }
     .fav-container{width:100%;}
     
     .pro-detail-popup{width:550px; height:80%; }
}
@media screen and (min-width: 961px) {
    .product-detail-dialog{width:100%; height:auto;}
    .responsive-container{ width:80%;}
    .pro-header{ height:190px;}
     .del-prod-price{text-align:right;}
     
}
@media screen and (min-width: 960px) and (max-width: 1200px) {
	.succ-popup{ width:50%; height:50%;  position:absolute;  left:25%; }
	.fav-container{width:90%; margin:15px auto;}
	.pro-detail-popup{width:800px; height:80%; }
}
@media screen and (min-width: 1201px) {
   #ver-section{ width:80%; margin:0px auto;}
   .del-prod-price{text-align:right;}
   .succ-popup{ width:36%; height:80%;  position:absolute;  left:32%; }
   .fav-container{width:90%; margin:15px auto;}
   .pro-detail-popup{width:900px; height:80%; }
}


@media screen and (max-width: 810px) {
	.pdwid-80{width: 96% !important;}
	.product-details-pname{padding-left: 4%;}
	.product-details-pname .md-display-1{font-size: 28px;}
	.product-details-pname .md-title{font-size: 14px;}	
	.mycart-img{width: 50px ! important; height: 50px ! important;}	
	}
@media screen and (max-width: 864px) {
	.padd-tb20{padding: 20px 0px;}
	.padd-lr10{padding: 0px 10px;}	
}
@media screen and (max-width: 700px) {
	.product-details-pname{padding-left: 10%;}
	}
@media screen and (max-width: 645px) {
	.product-details-pname{padding-left: 15%;}
	}
@media screen and (max-width: 600px) {
	.original img{width: 98% !important;}
	.product-details-pname{padding-left: 0px;}
	.product-details-pname .md-display-1{font-size: 35px;}
	.product-details-pname .md-title{font-size: 28px;}
	.border-right{border-right:none !important;	border-bottom: border-bottom-style: solid; border-bottom-width: 1px;}
    .delivery-icon{margin:20px 0px;}
	}
@media screen and (max-width: 950px) {
	.order-table{width: 950px;}		
	.locDialog{height: auto ! important;}
}
@media screen and (max-width: 1090px) {
	.padd-lr0{padding-left: 0px ! important;}
}
@media screen and (max-width: 850px) {
	.cart-count .md-icon-button {
			height: 35px;
			width: 35px;
			line-height: 0 ! important;
		}
}
	
	
	
.pdwid-80{width:81%;}
.prodactive{
	font-weight: bold;
	border-bottom: 3px solid orangered;
}

.md-list-item-text h4{
	font-size: 15px ! important;
}
/* .cart-amt{right: 70px; position: absolute; top: 38px; color: white; font-weight: bold; font-size: 10px;} */

.img-wid md-tabs-canvas md-tab-item{max-width: 70px ! important;}	

.tbl-body h3{ color:#666666; font-weight:100; padding-right:20px; font-size:20px !important; font-family:'titilium-regular'; border-right:1px solid #dddddd; }
.tbl-body .tbl-search ng-md-icon{ fill:#979797; height:16px; width:16px; margin-left:20px;top:6px; position:relative;}
.tbl-body .tbl-search input{ border:none; padding:3px 0px; font-weight:100;outline:0;}
.tbl-body .tbl-header{color:#333333; padding:10px 5px; font-size:18px !important; background-color:#EEEEEE !important}
.tbl-body .tbl-body{ color:#666666; }
.full_wid{width:100%; outline:0;}
.data-table-list{ cursor:pointer; outline:0;}
.data-table-list:nth-child(odd)  md-item-content{ background-color:#f5f6f8;}


.delivery-address svg{ margin-top:5px;}




/* deliver Address */
.del-container{ border:1px solid rgba(0,0,0,0.1); box-sizing:border-box; }
.container-address{ border-left:4px solid #4eaf4c;}

.container-time{ border-left:4px solid #faa438;}
.del-container .del-container-img{ width:60px;}
.del-container .del-address{ width:calc(100% - 60px); }

.del-container .del-address-edit{ float:right;}

.del-container .del-address-edit md-icon{ width:16px; height:16px; top: -10px; position: relative;}
.del-items{ border-bottom:1px solid rgba(0,0,0,0.1); }
.del-items:first{ border-top:1px solid rgba(0,0,0,0.1); }

.order-total{height:250px;}
.mainslider-tab ul li a{ display:block !important}


.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

.icon28{
   font-size: 28px;
}


.text-light {
color: rgba(255, 255, 255, 0.9);
}
.text-small {
font-size: 12px !important;
}
.relative-p{position:relative;}


/* custom scroll */
::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}
::-webkit-scrollbar-button {
	width: 8px;
	height:5px;
}
::-webkit-scrollbar-track {
	background:#eee;
	border: thin solid lightgray;
	box-shadow: 0px 0px 3px #dfdfdf inset;
	border-radius:10px;
}
::-webkit-scrollbar-thumb {
	background:#999;
	border: thin solid gray;
	border-radius:10px;
}
::-webkit-scrollbar-thumb:hover {
	background:#7d7d7d;
}

.icon-20{ font-size:20px;}
.hgt-34{ height:34px;}
.home-products .views{  width: 300px;}
.views {
 
   /* height: 300px; */
   margin: 10px;
   float: left;
   /* border: 10px solid #fff; */
   overflow: hidden;
   position: relative;
   text-align: center;
   -webkit-box-shadow: 1px 1px 2px #e6e6e6;
   -moz-box-shadow: 1px 1px 2px #e6e6e6;
   box-shadow: 1px 1px 2px #e6e6e6;
   cursor: default;
   background: #fff url(../images/bgimg.jpg) no-repeat center center;
}
.views .mask,.views .content {
  
   height: 300px;
   position: absolute;
   overflow: hidden;
   top: 0;
   left: 0;
}
.views img {
   display: block;
   position: relative;
}
.views h2 {
    text-transform: uppercase;
    color: #0F9D58;
    text-align: center;
    position: relative;
    font-size: 17px;
    padding: 10px;
    background: transparent;
    margin: 10px 0 0 0;
}
.views p {
    font-family: Georgia, serif;
    font-size: 15px;
    position: relative;
    color: #000;
    padding: 10px 20px 20px;
    text-align: center;
    height: 75px;
    width: calc(100% - 40px);
    overflow: hidden;
    text-overflow: ellipsis;
}
.views a.info {
   display: inline-block;
   text-decoration: none;
   padding: 7px 14px;
   background: #000;
   color: #fff;
   text-transform: uppercase;
   -webkit-box-shadow: 0 0 1px #000;
   -moz-box-shadow: 0 0 1px #000;
   box-shadow: 0 0 1px #000;
}
.views a.info: hover {
   -webkit-box-shadow: 0 0 5px #000;
   -moz-box-shadow: 0 0 5px #000;
   box-shadow: 0 0 5px #000;
}

.view-first img {
   -webkit-transition: all 0.2s linear;
   -moz-transition: all 0.2s linear;
   -o-transition: all 0.2s linear;
   -ms-transition: all 0.2s linear;
   transition: all 0.2s linear;
}
.view-first .mask {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   background-color: rgba(15,157,88,0.5);
   -webkit-transition: all 0.4s ease-in-out;
   -moz-transition: all 0.4s ease-in-out;
   -o-transition: all 0.4s ease-in-out;
   -ms-transition: all 0.4s ease-in-out;
   transition: all 0.4s ease-in-out;
}
.mask{ width:100%;}
.view-first h2 {
   -webkit-transform: translateY(-100px);
   -moz-transform: translateY(-100px);
   -o-transform: translateY(-100px);
   -ms-transform: translateY(-100px);
   transform: translateY(-100px);
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   -webkit-transition: all 0.2s ease-in-out;
   -moz-transition: all 0.2s ease-in-out;
   -o-transition: all 0.2s ease-in-out;
   -ms-transition: all 0.2s ease-in-out;
   transition: all 0.2s ease-in-out;
   color:#FFFFFf;
}
.view-first p {
   -webkit-transform: translateY(100px);
   -moz-transform: translateY(100px);
   -o-transform: translateY(100px);
   -ms-transform: translateY(100px);
   transform: translateY(100px);
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   -webkit-transition: all 0.2s linear;
   -moz-transition: all 0.2s linear;
   -o-transition: all 0.2s linear;
   -ms-transition: all 0.2s linear;
   transition: all 0.2s linear;
   color:#FFFFFF;
}
.view-first:hover img {
   -webkit-transform: scale(1.1,1.1);
   -moz-transform: scale(1.1,1.1);
   -o-transform: scale(1.1,1.1);
   -ms-transform: scale(1.1,1.1);
   transform: scale(1.1,1.1);
}
.view-first a.info {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   -webkit-transition: all 0.2s ease-in-out;
   -moz-transition: all 0.2s ease-in-out;
   -o-transition: all 0.2s ease-in-out;
   -ms-transition: all 0.2s ease-in-out;
   transition: all 0.2s ease-in-out;
}
.view-first:hover .mask {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
}
.view-first:hover h2,
.view-first:hover p,
.view-first:hover a.info {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
   -webkit-transform: translateY(0px);
   -moz-transform: translateY(0px);
   -o-transform: translateY(0px);
   -ms-transform: translateY(0px);
   transform: translateY(0px);
}
.view-first:hover p {
   -webkit-transition-delay: 0.1s;
   -moz-transition-delay: 0.1s;
   -o-transition-delay: 0.1s;
   -ms-transition-delay: 0.1s;
   transition-delay: 0.1s;
}
.view-first:hover a.info {
   -webkit-transition-delay: 0.2s;
   -moz-transition-delay: 0.2s;
   -o-transition-delay: 0.2s;
   -ms-transition-delay: 0.2s;
   transition-delay: 0.2s;
}


.md-open-menu-container {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99;
    opacity: 0;
    border-radius: 2px;
    height: 100% !important;
    box-shadow: inherit;
}
.cart-dropdown{
	height:100% !important; width:350px; box-shadow: 0px 2px 3px rgba(0,0,0,0.4);
}
.locDialog{
    width: 500px;
    /* height: 441px !important; */
}



.pull-left{float:left;}
.pull-right{float:right;}

.item-count{ position:absolute; top:3px; right:3px; background-color:#0F9D58 ; padding:3px 7px; font-size:12px; border-radius:40px; color:#FFFFFF}
.item-type{  padding:3px; border:1px solid rgba(0,0,0,0.3)}
.item-type span{ width:12px; height:12px; border-radius:50px; float:left;}
.item-type-Veg{ background-color:#008000;}
.item-type-Non-Veg{ background-color:#DA251E;}
.item-type-Non-Eatable{ border:2px solid #DA251E; position:relative;}
.item-type-Non-Eatable:after{
	height: 12px;
    width: 2px;
    position: absolute;
    background-color: #DA251E;
    content: '';
    transform:rotate(45deg);
    left:5px;
    top:1px;
 }
 .border-r-only{ border-right:1px solid rgba(0,0,0,0.7);}
.actual-prices{ color:#DA251E;}
/*.actual-prices:after{
	height: 15px;
    width: 1px;
    position: absolute;
    background-color:rgba(0,0,0,0.3) ;
    content: '';
    left:39px;
    top:3px;
} */
.icon-black{ color:rgba(0,0,0,0.6) !important;}
.pro-price{ padding-right:5px;}
.mrp-price{ color:rgba(0,0,0,0.5); padding-left:5px;}
.index-top{z-index: 1000; position: relative;}

.icon-large{ color:#FFFFFF; font-size:30px;}
.icon-xlarge{ color:#FFFFFF; font-size:40px;}
.pro-img{ height:150px; width:100%;}
.icon-large-border{color:#FFFFFF; font-size:20px;}
.pro-btns{ padding:10px; background-color:rgba(0, 0, 0, 0.8); color:#FFFFFF;}
.bg-gray{  margin:10px; background-color:rgba(0, 0, 0, 0.8);}
.border-l-r{ border-left:1px solid rgba(255,255,255,0.5);  border-right:1px solid rgba(255,255,255,0.5);}

.more{
       color: #FFFFFF !important;
       /* border: 1px solid #ffffff; */ 
       border-radius: 0px;
       /* background-color:#0F9D58; */
}

.pro-offer{ position:absolute; transform:rotate(-45deg); left:-38px; text-align:center; color:#FFFFFF; top:-15px; padding-right:20px;   height:25px; padding-top:15px; width:100px;}
.off-70-above{  background-color:#7BB3AA;}
.off-50-above{  background-color:#AA6B5C;}
.off-50-below{  background-color:#E8D133;} 
.pro-sort .md-select-value{ border:1px solid rgba(0,0,0,0.1); padding:10px !important; }

.pro-sort md-select{ border:none;}

.pro-search input[type='text']{ border:1px solid rgba(0,0,0,0.1); margin-top:19px; padding:13px 10px !important; width:96%}

md-autocomplete input:not(.md-input){
	font-size: 18px; background: #fff; padding: 0 30px; border: 1px solid lightgrey;
}
.arrow_color md-tabs-wrapper md-icon{
	fill: #d2d2d2 ! important;
	width: 50px;
	height: 50px;
}
md-tabs .md-tab.md-active, md-tabs .md-tab.md-focused{
	color: #333;
	font-weight: bold;
}


/* address */
.address-container{ border-radius:2px; }
.address-user-name{ background-color:#7BB3AA; color:#FFFFFF;}
.address-box{ border: 1px solid #7BB3AA; padding:20px;}
.icon{ font-size:20px;}
.address-icon{ height:30px; width:24px; float:left;}
.address-pull-left{ float:left; width:calc(100% - 35px);}

.add-address-form input[type="text"]{ padding:10px; border:2px solid rgba(0,0,0,0.1); width:100%; border-radius:3px; box-sizing:border-box;}
.responsive-container{ margin:0px auto; box-sizing:border-box;}


.sexy_line{ 
    display:block;
    border:none;
    color:white;
    height:400px;
    width:1px;
    background:black;
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 300, from(rgba(0,0,0,0.5)), to(#fff));
}
.mainapp-container{width:100%; overflow: visible; background-color: #F5F5F5 !important;}
.user-dropdown{box-shadow: 0px 2px 3px rgba(0,0,0,0.4); position: absolute; margin-left: 0px;}

#pro-type .md-tab{ padding:14px 15px !important;}
#pro-type md-tabs-canvas{ height:50px !important;}
#pro-type md-tabs-canvas.md-paginated{ margin: 0 25px;}
.pro-header{ background-color:#FFFFFF; padding:10px 20px; }



/* carousel slider */

.wrapper {
  width: 100%;
  
}

  /*------------------------------------*\
    $CAROUSEL
\*------------------------------------*/
@-moz-keyframes carousel {
 
  0% {
    left: 0;
  }
  9% {
    left: -100%;
  }
  18% {
    left: -100%;
  }
  27% {
    left: -200%;
  }
  36% {
    left: -200%;
  }
  45% {
    left: -300%;
  }
  54% {
    left: -300%;
  }
  63% {
    left: -200%;
  }
  72% {
    left: -200%;
  }
  81% {
    left: -100%;
  }
  91% {
    left: -100%;
  }
  100% {
    left: 0;
  }
  
}
@-webkit-keyframes carousel {
 
  0% {
    left: 0;
  }
  9% {
    left: -100%;
  }
  18% {
    left: -100%;
  }
  27% {
    left: -200%;
  }
  36% {
    left: -200%;
  }
  45% {
    left: -300%;
  }
  54% {
    left: -300%;
  }
  63% {
    left: -200%;
  }
  72% {
    left: -200%;
  }
  81% {
    left: -100%;
  }
  91% {
    left: -100%;
  }
  100% {
    left: 0;
  }
  
} 
@keyframes carousel {
 
  0% {
    left: 0;
  }
  9% {
    left: -100%;
  }
  18% {
    left: -100%;
  }
  27% {
    left: -200%;
  }
  36% {
    left: -200%;
  }
  45% {
    left: -300%;
  }
  54% {
    left: -300%;
  }
  63% {
    left: -200%;
  }
  72% {
    left: -200%;
  }
  81% {
    left: -100%;
  }
  91% {
    left: -100%;
  }
  100% {
    left: 0;
  }
  
}
.carousel {
  overflow: hidden;
  width: 100%;
}

.panes {
  list-style: none;
  position: relative;
  width: 400%;
  /* Number of panes * 100% */
  overflow: hidden;
  /* This is used solely to clear floats, it does not add functionality. */
  -moz-animation: carousel 30s infinite;
  -webkit-animation: carousel 30s infinite;
  animation: carousel 30s infinite;
  margin: 0;
  padding: 0;
}

.panes > li {
  position: relative;
  float: left;
  width: 25%;
  /* 100 / number of panes */
  margin: 0;
  padding: 0;
}

.carousel img {
  display: block;
  width: 100%;
  max-width: 100%;
}

.carousel h2 {
  font-size: 1em;
  padding: 0.5em;
  position: absolute;
  right: 10px;
  bottom: 10px;
  left: 10px;
  text-align: right;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.75);
}


.payment-method{ border:2px solid #0F9D58 !important}
.white-container{ background-color:#FFFFFF; padding:20px 50px; width:calc(100% - 50px) !important; margin:15px auto; border-radius:3px; border:1px solid rgba(0,0,0,0.1);}
 
 /* OFFERS */
.pro-offers{ padding:3px; margin:0px 2px;  box-sizing:border-box;  height:29px; max-height:29px;  width:auto;  }
.text-golden{ color:#0F9D58 ;}
.off-text-lg{ 
		font-size:17px;   text-shadow:0px 0px 3px rgba(0,0,0,0.4); padding-right:4px;

}









/* sliders */

.carousel {
  overflow: hidden;
  text-align: center;
  max-height:240px;
  padding:0px;
  margin:10px 0px;
}

.carousel > * {
  position: absolute;
  width: 100%;
 
  display: table;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  z-index: 0;
  transition: opacity 1.4s ease-in-out;
}

.carousel > *.isActive {
  opacity: 1;
  z-index: 1;
}

.carousel > * > * {
  display: table-cell;
  vertical-align: middle;
}

.carousel > * > * > * {
  max-width: 669px;
  margin: 0 auto;
}
.carousel li{width:100%; position:relative;}

/*  pro-detail-popup  */

.pro-zoom-img                  		{ width:100%; height:auto; }
.pro-zoom-img img              		{ width:100%; }
.pro-thimbnail-img             		{ width:100%; margin:10px 0px;}
.pro-thimbnail-img span        		{  box-sizing:border-box;}
.pro-thimbnail-img .thumbnail  		{ width:calc(100% - 5px); margin-right:5px; border:1px solid rgba(0,0,0,0.1); min-height:60px;}
.pro-thimbnail-img .thumbnail img	{ width:100%; height:auto;}
.pro-detail-popup .text-red    		{ color:#CF3721; }
.pro-detail-popup .text-orange 		{ color:#faa438; }
.pro-detail-popup .text-blue   		{ color:#043e9b; }
.pro-detail-popup .pro-descriptions	{ color:#929293; }

.add-tocart               { width:140px; border:1px solid #494949; margin-left:5px; float:left;}
.btns-b                   { height:20px; width:20px;  padding:6px 10px; color:#000000; font-size:14px; font-weight:bold;}
.count-quantity           {width:60px; text-align:center; padding:4px;}
.qty-lable                { padding:6px 0px;}
.combo img                { width:70px; margin:5px auto;}
.combo .combo-product-name{ text-align:center;}
.combo .price-nd-qty      { text-align:center;}
.combo .combo-thumb       { width:100%;  text-align:center;}
.combo .combo-container   { width:110px; margin-right:10px;}
.text-weight-600          { font-weight:600;}
.text-weight-bold         { font-weight:bold;}


.save-offer{
	position: absolute;
	transform: rotate(-45deg);
	margin-top: -9px;
	font-size: 10px;
	padding: 2px;
	margin-left: -8px
}
.save-offer span{ position: absolute; margin-top: -40px; margin-left: -12px; color: #fff;}
     
.save{
	width: 45px ! important; height: 45px ! important;
}



ul.carousel li{float:left;} 





