/*color*/
.signup_btn_clr{
  background: #72A308 !important;
  color:#fff !important;
}

.md-dialog-header{
  background: #ED6663 !important;
}


.guaranty {
	background: #FF8F3D;
}

.quality {
	background: #FFC234;
}

.organic {
	background: #72A308;
}

.price {
	background: #61DDAB;
}
.svgstyle svg{margin-top: 2px;height: 16px;width: 16px;}

.nopadd{padding:0px !important;}
.padd_righ8{padding-right:8px !important;}
.padd_btm10{padding-bottom:10px;}
.padd_btm20{padding-bottom:20px;}
.padd_tb30{padding:30px 0px;}
/*.padd_righ0{padding-right:0px !important;}*/
.nopad-left .md-subheader-inner{padding-left:0px !important;}
.nomargin{margin:0px !important;}

.text-white{color:#fff;}
.text-orange{color:orange;}
.text-black{color:black;}

md-checkbox.md-checked .md-icon{background:#72a308 !important;}
.bg-yellow,.bg-yellow:hover{background:#FFC234 !important;color:#fff;}

.bg-green,.bg-green:hover{background:#72a308 !important;color:#fff;}
.bg-wh-tran, .md-subheader-inner{background: rgba(255,255,255, 0.5);}
.bg-white{background:white !important;}

.tright{text-align: right;}
.text-center{text-align: center;}


.wid_100{width: 100%;}
.wid_60{width: 60px !important;}
.wid_120{width: 110px;height:110px !important;}
.wid_150{width: 150px !important;height:150px !important;}
.header_color{background: #3A3A3A !important;}
.tran{background:transparent !important;}


.header_color .md-icon-button{border-radius:0px;}
.bor_radius{border-radius:0px;}
md-dialog {border-radius:0px;}
.height50{height:50px !important;min-height: 50px !important;}


a.md-button:not([disabled]):hover, .md-button:not([disabled]):hover {
    background-color: transparent;
}
.md-subheader-inner{padding:0px !important;}

.nomarg_btm{    margin-bottom: 0px;}


#overlay {
	background: rgba(0, 0, 0, .75);
	text-align: center;
	margin: 0;
	opacity: 1;
	display: none;
	-webkit-transition: opacity .25s ease;
	-moz-transition: opacity .25s ease;
}

.category md-tabs-canvas {
  height: 150px;
}
.feature md-tabs-canvas {
height: 290px;
}
md-ink-bar{display: none; width: 0;}
.md-tab{padding: 8px; }

.marg-t70{
	margin-top: 70px;
}
.guaranty, .quality, .organic, .price {
	text-align: center;
	padding: 30px 0px 0px 0px;
}
.viewlarge {
    position:relative;
    width:150px;
    height:150px;
}
.viewlarge img {
    width:95% !important;
        height: 95%;
    vertical-align:top;
}
.viewlarge:after {
    content:'\A';
    position:absolute;
    width:100%; height:100%;
    top:0; left:0;
    background:rgba(0,0,0,0.3);
    opacity:0;
    transition: all 0.7s;
    -webkit-transition: all 0.7s;
}
.viewlarge:hover:after {
    opacity:1;
}
.sample-product {
	background: rgba(0, 0, 0, 0.2);
	padding: 10px 0px 10px 20px;
	margin-top: 35px;
	color: #fff;
	text-align: left;
}

.sp-top {
	font-size: 20px;
}

.sp-bottom {
	font-size: 17px;
}

.padd-0 {
	padding: 0px;
}

.margrt-0 {
	margin-right: 0px ! important;
}

.menu-drop {
	margin-top: 42px ! important;
}

md-toolbar:not (.md-menu-toolbar ).md-accent {
	background: none ! important;
}

.layout-fill-cust {
	margin-top: -58px ! important;
}

.text-center {
	text-align: center ! important;
}

.text-green {
	color: #72A308 !important;
}

.card {
	border: 1px solid lightgrey;
}
.ft_size18{font-size: 18px;}
.ft_size14{font-size: 14px;}

.cart-btn {
	color: #fff ! important;
	border: 2px solid #72A308 ! important;
	background: #72A308 ! important;
}

.btn-count {
	color: #fff;
	padding-left: 2px;
	background: #72A308;
  line-height: 1.4;
height: 40px;
}
.ft_black{color:#000;}
.ft_gray{color:gray;}

.nav-bar-subheader{ padding:10px 0px; background-color:#6EAB10 !important}
ul.nav-menu{ width:400px; padding:10px; margin-left:120px; display:inline; list-style-type:none;}
ul.nav-menu li{ width:auto; display:inline; list-style-type: none; padding:10px; list-style-type:none;}

.triangle ::after {
	width: 0;
	height: 0;
	border-bottom: 100px solid black;
	border-right: 100px solid transparent;
}

.triangle ::before {
	width: 0;
	height: 0;
	border-bottom: 100px solid black;
	border-right: 100px solid transparent;
}

.triangle-bottomleft {
  width: 0;
height: 0;
border-bottom: 8px solid #cc3e3e;
border-right: 8px solid transparent;
position: absolute;
top: 1px;
right: -8px;
}
.triangle-bottomright {
	width: 0;
	height: 0;
	border-bottom: 8px solid #cc3e3e;
	border-left: 8px solid transparent;
  position: absolute;
  top: 1px;
  left: -8px;
}

.triangle-fpright{
  width: 0;
  height: 0;
  border-bottom: 8px solid #657f05;
  border-left: 8px solid transparent;
  position: absolute;
  top: 1px;
  left: -8px;
}
.triangle-fpleft {
  width: 0;
height: 0;
border-bottom: 8px solid #657f05;
border-right: 8px solid transparent;
position: absolute;
top: 1px;
right: -8px;
}

.feature md-tab-item h4, .feature md-tab-item h4 .ft_gray{
  font-weight: 100;
  text-transform: capitalize !important;}
.ttc{
  text-transform: capitalize !important;
}

.bg_gray{background: #ddd !important;}

/* sidenav */
.side_logo{ height: 120px;}
.md-sidenav-left{background: #646464 ! important;}
.menu-list{padding: 0; margin: 0;}
.btn-sub{padding-left: 35px ! important; margin: 0;}
.btn-sub2{padding-left: 50px ! important; margin: 0;}
.btn-sub2:hover{border-left: 5px solid yellow; background: #7C817E ! important; color: yellow; width: 100%; border-radius: 0px;}
.btn-sub:hover{border-left: 5px solid yellow; background: #7C817E ! important; color: yellow; width: 100%; border-radius: 0px;}
.btn-menu:hover{background: #7C817E ! important; border-left: 5px solid yellow; color: yellow; width: 100%; border-radius: 0px;}


.md-3-line:hover{
	cursor: pointer;
    background-color: rgb(245, 245, 245);
}

/* Image icons */
.sa {
	background: url(../images/websiteIconSprites.7a64e88b.png) no-repeat
		-661px -46px;
}

.sd {
	background: url(../images/websiteIconSprites.7a64e88b.png) no-repeat
		-716px -45px;
}

.sp {
	background: url(../images/websiteIconSprites.7a64e88b.png) no-repeat
		-770px -44px;
}

.src {
	background: url(../images/websiteIconSprites.7a64e88b.png) no-repeat
		-829px -44px;
}