@font-face{font-family:'Roboto';src:url("../fonts/roboto-regular-webfont.eot");src:url("../fonts/roboto-regular-webfont.eot?#iefix") format("embedded-opentype"),
url("../fonts/roboto-regular-webfont.woff2") format("woff2"),
url("../fonts/roboto-regular-webfont.woff") format("woff"),
url("../fonts/roboto-regular-webfont.ttf") format("truetype"),
url("../fonts/roboto-regular-webfont.svg#robotoregular") format("svg");
 font-weight:400;
 font-style:normal
}
@font-face{font-family:'Roboto';src:url("../fonts/roboto-light-webfont.eot");src:url("../fonts/roboto-light-webfont.eot?#iefix") format("embedded-opentype"),
url("../fonts/roboto-light-webfont.woff2") format("woff2"),
url("../fonts/roboto-light-webfont.woff") format("woff"),
url("../fonts/roboto-light-webfont.ttf") format("truetype"),
url("../fonts/roboto-light-webfont.svg#robotolight") format("svg");
 font-weight:300;
 font-style:normal
}
@font-face{font-family:'Roboto';src:url("../fonts/roboto-medium-webfont.eot");src:url("../fonts/roboto-medium-webfont.eot?#iefix") format("embedded-opentype"),
url("../fonts/roboto-medium-webfont.woff2") format("woff2"),
url("../fonts/roboto-medium-webfont.woff") format("woff"),
url("../fonts/roboto-medium-webfont.ttf") format("truetype"),
url("../fonts/roboto-medium-webfont.svg#robotomedium") format("svg");
 font-weight:700;
 font-style:normal
}
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url("../fonts/2fcrYFNaTjcS6g4U3t-Y5ZjZjT5FdEJ140U2DJYC3mY.woff2") format('woff2');
}

body,html{ font-family:Roboto; height:100%; width:100%; background-color:#f5f5f5 !important}


*{outline:none;}

.signup_btn_clr{  background: #72A308 !important;color:#fff !important;}
.text-green {color: #72A308 !important;}


/* ------------Background color----------*/

.header_color{background: #0D904F !important;}

.tran{background:transparent !important;}

.md-dialog-header{background: #ED6663 !important;}

.guaranty {background: #FF8F3D;}

.quality {background: #FFC234;}

.organic {background: #72A308;}

.price {background: #61DDAB;}

md-checkbox.md-checked .md-icon{background:#72a308 !important;}

.bg-yellow,.bg-yellow:hover{background:#E8D935 !important;color:#fff;}

.bg-green,.bg-green:hover{background:#72a308 !important;color:#fff;}

/*.bg-wh-tran, .md-subheader-inner{background: rgba(255,255,255, 0.5);}*/

.bg-white{background:white !important; color: #000 ! important;}

.bg-black{background:black !important; color: #fff ! important;}

.bg_gray{background: #ddd !important;}

a.md-button:not([disabled]):hover, .md-button:not([disabled]):hover {
    background-color: transparent;
}

/* .selectedField {background: #282D33 ! important; width: 100%; border-radius: 0px; border-left:5px inset #3b5c87;} */

.activemenu{background: #282D33 ! important; width: 100%;}
/* ------------ Padding ----------*/

.nopadd{padding:0px !important;}
.padd_righ8{padding-right:8px !important;}
.padd_btm10{padding-bottom:10px;}
.padd_btm20{padding-bottom:20px;}
.padd_tb30{padding:30px 0px;}
/*.padd_righ0{padding-right:0px !important;}*/
.nopad-left .md-subheader-inner{padding-left:0px !important;}
.md-subheader-inner{padding:0px !important;}
 md-ink-bar{display: none; width: 0;}
.md-tab{padding: 8px; }
.padd-0 {padding: 0px;}
.padd-5{padding: 0px;}
.navigate{padding-left: 220px;  transition: 0.3s ease-in all;}
.navigate-right{padding-right: 304px;  transition: 0.3s ease-in all;}
.remove{padding-left: 0px;}
.remove-right{padding-right: 0px;}
.padd-l30{padding-left:30px ! important;}
.padd-l20{padding-left: 20px ! important;}
.padd-t30{padding-top: 30px;}



/* ------------ Margin ----------*/

.nomargin{margin:0px !important;}
.nomarg_btm{margin-bottom: 0px;}
.marg-t70{margin-top: 70px;}
.margrt-0 {	margin-right: 0px ! important;}
.menu-drop {margin-top: 42px ! important;}
.layout-fill-cust {margin-top: -58px ! important;}
.mtopn8{margin-top:-8px;}
.mg-tb25{margin: 25px 0px;}
.mg_t15{margin: 15px 0px 0px;}
.marg-5{margin:5px ! important;}
.marg-15{margin:15px ! important;}
.marg-tb15{margin:15px 0px;}
/* ------------ Font color ----------*/

.text-white{color:#fff;}
.text-orange{color:orange;}
.text-black{color:black;}
.ft_black{color:#000;}
.ft_gray{color:gray;}
.ft_yellow{color:yellow}
.ft-grn{color:#4eaf4c;}
/* ------------ Text align ----------*/

.tright{text-align: right;}
.text-center{text-align: center;}
.text-center {text-align: center ! important;}

/* ------------ Floating ----------*/


/* ------------ Width ----------*/

.wid_100{width: 100%;}
.wid_60{width: 60px !important;}
.wid_120{width: 110px;height:110px !important;}
.wid_150{width: 150px !important;height:150px !important;}

/* ------------ Height ----------*/

.height50{height:50px !important;min-height: 50px !important;}
.height30{height:30px !important;min-height:30px !important;}
.ht55{min-height: 55px !important;height:55px !important;}
.ht45{min-height: 45px !important;height:45px !important; border-bottom: 2px solid lightgrey;}
.category md-tabs-canvas {height: 150px;}
.feature md-tabs-canvas {height: 290px;}

/* ------------ Font-size ----------*/

.sp-top {font-size: 20px;}
.sp-bottom {font-size: 17px;}
.ft_size18{font-size: 18px;}
.ft_size14{font-size: 14px;}
.ft_size20{font-size: 20px;}
/* ------------ border-radius ----------*/

.header_color .md-icon-button{border-radius:0px;}
.bor_radius{border-radius:0px;}
md-dialog {border-radius:0px; display: block ! important;}
/* .cart-count{background: #fff;} */
.cart-count .md-button {margin: 0px;}
.cart-count .md-icon-button{border-radius: 0px; background: #494949; height: 40px; width: 40px; line-height: 45px; padding: 0px;}
.cart-count span{font-weight: bold; font-size: 22px; padding: 9px 15px; background: white; margin: -3px;}		.cart-count span{font-weight: bold; font-size: 22px; padding: 9px 8px; margin: 0px;}
.cart-count .md-icon-button:hover{background: #494949 ! important;}
.mycart-img{width: 80px; height: 80px;}
.cart-btm-btns{color: #fff; padding: 5px 15px;}
.cart-remove{margin-top: 15px ! important;}
/* ------------ Floating ----------*/


.border-bottom {
    border-bottom-style: solid;
    border-bottom-width: 1px;
}
.border-right {
    border-right-style: solid;
    border-right-width: 1px;
}
.border-top {
    border-top-style: solid;
    border-top-width: 1px;
    border-color: inherit;
}
.border-light {
    border-color: rgba(0, 0, 0, 0.2);
}
.border-green{border: 1px solid #4eaf4c;}
.bg-green{ background:#4eaf4c;}







.svgstyle svg{margin-top: 2px;height: 16px;width: 16px;}

#overlay {
	background: rgba(0, 0, 0, .75);
	text-align: center;
	margin: 0;
	opacity: 1;
	display: none;
	-webkit-transition: opacity .25s ease;
	-moz-transition: opacity .25s ease;
}




.guaranty, .quality, .organic, .price {
	text-align: center;
	padding: 30px 0px 0px 0px;
}
.viewlarge {
    position:relative;
    width:150px;
    height:150px;
}
.viewlarge img {
    width:100% !important;
        height: 95%;
    vertical-align:top;
}
.viewlarge:after {
    content:'\A';
    position:absolute;
    width:100%; height:100%;
    top:0; left:0;
    background:rgba(0,0,0,0.3);
    opacity:0;
    transition: all 0.7s;
    -webkit-transition: all 0.7s;
}
.viewlarge:hover:after {
    opacity:1;
}
.sample-product {
	background: rgba(0, 0, 0, 0.2);
	padding: 10px 0px 10px 20px;
	margin-top: 35px;
	color: #fff;
	text-align: left;
}



md-toolbar:not (.md-menu-toolbar ).md-accent {
	background: none ! important;
}







.card {border: 1px solid lightgrey;}


.cart-btn {
	color: #fff ! important;
	border: 2px solid #72A308 ! important;
	background: #72A308 ! important;
}

.btn-count {
	color: #fff;
	padding-left: 2px;
	background: #72A308;
  line-height: 1.4;
height: 40px;
}


.nav-bar-subheader{ padding:10px 0px; background-color:#0F9D58 !important}
ul.nav-menu{ width:400px; padding:6px; margin:0px; display:inline; list-style-type:none; position:absolute;}
ul.nav-menu li{ width:auto; display:inline; list-style-type: none; padding:10px; list-style-type:none;}

.triangle ::after {
	width: 0;
	height: 0;
	border-bottom: 100px solid black;
	border-right: 100px solid transparent;
}

.triangle ::before {
	width: 0;
	height: 0;
	border-bottom: 100px solid black;
	border-right: 100px solid transparent;
}

.triangle-bottomleft {
  width: 0;
height: 0;
border-bottom: 8px solid #cc3e3e;
border-right: 8px solid transparent;
position: absolute;
top: 1px;
right: -8px;
}
.triangle-bottomright {
	width: 0;
	height: 0;
	border-bottom: 8px solid #cc3e3e;
	border-left: 8px solid transparent;
  position: absolute;
  top: 1px;
  left: -8px;
}

.triangle-fpright{
  width: 0;
  height: 0;
  border-bottom: 8px solid #657f05;
  border-left: 8px solid transparent;
  position: absolute;
  top: 1px;
  left: -8px;
}
.triangle-fpleft {
  width: 0;
height: 0;
border-bottom: 8px solid #657f05;
border-right: 8px solid transparent;
position: absolute;
top: 1px;
right: -8px;
}

.feature md-tab-item h4, .feature md-tab-item h4 .ft_gray{
  font-weight: 100;
  text-transform: capitalize !important;}
.ttc{
  text-transform: capitalize !important;
}



/* sidenav */
.side_logo{ height: 120px;}
.md-sidenav-left{background: #30363E ! important; position: fixed; color:#757575;}
.md-sidenav-right{position: fixed; top: 82px;}
.menu-list{padding: 0; margin: 0; background: #30363E ! important;}
.btn-menu{font-size: 18px ! important; }
/* .btn-sub{padding-left: 35px ! important; margin: 0; font-size: 14px ! important;}
.btn-sub2{padding-left: 50px ! important; margin: 0; font-size: 14px ! important;}
.btn-sub2:hover{padding-left: 45px ! important; border-left: 5px solid yellow; background: #7C817E ! important; color: yellow; width: 100%; border-radius: 0px;}
.btn-sub:hover{padding-left: 30px ! important; border-left: 5px solid yellow; background: #7C817E ! important; color: yellow; width: 100%; border-radius: 0px;} */

/* .btn-menu:hover{background: #7C817E ! important; padding-left: 11px ! important; border-left: 5px solid yellow; color: yellow; width: 100%; border-radius: 0px;} */
.btn-sub{margin: 0; padding-left: 25px !important; font-size: 14px ! important;}
.btn-sub:hover{padding-left: 20px !important; background: #282D33 ! important; width: 100%; border-radius: 0px; border-left:5px inset #3b5c87;}
.btn-sub2{margin: 0; padding-left: 40px !important; font-size: 14px ! important;}
.btn-sub2:hover{padding-left: 35px !important; background: #282D33 ! important; width: 100%; border-radius: 0px; border-left:5px inset #3b5c87;}

.btn-menu:hover{padding-left: 11px !important; color:#fff !important; fill:#fff !important;background-color: #282D33 ! important; border-left:5px inset #3b5c87;}
.md-3-line:hover,.cursor{cursor: pointer;}

/* Image icons */
.sa {background: url(../images/websiteIconSprites.7a64e88b.png) no-repeat -661px -46px;}

.sd {background: url(../images/websiteIconSprites.7a64e88b.png) no-repeat -716px -45px;}

.sp {background: url(../images/websiteIconSprites.7a64e88b.png) no-repeat -770px -44px;}

.src {background: url(../images/websiteIconSprites.7a64e88b.png) no-repeat -829px -44px;}

/* md-backdrop{visibility: hidden ! important;} */
md-backdrop.md-sidenav-backdrop{ z-index:-59;}
.cardsliderheader{padding: 0px; min-height: 100% ! important; min-width: 0 !important;}
.cardsliderheader md-list{height: auto; overflow: auto;padding-top: 0px;max-height: 399px;}
.cartsliderlist_img{width:60px; margin:5px;height:60px;}
.listofcartitem md-list-item{padding: 8px 12px;}
.cartsliderlist_img img{width:100%;height:100%;}
.text-white {color: #fff;}
.text-black {color: #000;}

.mylistsliderlist_img{width:100px;height:100px; margin:5px;}
.mylistsliderlist_img img{width:100%;height:100%;}

.scroll-cart{
	min-height:245px; width:100%; position: absolute; overflow: auto; height: 245px;
}

.scroll-cart::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
	background-color: #F5F5F5;
	border-radius: 5px;
}

.scroll-cart::-webkit-scrollbar
{
	width: 5px;
	background-color: #F5F5F5;
}

.scroll-cart::-webkit-scrollbar-thumb
{
	border-radius: 5px;
	background-color: #333;
	border: none ! important;
}

.toptool{transition: 0.3s ease-in all; width: calc(100% - 220px)}
.toptoolrem{width: 100%;}
ul.nav-menu1{margin-left: 210px ! important;}
.merch-logo{position: absolute;top: -60px;left:60px;width:118px;height:118px; padding-top:10px;}
.merch-marg{left: 178px ! important;}

.menu-item{border-bottom: 1px solid lightgrey ! important;}
.menu-item:hover{background: #72a308 ! important; color: #ffffff ! important; }
/* .top-tool{width: calc(100% - 220px);} */
.producutItem{min-width:100%;}
.customerSideNav{min-width:280px;max-width:280px; top:82px;}


/*  17-11  */
.sa-logo{ width:auto; height:52px; float:left;  padding:0px 10px;}
.ma-logo{ width:auto; height:52px; float:left; background-color:transparent; padding:0px 10px;}

nav.mainslider-tab ul li{ }
nav.mainslider-tab ul li a{ width:100% !important; height:100% !important; border:1px solid #999999; border-radius:0px;}
nav.mainslider-tab ul li a md-subhead,nav.mainslider-tab ul li a md-caption{ width:100%;float:left;}
.prod-headings h2{ color:#4eaf4c; }
.prod-headings a{ color:#CF3721; }
.footer-nav{ margin:0px; padding:0px; }
.footer-nav li{ list-style-type:none;display:inline-block;}
.footer-nav li a{ font-size:12px; color:#FFFFFF; padding:5px; text-decoration:none;}

.slider-left{ padding:10px 20px; color:#FFFFFF;}
.slider-left h1{ font-size:40px; margin:20px 0px 10px 0px; color:#ED6663; color:#FFFFFF;}
.slider-left strong{  color:#FFFFFF;}

.slider-right{ /* padding:10px 20px; */ color:#FFFFFF;}
.slider-right h1{ font-size:40px; margin:20px 0px 10px 0px;  }
.slider-right strong{ }

.hpy-shop{ position:relative; top:20px; width:230px; left:20px;}


.producutItem .md-subhead,.producutItem .md-body-1{ font-weight:600;}	
.storelist{ text-align:center; margin:10px;}
.storelist div{ padding:0px 5px;}
.storelist label{ width: 100%; text-overflow: ellipsis; overflow:hidden; white-space:nowrap; float:left;
 }


/* Change placeholder color */
md-select .md-select-value.md-select-placeholder,md-input-container label, md-input-container .md-placeholder{color: rgba(0,0,0,0.8);}

md-select .md-select-value,md-input-container .md-input{ border-color:rgba(0,0,0,0.6)}


/* text color */
.text-white{ color:#FFFFFF;}

.del-address{ list-style-type:none; padding-left:0px;}
.del-address li span{ width:30px; float:left; font-weight:600;}



@media screen and (max-width: 384px){
	.marg-l10{margin-left: 10px ! important;}
	.marg-l-15{margin-left: -15px ! important;}
	.padd-l10{padding-left: 10px ! important;}
	.cart-count span{font-weight: bold; font-size: 22px; padding: 9px 11px; margin: 0px;}	
	.font-16{font-size: 16px ! important;}
	.font-14{font-size: 14px ! important;}
}
@media screen and (max-width: 450px){
	.cart-count .md-icon-button{border-radius: 50% ! important; height: 25px ! important; width: 25px ! important; min-height: 0 ! important; margin-left: 3px;}
	.cart-btm-btns{width: 100%;}
}



@media screen and (max-width: 600px) {
    .product-detail-dialog{}
    .nopadd-sm { padding:0px !important; }
    .nomar-sm{ margin:6px 0px !important;}
    .width-sm{width:50px !important; float:left; padding:0px !important;}
}
@media screen and (min-width: 601px) and (max-width: 960px) {
    .product-detail-dialog{}
}
@media screen and (min-width: 961px) {
    .product-detail-dialog{width:100%; height:auto;}
}



@media screen and (max-width: 810px) {
	.pdwid-80{width: 96% !important;}
	.product-details-pname{padding-left: 4%;}
	.product-details-pname .md-display-1{font-size: 28px;}
	.product-details-pname .md-title{font-size: 14px;}	
	.mycart-img{width: 50px ! important; height: 50px ! important;}	
	}
@media screen and (max-width: 700px) {
	.product-details-pname{padding-left: 10%;}
	}
@media screen and (max-width: 645px) {
	.product-details-pname{padding-left: 15%;}
	}
@media screen and (max-width: 600px) {
	.original img{width: 98% !important;}
	.product-details-pname{padding-left: 0px;}
	.product-details-pname .md-display-1{font-size: 35px;}
	.product-details-pname .md-title{font-size: 28px;}
	.border-right{border-right:none !important;	border-bottom: border-bottom-style: solid; border-bottom-width: 1px;}
    .delivery-icon{margin:20px 0px;}
	}
@media screen and (max-width: 950px) {
	.order-table{width: 950px;}		
}
@media screen and (max-width: 1090px) {
	.padd-lr0{padding-left: 0px ! important;}
}
@media screen and (max-width: 850px) {
	.cart-count .md-icon-button {
			height: 35px;
			width: 35px;
			line-height: 0 ! important;
		}
}
	
	
	
.pdwid-80{width:81%;}
.prodactive{
	font-weight: bold;
	border-bottom: 3px solid orangered;
}

.md-list-item-text h4{
	font-size: 15px ! important;
}
/* .cart-amt{right: 70px; position: absolute; top: 38px; color: white; font-weight: bold; font-size: 10px;} */

.img-wid md-tabs-canvas md-tab-item{max-width: 70px ! important;}	

.tbl-body h3{ color:#666666; font-weight:100; padding-right:20px; font-size:20px !important; font-family:'titilium-regular'; border-right:1px solid #dddddd; }
.tbl-body .tbl-search ng-md-icon{ fill:#979797; height:16px; width:16px; margin-left:20px;top:6px; position:relative;}
.tbl-body .tbl-search input{ border:none; padding:3px 0px; font-weight:100;outline:0;}
.tbl-body .tbl-header{color:#333333; padding:10px 5px; font-size:18px !important; background-color:#EEEEEE !important}
.tbl-body .tbl-body{ color:#666666; }
.full_wid{width:100%; outline:0;}
.data-table-list{ cursor:pointer; outline:0;}
.data-table-list:nth-child(odd)  md-item-content{ background-color:#f5f6f8;}


.delivery-address svg{ margin-top:5px;}




/* deliver Address */
.del-container{ border:1px solid rgba(0,0,0,0.1); box-sizing:border-box; }
.container-address{ border-left:4px solid #4eaf4c;}

.container-time{ border-left:4px solid #faa438;}
.del-container .del-container-img{ width:60px;}
.del-container .del-address{ width:calc(100% - 60px); }

.del-container .del-address-edit{ float:right;}

.del-container .del-address-edit md-icon{ width:16px; height:16px; top: -10px; position: relative;}
.del-items{ border-bottom:1px solid rgba(0,0,0,0.1); }
.del-items:first{ border-top:1px solid rgba(0,0,0,0.1); }

.order-total{height:200px;}
.mainslider-tab ul li a{ display:block !important}


.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

.icon28{
   font-size: 28px;
}


.text-light {
color: rgba(255, 255, 255, 0.9);
}
.text-small {
font-size: 12px !important;
}
.relative-p{position:relative;}


/* custom scroll */
::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}
::-webkit-scrollbar-button {
	width: 8px;
	height:5px;
}
::-webkit-scrollbar-track {
	background:#eee;
	border: thin solid lightgray;
	box-shadow: 0px 0px 3px #dfdfdf inset;
	border-radius:10px;
}
::-webkit-scrollbar-thumb {
	background:#999;
	border: thin solid gray;
	border-radius:10px;
}
::-webkit-scrollbar-thumb:hover {
	background:#7d7d7d;
}

.icon-20{ font-size:20px;}
.hgt-34{ height:34px;}
.views {
   width: 300px;
   height: 300px;
   margin: 10px;
   float: left;
   border: 10px solid #fff;
   overflow: hidden;
   position: relative;
   text-align: center;
   -webkit-box-shadow: 1px 1px 2px #e6e6e6;
   -moz-box-shadow: 1px 1px 2px #e6e6e6;
   box-shadow: 1px 1px 2px #e6e6e6;
   cursor: default;
   background: #fff url(../images/bgimg.jpg) no-repeat center center;
}
.views .mask,.views .content {
  
   height: 300px;
   position: absolute;
   overflow: hidden;
   top: 0;
   left: 0;
}
.views img {
   display: block;
   position: relative;
}
.views h2 {
   text-transform: uppercase;
   color: #fff;
   text-align: center;
   position: relative;
   font-size: 17px;
   padding: 10px;
   background: rgba(0, 0, 0, 0.8);
   margin: 20px 0 0 0;
}
.views p {
   font-family: Georgia, serif;
   font-style: italic;
   font-size: 12px;
   position: relative;
   color: #fff;
   padding: 10px 20px 20px;
   text-align: center;
}
.views a.info {
   display: inline-block;
   text-decoration: none;
   padding: 7px 14px;
   background: #000;
   color: #fff;
   text-transform: uppercase;
   -webkit-box-shadow: 0 0 1px #000;
   -moz-box-shadow: 0 0 1px #000;
   box-shadow: 0 0 1px #000;
}
.views a.info: hover {
   -webkit-box-shadow: 0 0 5px #000;
   -moz-box-shadow: 0 0 5px #000;
   box-shadow: 0 0 5px #000;
}

.view-first img {
   -webkit-transition: all 0.2s linear;
   -moz-transition: all 0.2s linear;
   -o-transition: all 0.2s linear;
   -ms-transition: all 0.2s linear;
   transition: all 0.2s linear;
}
.view-first .mask {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
    background-color: rgba(15,157,88, 0.7);
   -webkit-transition: all 0.4s ease-in-out;
   -moz-transition: all 0.4s ease-in-out;
   -o-transition: all 0.4s ease-in-out;
   -ms-transition: all 0.4s ease-in-out;
   transition: all 0.4s ease-in-out;
}
.view-first h2 {
   -webkit-transform: translateY(-100px);
   -moz-transform: translateY(-100px);
   -o-transform: translateY(-100px);
   -ms-transform: translateY(-100px);
   transform: translateY(-100px);
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   -webkit-transition: all 0.2s ease-in-out;
   -moz-transition: all 0.2s ease-in-out;
   -o-transition: all 0.2s ease-in-out;
   -ms-transition: all 0.2s ease-in-out;
   transition: all 0.2s ease-in-out;
}
.view-first p {
   -webkit-transform: translateY(100px);
   -moz-transform: translateY(100px);
   -o-transform: translateY(100px);
   -ms-transform: translateY(100px);
   transform: translateY(100px);
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   -webkit-transition: all 0.2s linear;
   -moz-transition: all 0.2s linear;
   -o-transition: all 0.2s linear;
   -ms-transition: all 0.2s linear;
   transition: all 0.2s linear;
}
.view-first:hover img {
   -webkit-transform: scale(1.1,1.1);
   -moz-transform: scale(1.1,1.1);
   -o-transform: scale(1.1,1.1);
   -ms-transform: scale(1.1,1.1);
   transform: scale(1.1,1.1);
}
.view-first a.info {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   -webkit-transition: all 0.2s ease-in-out;
   -moz-transition: all 0.2s ease-in-out;
   -o-transition: all 0.2s ease-in-out;
   -ms-transition: all 0.2s ease-in-out;
   transition: all 0.2s ease-in-out;
}
.view-first:hover .mask {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
}
.view-first:hover h2,
.view-first:hover p,
.view-first:hover a.info {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
   -webkit-transform: translateY(0px);
   -moz-transform: translateY(0px);
   -o-transform: translateY(0px);
   -ms-transform: translateY(0px);
   transform: translateY(0px);
}
.view-first:hover p {
   -webkit-transition-delay: 0.1s;
   -moz-transition-delay: 0.1s;
   -o-transition-delay: 0.1s;
   -ms-transition-delay: 0.1s;
   transition-delay: 0.1s;
}
.view-first:hover a.info {
   -webkit-transition-delay: 0.2s;
   -moz-transition-delay: 0.2s;
   -o-transition-delay: 0.2s;
   -ms-transition-delay: 0.2s;
   transition-delay: 0.2s;
}


.md-open-menu-container {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99;
    opacity: 0;
    border-radius: 2px;
    height: 100% !important;
    box-shadow: inherit;
}
.cart-dropdown{
	height:100% !important; margin-top: 77px; width:320px; box-shadow: 0px 2px 3px rgba(0,0,0,0.4);
}
