/*-------- color --------*/
@font-face {
    font-family: nirmalaui;
    src: url('fonts/NIRMALA.TTF');
}

body,html{ font-family:'nirmalaui'; height:100%; width:100%; }


*{outline:none;}

.signup_btn_clr{  background: #72A308 !important;color:#fff !important;}
.text-green {color: #72A308 !important;}


/* ------------Background color----------*/

.header_color{background: #3A3A3A !important;}

.tran{background:transparent !important;}

.md-dialog-header{background: #ED6663 !important;}

.guaranty {background: #FF8F3D;}

.quality {background: #FFC234;}

.organic {background: #72A308;}

.price {background: #61DDAB;}

md-checkbox.md-checked .md-icon{background:#72a308 !important;}

.bg-yellow,.bg-yellow:hover{background:#E8D935 !important;color:#fff;}

.bg-green,.bg-green:hover{background:#72a308 !important;color:#fff;}

/*.bg-wh-tran, .md-subheader-inner{background: rgba(255,255,255, 0.5);}*/

.bg-white{background:white !important;}

.bg-black{background:black !important;}

.bg_gray{background: #ddd !important;}

a.md-button:not([disabled]):hover, .md-button:not([disabled]):hover {
    background-color: transparent;
}

.selectedField {background: #282D33 ! important; width: 100%; border-radius: 0px; border-left:5px inset #3b5c87;}

/* ------------ Padding ----------*/

.nopadd{padding:0px !important;}
.padd_righ8{padding-right:8px !important;}
.padd_btm10{padding-bottom:10px;}
.padd_btm20{padding-bottom:20px;}
.padd_tb30{padding:30px 0px;}
/*.padd_righ0{padding-right:0px !important;}*/
.nopad-left .md-subheader-inner{padding-left:0px !important;}
.md-subheader-inner{padding:0px !important;}
 md-ink-bar{display: none; width: 0;}
.md-tab{padding: 8px; }
.padd-0 {padding: 0px;}
.padd-5{padding: 0px;}
.navigate{padding-left: 220px;  transition: 0.3s ease-in all;}
.navigate-right{padding-right: 304px;  transition: 0.3s ease-in all;}
.remove{padding-left: 0px;}
.remove-right{padding-right: 0px;}

/* ------------ Margin ----------*/

.nomargin{margin:0px !important;}
.nomarg_btm{margin-bottom: 0px;}
.marg-t70{margin-top: 70px;}
.margrt-0 {	margin-right: 0px ! important;}
.menu-drop {margin-top: 42px ! important;}
.layout-fill-cust {margin-top: -58px ! important;}
.mtopn8{margin-top:-8px;}
.mg-tb25{margin: 25px 0px;}
.mg_t15{margin: 15px 0px 0px;}
.marg-5{margin:5px;}

/* ------------ Font color ----------*/

.text-white{color:#fff;}
.text-orange{color:orange;}
.text-black{color:black;}
.ft_black{color:#000;}
.ft_gray{color:gray;}
.ft_yellow{color:yellow}

/* ------------ Text align ----------*/

.tright{text-align: right;}
.text-center{text-align: center;}
.text-center {text-align: center ! important;}

/* ------------ Floating ----------*/


/* ------------ Width ----------*/

.wid_100{width: 100%;}
.wid_60{width: 60px !important;}
.wid_120{width: 110px;height:110px !important;}
.wid_150{width: 150px !important;height:150px !important;}

/* ------------ Height ----------*/

.height50{height:50px !important;min-height: 50px !important;}
.height30{height:30px !important;min-height:30px !important;}
.ht55{min-height: 55px !important;height:55px !important;}
.category md-tabs-canvas {height: 150px;}
.feature md-tabs-canvas {height: 290px;}

/* ------------ Font-size ----------*/

.sp-top {font-size: 20px;}
.sp-bottom {font-size: 17px;}
.ft_size18{font-size: 18px;}
.ft_size14{font-size: 14px;}

/* ------------ border-radius ----------*/

.header_color .md-icon-button{border-radius:0px;}
.bor_radius{border-radius:0px;}
md-dialog {border-radius:0px; display: block ! important;}


/* ------------ Floating ----------*/

/* ------------ Floating ----------*/
/* ------------ Floating ----------*/
/* ------------ Floating ----------*/









.svgstyle svg{margin-top: 2px;height: 16px;width: 16px;}

#overlay {
	background: rgba(0, 0, 0, .75);
	text-align: center;
	margin: 0;
	opacity: 1;
	display: none;
	-webkit-transition: opacity .25s ease;
	-moz-transition: opacity .25s ease;
}




.guaranty, .quality, .organic, .price {
	text-align: center;
	padding: 30px 0px 0px 0px;
}
.viewlarge {
    position:relative;
    width:150px;
    height:150px;
}
.viewlarge img {
    width:100% !important;
        height: 95%;
    vertical-align:top;
}
.viewlarge:after {
    content:'\A';
    position:absolute;
    width:100%; height:100%;
    top:0; left:0;
    background:rgba(0,0,0,0.3);
    opacity:0;
    transition: all 0.7s;
    -webkit-transition: all 0.7s;
}
.viewlarge:hover:after {
    opacity:1;
}
.sample-product {
	background: rgba(0, 0, 0, 0.2);
	padding: 10px 0px 10px 20px;
	margin-top: 35px;
	color: #fff;
	text-align: left;
}



md-toolbar:not (.md-menu-toolbar ).md-accent {
	background: none ! important;
}







.card {border: 1px solid lightgrey;}


.cart-btn {
	color: #fff ! important;
	border: 2px solid #72A308 ! important;
	background: #72A308 ! important;
}

.btn-count {
	color: #fff;
	padding-left: 2px;
	background: #72A308;
  line-height: 1.4;
height: 40px;
}


.nav-bar-subheader{ padding:10px 0px; background-color:#4eaf4c !important}
ul.nav-menu{ width:400px; padding:10px; margin-left:0px; display:inline; list-style-type:none;}
ul.nav-menu li{ width:auto; display:inline; list-style-type: none; padding:10px; list-style-type:none;}

.triangle ::after {
	width: 0;
	height: 0;
	border-bottom: 100px solid black;
	border-right: 100px solid transparent;
}

.triangle ::before {
	width: 0;
	height: 0;
	border-bottom: 100px solid black;
	border-right: 100px solid transparent;
}

.triangle-bottomleft {
  width: 0;
height: 0;
border-bottom: 8px solid #cc3e3e;
border-right: 8px solid transparent;
position: absolute;
top: 1px;
right: -8px;
}
.triangle-bottomright {
	width: 0;
	height: 0;
	border-bottom: 8px solid #cc3e3e;
	border-left: 8px solid transparent;
  position: absolute;
  top: 1px;
  left: -8px;
}

.triangle-fpright{
  width: 0;
  height: 0;
  border-bottom: 8px solid #657f05;
  border-left: 8px solid transparent;
  position: absolute;
  top: 1px;
  left: -8px;
}
.triangle-fpleft {
  width: 0;
height: 0;
border-bottom: 8px solid #657f05;
border-right: 8px solid transparent;
position: absolute;
top: 1px;
right: -8px;
}

.feature md-tab-item h4, .feature md-tab-item h4 .ft_gray{
  font-weight: 100;
  text-transform: capitalize !important;}
.ttc{
  text-transform: capitalize !important;
}



/* sidenav */
.side_logo{ height: 120px;}
.md-sidenav-left{background: #30363E ! important; position: fixed; color:#757575;}
.md-sidenav-right{position: fixed; top: 82px;}
.menu-list{padding: 0; margin: 0; background: #30363E ! important;}
.btn-menu{font-size: 18px ! important; }
/* .btn-sub{padding-left: 35px ! important; margin: 0; font-size: 14px ! important;}
.btn-sub2{padding-left: 50px ! important; margin: 0; font-size: 14px ! important;}
.btn-sub2:hover{padding-left: 45px ! important; border-left: 5px solid yellow; background: #7C817E ! important; color: yellow; width: 100%; border-radius: 0px;}
.btn-sub:hover{padding-left: 30px ! important; border-left: 5px solid yellow; background: #7C817E ! important; color: yellow; width: 100%; border-radius: 0px;} */

/* .btn-menu:hover{background: #7C817E ! important; padding-left: 11px ! important; border-left: 5px solid yellow; color: yellow; width: 100%; border-radius: 0px;} */
.btn-sub{margin: 0; padding-left: 25px !important; font-size: 14px ! important;}
.btn-sub:hover{padding-left: 20px !important; background: #282D33 ! important; width: 100%; border-radius: 0px; border-left:5px inset #3b5c87;}
.btn-sub2{margin: 0; padding-left: 40px !important; font-size: 14px ! important;}
.btn-sub2:hover{padding-left: 35px !important; background: #282D33 ! important; width: 100%; border-radius: 0px; border-left:5px inset #3b5c87;}

.btn-menu:hover{padding-left: 11px !important; color:#fff !important; fill:#fff !important;background-color: #282D33 ! important; border-left:5px inset #3b5c87;}
.md-3-line:hover,.cursor{cursor: pointer;}

/* Image icons */
.sa {background: url(../images/websiteIconSprites.7a64e88b.png) no-repeat -661px -46px;}

.sd {background: url(../images/websiteIconSprites.7a64e88b.png) no-repeat -716px -45px;}

.sp {background: url(../images/websiteIconSprites.7a64e88b.png) no-repeat -770px -44px;}

.src {background: url(../images/websiteIconSprites.7a64e88b.png) no-repeat -829px -44px;}

/* md-backdrop{visibility: hidden ! important;} */
md-backdrop.md-sidenav-backdrop{ z-index:-59;}
.cardsliderheader{padding: 0px; min-height: 100% ! important; min-width: 0 !important;}
.cardsliderheader md-list{height: auto; overflow: auto;padding-top: 0px;max-height: 399px;}
.cartsliderlist_img{width:60px; margin:5px;height:60px;}
.listofcartitem md-list-item{padding: 8px 12px;}
.cartsliderlist_img img{width:100%;height:100%;}
.text-white {color: #fff;}
.text-black {color: #000;}

.mylistsliderlist_img{width:100px;height:100px; margin:5px;}
.mylistsliderlist_img img{width:100%;height:100%;}

.scroll-cart::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
	background-color: #F5F5F5;
	border-radius: 5px;
}

.scroll-cart::-webkit-scrollbar
{
	width: 5px;
	background-color: #F5F5F5;
}

.scroll-cart::-webkit-scrollbar-thumb
{
	border-radius: 5px;
	background-color: #8BC34A;
}
.toptool{transition: 0.3s ease-in all; width: calc(100% - 220px)}
.toptoolrem{width: 100%;}
ul.nav-menu1{margin-left: 210px ! important;}
.merch-logo{position: absolute;top: -60px;left:60px;width:118px;height:118px; padding-top:10px;}
.merch-marg{left: 178px ! important;}

.menu-item{border-bottom: 1px solid lightgrey ! important;}
.menu-item:hover{background: #72a308 ! important; color: #ffffff ! important; }
/* .top-tool{width: calc(100% - 220px);} */
.producutItem{min-width:220px;max-width:280px;}
.customerSideNav{min-width:180px;max-width:220px; top:82px;}


/*  17-11  */
.sa-logo{ width:auto; height:52px; float:left; background-color:#ffffff ; padding:0px 10px;}
nav.mainslider-tab ul li{ }
nav.mainslider-tab ul li a{ width:100% !important; height:100% !important; border:1px solid #999999; border-radius:0px;}
nav.mainslider-tab ul li a md-subhead,nav.mainslider-tab ul li a md-caption{ width:100%;float:left;}
.prod-headings h2{ color:#4eaf4c; }
.prod-headings a{ color:#CF3721; }
.footer-nav{ margin:0px; padding:0px; }
.footer-nav li{ list-style-type:none;display:inline-block;}
.footer-nav li a{ font-size:12px; color:#FFFFFF; padding:5px; text-decoration:none;}

.slider-left{ padding:10px 20px; color:#FFFFFF;}
.slider-left h1{ font-size:40px; margin:20px 0px 10px 0px; color:#ED6663; color:#FFFFFF;}
.slider-left strong{  color:#FFFFFF;}

.slider-right{ /* padding:10px 20px; */ color:#FFFFFF;}
.slider-right h1{ font-size:40px; margin:20px 0px 10px 0px;  }
.slider-right strong{ }

.hpy-shop{ position:relative; top:20px; width:230px; left:20px;}


.producutItem .md-subhead,.producutItem .md-body-1{ font-weight:600;}	
.storelist{ text-align:center; margin:10px;}
.storelist div{ padding:0px 5px;}
.storelist label{ width: 100%; text-overflow: ellipsis; overflow:hidden; white-space:nowrap; float:left;
 }


/* Change placeholder color */
md-select .md-select-value.md-select-placeholder,md-input-container label, md-input-container .md-placeholder{color: rgba(0,0,0,0.8);}

md-select .md-select-value,md-input-container .md-input{ border-color:rgba(0,0,0,0.6)}


/* text color */
.text-white{ color:#FFFFFF;}

.del-address{ list-style-type:none; padding-left:0px;}
.del-address li span{ width:100px; float:left; font-weight:600;}
ui-view{ background-color:#EEEEEE !important;}




@media screen and (max-width: 600px) {
    .product-detail-dialog{}
}
@media screen and (min-width: 601px) and (max-width: 960px) {
    .product-detail-dialog{}
}
@media screen and (min-width: 961px) {
    .product-detail-dialog{width:850px; height:auto;}
}

.prodactive{
	font-weight: bold;
	border-bottom: 3px solid orangered;
}
