.checkout-container {
    width: 1000px;
}

.timeline {
    height: 150px;
    width: 100%;
}

.timeline-container {
    height: 150px;
    width: 600px;
}

.timeline-container .timeline-circle {
    height: 40px;
    width: 40px;
    border-radius: 60px;
    border:2px solid #ebebeb;
}

.timeline-container .se-add-bg  {}
.timeline-container .se-add-line{ 
	
	}

.timeline-container .se-add-bg:before{ 
	content: "Delivery Address";
    width: 140px;
    float: left;
    position: relative;
    top: -32px;
    left: -47px;
    text-align: center;
}
.timeline-container .se-del-bg:before{ 
	content: "Delivery Time";
    width: 140px;
    float: left;
    position: relative;
    top: -32px;
    left: -47px;
    text-align: center;
}
.timeline-container .se-con-bg:before{ 
	content: "Review";
    width: 140px;
    float: left;
    position: relative;
    top: -32px;
    left: -47px;
    text-align: center;
}

.timeline-container button{
    position: relative;
    height: 30px !important;
    width: 30px !important;
    top: -24px;
}

/* .timeline-container .timeline-circle.completed {
    background-color: #90CAF9;
} */
.timeline-container .se-add-bg.completed {
    background-color: #f15c35;
    border-color: #f15c35;
} 
.timeline-container .se-add-line.completed{
  background: red; /* For browsers that do not support gradients */
  background: linear-gradient(to right, #f15c35 , #ece824); /* Standard syntax */
  border:none;
}


.timeline-container .se-del-bg.completed {
    background-color: #ece824;
    border-color: #ece824;
} 
.timeline-container .se-del-line.completed{
  background: red; /* For browsers that do not support gradients */
  background: linear-gradient(to right, #ece824 , #609a44); /* Standard syntax */
  border:none;
}
.timeline-container .se-con-bg.completed {
    background-color: #609a44;
    border-color: #609a44;
} 



.timeline-container .timeline-circle button {
    margin-top: 4px;
}

.timeline-container .timeline-line {
    height: 10px;
    border-top:2px solid #ebebeb;
    border-bottom:2px solid #ebebeb;
}

/* .timeline-container .timeline-line.completed {
    background-color: #90CAF9;
}
 */
.address-section .address-title,
.verification-section .verification-section-title {
    text-align: center;
}

.address-section .address-container {
    width: 100%;
}

.address-section .address-container .address-header {
    border-bottom: solid 1px darkgray;
}

.address-section .address-container .address-header .address-edit {
    border-left: solid 1px darkgray;
}

.address-section .address-container .address:hover {
    box-shadow: 0 8px 9px -5px rgba(0, 0, 0, .2), 0 15px 22px 2px rgba(0, 0, 0, .14), 0 6px 28px 5px rgba(0, 0, 0, .12);
    cursor: pointer;
}

.address-section .address-container .address{
	border:4px solid transparent; 
	position:relative;
}
.address-section .address-container .address md-card-content{padding:0px;}
.address-section .address-container .address:hover{
	 
	box-shadow:0px 2px 4px #4eaf4c;
	border:4px solid #4eaf4c !important;
}
.address-section .address-container .address.selected:after{
	content:"\2713";
	 font-size:20px;
	 font-weight:bold;
	 color:#FFFFFF;
	border:1px solid #4eaf4c;
	background-color:#4eaf4c;
	top:-22px; left:-20px;
	position:absolute; 
	border-radius:50px;
	padding:4px 0px 5px 10px;
	height:27px; width:26px;
}
.address-container .address.selected .address-user-name{
    /* box-shadow: 0 8px 9px -5px #E3F2FD, 0 15px 22px 2px #E3F2FD, 0 6px 28px 5px #E3F2FD; */
    background-color: #4eaf4c !important;
    /*background-color: #90CAF9;*/
}

.address-container .address.selected .address-box{
    /* box-shadow: 0 8px 9px -5px #E3F2FD, 0 15px 22px 2px #E3F2FD, 0 6px 28px 5px #E3F2FD; */
    border:1px solid #4eaf4c !important;
    /*background-color: #90CAF9;*/
}

.verification-section .address-datetime {
    height: 350px;
}

.verification-section .address-verify {
    border-left: solid 4px #8bb617;
    height: 30px;
    border-bottom: solid 2px #ebebeb
}

.verification-section .delivery-verify {
    border-left: solid 3px #FB8C00;
    height: 30px;
    border-bottom: solid 2px #ebebeb
}

.verification-section .address-verify .circle,
.verification-section .delivery-verify .circle {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: #ebebeb;
    margin: 15px;
}

.verification-section .address-verify .circle img,
.verification-section .delivery-verify .circle img {
    margin-top: 7px;
    margin-left: 11px
}

.verification-section .address-verify .edit,
.verification-section .delivery-verify .edit {
    margin: auto;
}

.verification-section .consolidated-rate-holder .consolidate-rates {
    border: solid 1px #ebebeb;
}

.verification-section .purchased-items-section .purchased-item-title {
    font-size: 30px;
    color: #8bb617;
    font-weight: bold;
}

.verification-section .purchased-items-section .item-divider {
    border-bottom: solid 2px #ebebeb;
}

.verification-section .purchased-items-section img {
    margin-top: 11px;
    margin-left: 7px;
}

.verification-section .purchased-items-section .price {
    margin: auto;
}