.signing_dialog{min-width:60%; min-height:500px;border-radius:0px;}
.address-dialog{min-width:60%; border-radius:0px;}
#textbox {
    width: 50%;
    max-height: 100%;
    height: 100%;
    overflow: hidden;
    margin-left: 50%;
    position: absolute;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.toplam {
    width: 200%;
    height: 100%;
    position: relative;
    left: 0;
    left: -100%;
}

/* .left {
    width: 50%;
    height: 100%;
    background: #2C3034;
    left: 0;
    position: absolute;
} */

/* .right {
    width: 50%;
    height: 100%;
    background: #F9F9F9;
    right: 0;
    position: absolute;
} */
/* 
#ic {
    width: 250px;
    margin: 0 auto;
    top: 50%;
    margin-top: -162px;
    position: absolute;
    left: 50%;
    margin-left: -125px;
} */

.left {
    width: 50%;
    height: 100%;
    background: #fff;
    left: 0;
    position: absolute;
    padding: 0px 40px;
    margin: 50px auto;
}

.right {
background: #fff;
width: 50%;
height: 100%;
right: 0;
position: absolute;
padding: 0px 40px;
margin: 60px auto;

}
/* #ic {
	margin: 50px auto;
} */
/* .left #ic {
    margin-top: -232px;
} */

#ic p {
    font-size: 15px;
    font-weight: 400;
    line-height: 26px;
    color: #757575;
    margin-bottom: 30px;
}



#girisyap .form-group {
    width: 100%;
    float: left;
    margin-bottom: 20px;
}

#girisyap h2 {
    font-size: 28px;
    font-weight: 400;
    color: #0BAFBF;
    line-height: 35px;
}

#girisyap .soninpt {
    margin-bottom: 30px;
}

.left form#girisyap input {
    border-bottom: 1px solid #45494C;
}

.left .control-label {
    color: #959595;
}

.left .yarim {
    width: 46% !important;
    float: left;
    margin-right: 8%;
}

.left .sn {
    margin-right: 0;
}




#moveleft, #moveright {
    background: none;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 600;
    margin: 0px auto;
    cursor: pointer;
    letter-spacing: 0.5px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-transition-duration: 0.25s;
    transition-duration: 0.25s;
    -webkit-transition-property: background-color;
    transition-property: background-color;
    border: 0;
    outline: 0;
}

/* #moveleft:hover {
    background: #eee;
}

#moveright:hover {
    background: #363A3D;
} */

#fback {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -9999;
}

.girisback {
    position: absolute;
    right: 0;
    width: 50%;
    height: 100%;
    background:#0F9D58;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.kayitback {
    position: absolute;
    left: 0;
    width: 50%;
    height: 100%;
    background: #0F9D58;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.green_btn_clr{
	width: 100%;
	background-color: #0F9D58 ! important;
	color: white ! important;
}
.text-green{
	color: #0F9D58 ! important;
}
.frgt-pwd{
	margin: 10px auto;
	font-size: 14px;
	cursor: pointer;
}
.md-green span{
	font-size: 14px;
}
.auth_input md-icon{
	margin-top: 30px;
	margin-left: 6px;
}
.auth_input label input{
	padding-left: 15px ! important; 
	position: absolute ! important; 
}
.padd-l22{padding-left: 22px ! important;}

md-tabs-canvas {
    height: 100px;
    margin-top: 10px;    
}
md-ink-bar{top:115px;}
.md-tab{
	padding: 28px ! important;
}
.chg-tool{
	background: #ED6663 ! important;
}
md-card{box-shadow: none;}
 /* md-dialog {width: 93%;
min-width: 85%; } */


.tab-img md-tab-item{
max-width: 100px !important;
padding: 5px 4px!important;
border: 1px solid #eee;
margin-right: 15px;
height: 100px;}
.padd-tb16{padding: 16px 0px;}
md-tabs-canvas.md-paginated{margin: 0 16px;}
md-tabs-wrapper md-next-button, md-tabs-wrapper md-prev-button{width:15px;}


	.original{
		float: left;
		position: relative;
		overflow: hidden;
		border: 1px solid #e5e5e5;
	}
	.original img{
		width: 300px ! important;
		height: 300px ! important;
		padding: 4px;
	}

	 .zoomed{
		float: left;
		position: absolute;
		overflow: hidden;
		height: 300px ! important;
		width: 300px ! important;
		border-radius: 50%;
		margin: 0px;    
	}
	.zoomed:hover{
		border: 4px solid rgb(136, 136, 136);
		padding: 4px;
	}

	.zoomed img{    
		position: relative;
	}
	.image img:hover {
		opacity: 0.5 ! important;}
	 /* .mark {
		opacity: .3;
		border: 6px dotted #fff;
		background: #eee;
	} 
	 */
	.hide {
		visibility: hidden;
	}

	.pro-box{ background-color:#FFFFFF; box-shadow:0px 0px 2px rgba(0,0,0,0.5); min-height:300px; padding:10px 15px !important;}
		.text-primary{ color:#72a308}
		.text-left{ text-align:left;}
		.text-right{ text-align:right;}
		.addtocart-btn{ border:2px solid #72a308; height:50px; cursor: pointer;}
		.bg-primary{ background-color:#72a308; color:#FFFFFF;}
		.bg-white{ background-color:#ffffff;}
		.text-primary{color:#72a308;}
	.detail-unit span{min-width: 90px; display: inline-block;}
	.quantity-product span{min-width: 90px; display: inline-block;  float: left; padding-top: 7px;}
	.prod-count{width: 138px; min-height: 34px; border: 1px solid #cbcbcb; margin-top: 15px;}
	.prod-count .md-icon-button { border-radius: 0px; background: #fff; height: 34px; line-height: inherit;
	}
	.padd-7{padding: 7px;}
	.padd-lr20{padding-left: 20px; padding-right: 20px;}

	.detail-price{
	font-size: 24px;
	margin-top: 20px;
	margin-bottom: 20px;
	color: #f13340;
	border-top: 1px solid #e5e5e5;
	padding: 15px 0 0;
	}
	.price-compare{
		color: #333;
	}
	.prd-btns { color: #fff; padding: 0px 10px; background: #0F9D58;}
	.product-detail-dialog{
		width: 800px;
	}

.font15{
        font-size: 15px !important;
        color: #0F9D58 !important;
}
._clock{
        position: absolute;
    top: 67px;
    padding: 8px 5px;
    background: #4caf63;
    left: 72px;
    border-radius: 80%;
    color: #fff;
    z-index: 1;
    width: 25px !important;
    height: 19px !important;
    text-align: center !important;
}
._clockul{
        position: absolute;
    font-size: 16px;
   padding: 7px 11px !important;
    border-radius: 50%;
    width: 10px !important;
    height: 18px !important;
    text-align: center !important;
}


.delivery_slot .md-datepicker-input-container{width: 0px;visibility: hidden;margin: 0px;
}
.delivery_slot .md-datepicker-button{width: 25px;height: 25px;z-index: 200;line-height: 15px;margin: 2px 3px;
}
.delivery_slot{position: absolute;right:0px;top: 0px;z-index: 1;background-color: transparent;color: #fff;}
.delivery_slot .md-datepicker-button .md-datepicker-calendar-icon{color: #4eaf4c;
height: 20px;}
 .delivery_slot .md-datepicker-button .md-datepicker-calendar-icon:hover{color: #fff;}

.address-title .md-headline{margin:15px 20px;}
.calendar-date{font-size: 8em; text-align: center;font-weight: 600;}
.calendar-month{font-size: 1.5em;line-height: 0.9em; text-align: center !important;}
.calendar-day{text-align: center !important;font-size: 1em;line-height: 1.8em;}
.calender-style{color:#4eaf4c;}
.calender-style:hover{background-color:#4eaf4c;color:#fff !important;}
.calender-style:hover .md-datepicker-button .md-datepicker-calendar-icon{color: #fff;}
.calender-style:hover .border-light { border-color: rgba(255, 255,255, 0.4);}
.md-datepicker-open .md-datepicker-calendar-icon {
fill: #4eaf4c;
}
.md-calendar-date.md-calendar-date-today .md-calendar-date-selection-indicator {
border: 1px solid #4eaf4c;
}
.md-calendar-date-selection-indicator:hover {
background: #D2EBD1;
}
.md-calendar-date.md-calendar-selected-date .md-calendar-date-selection-indicator, .md-calendar-date.md-focus.md-calendar-selected-date .md-calendar-date-selection-indicator {
background: #4caf63;}
.md-calendar {
color: #60b95e;
}
.md-calendar-day-header {
background: #ebf6eb;
}
._slat{
    text-align: center !important;
    text-transform: uppercase !important;
    font-size: 15px !important;
    color: #0D904F !important;
}


@media screen and (max-width: 950px) {
		#textbox { width: 100%; margin-left: 0; }
		.signing_dialog{min-width:90%;}
		.girisback, .kayitback{display: none;}
}
@media screen and (max-width: 1090px){
	.right { padding: 0px 10px;}
	.left { padding: 0px 10px;}
}
