<link rel="stylesheet" href="css/gallery.css" />
<md-card layout-fill class="tbl-body" >
 	<md-toolbar class=" md-default-theme" style="background-color:transparent; box-shadow:0px 1px 1px rgba(0,0,0,0.07)">
		<div class="md-toolbar-tools" layout-sm="column" layout-gt-sm="row">
	  		<div flex="30"><h3 style="border: none;" >Gallery</h3>
	  		<bread-crumb></bread-crumb>
	  		</div>
	  		
	  		<div flex="70" layout="row" layout-align="end end">
	  			<!-- <ul class="gal-mani-icon" flex layout layout-align="end end">
	  				<input type="text" name="" class="img-search"/>
	  				<li></li>
	  				<li><ng-md-icon icon="view_list" style="fill:  rgba(0,0,0,0.4)" size="20"></ng-md-icon></li>
	  				<li><ng-md-icon icon="view_module" style="fill:  rgba(0,0,0,0.4)" size="20"></ng-md-icon></li>
	  				<li></li>
	  				<li><ng-md-icon icon="delete" style="fill: rgba(0,0,0,0.4)" size="20"></ng-md-icon></li> 
	  				<li><ng-md-icon icon="mode_edit" style="fill:  rgba(0,0,0,0.4)" size="20"></ng-md-icon></li>
	  				<li><ng-md-icon icon="visibility" style="fill:  rgba(0,0,0,0.4)" size="20"></ng-md-icon></li>
	  				<li><ng-md-icon ng-click="addGallery($event, true);" icon="note_add" style="fill:  rgba(0,0,0,0.4)" size="20"></ng-md-icon></li>
	  			</ul> -->
	  				
	  		</div>
	  		
	    </div>
    </md-toolbar>
    <md-card-content class="nopadd gallery-container">
		<div layout="row" layout-padding>
			<div flex="20">
				
				<ul class="gallery-aside ">
					<li class="md-body-1 no-outline" ng-click="addGallery($event, false);"><div class="add-newfolder">NEW</div></li>
					<li  class="md-body-1 no-outline" ng-repeat="gallery in galleries" ng-click="openFolders(gallery);">{{gallery.fileName}}<!-- {{gallery.galleryId===$root.breadCrumbGallery[0].id}} --></li>
					
				</ul>
			</div>
			<div flex="80" ui-view>
				
				
			</div>
		</div>
    </md-card-content>
</md-card>

