
 <!--  <md-toolbar class=" md-default-theme" style="background-color:transparent;">
    <div class="md-toolbar-tools">
      <h3 style="margin-left:-10px;"class="md-flex">Tax</h3>
    </div>
     <span ng-hide="fromDetailsPage" class="close_box">
    	<ng-md-icon class="icon-white svgstyle" size="35" icon="close" ui-sref="app.tax"></ng-md-icon> 
    </span> 
     <span ng-show="fromDetailsPage" class="close_box">
    	<ng-md-icon class="icon-white svgstyle" size="35" icon="close" ng-click="redirectToTax(tax)"></ng-md-icon> 
    </span> 
  </md-toolbar> -->
  
 <md-card flex-gt-sm="90" flex-gt-md="80"> 
    <md-content md-theme="docs-dark" layout-padding layout="column" layout-sm="column">
     <h3 style="margin-left:40px;">Edit Tax</h3>
    <form name="storeForm" novalidate>
 
    	    <div layout layout-sm="column">
    
    <md-input-container layout-padding flex class="padd-40">
      <label>Tax Name<span style="color:red">*</span></label>
      <input ng-model="tax.name" ng-required="true" name="taxName" ng-maxlength="30">
    <span ng-message="required" ng-show="storeForm.taxName.$error.maxlength" style="color:red;" >
       Enter Tax Name within 30 Characters</span>
    </md-input-container>
    <md-input-container layout-padding flex class="padd-40">
      <label>Tax_Percentage<span style="color:red">*</span></label>
      <input ng-model="tax.taxPercentage" ng-required="true" name="taxPercentage" value-restriction="100" ng-maxlength="19" pattern="[0-9]{1,2}\.[0-9]{1,2}$|^[0-9]{1,3}$">
   <span ng-message="required" ng-show="storeForm.taxPercentage.$error.maxlength" style="color:red;" >
       Enter Tax Percentage within 20 digit</span>
    </md-input-container>
    </div>
    	  
    <section layout-padding layout="row" layout-align="center center">
    	<md-button class="md-raised md-success padd-40" ng-click="updateTax();" ng-disabled="storeForm.$invalid">Update</md-button>
    	<md-button class="md-raised md-cancel padd-40" ui-sref="app.tax">Cancel</md-button>
    </section>
    </form>
    </md-content>
</md-card>