<md-card flex-gt-sm="90" flex-gt-md="80">

   
   <md-toolbar class=" md-default-theme"  style="background-color:transparent;">
   		<div class="md-toolbar-tools ">	
			<div class="md-layout-row layout-align-start-center pt_relat">	 
			   	<h3 style="padding: 0px 10px;" class="md-layout-column">Update Banner</h3>     	
		    </div>  
		    <!-- <span class="close_box">
		    	<ng-md-icon class="icon-white svgstyle" size="35" icon="close" ui-sref="app.merchants"></ng-md-icon> 
		    </span> -->   
		</div> 
   </md-toolbar>
 
 
    <md-content md-theme="docs-dark" layout-padding layout="column" layout-sm="column" class="edit-container">
	   <!--  <form name="merchantForm" novalidate>
	    <div layout="column" class="wid-50 wid-100">
		    <md-input-container layout-padding>
		      <label>Banner Title-1<span style="color:red">*</span></label>
		      <input ng-model="bannerDetail.tabTitleBold" ng-required="true">
		    </md-input-container>
		    <md-input-container layout-padding>
		      <label>Banner Title-2<span style="color:red">*</span></label>
		        <input  ng-model="bannerDetail.tabTitleSmall" ng-required="true" >
	         </md-input-container>
		    
			<div layout="row" style="padding: 25px 8px;">
			<div style="min-height: 30px; border: 1px solid lightgrey;" flex="60">
			<img  src="{{bannerImage}}" ng-show="bannerImage" style="display: block;width:100%; height: 100%;" />
		    </div>      	
		   
					<button class="md-success" style="margin:0px 10px; height: 30px; padding: 6px;" flex="35">
		          	 <label class="custom-file-input">	
					    <ng-md-icon icon="file_upload" size="20"></ng-md-icon>
					    <input id="file-upload1" type="file" ng-model="bannerImage" app-filereader ng-change="uploadFile('file-name1','file-upload1')"/>
					    <span ng-hide="true" id="file-name1" ></span>
					</label></button>
			</div> 
				
			<section layout="row" layout-padding layout-sm="column" layout-align="start center" layout-wrap>
		    	<md-button class="md-raised md-success padd-50" ng-click="updateBanner(bannerDetail)" ng-disabled="">Update</md-button>
		    	<md-button class="md-raised md-cancel padd-50" ui-sref="app.banner">Cancel</md-button>
		    </section>
		    </div>
		    		    
		    
	    </form> -->
	    
	    <form name="merchantForm" novalidate>    		    
		   <div layout="row" layout-sm="column">
		   		<div flex layout="column">
		   			<div flex>
			   			<md-input-container>
					      <label>Title for Bold<span style="color:red">*</span></label>
					      <input ng-model="bannerDetail.tabTitleBold" name="title1" ng-required="true" ng-maxlength="100">
				      	<span ng-message="required" ng-show="merchantForm.title1.$error.maxlength" style="color:red;">
				      	Enter Title-1 within 100 digit
				      	</span>
					    </md-input-container>
				    </div>
				    <div flex>
					    <md-input-container>
					      <label>Title for Regular<span style="color:red">*</span></label>
					       <input  ng-model="bannerDetail.tabTitleSmall" name="title2" ng-required="true"  ng-maxlength="100">
				      	<span ng-message="required" ng-show="merchantForm.title2.$error.maxlength" style="color:red;">
				      	Enter Title-2 within 100 digit
				      	</span>
				        </md-input-container>
			        </div>
			        
		   		</div>
		   		<div flex layout="column">
		   			
						<div flex style=" width:300px; position:relative; height:auto; margin:0px auto;  ">
							<img  src="{{bannerImage}}" ng-show="bannerImage" style="display: block;width:300px; border:4px solid rgba(0,0,0,0.1); padding:2px; height:auto;" />
							
							<button  style=" position:absolute; top:30px;  left:50px; height: 60px; width:200px;border-radius:50px; margin:0px auto;">
				          	 	<label class="custom-file-input" style="width:0px; height:0px;">	
								   
								    <input id="file-upload1" style="width:0px; height:0px;" type="file" ng-model="bannerImage" app-filereader ng-change="uploadFile('file-name1','file-upload1')"/>
								    <span ng-hide="true" id="file-name1" ></span>
								</label>
							</button>
					    </div>      	
						
					
		   		</div>
		   </div> 
		   <section layout="row" layout-padding layout-sm="column" layout-align="start center" layout-wrap>
		    	<md-button class="md-raised md-success padd-50" ng-click="updateBanner(bannerDetail)" ng-disabled="">Update</md-button>
		    	<md-button class="md-raised md-cancel padd-50" ui-sref="app.banner">Cancel</md-button>
		    </section>
	    </form>
	    
	    
    </md-content>
</md-card>