<div ng-init="getPhysicalinventoryDetails();">

 <md-toolbar ng-hide="warehouse.isprocessed" style="background-color:transparent;">
		<div class="md-toolbar-tools">
		<div layout="row" layout-align="start center" class="full_wid">	 
	  		<h3 flex layout-align="start center">Movement</h3>
	    	<span flex layout-align="end center" style="padding-left: 20px;" hd-show="isMovementAdded">{{movement.name}} &nbsp; &nbsp; {{movement.warehouse.name}}</span>
	    </div>
	    </div>
	    <md-button ng-hide="movement.ismoved == 'Y'" class="md-fab edit-btn" aria-label="Eat cake" ng-click="redirectToEditMovement(movement);$event.stopPropagation();">
		<ng-md-icon icon="mode_edit" size="20" style="fill: white;"></ng-md-icon>
		</md-button>
		<md-button style="right:85px" class="md-fab edit-btn" aria-label="Eat cake" ui-sref="app.movement">
			<ng-md-icon  icon="arrow_back" size="20" style="fill: white;"></ng-md-icon>
		</md-button>
	    <!-- <div layout="row" layout-align="start center">	  -->
	    <!-- <span class="close_box" ui-sref="app.physical_inv">4
		   <ng-md-icon class="icon-white svgstyle" size="35" icon="close"></ng-md-icon> 
		</span> 
		<md-button ng-hide="movement.ismoved == 'Y'" class="md-fab edit-btn" aria-label="Eat cake" ng-click="redirectToEditMovement(movement);$event.stopPropagation();">
				<ng-md-icon icon="mode_edit" size="20" style="fill: white;"></ng-md-icon>
			</md-button>  
		--> 
    </md-toolbar>
    
<md-card>
<md-data-table-container>
  <table md-data-table>
    <thead>
      <tr>
        <th name="Product" ></th>
        <th name="Storage Bin"></th>
        <th name="Qty" ></th>
      </tr>
    </thead>
    
	   <tr md-auto-select ng-repeat="movementLine in movement.movementLines">
	   	<td>
	   		{{movementLine.product.name}}
	   	</td>
	   	<td>
	   		{{movementLine.toStoragebin.name}} ({{movementLine.toStoragebin.stack}} - {{movementLine.toStoragebin.row}} - {{movementLine.toStoragebin.level}})
	   	</td>
	   	<td>
	   		{{movementLine.qty}}
	   	</td>
	   </tr>
   </table>
 </md-data-table-container>
       	<!-- <md-list>
			
			  <div layout layout-sm="column" ng-repeat = "movementLine in movement.movementLines">
			  <div layout-padding  flex><span>{{movementLine.product.name}}</span></div>
			     <div layout-padding  flex><span>{{movementLine.toStoragebin.name}} ({{movementLine.toStoragebin.stack}} - {{movementLine.toStoragebin.row}} - {{movementLine.toStoragebin.level}})</span></div>
			     <div layout-padding  flex><span>{{movementLine.qty}}</span></div>
			  </div>
	    	
    	</md-list> -->
</md-card>
</div>





