<style>
/*.mincardwidth:hover,
.mincardwidth:focus,
.mincardwidth:active {
    transform: scale(1.1);
    transition-duration: 0.5s;
    transition-property: transform;
    transition-timing-function: ease-out;
    cursor: pointer;
}*/

</style>
<div style="width:100%;height:100%;position: relative;" ng-init="getBannerList();getProducts();showHotProduct = 5;">
        <!-- Products page image scrolling functionality -->
      <!--   <section layout="row">
        	 <div flex="20" class="slider-left" style="background:#F96D57;">
				<h1 class="md-display-2">Hi There!</h1>
				<strong class="md-title">Welcome to ShopsBacker</strong></br>
			</div>
	        <div flex="60" higgidy-carousel='images' timeout="5000" style="height:235px; " >
	            <ul higgidy-carousel-images style="height:185px; overflow:hidden;">
	                <li ng-repeat="image in images">
	                    <a href="{{image.link}}">
	                        <img ng-src="{{image.image.url}}" alt="{{img.alt}}" height="185" style="width: 787px;"/>
	                    </a>
	                </li>
	            </ul>
	            <nav class="links mainslider-tab">
	                <ul layout>
	                    <li flex ng-repeat="image in images">
	                        <a href="" layout="column" ng-click="show($index)" ng-class="{selected: carousel.current == $index}">
	                        <md-subhead flex="100">{{image.tabTitleBold}} </md-subhead>
	                        <md-caption flex="100" style="font-size:12px;">{{image.tabTitleSmall}}</md-caption>
	                        </a>
	                    </li>
	                </ul>
	            </nav>
	        </div>
	        <div flex="20" class="slider-right" style="background:#F2CB6E;">
				<img src="assets\images\bannerright.png" style="height:230px; "/> 
			</div>
        </section> -->
        
        <section layout="row">
        	<div flex-gt-md="20" hide-sm hide-md class="slider-left" style="background:#F96D57;">
        	</div>
        	<div flex-gt-md="60" flex-sm="100" flex-md="100" higgidy-carousel='images' timeout="5000">
        		 <ul higgidy-carousel-images >
	                <li ng-repeat="image in images">
	                    <a href="{{image.link}}">
	                        <img ng-src="{{image.image.url}}" alt="{{img.alt}}" style="width: 100%; max-height:200px"/>
	                    </a>
	                </li>
	            </ul>
	            <nav class="links mainslider-tab">
	                <ul layout>
	                    <li flex layout ng-repeat="image in images">
	                        <a href="" flex layout="column" ng-click="show($index)" ng-class="{selected: carousel.current == $index}">
	                        <md-subhead flex="100">{{image.tabTitleBold}} </md-subhead>
	                        <md-caption flex="100" style="font-size:12px;">{{image.tabTitleSmall}}</md-caption>
	                        </a>
	                    </li> 
	                    
	                </ul>
	            </nav> 
        	</div>
        	<div flex-gt-md="20" hide-sm hide-md class="slider-right" style="background:#F2CB6E;">
        	</div>
        </section>
        
        <!-- ------------------ -->

        <section ng-if="topcategories.length > 0"  style=" padding:20px;">
 			<div>
 				<div ng-hide="showProduct" class="prod-headings" style="width:100%; float:left;  margin:0px 7px;   ">
 					<h2 style="margin:10px 0px 0px 0px; float:left;" class="md-headline">Hot Products </h2>
 					<span class="md-subhead" style="float:left;     margin: 13px 0px 0px 10px;">({{topcategories.length}}) <span ng-if="topcategories.length > 1">Items</span> <span ng-if="topcategories.length <= 1">Item</span> 
 						<a href="" ng-click ="showHotProduct = 100;showProduct=1;">View More</a>
 					</span>
 				</div>
 				<div ng-show="showProduct" class="prod-headings" style="width:100%; float:left; border-bottom:3px solid #4eaf4c; margin:0px 7px;  padding-bottom:10px; ">
 					<h2 style="margin:10px 0px 0px 0px; float:left;" class="md-display-1">Hot Products </h2>
 					<span class="md-subhead" style="float:left;     margin: 18px 0px 0px 10px;">({{topcategories.length}}) 
 						<a href="" ng-click ="showHotProduct = 5;showProduct=0;">Hide</a>
 					</span>
 				</div>
 				  <div layout="column" style="width:100%; margin:0px auto; ">
   				 	<div flex layout="row" style="padding:10px 0px;">
   				 	
   				 	
   				 	
    					<div layout="row" flex ng-repeat="product in topcategories | orderBy:groupCount | limitTo:$root.numLimit">
     							
                            <div class="views view-first">
                            	<div layout="row">
                            		<div flex layout-align="start start">
                            			 <div class="pro-offer off-50-above">
                            			 	50%
                            			 </div>
                            		</div>
                            		<div flex>
                            			<md-button class="md-icon-button md-primary pull-right" aria-label="Settings">
									        <md-icon ng-show="product.noOfQuantityInCart > 0" class="icon-black" fill="black">shopping_cart</md-icon>
									      </md-button>
									      <span ng-show="product.noOfQuantityInCart > 0" class="item-count">{{product.noOfQuantityInCart}}</span>
                            		</div>
                            	</div>
                             
                                
                    <div class="pro-img"><img ng-src="{{product.image.url}}" height="120" style="margin:0px auto;"/></div>
                    <div class="mask">
                      
                        <h2>{{product.name}}</h2>
                      <!--  <p>{{product.description}}</p>-->
                          <p>{{product.description}}</p>
                         
                         <div layout="row" layout-align="center center">
	                        	
					        <div flex ng-click="productDetails($event,product);">
	                    		<md-button class="more">more</md-button>
	                    	</div>
	                        
     		  			</div>
                        <div layout="row" layout-align="center center" class="bg-gray">
	                       
	     		  			<div flex ng-click="product.noOfQuantityInCart = product.noOfQuantityInCart + 1;addToCart(product)">
					        	<div class="pro-btns cursor"><md-icon class="icon-large-border">add</md-icon></div>
					        </div>	
					        <div flex>
					        	<div class="pro-btns border-l-r" style="height:100%; padding:" >{{product.noOfQuantityInCart > 0 ? product.noOfQuantityInCart:0 }}</div>
	                    		<!-- <div class="pro-btns border-l-r"><span class="icon-large-border">{{product.noOfQuantityInCart > 0 ? product.noOfQuantityInCart:0 }}</span></div> -->
	                    	</div>
	                        <div flex ng-click="product.noOfQuantityInCart = product.noOfQuantityInCart - 1;addToCart(product)">
	        					<div class="pro-btns cursor"><md-icon  class="icon-large-border">remove</md-icon></div>
	     		  			</div>
     		  			</div>
     		  			
     		  			
                    </div>
                    			<div layout="row">
                            		<div flex>
                            			<div class="pull-left" layout-padding><span class="md-body-1">{{product.unit}} {{product.uom.name}}</span></div> 
                            		</div>
                            		<div flex>
                            			<div  layout-padding>
                            				<div class="pull-right item-type"><span class="item-type-{{product.edibleType}}"></span></div>
                            			</div>
                            		</div>
                            	</div>
                            	
                            	<div layout-align="center center" layout="row" class="md-subhead">{{product.name}}</div>
                            	
                            	<div layout="row">
                            		<div flex>
                            			<div  layout-padding >
                            				<div class="pro-price"><span class="actual-prices">&#8377; {{product.price}}</span></div>
                            			</div>
                            		</div>
                            		<div flex ng-if="product.wasPrice > product.price">
                            			<div  class="" layout-padding><strike class="mrp-price">MRP &#8377;{{product.wasPrice}} </strike></div> 
                            		</div>
                            	</div>
                			</div>  

  </div>	
						
						
						
						
						
						
						
									
						
					</div>
    			</div>
 			</div>
        </section>
        
        
        
        
        
        
        
          <section style=" padding:20px;" ng-repeat="category in categoriesWithProduct" class="">
           
 			<div ng-if="category.products.length" >
 				<div class="prod-headings" l flex ng-hide="category.products.length ==0" style="width:100%; float:left;  margin:0px 7px;   ">
 					<h2 style="margin:10px 0px 0px 0px; float:left; " class="md-headline">{{category.name}}</h2>
 					<span style="float:left;     margin: 13px 0px 0px 10px;"  class="md-subhead">
 				({{category.products.length}}) <span ng-if="category.products.length > 1">Items</span> <span ng-if="category.products.length <= 1">Item</span> 
 				    <a ng-if="category.products.length > $root.numLimit" href="" ng-click="getProductsByCategoryId(category.productCategoryId)">View More</a>
 				    </span>
 				</div>
 				
 				  <div  layout="column" style="width:100%; margin:0px auto;">
   				 	<div flex layout="row" style="padding:10px 0px;">
   				 	
   				 	
    					<div layout="row" flex layout-wrap  ng-repeat="product in category.products | orderBy:groupCount | limitTo:$root.numLimit">
     						
                            <div class="views view-first">
                            	<div layout="row" style="overflow:hidden;">
                            		<div flex layout-align="start start">
                            			 <div class="pro-offer off-70-above">
                            			 	70%
                            			 </div>
                            		</div>
                            		<div flex>
                            			<md-button  class="md-icon-button md-primary pull-right" aria-label="Settings">
									        <md-icon ng-show="product.noOfQuantityInCart > 0" class="icon-black" fill="black">shopping_cart</md-icon>
									      </md-button>
									      <span ng-show="product.noOfQuantityInCart > 0" class="item-count">{{product.noOfQuantityInCart}}</span>
                            		</div>
                            	</div>
                             
                                
                    <div class="pro-img"><img ng-src="{{product.image.url}}" height="120" style="margin:0px auto;"/></div>
                    <div class="mask">
                      
                        <h2>{{product.name}}</h2>
                        <!--<p>{{product.description}}</p>-->
                         <p>{{product.description}}</p>
                         <div layout="row" layout-align="center center">
	                        	
					        <div flex ng-click="productDetails($event,product);">
	                    		<md-button class="more">more</md-button>
	                    	</div>
	                        
     		  			</div>
                        <div layout="row" layout-align="center center" class="bg-gray">
	                       
	     		  			<div flex ng-click="product.noOfQuantityInCart = product.noOfQuantityInCart + 1;addToCart(product)">
					        	<div class="pro-btns cursor"><md-icon class="icon-large-border">add</md-icon></div>
					        </div>	
					        <div flex>
	                    		<div class="pro-btns border-l-r"><span class="icon-large-border">{{product.noOfQuantityInCart > 0 ? product.noOfQuantityInCart:0 }}</span></div>
	                    	</div>
	                        <div flex ng-click="product.noOfQuantityInCart = product.noOfQuantityInCart - 1;addToCart(product)">
	        					<div class="pro-btns cursor"><md-icon  class="icon-large-border">remove</md-icon></div>
	     		  			</div>
     		  			</div>
     		  			
     		  			
                    </div>
                    			<div layout="row">
                            		<div flex>
                            			<div class="pull-left" layout-padding><span class="md-body-1">{{product.unit}} {{product.uom.name}}</span></div> 
                            		</div>
                            		<div flex>
                            			<div  layout-padding>
                            				<div class="pull-right item-type"><span class="item-type-{{product.edibleType}}"></span></div>
                            			</div>
                            		</div>
                            	</div>
                            	
                            	<div layout-align="center center" layout="row" class="md-subhead">{{product.name}}</div>
                            	
                            	<div layout="row">
                            		<div flex>
                            			<div  layout-padding >
                            				<div class=" pro-price"><span class="actual-prices">&#8377; {{product.price}}</span></div>
                            			</div>
                            		</div>
                            		<div flex ng-if="product.wasPrice>product.price">
                            			<div  layout-padding><strike class="mrp-price">MRP &#8377;{{product.wasPrice}} </strike></div> 
                            		</div>
                            	</div>
                			</div>                           
                            
						</div>
						
						<div layout="row" flex layout-wrap ng-repeat="test  in remainOb(category.products.length);  track by $index"></div>
						
						
						
						
						
						
					</div>
    			</div>
    
    
    
 			</div>
        </section>
        
        
        
        
        
        
        
        
</div>
        <style>

        md-ink-bar{top:115px;}
        .chs-img{width:100%; height: 90%;}
        .item{border-radius: 2px; border: 1px solid lightgrey;}
      
	body,html{ width:100%; background-color:#f5f5f5 !important; height:100%; padding:0px; margin:0px;}
	.pro-box{ background-color:#FFFFFF;  min-height:300px; }
            
	.text-primary{ color:#72a308}
	.text-left{ text-align:left;}
	.text-right{ text-align:right;}
	.addtocart-btn{ border:2px solid #72a308; height:50px; cursor: pointer;}
	.bg-primary{ background-color:#72a308; color:#FFFFFF;}
	.bg-white{ background-color:#ffffff;}
	.text-primary{color:#72a308;}
</style>
        
