<style>
md-tabs-canvas {
    height: 140px;
}
md-ink-bar{top:115px;}
.md-tab{
	padding: 28px ! important;
}
.chg-tool{
	background: #ED6663 ! important;
}
.btn-success{background: #72A308 ! important; padding: 5px 20px;}
.chs-img{height: 60px ! important; width: 60px ! important; border-radius: 4px ! important;}
</style>

<md-dialog aria-label="CHANGE / CHOOSE YOUR RELIABLE SUPER MARKET"  ng-cloak class="locDialog">
  <md-toolbar>
    <div class="md-toolbar-tools chg-tool">
      <h4>CHANGE / CHOOSE YOUR RELIABLE SUPER MARKET</h4>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="cancel()">
        <md-icon md-svg-src="assets/img/icon/close.svg" aria-label="Close dialog"></md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <div>
      
      <div class="">
   <md-content flex layout-padding>
   <h2 ng-if="checked" style="color:black;text-align: center;font-family:sans-serif;"><u>Search Super Market</u></h2>
   <h2 ng-if="!checked" style="color:black;text-align: center;font-family:sans-serif;"><u>YOUR NEAREST SUPER MARKETS</u></h2>
   <p style="color:black;text-align: center;font-family:sans-serif;">Choose from here</p>
 	</md-content>
  </div> 
 	      <md-content class="md-padding">
    	 <md-tabs ng-if="((!checked)&&(storeList.length>0))"  class="arrow_color" md-stretch-tabs="auto">
      <md-tab  ng-click = "changeStore(store)" ng-repeat="store in storeList">
     <img  ng-src="{{store.merchant.logo.url}}" class="md-avatar chs-img"></br>
      <label>{{store.name}}</label>
      </md-tab>
    </md-tabs>
    </md-content>
      
        <md-input-container ng-if="checked" style="margin:1% 8%;">
           <label>Select City<span style="color:red">*</span></label>
             <md-select ng-model="selectedcity" ng-required="true" ng-change="searchAreaByCity(selectedcity)">
                <md-option ng-repeat="shop in allStoreList | orderBy: 'name'" ng-value="shop">
                  {{shop.name}}
                </md-option>
              </md-select>
        </md-input-container>
   
        <md-input-container ng-if="checked" style="margin:1% 8%;padding-bottom: 18px;">
           <label>Select Area<span style="color:red">*</span></label>
             <md-select ng-model="selectedarea" ng-required="true" ng-change="searchByArea(selectedarea)">
                <md-option ng-repeat="area in areaList | orderBy: 'name' "  ng-value="area">
                 {{area.name}}
                </md-option>
              </md-select>
        </md-input-container>
 
    <md-content class="md-padding">
    	 <md-tabs ng-if="((checked)&&(filterStoreList.length>0))" class="arrow_color" md-stretch-tabs="auto">
      <md-tab  ng-click = "changeStore(store)" ng-repeat="store in filterStoreList">
     <img  ng-src="{{store.merchant.logo.url}}" class="md-avatar chs-img"></br>
      <label>{{store.name}}</label>
      </md-tab>
    </md-tabs>
    </md-content>
   
    <h4 ng-if="!checked" style="color:black;text-align: center;font-family:sans-serif; margin: 5px 0px; ">or</h4>
    <section ng-hide="checked" layout="row" layout-align="center" style="margin-bottom: 5%;">
    <md-button class="md-raised md-primary btn-success" ng-model="checked" ng-click="checked=true">SEARCH  SUPER MARKET</md-button>
  	</section>


 <!-- <md-content layout-padding style="background-color: transparent;">
 	<md-button class="md-icon-button" style="float: right; margin-right: -9px;" ng-click="cancel()">
 	<ng-md-icon icon="close" style="fill: #333" size="30"></ng-md-icon> 
        <md-icon md-svg-src="assets/img/icon/close.svg" aria-label="Close dialog"></md-icon>
    </md-button>
	<div layout="row" layout-align="center">
		<h2>Get Your Groceries Delivered Now !</h2>
	</div>
    <form ng-submit="$event.preventDefault()">
     <div layout="row" layout-sm="column" layout-md="column" class="padd-lr10" flex >
      <div flex="25" flex-sm="100" flex-md="100" class="padd-tb20">
      	<ng-md-icon icon="location_on" style="fill: #d2d2d2; z-index: 1; position: absolute; padding-top: 6px; padding-left: 5px;" size="28"></ng-md-icon>
        <md-autocomplete
          md-selected-item="selectedItem"
          md-search-text-change="searchTextChange(searchText)"
          md-search-text="searchText"
          md-selected-item-change="selectedItemChange(item)"
          md-items="item in querySearch(searchText)"
          md-item-text="item.name"
          md-min-length="0"
          placeholder="Find Your City"
          md-menu-class="autocomplete-custom-template">
        <md-item-template>
          <span class="item-title">
            <md-icon md-svg-icon="img/icons/octicon-repo.svg"></md-icon>
            <span> {{item.name}} </span>
          </span>
          <span class="item-metadata">
            <span class="item-metastat">
              <strong>{{item.watchers}}</strong> watchers
            </span>
            <span class="item-metastat">
              <strong>{{item.forks}}</strong> forks
            </span>
          </span>
        </md-item-template>
      </md-autocomplete>
      </div>
      <div flex="50" flex-sm="100" flex-md="100" class="padd-tb20">
      	<ng-md-icon icon="search" style="fill: #d2d2d2; z-index: 1; position: absolute; padding-top: 6px; padding-left: 5px;" size="28"></ng-md-icon> 
        <md-autocomplete       
          md-selected-item="selectedItem"
          md-search-text-change="searchTextChange(searchText)"
          md-search-text="searchText"
          md-selected-item-change="selectedItemChange(item)"
          md-items="item in querySearch(searchText)"
          md-item-text="item.name"
          md-min-length="0"
          placeholder="Find your Location"
          md-menu-class="autocomplete-custom-template">                   
        <md-item-template>        
          <span class="item-title">
            <md-icon md-svg-icon="img/icons/octicon-repo.svg"></md-icon>
            <span> {{item.name}} </span>
          </span>
          <span class="item-metadata">
            <span class="item-metastat">
              <strong>{{item.watchers}}</strong> watchers
            </span>
            <span class="item-metastat">
              <strong>{{item.forks}}</strong> forks
            </span>
          </span>
        </md-item-template>
      </md-autocomplete>
      </div>
      <div flex="25" flex-sm="100" flex-md="100" class="padd-tb20">
      	<md-button class="md-raised ft_size18" style="width:100%; background-color:#0F9D58 ; color:white; margin: 0px; line-height: 40px;">Search</md-button>
      </div>
    </div>
      
    </form>
  </md-content>
	<md-content class="md-padding" style="background: transparent;">
    <md-tabs class="arrow_color" md-stretch-tabs="auto">
      <md-tab>
     <img  ng-src="assets/images/reliance.png" class="chs-img"></br>
      <label>Store Name</label>
      </md-tab>
      <md-tab>
     <img  ng-src="assets/images/reliance.png" class="chs-img"></br>
      <label>Store Name</label>
      </md-tab>
      <md-tab>
     <img  ng-src="assets/images/reliance.png" class="md-avatar chs-img"></br>
      <label>Store Name</label>
      </md-tab>
      <md-tab>
     <img  ng-src="assets/images/reliance.png" class="chs-img"></br>
      <label>Store Name</label>
      </md-tab>
      <md-tab>
     <img  ng-src="assets/images/reliance.png" class="chs-img"></br>
      <label>Store Name</label>
      </md-tab>
      <md-tab>
     <img  ng-src="assets/images/reliance.png" class="chs-img"></br>
      <label>Store Name</label>
      </md-tab>
      <md-tab>
     <img  ng-src="assets/images/reliance.png" class="chs-img"></br>
      <label>Store Name</label>
      </md-tab>
      <md-tab>
     <img  ng-src="assets/images/reliance.png" class="chs-img"></br>
      <label>Store Name</label>
      </md-tab>
    </md-tabs>
    </md-content>  -->

</md-dialog>