<style>
md-tabs-canvas {
    height: 140px;
}
md-ink-bar{top:115px;}
.md-tab{
	padding: 28px ! important;
}
.chg-tool{
	background: #ED6663 ! important;
}
.btn-success{background: #72A308 ! important; padding: 5px 20px;}
.chs-img{height: 60px ! important; width: 60px ! important; border-radius: 50% ! important;}
</style>

<md-dialog aria-label="CHANGE / CHOOSE YOUR RELIABLE SUPER MARKET"  ng-cloak>
  <md-toolbar>
    <div class="md-toolbar-tools chg-tool">
      <h4>CHANGE / CHOOSE YOUR RELIABLE SUPER MARKET</h4>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="cancel()">
        <md-icon md-svg-src="assets/img/icon/close.svg" aria-label="Close dialog"></md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <div>
      
      <div class="">
   <md-content flex layout-padding>
   <h2 ng-if="checked" style="color:black;text-align: center;font-family:sans-serif;"><u>Search Super Market</u></h2>
   <h2 ng-if="!checked" style="color:black;text-align: center;font-family:sans-serif;"><u>YOUR NEAREST SUPER MARKETS</u></h2>
   <p style="color:black;text-align: center;font-family:sans-serif;">Choose from here</p>
 	</md-content>
  </div> 
      
        <md-input-container ng-if="checked" style="margin:1% 8%;">
           <label>Select City<span style="color:red">*</span></label>
             <md-select ng-model="selectedcity" ng-required="true" ng-change="searchByCity(selectedcity)">
                <md-option ng-repeat="shop in allStoreList track by $index" value="{{shop}}">
                  {{shop}}
                </md-option>
              </md-select>
        </md-input-container>
   
        <md-input-container ng-if="checked" style="margin:1% 8%;">
           <label>Select Area<span style="color:red">*</span></label>
             <md-select ng-model="selectedaddress" ng-required="true" ng-change="searchByAddress(selectedaddress)">
                <md-option ng-repeat="address in addressList track by $index" value="{{address.address}}">
                  {{address.address}}
                </md-option>
              </md-select>
        </md-input-container>
 
      
   <md-tabs ng-if="((!checked)&&(storeList.length>0))"md-stretch-tabs="auto">
      <md-tab  ng-click = "changeStore(store)" ng-repeat="store in storeList">
     <img  ng-src="{{store.merchant.logo.url}}" class="md-avatar chs-img"></br>
      <label>{{store.name}}</label>
      </md-tab>
    </md-tabs>
    
     <md-tabs ng-if="((checked)&&(filterStoreList.length>0))" md-stretch-tabs="auto">
      <md-tab ng-click = "changeStore(store)" ng-repeat="store in filterStoreList">
      <img  ng-src="{{store.merchant.logo.url}}" class="md-avatar chs-img"></br>
      <label>{{store.name}}</label>
      </md-tab>
    </md-tabs>
    
    <h4 ng-if="!checked" style="color:black;text-align: center;font-family:sans-serif; margin: 5px 0px; ">or</h4>
    <section ng-hide="checked" layout="row" layout-align="center" style="margin-bottom: 5%;">
    <md-button class="md-raised md-primary btn-success" ng-model="checked" ng-click="checked=true">SEARCH  SUPER MARKET</md-button>
  	</section>
</md-dialog>