
  <md-toolbar class=" md-default-theme" style="background-color:transparent;">
    <div class="md-toolbar-tools">
      <h3 class="md-flex" style="margin-left:-10px;">Shipping Charges</h3>
    </div>
     <!-- <span ng-hide="fromDetailsPage" class="close_box">
    	<ng-md-icon class="icon-white svgstyle" size="35" icon="close" ui-sref="app.shippingCharges"></ng-md-icon> 
    </span>  -->
   <!--   <span ng-show="fromDetailsPage" class="close_box">
    	<ng-md-icon class="icon-white svgstyle" size="35" icon="close" ng-click="redirectToShippingCharges(shippingCharge)"></ng-md-icon> 
    </span>  -->
  </md-toolbar>
  <md-card flex-gt-sm="90" flex-gt-md="80">
    <md-content md-theme="docs-dark" layout-padding layout="column" layout-sm="column" class="edit-container">
    <form name="storeForm" novalidate>
 
    	    <div layout layout-sm="column">
    
    <md-input-container layout-padding flex>
      <label>Charging Amount<span style="color:red">*</span></label>
      <input ng-model="shippingCharge.chargingAmount" ng-required="true" valid-number ng-required="true" ng-maxlength="19">
    </md-input-container>
    <md-input-container layout-padding flex>
      <label>Amount Range<span style="color:red">*</span></label>
      <input ng-model="shippingCharge.amountRange" ng-required="true" valid-number ng-required="true" ng-maxlength="19">
    </md-input-container>
    </div>
    	  
    <section layout="row" layout-sm="column" layout-align="start center" layout-wrap>
    	<md-button class="md-raised md-success padd-50" ng-click="updateShippingCharges();" ng-disabled="storeForm.$invalid">Update</md-button>
    	<md-button class="md-raised md-cancel padd-50" ui-sref="app.shippingCharges">Cancel</md-button>
    </section>
    </form>
    </md-content>
</md-card>