
  <!-- <md-toolbar class=" md-default-theme" style="background-color:transparent;">
    <div class="md-toolbar-tools">
      <h3 class="md-flex" style="margin-left:-10px;">Update Shipping Charges</h3>
    </div>
     <span ng-hide="fromDetailsPage" class="close_box">
    	<ng-md-icon class="icon-white svgstyle" size="35" icon="close" ui-sref="app.shippingCharges"></ng-md-icon> 
    </span> 
     <span ng-show="fromDetailsPage" class="close_box">
    	<ng-md-icon class="icon-white svgstyle" size="35" icon="close" ng-click="redirectToShippingCharges(shippingCharge)"></ng-md-icon> 
    </span> 
  </md-toolbar> -->
  <md-card flex-gt-sm="90" flex-gt-md="80">
    <md-content md-theme="docs-dark" layout-padding layout="column" layout-sm="column" class="edit-container">
    <h3 style="margin-left:40px;">Update Shipping Charges</h3>
    <form name="storeForm" novalidate>
 
    	    <div layout layout-sm="column">
    
    <md-input-container layout-padding flex class="padd-40">
      <label>Charging Amount<span style="color:red">*</span></label>
      <input ng-model="shippingCharge.chargingAmount" name="amt" ng-required="true" valid-number ng-required="true" ng-maxlength="13">
    <span ng-message="required" ng-show="storeForm.amt.$error.maxlength" style="color:red;">
       Enter Charging Amount within 13 digit</span>
    </md-input-container>
    <md-input-container layout-padding flex class="padd-40">
      <label>Amount Range<span style="color:red">*</span></label>
      <input ng-model="shippingCharge.amountRange" name="rag" ng-required="true" valid-number ng-required="true" ng-maxlength="13">
    <span ng-message="required" ng-show="storeForm.rag.$error.maxlength" style="color:red;">
       Enter Amount Range within 13 digit</span>
    </md-input-container>
    </div>
    	  
    <section layout-padding layout="row" layout-align="center center">
    	<md-button class="md-raised md-success padd-40" ng-click="updateShippingCharges();" ng-disabled="storeForm.$invalid">Update</md-button>
    	<md-button class="md-raised md-cancel padd-40" ui-sref="app.shippingCharges">Cancel</md-button>
    </section>
    </form>
    </md-content>
</md-card>