<div style="width:100%;height:100%;position: relative;" class="bg_gray" ng-init="getProducts();">
   <!-- <section style="height:280px;width:100%;position:relative;">
        <img ng-src="assets/images/banner1.png" alt="" src="assets/images/banner1.png" style="width: 100%;height: 100%;">        
       
        <h1 class="md-display-2" style="position:absolute;color:#fff;top: 25%;left: 40%;">Fresh Fruits</h1>
    </section> -->
    
    
    <div layout="column">
    	<div flex layout="column" style="background-color:#FFFFFF; padding:20px; ">
    		<div flex >
    		<section>
    		
    			<div layout-sm="column" layout-gt-sm="row" class="prod-headings flex" ng-hide="category.products.length ==0" style="width:100%; float:left; margin:0px 7px;  padding-bottom:10px; " aria-hidden="false">
 					<h2 flex style="margin:33px 0px 0px 0px; float:left;" class="md-display-1 ng-binding">Products</h2>
 					 <div class="" flex layout="row" layout-sm="50" layout layout-align=""> 
 					                   
                     <span flex layout-padding style="color:#000000;" class="pro-sort">
                            <md-input-container flex class="nopadd ft_size14">
                              <label ng-style="margin-top: 0px; color:#000000;" class="mg-primary">Sort By</label>
                              <md-select ng-model="orderList" >
                                <md-option value="name"> Product A-Z </md-option>
                                <md-option value="-name"> Product Z-A </md-option>
                                <md-option value="price"> Price - Low to High </md-option>
                                <md-option value="-price"> Price - High to Low </md-option>
                              </md-select>
                            </md-input-container>
                     </span> 
                     
                     
                    <span flex class="pro-search" layout-padding>
                        <!-- <md-input-container flex class="nopadd ft_size14">
                            <label>Search</label>
                            <input ng-model="searchProduct">
                        </md-input-container > -->
                        <input type="text" placeholder="search" ng-model="searchProduct">
                     </span> 
                    
                    </div> 
 				</div>
 				
 				
    		</section>
    	</div>
    	
    	<div flex>
    		<section>
    			<div layout flex>
 					 <md-button ng-click="setType($event);type=null" ng-class="activeprod" style="min-width: 0px; padding: 0px; border-radius: 0;"><span>All</span></md-button>
					 <div ng-repeat="types in productTypes">
					 	<md-button ng-click="setType($event,types.productTypeName);" class="others" style="min-width: 0px; padding: 0px; border-radius: 0;" ><span>{{types.productTypeName}}</span></md-button>
					 </div>
 				</div>
    		</section>
    	</div>
    	</div>
    	<div flex style="padding:20px;">
    		<section>
    		
    		
    		
    			 <div layout="row" layout-wrap flex >
     <div class=""  ng-repeat="product in productList | orderBy: orderList | filter :searchProduct | productType : type" flex-sm="50" flex-lg="25" flex-gt-lg="20"  flex-md="33" layout="column" >
         <div class="views view-first">
                            	<div layout="row">
                            		<div flex layout-align="start start">
                            			 <div class="pro-offer off-50-above">
                            			 	50%
                            			 </div>
                            		</div>
                            		<div flex>
                            			<md-button class="md-icon-button md-primary pull-right" aria-label="Settings">
									        <md-icon ng-show="product.noOfQuantityInCart > 0" class="icon-black" fill="black">shopping_cart</md-icon>
									      </md-button>
									      <span ng-show="product.noOfQuantityInCart > 0" class="item-count">{{product.noOfQuantityInCart}}</span>
                            		</div>
                            	</div>
                             
                                
                    <div class="pro-img"><img ng-src="{{product.image.url}}" height="120" style="margin:0px auto;"/></div>
                    <div class="mask">
                      
                        <h2>{{product.name}}</h2>
                      <!--  <p>{{product.description}}</p>-->
                          <p>{{product.description}}</p>
                         
                         <div layout="row" layout-align="center center">
	                        	
					        <div flex ng-click="productDetails($event,product);">
	                    		<md-button class="more">more</md-button>
	                    	</div>
	                        
     		  			</div>
                        <div layout="row" layout-align="center center" class="bg-gray">
	                       <div flex ng-click="product.noOfQuantityInCart = product.noOfQuantityInCart - 1;addToCart(product)">
	        					<div class="pro-btns cursor"><md-icon  class="icon-large-border">remove</md-icon></div>
	     		  			</div>
	     		  		
					        <div flex>
					        	<div class="pro-btns border-l-r" style="height:100%; padding:" >{{product.noOfQuantityInCart > 0 ? product.noOfQuantityInCart:0 }}</div>
	                    		<!-- <div class="pro-btns border-l-r"><span class="icon-large-border">{{product.noOfQuantityInCart > 0 ? product.noOfQuantityInCart:0 }}</span></div> -->
	                    	</div>
	                      <div flex ng-click="product.noOfQuantityInCart = product.noOfQuantityInCart + 1;addToCart(product)">
					        	<div class="pro-btns cursor"><md-icon class="icon-large-border">add</md-icon></div>
					        </div>	
     		  			</div>
     		  			
     		  			
                    </div>
                    			<div layout="row">
                            		<div flex>
                            			<div class="pull-left" layout-padding><span class="md-body-1">{{product.unit}} {{product.uom.name}}</span></div> 
                            		</div>
                            		<div flex>
                            			<div  layout-padding>
                            				<div class="pull-right item-type"><span class="item-type-{{product.edibleType}}"></span></div>
                            			</div>
                            		</div>
                            	</div>
                            	
                            	<div layout-align="center center" layout="row" class="md-subhead">{{product.name}}</div>
                            	
                            	<div layout="row">
                            		<div flex>
                            			<div  layout-padding >
                            				<div class="pro-price"><span class="actual-prices">&#8377; {{product.price}}</span></div>
                            			</div>
                            		</div>
                            		<div flex ng-if="product.wasPrice > product.price">
                            			<div  class="" layout-padding><strike class="mrp-price">MRP &#8377;{{product.wasPrice}} </strike></div> 
                            		</div>
                            	</div>
                			</div>  			
			</div>
		</div>
		
		
    		</section>
    	</div>
    </div>
    
    
    
    
    <!-- 
    <section  style="background-color:#fff;">
<div layout="column" layout-margin layout-fill  >
 
    <div layout="row" layout-sm="column" layout-padding>
        <md-content class="" style="margin: 0 3%;width: 100%; height: 100%;">
          <div layout="row" layout-sm="column" class="bg_gray">
              <div layout="row" layout-align="space-between center" class="wid_100">
                  <div flex layout="column" layout-sm="50">
                  
                  	<div flex class="md-caption text-primary" >Fresh Products / Fresh Fruits</div>
                  	<div flex class="md-title" style="margin-top:10px; color:#333333">Fruits</div>
                  </div>
                   <div class="" flex layout="row" layout-sm="50" layout layout-align="">                   
                       <span flex layout-padding style="color:#000000;">
                            <md-input-container flex class="nopadd ft_size14">
                              <label ng-style="margin-top: 0px; color:#000000;" class="mg-primary">Sort By</label>
                              <md-select ng-model="orderList" >
                                <md-option value="name"> Product A-Z </md-option>
                                <md-option value="-name"> Product Z-A </md-option>
                                <md-option value="price"> Price - Low to High </md-option>
                                <md-option value="-price"> Price - High to Low </md-option>
                              </md-select>
                            </md-input-container>
                     </span>
                     <span flex >
                        <md-input-container flex class="nopadd ft_size14">
                            <label style="margin-top: 8px;">Search</label>
                            <input ng-model="searchProduct">
                        </md-input-container >
                     </span>
                    </div> 
                </div>                      
         </div>
                        
        </md-content>                 
        
      </div>
      <button ng-click="type=null">All</button>
 <div ng-repeat="types in productTypes">
 	<button ng-click="setType(types.productTypeName);">{{types.productTypeName}}</button>
 </div>

</div>
    <div layout="column" style="width:94%; margin:0px auto; ">
    <div flex layout="row" style="padding:10px 8px;">
    <div layout="row" layout-wrap flex >
     <div class="producutItem" flex="auto" ng-repeat="product in productList | orderBy: orderList | filter :searchProduct | productType : type" flex-sm="50" flex-lg="25" flex-gt-lg="20" layout-padding flex-md="33" layout="column" style="min-width:230px;max-width:230px;">
         <div flex="auto" ng-repeat="product in productList | orderBy: orderList | filter :searchProduct" flex-sm="50" flex-lg="25" flex-gt-lg="20" layout-padding flex-md="33" layout="column" >
		<div class="pro-box" flex layout="column"> 
				<div flex style="height:150px; text-align: center; cursor: pointer;" ng-click="productDetails($event,product);">
					<img style="height:150px;  width: 100%;" ng-src="{{product.image.url}}" style="width:100%"/>
				</div>
				<div flex layout-align="center center" layout="row">
					<span class="sub-head text-primary">{{product.name | limitTo: 15}}{{product.name.length > 15 ? '...' : ''}}</span>
				</div>
				<div flex  layout="row">
					<span flex class="md-body-2 text-left">{{product.unit}}{{product.uom.name}}</span>
					<span flex class="md-body-2 text-right">
						<md-icon style="height:12px; width:12px; color:red;" md-svg-src="assets/img/icon/currency.svg"></md-icon>
						₹{{product.price}}
					</span>
				</div>
							<div layout="row" flex>
								<div flex="40" ng-hide="product.isProductMyList" ng-click="addToMyList(product,$index);" style="font-size:12px; background-color:#00B8D4; color:#FFFFFF;" layout="column" layout-align="center center"
									class="button-flex wishlist-btn">
									<div flex ><md-icon style="height:14px; color:#FFFFFF; margin:3px; "
										md-svg-src="assets/img/icon/favorite21.svg"></md-icon>
										</div>
									<div flex style="text-align:center;">Add To List</div>
								</div>
								<div flex="40" ng-show="product.isProductMyList" ng-click="removeFromMyList(product,$index);" style="font-size:12px; background-color:#990000; color:#FFFFFF;" layout="column" layout-align="center center"
									class="button-flex wishlist-btn">
									<div flex ><md-icon style="height:14px; color:#FFFFFF; margin:3px; "
										md-svg-src="assets/img/icon/favorite21.svg"></md-icon>
										</div>
									<div flex style="text-align:center;">Remove From List</div>
								</div>								
								<div flex="60" layout="row" layout-align="center center"
									class="button-flex cart-btn">
									<div flex="30"  ng-click="product.noOfQuantityInCart = product.noOfQuantityInCart + 1;addToCart(product)">
										<md-icon style="height:20px; color:#FFFFFF; margin:3px; "
											md-svg-src="assets/img/icon/addtocart.svg"></md-icon>
									</div>
									<div flex="40" ng-hide="product.noOfQuantityInCart > 0" style="text-align:center" ng-click="product.noOfQuantityInCart = product.noOfQuantityInCart + 1;addToCart(product)" class="md-subhead">Cart</div>
									<div flex="40" ng-show="product.noOfQuantityInCart > 0" style="text-align:center" class="md-subhead">{{product.noOfQuantityInCart}}</div>

									<div flex="30" ng-show="product.noOfQuantityInCart > 0"  ng-click="product.noOfQuantityInCart = product.noOfQuantityInCart - 1;addToCart(product)">
										<md-icon style="height:20px; color:#FFFFFF; margin:3px; "
											md-svg-src="assets/img/icon/decfromcart.svg"></md-icon>
									</div>
									<div flex="30" ng-hide="product.noOfQuantityInCart > 0" >
										<md-icon style="height:20px; color:#FFFFFF; margin:3px; "
											md-svg-src="assets/img/icon/decfromcart.svg"></md-icon>
									</div>
								</div>
							</div>
						</div>				
			</div>
		</div>
		</div>
    </div>
    </section> -->
</div>



<style>
	body,html{ width:100%; height:100%; padding:0px; margin:0px;}
	.pro-box{ background-color:#FFFFFF; box-shadow:0px 0px 2px rgba(0,0,0,0.5); min-height:300px; padding:10px 15px !important;}
	.text-primary{ color:#72a308}
	.text-left{ text-align:left;}
	.text-right{ text-align:right;}
	.addtocart-btn{ border:2px solid #72a308; height:50px; cursor: pointer;}
	.bg-primary{ background-color:#72a308; color:#FFFFFF;}
	.bg-white{ background-color:#ffffff;}
	.text-primary{color:#72a308;}
</style>
