
  <!-- <md-toolbar class=" md-default-theme">
    <div class="md-toolbar-tools">
      <h2 class="md-flex">Store</h2>
    </div>
     <span ng-hide="fromDetailsPage" class="close_box">
    	<ng-md-icon class="icon-white svgstyle" size="35" icon="close" ui-sref="app.store"></ng-md-icon> 
    </span> 
     <span ng-show="fromDetailsPage" class="close_box">
    	<ng-md-icon class="icon-white svgstyle" size="35" icon="close" ng-click="redirectToStoreDetails(store)"></ng-md-icon> 
    </span> 
  </md-toolbar> -->
  <md-toolbar class=" md-default-theme" style="background-color:transparent;">
   		<div class="md-toolbar-tools ">	
			<div class="md-layout-row layout-align-start-center pt_relat">	 
		     	<h3 style="margin-left:-10px;" class="md-layout-column">Edit Store</h3>     	
		    </div>  
		    <!-- <span class="close_box">
		    	<ng-md-icon class="icon-white svgstyle" size="35" icon="close" ui-sref="app.merchants"></ng-md-icon> 
		    </span> -->   
		</div> 
</md-toolbar>
<md-card flex-gt-sm="90" flex-gt-md="80">
    <md-content md-theme="docs-dark" layout-padding layout="column" layout-sm="column">
    <form name="storeForm" novalidate>
 	
 	<div layout="row" layout-sm="column">
	<div flex>
	<div layout-padding>
    
    <md-input-container layout-padding flex>
      <label>Store Name<span style="color:red">*</span></label>
      <input ng-model="store.name" ng-disabled="true">
    </md-input-container>
    
        <md-input-container layout-padding flex>
      <label>User Name</label>
      <input ng-model="store.user.userName" ng-disabled="true">
    </md-input-container>
       
    <md-input-container layout-padding flex>
      <label>Store Admin Name<span style="color:red">*</span></label>
      <input ng-model="store.user.name" maxlength="45">
    </md-input-container>
    
    <md-input-container layout-padding flex>
      <label>Email</label>
      <input ng-model="store.user.emailid" maxlength="45">
    </md-input-container>
       
    <md-input-container layout-padding flex>
      <label>Phone<span style="color:red">*</span></label>
   <input ng-model="store.user.phoneNo" name="phoneNo" valid-number ng-required="true" ng-maxlength="19">
      <span ng-message="required" ng-show="store.user.phoneNo.$error.maxlength" style="color:red;">
       Enter phoneNo within 20 digit</span>   
        </md-input-container>
    <md-input-container layout-padding flex>
      <label>Address<span style="color:red">*</span></label>
      
          <input name="address1" ng-model="store.user.address.address1" ng-required="true" ng-maxlength="150">
		      <span ng-message="required" ng-show="store.user.address.address1.$error.maxlength" style="color:red;">
      Enter address within 150 characters</span>
    </md-input-container>
    </div>
    </div>
    
    
    <div flex>
	<div layout-padding>
    
    <md-input-container layout-padding flex>
      <label>City<span style="color:red">*</span></label>
      <input ng-model="store.user.address.city" ng-required="true">
    </md-input-container>
		    <md-input-container layout-padding flex>
       			<label>Country<span style="color:red">*</span></label>
         		<md-select ng-model="country" ng-required="true" ng-change = "getState(country);" ng-model-options="{trackBy: '$value.countryId'}">
		            <md-option ng-repeat="cnt in countries | orderBy:'name'" ng-value="cnt">
		              {{cnt.name}}
		            </md-option>
          		</md-select>
    		</md-input-container>
        
		    <md-input-container layout-padding flex>
       			<label>State<span style="color:red">*</span></label>
         		<md-select ng-model="state" ng-required="true" ng-model-options="{trackBy: '$value.stateId'}">
		            <md-option ng-repeat="state in states | orderBy:'name'" ng-value="state">
		              {{state.name}}
		            </md-option>
          		</md-select>
    		</md-input-container>
      <md-input-container layout-padding flex>
      <label>Postal Code<span style="color:red">*</span></label>
      <input ng-model="store.user.address.pinCode" valid-number ng-required="true">
    </md-input-container>
    </div>
    </div>
    </div>
    
    <!-- <section layout="row" layout-sm="column" layout-align="start center" layout-wrap>
    	<md-button class="md-raised md-success padd-50" ng-click="updateStore();" ng-disabled="storeForm.$invalid">Update</md-button>
    	<md-button class="md-raised md-cancel padd-50" ui-sref="app.store">Cancel</md-button>
    </section> -->
    
    <div layout="row" layout-sm="column">
		  	<div flex>
		  		<section layout="row" layout-padding layout-sm="column" layout-align="start center" layout-wrap>
			    	<md-button class="md-raised md-primary padd-50" ng-click="updateStore();" ng-disabled="storeForm.$invalid">Update</md-button>
			    	<md-button class="md-raised md-warn padd-50" ui-sref="app.store">Cancel</md-button>
			    </section>
		  	</div>
		  </div>	
		  
    </form>
    </md-content>
</md-card>