<md-card flex-gt-sm="90" flex-gt-md="80" class="tbl-body">


	<div layout-sm="column" style="padding: 0px 16px;" layout="row"  ng-init="getSalesOrderReturnList()">
  		<h3 layout-align="start">Sales Order Return</h3>
  		<div class="tbl-search padd-t14">
  			<ng-md-icon icon="search"  class="icon-white" ></ng-md-icon>
  			<search-text  original-list="originalList" filtered-list="salesOrderReturnList" pagination="salesOrderPagination" total-records="noOfRecords"/>
  		</div>
    	 </div>
    	 
    	 
<md-data-table-container>
<table md-data-table class="md-primary"
	md-progress="deferred">
	<thead >
		<tr class="tbl-header">
              <th name="Customer"></th>
              <th  name="Ref-no"></th>
              <th  name="Reason"></th>
              <th  name="Total Amount"></th>
              <th  name="Status"></th>
              <th  name="Tax Amount"></th>
              <th  name="Shipping Charge"></th>
              <th  name="Paid"></th>
              <th  name="Process"></th>
              <th  name="View Details"></th>
            </tr>
	</thead>
	<tbody>
		<tr ng-repeat="salesOrderreturn in salesOrderReturnList ">
			<td>{{salesOrderreturn.salesOrder.addressVo.name}}</td>
			<td>{{salesOrderreturn.salesOrder.orderNo}}</td>	
			<td>{{salesOrderreturn.returnReason}}</td>
			<td>{{salesOrderreturn.returnTotalAmount}}</td>
			<td>{{salesOrderreturn.returnStatus}}</td>
			<td>{{salesOrderreturn.returnTaxAmount}}</td>
			<td>{{salesOrderreturn.shippingCharge}}</td>
			<td>{{salesOrderreturn.ispaid}}</td>
			<td ng-if="salesOrderreturn.ispaid=='Y'" ><md-button ng-disabled="true" class="md-raised md-primary">Process</md-button></td>
			<td ng-if="salesOrderreturn.ispaid=='N' && salesOrderreturn.salesOrder.paymentMethod=='WT' "><md-button class="md-raised md-primary" ng-click="processRefundRequest(salesOrderreturn)">Process</md-button></td>
			<td><md-button class="md-success" ng-click="getSalesOrderReturnLineDetails(salesOrderreturn)">VIEW DETAILS</md-button></td>
		</tr>
	</tbody>
</table>
</md-data-table-container> 
<div layout layout="row" class="table-pagination-bg" layout-align="center center">
<md-data-table-pagination md-limit="salesOrderPagination.limit" md-page="salesOrderPagination.page"
	md-total="{{noOfRecords}}" md-trigger="onpagechange"></md-data-table-pagination>
</div>
</md-card>


<!-- 
<form method="post" id="return-form" name="frmTransaction">
<input name="Action" type="hidden" value="refund">
<input name="AccountID" type="hidden" value="18984">
<input name="SecretKey" type="hidden" value="2abfa552700f8cf9b9cbdb22909dacfa">
<input name="Amount" type="hidden" value="10.00"> 
<input name="PaymentID" type="hidden" value="46686456">
<input name="submitted" value="Submit" type="submit" ng-click="submitOrderReturnForm">
</form >
 -->
