<a ui-sref="app.newshippingcharges">
	<md-button class="md-fab" aria-label="Eat cake" style="position: fixed; right: 23px; bottom: 23px; line-height: inherit; margin-bottom: 0; z-index: 998;">
		<ng-md-icon icon="add" size="35" class="icon-white" ></ng-md-icon>
	</md-button>
</a>
<md-card flex-gt-sm="90" flex-gt-md="80" ng-init="getShippingCharges()" class="tbl-body">
 <md-toolbar class=" md-default-theme" style="background-color:transparent;">
	<div class="md-toolbar-tools" layout="row">
  		<h3 layout-align="start" class="noborder">Shipping Charges</h3>
  		<!-- <div class="tbl-search">
  			<ng-md-icon icon="search"  class="icon-white" ></ng-md-icon>
  			<input ng-model="searchTxt" placeholder="Search">
  		</div> -->
  		
    <!-- 	<span class="flex"></span>
	 <div class="md-toolbar-tools padd-0 wid-50" ng-show="showSearch">
	      <md-input-container md-theme="input" flex>
	        <label>&nbsp;</label>
	        <input ng-model="searchTxt" style="color: white; border-bottom-color: white;" placeholder="enter search">
	      </md-input-container>
	      <md-button aria-label="Search" style="line-height: inherit; min-width: inherit;" ng-click="showSearch = !showSearch;srch = true;">
	        <ng-md-icon icon="search" class="icon-white"></ng-md-icon>
	      </md-button>
	  </div>
      <md-button ng-show="srch" layout-align="end" style="line-height: inherit; min-width: inherit;" aria-label="Search" ng-click="showSearch = !showSearch; srch = false;">
       <ng-md-icon icon="search"  class="icon-white" ></ng-md-icon>
      </md-button> -->
    </div>
   </md-toolbar>
  <!--  <div layout="row" flex class="pro-header">
      		<div flex="10">&nbsp;</div>
      		<div flex="20">Charging Amount</div>
      		<div flex="20">Amount Range</div>
      	</div> -->
   
   <md-card-content class="nopadd">
	<md-data-table-container>
     <md-list>
     	<md-item class="data-table-list " md-data-table>
         <md-item-content layout="row" layout-padding class="tbl-header ">
          <div layout="row" layout-wrap class="full_wid tbl-header ">
	         	<span flex=30 style="padding-left:20px;" layout-align="start center" layout>
		         	Charging Amount
	            </span>
	           	<span flex=40 layout-align="start center" layout>
	             	Amount Range
	           	</span>	
	           	<span flex=30 layout-align="center center" layout>
	             	Actions
	           	</span>	
            </div>
         </md-item-content>
        
       </md-item>
       
       
       <md-item md-data-table ng-repeat="shippingCharge in shippingChargeList | filter:searchTxt | orderBy: storePagination.order | limitTo: storePagination.limit: (storePagination.page - 1) * storePagination.limit" class="md-table-content-row"" ng-click="redirectToStoreDetails(store);">
         <md-item-content layout="row" layout-padding>
          <div layout="row" layout-wrap class="full_wid tbl-body">
         	
           	<span flex=30 layout="row"  layout-align="start center">
            	 <span layout-padding class="shopname" ><strong>{{shippingCharge.chargingAmount}}</strong></span>
           	</span>
           	 <span flex=40 layout="row" layout-align="start center">
             	<span layout-padding class="shopname" ><strong>{{shippingCharge.amountRange}}</strong></span>
           	 </span>
             <span flex=30 layout="row" layout-align="center center">
                <!-- <md-button style="z-index:500;" class="md-icon-button md-primary" ng-click="" aria-label="Edit"> -->
                <md-button class="md-icon-button md-primary" ng-click="redirectToEditShippingCharge(shippingCharge);$event.stopPropagation();" aria-label="Edit">
        			<ng-md-icon icon="mode_edit" size="20" class="icons hash_color btn-success"></ng-md-icon>
      			</md-button>
             	<!-- <md-button style="z-index:500;" class="md-icon-button md-primary" ng-click="deleteStore(store.storeId);$event.stopPropagation();" aria-label="Delete"> -->
             	<md-button class="md-icon-button md-primary" ng-click="deleteShippingCharge(shippingCharge);$event.stopPropagation();" aria-label="Delete">
             		<ng-md-icon icon="close" size="20" class="icons hash_color btn-danger"></ng-md-icon>
             	</md-button>
             </span>
            </div>
         </md-item-content>
         <md-divider></md-divider>
       <md-divider></md-divider>
       </md-item>
     </md-list>
	</md-data-table-container>
   </md-card-content>
  
</md-card>
 <div layout layout="row" class="table-pagination-bg" layout-align="end end">
	<md-data-table-pagination md-limit="storePagination.limit" md-page="storePagination.page" md-total="{{shippingChargeList.length}}" md-trigger="onpagechange"></md-data-table-pagination>
	</div>
