<div>
<h3>How could you like to checkout this favourite List?</h3>

				<div  layout="row" layout-align="start start">
					<md-button class="md-raised md-primary" style="background-color:#55A707 ; color:#FFFFFF;" ng-click="favouriteToCheckout();">Only this Favourite List</md-button>
				</div>
				<div layout="row" layout-align="start start">
					<md-button class="md-raised md-primary" style="background-color:#448CCB; color:#FFFFFF;" ng-click="addFavouriteToCart();">Along With cart list </md-button>
				</div>


</div>