<!-- <link rel="stylesheet" href="assets/css/favourites.css"> -->


	<div layout="row" layout-align="center center">
      <span class="md-display-1" style="margin:30px 20px 20px 20px;">
      <!-- 	Would you like to add this order into your favourite.  -->
      Choose one of your favourite list to add this order
      </span>
    </div>
<md-card style="width:600px; margin:0px auto">
<div class="content">
  <div class="list" tabindex="1">
    
 <div class="list-content">
 <md-content>
    <md-list>
      <md-list-item class="md-1-line md-long-text" ng-click="favouritName = 'Monthly List';addFavourite();">
        <div class="md-list-item-text">
          <p>
            Monthly List
          </p>
        </div>
      </md-list-item>
      <md-divider ></md-divider>
       <md-list-item class="md-1-line md-long-text" ng-click="favouritName = 'Weekly List';addFavourite();">
        <div class="md-list-item-text">
          <p>
             Weekly List
          </p>
        </div>
      </md-list-item>
      <md-divider ></md-divider>
            <md-list-item class="md-1-line md-long-text" ng-click="favouritName = 'Quarterly List';addFavourite();">
        <div class="md-list-item-text">
          <p>
            Quarterly List
          </p>
        </div>
      </md-list-item>
      <md-divider ></md-divider>
       <md-list-item class="md-1-line md-long-text" ng-click="favouritName = 'Party List';addFavourite();">
        <div class="md-list-item-text">
          <p>
           Party List
          </p>
        </div>
      </md-list-item>
      <md-divider ></md-divider>
      <md-list-item class="md-1-line md-long-text" >
        <div layout="row" style="padding:0px 16px; width:100%;">
        	<div flex>
		        <md-input-container class="md-block" flex-gt-sm>
		          <label>Others</label>
		          <input ng-model="">
		        </md-input-container>
		    </div>    
	        <div flex style="margin-top:12px;">
	        	<md-button class="md-raised md-primary" style="background-color:#6EAB10 !important">ADD</md-button>
	        </div>
        </div>
      </md-list-item>
    </md-list>
    </md-content>
    </div>
  </div>
</div>

</md-card>
<!-- <section class="address-section" layout="column">
    <p class="address-title md-headline">Make This Order as Favourite</p>
    <div class="address-container" layout="row" layout-wrap layout-align="center">

            <div layout layout-sm="column">
  			<label>Favourite Name</label>
                <md-input-container flex>
					<select ng-model="favouritName">
 						  <option value="monthlyList">Monthly List</option>
 						  <option value="quartelyList">Quarterly List</option>
 						  <option value="partyList">Party List</option>
 						  <option value="weeklyList">Weekly List</option>
					</select>
                </md-input-container>
            </div>
            
           <div layout="" layout-align="center" ng-click="addFavourite();">
                <md-button class="md-raised">Add Favourite</md-button>
            </div>
    </div>
</section>
<div layout layout-sm="column">Skip it</div> -->
