<!-- <style>
	body,html{background-color:#eeeeee; width:100%; height:100%; padding:0px; margin:0px;}
	.pro-box{ background-color:#FFFFFF; box-shadow:0px 0px 2px rgba(0,0,0,0.5); min-height:300px; padding:10px 15px !important;}
	.text-primary{ color:#72a308}
	.text-left{ text-align:left;}
	.text-right{ text-align:right;}
	.addtocart-btn{ border:2px solid #72a308; height:50px;}
	.bg-primary{ background-color:#72a308; color:#FFFFFF;}
	.bg-white{ background-color:#ffffff;}
	.text-primary{color:#72a308;}
</style>
<div layout="column" style="width:99%; margin:0px auto; margin-top: 10px; margin-bottom: 128px;">	
	<md-card>
		
		<md-card-content>
			<div flex layout="row" style="border-bottom:2px solid #eeeeee;">
				<div flex >
					<span class="md-headline">My Favourite product</span>
				</div>
				
			</div>
			
		
			
			
			
			<div ng-repeat="product in productInFavourite.productList" flex layout="row" style="border-bottom:2px solid #eeeeee; padding:10px 0px 0px 0px; ">
				<div style="width:80px;">
					<img src="{{product.product.image.url}}" style="width:60px; padding:5px;"/>
				</div>
				<div flex="30" layout="column">
					<div  class="md-subhead">{{product.product.name}}</div>
					<div  class="md-body-1">{{product.product.measurement}}{{product.productUnitOfMeasure.abbreviation}}</div>
					<div  class="md-body-1" style="margin-top:3px;">Rs.{{product.product.price }}</div>
				</div>
				<div flex="20" layout="row" layout-align="center center">
					<span>{{product.qty}}</span>
                           	</div>
				<div flex="15" layout="row" layout-align="center center">
			</div>
				<div flex="20" layout="row" layout-align="center center">
					<span>Rs.{{product.product.price * product.qty}}</span>
				</div>
				
			</div>
			
			
		</md-card-content>
		<div class="md-actions" >

			<div flex layout="row"  style=" padding:16px  ">
				
				<div  layout="row" layout-align="start start">
					<md-button class="md-raised" ui-sref="app.home" style="background-color:#DE4A4A; color:#FFFFFF;">Continue Shopping</md-button>
					
				</div>
				<div  layout="row" layout-align="start start">
					<md-button class="md-raised md-primary" style="background-color:#55A707 ; color:#FFFFFF;" ng-click="addFavouriteToCart(productInFavourite.favouriteId);">Add to  Cart</md-button>
				</div>
								<div layout="row" layout-align="start start">
					<md-button class="md-raised md-primary" style="background-color:#448CCB; color:#FFFFFF;" ng-click="conformFavourite(productInFavourite.favouriteId);">Proceed to checkout</md-button>
				</div>
			</div>
		</div>
	</md-card>
 
</div>  -->


<style>
	body,html{ width:100%; height:100%; padding:0px; margin:0px;}
	.pro-box{ background-color:#FFFFFF; box-shadow:0px 0px 2px rgba(0,0,0,0.5); min-height:300px; padding:10px 15px !important;}
	.text-primary{ color:#72a308}
	.text-left{ text-align:left;}
	.text-right{ text-align:right;}
	.addtocart-btn{ border:2px solid #72a308; height:50px;}
	.bg-primary{ background-color:#72a308; color:#FFFFFF;}
	.bg-white{ background-color:#ffffff;}
	.text-primary{color:#72a308;}
</style>

<div layout="column" style="width:90%; margin:0px auto; margin-top: 80px; margin-bottom: 128px;">	
	<md-card>
		
		<md-card-content>
			<div flex layout="row" style="border-bottom:2px solid #eeeeee;">
				<div flex >
					<h2>My Favourite product</h2>
				</div>
				
			</div>
			
			
			
<md-list-item ng-repeat="product in productInFavourite.productList" style="border-bottom:2px solid #eeeeee; margin: 10px 0px; padding-bottom: 10px;">
	<div class="md-list-item-text padd-l20 padd-lr0" flex="15" flex-md="10" flex-sm="15" >
		
		<img class="mycart-img" src="{{product.product.image.url}}" style="width:60px; padding:5px;"/>
	</div>
    <div class="md-list-item-text padd-l20  padd-l10 marg-l10" layout="column" flex="35" flex-md="30" flex-sm="25">
     	<span class="md-title font-16">{{product.product.name}}</span>
     	<span class="md-subhead font-14">{{product.product.measurement}}{{product.productUnitOfMeasure.abbreviation}}</span>
     	<span class="md-subhead font-14">Rs.{{product.product.price }}</span>
     	<div ng-if="product.qty > product.product.productInventory.availableQty" class="md-list-item-text padd-l10 marg-l10">
		        	<span  class="md-title font-13" style="color:red">Out Of Stock</span>
		         </div>
    </div>
   	<div class="md-list-item-text padd-l30 padd-l10 marg-l10" flex="20" flex-md="30" flex-sm="25">
   		<div class="cart-count">
  			
			<span>{{product.qty}}</span>
			
		</div>
	</div>
	                
	<div class="md-list-item-text padd-l30 padd-lr0 marg-l-15" flex="20" flex-md="20" flex-sm="25">
		<span class="md-title font-16">Rs.{{product.product.price * product.qty}}</span>				
	</div>
	
           
</md-list-item>
		   <div class="md-list-item-text marg-l-15" flex="10" flex-md="10" flex-sm="10" layout-align="end">
		<div flex layout="row"  style=" padding:16px  ">
				
				<div  layout="row" layout-align="start start">
					<md-button class="md-raised" ui-sref="app.home" style="background-color:#DE4A4A; color:#FFFFFF;">Continue Shopping</md-button>
					
				</div>
				<div  layout="row" layout-align="start start">
					<md-button class="md-raised md-primary" style="background-color:#55A707 ; color:#FFFFFF;" ng-click="addFavouriteToCart(productInFavourite.favouriteId);">Add to  Cart</md-button>
				</div>
								<div ng-if="productInFavourite.flag" layout="row" layout-align="start start">
					<md-button ng-disabled="true" class="md-raised md-primary" style="background-color:#448CCB; color:#FFFFFF;" ng-click="conformFavourite(productInFavourite.favouriteId);">Proceed to checkout</md-button>
				</div>
				<div ng-if="!productInFavourite.flag" layout="row" layout-align="start start">
					<md-button class="md-raised md-primary" style="background-color:#448CCB; color:#FFFFFF;" ng-click="conformFavourite(productInFavourite.favouriteId);">Proceed to checkout</md-button>
				</div>
			</div>
	</div>  		
		</md-card-content>
		
	</md-card>
 
</div> 


