<!-- <link rel="stylesheet" href="assets/css/favourites.css"> -->

<div class="fav-container">
<div layout-gt-sm="row" layout-sm="column">
	<div layout  flex style="padding:60px 30px 0px 30px;">
		<div class="md-headline">
      	 	<h1 class="md-title text-center">Your order for groceries has been successfully placed.</h1> 
      	 	<h2 class="md-subhead text-center">It will be delivered by 28-Jan at 11am.</h2> 
      	 	<h3 class="md-title text-center">Thank you for shopping at ShopsBacker.</h3>
        </div>
	</div>
	<div flex layout-margin>
		<div layout="column" layout-align="center center">
      <div class="md-headline" style="margin:30px 20px 20px 20px; color:#31A9B8;'">
      	<!-- Successfully your order has been placed -->
      	 Create your wish list for your next one tap shop
      </div>
    
      <!--  <div class="md-headline">
      	 Create your wish list for your next one tap shop
      </div> -->
    </div>
   
    <md-card style="width:100%; padding:20px; margin:10px auto; ">
    
      <div  layout="column" layout-align="center center">
      	<div flex style="width:100%;">
      		<md-input-container class="md-block" flex-gt-sm>
		          <label>Type your Favorite Name</label>
		          <input ng-model="favouriteName" ng-required="true">
		    </md-input-container>
      	</div>
      	<div flex style="width:100%; margin-top:5px; text-align:center;">
      		<span>Or</span>
      	</div>
      	<div flex style="width:100%;">
      		<md-input-container>
		        <label>Choose from your default list</label>
		        <md-select ng-model="favouriteName" >
		          <md-option  value="Monthly List" ng-click="favouriteName = 'Monthly List';">Monthly List</md-option>
		          <md-option  value="Weekly List" ng-click="favouriteName = 'Weekly List';">Weekly List</md-option>
		          <md-option  value="Quarterly List" ng-click="favouriteName = 'Quarterly List';">Quarterly List</md-option>
		          <md-option  value="Party List" ng-click="favouriteName = 'Party List';">Party List</md-option>
		        </md-select>
		      </md-input-container>
      	</div>
      	<div layout="row" flex style="width:100%;">
      		<md-button ng-disabled="!favouriteName" class="md-raised " style="background-color:#4eaf4c; color:#FFFFFF;" ng-click="addFavourite();">ADD</md-button>
      		<md-button class="md-raised " ui-sref="app.home">SKIP</md-button>
      	</div>
      </div>
      
      </md-card>
	</div>
</div>
</div>

<!-- 	<div layout="column" layout-align="center center">
      <div class="md-display-1" style="margin:30px 20px 20px 20px; color:#31A9B8;'">
      	Successfully your order has been placed
      </div>
      <div class="md-display-1" style="width:400px; border-bottom:3px dotted red; margin:10px 0px 40px 0px; "></div>
       <div class="md-headline">
      	 Create your wish list for your next one tap shop
      </div>
    </div>
   
    <md-card style="width:540px; padding:20px; margin:10px auto; ">
    
      <div  layout="column" layout-align="center center">
      	<div flex style="width:500px;">
      		<md-input-container class="md-block" flex-gt-sm>
		          <label>Type your Favorite Name</label>
		          <input ng-model="favouriteName" ng-required="true">
		    </md-input-container>
      	</div>
      	<div flex style="width:500px; margin-top:5px; text-align:center;">
      		<span>Or</span>
      	</div>
      	<div flex style="width:500px;">
      		<md-input-container>
		        <label>Choose from your default list</label>
		        <md-select ng-model="favouriteName" >
		          <md-option  value="Monthly List" ng-click="favouriteName = 'Monthly List';">Monthly List</md-option>
		          <md-option  value="Weekly List" ng-click="favouriteName = 'Weekly List';">Weekly List</md-option>
		          <md-option  value="Quarterly List" ng-click="favouriteName = 'Quarterly List';">Quarterly List</md-option>
		          <md-option  value="Party List" ng-click="favouriteName = 'Party List';">Party List</md-option>
		        </md-select>
		      </md-input-container>
      	</div>
      	<div layout="row" flex style="width:500px;">
      		<md-button ng-disabled="!favouriteName" class="md-raised " style="background-color:#4eaf4c; color:#FFFFFF;" ng-click="addFavourite();">ADD</md-button>
      		<md-button class="md-raised " ui-sref="app.home">SKIP</md-button>
      	</div>
      </div>
      
      </md-card> -->
      
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
<!-- <md-card style="width:600px; margin:0px auto">
<div class="content">
  <div class="list" tabindex="1">
    
 <div class="list-content">
 <md-content>
    <md-list>
      <md-list-item class="md-1-line md-long-text" ng-click="favouriteName = 'Monthly List';addFavourite();">
        <div class="md-list-item-text">
          <p>
            Monthly List
          </p>
        </div>
      </md-list-item>
      <md-divider ></md-divider>
       <md-list-item class="md-1-line md-long-text" ng-click="favouriteName = 'Weekly List';addFavourite();">
        <div class="md-list-item-text">
          <p>
             Weekly List
          </p>
        </div>
      </md-list-item>
      <md-divider ></md-divider>
            <md-list-item class="md-1-line md-long-text" ng-click="favouriteName = 'Quarterly List';addFavourite();">
        <div class="md-list-item-text">
          <p>
            Quarterly List
          </p>
        </div>
      </md-list-item>
      <md-divider ></md-divider>
       <md-list-item class="md-1-line md-long-text" ng-click="favouriteName = 'Party List';addFavourite();">
        <div class="md-list-item-text">
          <p>
           Party List
          </p>
        </div>
      </md-list-item>
      <md-divider ></md-divider>
      <md-list-item class="md-1-line md-long-text" >
        <div layout="row" style="padding:0px 16px; width:100%;">
        	<div flex>
		        <md-input-container class="md-block" flex-gt-sm>
		          <label>Others</label>
		          <input ng-model="favouriteName">
		        </md-input-container>
		    </div>    
	        <div flex style="margin-top:12px;">
	        	<md-button class="md-raised md-primary" style="background-color:#6EAB10 !important" ng-click="addFavourite();">ADD</md-button>
	        	<md-button class="md-raised " ui-sref="app.home">SKIP</md-button>
	        </div>
        </div>
      </md-list-item>
    </md-list>
    </md-content>
    </div>
  </div>
</div> 

</md-card>-->
<!-- <section class="address-section" layout="column">
    <p class="address-title md-headline">Make This Order as Favourite</p>
    <div class="address-container" layout="row" layout-wrap layout-align="center">

            <div layout layout-sm="column">
  			<label>Favourite Name</label>
                <md-input-container flex>
					<select ng-model="favouriteName">
 						  <option value="monthlyList">Monthly List</option>
 						  <option value="quartelyList">Quarterly List</option>
 						  <option value="partyList">Party List</option>
 						  <option value="weeklyList">Weekly List</option>
					</select>
                </md-input-container>
            </div>
            
           <div layout="" layout-align="center" ng-click="addFavourite();">
                <md-button class="md-raised">Add Favourite</md-button>
            </div>
    </div>
</section>
<div layout layout-sm="column">Skip it</div> -->
