
<style>
	body,html{ width:100%; height:100%; padding:0px; margin:0px;}
	.pro-box{ background-color:#FFFFFF; box-shadow:0px 0px 2px rgba(0,0,0,0.5); min-height:300px; padding:10px 15px !important;}
	.text-primary{ color:#72a308}
	.text-left{ text-align:left;}
	.text-right{ text-align:right;}
	.addtocart-btn{ border:2px solid #72a308; height:50px;}
	.bg-primary{ background-color:#72a308; color:#FFFFFF;}
	.bg-white{ background-color:#ffffff;}
	.text-primary{color:#72a308;}
</style>

<div layout="column" style="width:90%; margin:0px auto; margin-top: 80px; margin-bottom: 128px;">	
	<md-card>
		
		<md-card-content>
			<div flex layout="row" style="border-bottom:2px solid #eeeeee;">
				<div flex >
					<h2>My Cart</h2>
					<!-- <h4 ng-if="myCart.flag" style="color:red">{{myCart.message}}</h4> -->
				</div>
				
			</div>
			
			<md-list-item layout-wrap ng-repeat="product in myCart.cartItem" style="border-bottom:2px solid #eeeeee; margin: 10px 0px; padding-bottom: 10px;">
		      <div class="md-list-item-text padd-l20 padd-lr0" flex="15" flex-md="10" flex-sm="15" >
		      	<div ng-if="product.product.price > product.discountPrice"  class="save-offer ng-scope md-success">
					      					<img class="save" src="assets/images/save.png" />
					      					<span style="margin-left:11px;">
					      					Save </br> {{(product.product.price - product.discountPrice) * (product.qty) | number:2}}</span>
                </div>
		     	<img class="mycart-img" src="{{product.product.image.url}}"/>
		     </div>
		         <div class="md-list-item-text padd-l20  padd-l10 marg-l10" layout="column" flex="35" flex-md="30" flex-sm="25">
		          <span class="md-title font-16">{{product.product.name}}</span>
		          <span class="md-subhead font-14">Rs.{{product.discountPrice }}</span>
		          <div ng-if="product.qty > product.product.productInventory.availableQty" class="md-list-item-text padd-l10 marg-l10">
		        	<span  class="md-title font-13" style="color:red">Out Of Stock</span>
		         </div>
		        </div>
		        
		        	<div class="md-list-item-text padd-l30 padd-l10 marg-l10" flex="20" flex-md="30" flex-sm="25">
		        	<div class="cart-count">
		       		<md-button ng-show="product.qty > 0" class="md-icon-button" aria-label="More" ng-click="product.product.noOfQuantityInCart = product.qty - 1;addToCart(product.product)">
                          <!-- <md-icon md-svg-icon="assets/img/checkout/add.svg"></md-icon> -->
                          <ng-md-icon icon="remove" style="fill: #fff" size="22"></ng-md-icon> 
                    </md-button>
                    <md-button ng-hide="product.qty > 0" class="md-icon-button" aria-label="More" ng-click="">
                          <!-- <md-icon md-svg-icon="assets/img/checkout/add.svg"></md-icon> -->
                          <ng-md-icon icon="remove" style="fill: #fff" size="22"></ng-md-icon> 
                    </md-button>
					<span>{{product.qty}}</span>
					<md-button class="md-icon-button" aria-label="More" ng-click="product.product.noOfQuantityInCart = product.qty + 1;addToCart(product.product)">
                        <!-- <md-icon md-svg-icon="assets/img/checkout/subtract.svg"></md-icon> -->
                        <ng-md-icon icon="add" style="fill: #fff" size="22"></ng-md-icon> 
                    </md-button>
                    </div>
                    </div>
                    
                    <div class="md-list-item-text padd-l30 padd-lr0 marg-l-15" flex="20" flex-md="20" flex-sm="25">
					<span class="md-title font-16">Rs.{{product.discountPrice * product.qty | number:2}}</span>				
				</div>
				<!-- <h6 flex ng-if="product.product.price > product.discountPrice" >save {{(product.product.price - product.discountPrice) * (product.qty) | number:2}}</h6> -->
					<div class="md-list-item-text marg-l-15" flex="10" flex-md="10" flex-sm="10" layout-align="end">
                   <md-button class="md-icon-button cart-remove" aria-label="More" ng-click="removeFromMyCart(product,$index);">
                         <!-- <md-icon md-svg-icon="assets/img/checkout/close1.svg"></md-icon> -->
                          <ng-md-icon icon="highlight_remove" style="fill: #F96D57" size="30"></ng-md-icon>
                         <md-tooltip md-direction="bottom">Remove from cart</md-tooltip>
                     </md-button> 
                     </div>
                     
                     
                     
                     <div layout="row" flex="100" layout-wrap>
                     	<div flex="100"  class="padd-l80">
                     		<h1 class="md-title">Combo Products</h1>
                     	</div>
                     	<div layout="row" flex="100">
	                     	<div class="padd-l80" flex="15" flex-md="10" flex-sm="15" >
	                     		<img  src="{{product.product.image.url}}" height="30"/>
	                     	</div>
	                     	<div layout="row" class="padd-l20" flex="35" flex-md="30" flex-sm="25" >
	                     		<span class="md-body">Product Name - Rs 230</span>
	                     	</div>
                     	</div>
                     	<div layout="row" flex="100">
	                     	<div class="padd-l80" flex="15" flex-md="10" flex-sm="15" >
	                     		<img  src="{{product.product.image.url}}" height="30"/>
	                     	</div>
	                     	<div layout="row" class="padd-l20" flex="35" flex-md="30" flex-sm="25" >
	                     		<span class="md-body">Product Name - Rs 230</span>
	                     	</div>
                     	</div>
                     </div>
		      </md-list-item>
		     		
		</md-card-content>
		<div class="md-actions" >
			<div layout="row" layout-sm="column" layout-padding>
				<div flex layout="column" layout-align="start" class="cart-btm">
				      <span class="md-subhead">Sub total -  <span ng-bind-html="myCart.cartTotalAmount | currency : rupeesSymbol"></span></span>
						<span class="md-subhead">Shipping Charges -  <span ng-bind-html="myCart.shippingCharges | currency : rupeesSymbol"></span></span>
						<div ng-repeat="tax in myCart.taxs">
						<span class="md-subhead">{{tax.name}} ({{tax.taxPercentage}}%) - <span ng-bind-html="tax.rate | currency : rupeesSymbol"></span></span>
						</div>						
				</div>
				<div flex layout="column" layout-align="end end" layout-align-sm="start start">
					<span layout="row" class="md-title">Cart Total Amount : <span ng-bind-html="myCart.grossAmount | currency : rupeesSymbol"></span>			
					</span>
				</div>
			</div>
			
			<div flex layout="row" layout-sm="column" layout-padding>
				
				<div flex layout="column" layout-align="start start" layout-align-sm="center center">
					<md-button class="cart-btm-btns" style="background: #ED6663;" ui-sref="app.home">Continue Shopping</md-button>
					
				</div>
				<div ng-if="!myCart.flag" flex layout="column" layout-align="end end" layout-align-sm="center center" ng-show="myCart.cartItem.length > 0">
					<md-button class="cart-btm-btns green_btn_clr" style="width: auto;"  ng-click="checkOutfromcart();">Proceed To Checkout</md-button>
				</div>
				<div ng-if="myCart.flag" flex layout="column" layout-align="end end" layout-align-sm="center center" ng-show="myCart.cartItem.length > 0">
					<md-button ng-disabled="true" class="cart-btm-btns green_btn_clr" style="width: auto;"  ng-click="checkOutfromcart();">Proceed To Checkout</md-button>
				</div>
			</div>
		</div>
	</md-card>
 
</div>






