<md-card flex-gt-sm="90" flex-gt-md="80">
	<md-toolbar ng-hide="warehouse.isprocessed" class=" md-default-theme">
		<div class="md-toolbar-tools" layout="row">
	  		<h2 layout-align="start" ng-show="movement.movementId">Edit Movement</h2>
	  		<h2 layout-align="start" ng-hide="movement.movementId">Add Movement</h2>
	    	<span class="flex"></span>
	    	<span ng-show="movement.movementId">{{movement.name}} {{movement.warehouse.name}}</span>
	    	
	    	<md-input-container flex class="padd-50" ng-hide="movement.movementId">
	          <label>Warehouse</label>
	          <md-select ng-model="warehouse" style="min-width: 200px;" ng-change = "setStoragebin(warehouse)">
	     		 <md-option ng-value="{{warehouse}}" ng-repeat="warehouse in warehouseData">
	     		 	{{warehouse.name}}
	     		 </md-option>
	    	  </md-select>
		    </md-input-container> 
	      	<span class="close_box" ng-click="backToDetails();">
		    	<ng-md-icon class="icon-white svgstyle" size="35" icon="close"></ng-md-icon> 
		  	</span>   
	    </div>
    </md-toolbar>
     <md-content layout-padding layout="column" layout-sm="column" class="edit-container">
	  <form name="physicalinventoryForm" novalidate>
		  <div layout layout-sm="column" ng-repeat = "movementLine in movement.movementLines" ng-dblClick="editMovementLine = movementLine">
		    <md-input-container flex style="padding: 0px 0px 0px;"> {{editMovementLine | json}}
		      <md-select ng-model="movementLine.product.productId" style="min-width: 200px;" aria-label="Movement product id" ng-disabled="movementLine.movementLineId && editMovementLine.movementLineId != movementLine.movementLineId">
	     		 <md-option ng-repeat="product in products" value="{{product.productId}}">
	     			 {{product.name}}
	     		 </md-option>
	    	  </md-select>
		    </md-input-container>
		    <md-input-container flex style="padding: 0px 0px 0px;">
		      <md-select ng-model="movementLine.toStoragebin.storagebinId" style="min-width: 200px;" aria-label="To storage bin id" ng-disabled="movementLine.movementLineId && editMovementLine.movementLineId != movementLine.movementLineId">
	     		 <md-option ng-repeat="toStoragebin in bins" value="{{toStoragebin.storagebinId}}" >
	     			 {{toStoragebin.name}} ( {{toStoragebin.stack}} - {{toStoragebin.row}} - {{toStoragebin.level}} )
	     		 </md-option>
	    	  </md-select>
		    </md-input-container>
		    <md-input-container flex style="padding: 0px 0px 0px;">
		      	<input ng-model="movementLine.qty" ng-enter="addNewRow($index);" aria-label="Product Quantity" ng-disabled="movementLine.movementLineId && editMovementLine.movementLineId != movementLine.movementLineId">
		    </md-input-container>
		    <div flex="10" >
				<div flex="20"><ng-md-icon ng-hide="movementLine.movementLineId" ng-disabled="checkAddNew($index);" icon="done" size="20" style="margin:5px" class="icons hash_color" ng-click="addNewRow($index);"></ng-md-icon></div>
				<div flex="20"><ng-md-icon ng-show="movementLine.movementLineId" icon="close" size="20"  style="margin:5px" class="icons hash_color" ng-click="removeMovementLine($index,false);"></ng-md-icon></div>
				<div flex="20"><ng-md-icon ng-show="editMovementLine" icon="done" size="20" style="margin:5px" class="icons hash_color" ng-click="updateMovementLine($index, editMovementLine);editMovementLine = '';"></ng-md-icon></div>
				<div flex="20"><ng-md-icon ng-hide="movementLine.movementLineId" icon="close" size="20"  style="margin:5px" class="icons hash_color" ng-click="removeMovementLine($index,true);"></ng-md-icon></div>
				<div flex="20"><ng-md-icon ng-if="$last" ng-show="movementLine.movementLineId" icon="plus_one" size="20"  style="margin:5px" class="icons hash_color" ng-click="addNewRow($index);"></ng-md-icon></div>
			</div>
		  </div>
		<section layout="row" layout-align="start center" layout-wrap class="padd-50 padd-t30">
	    	<md-button class="md-raised md-success  prdct-btns" ng-click="processMovement();" ng-disabled="movement.movementId == undefined">Process</md-button>
	    	<md-button class="md-raised md-cancel prdct-btns" ng-click="backToDetails();">Cancel</md-button>
	    </section> 
	  </form>
   	</md-content>
</md-card>

