<md-card flex-gt-sm="90" flex-gt-md="80">
	<md-toolbar ng-hide="warehouse.isprocessed" class=" md-default-theme">
		<div class="md-toolbar-tools" layout="row">
	  		<h2 layout-align="start">Add Movement</h2>
	    	<span class="flex"></span>
	    	<span hd-show="isMovementAdded">{{movement.name}} {{movement.warehouse.name}}</span>
	    	
	    	<md-input-container flex class="padd-50" hd-hide="isMovementAdded">
	          <label>Warehouse</label>
	          <md-select ng-model="warehouse" style="min-width: 200px;" ng-change = "setStoragebin(warehouse)">
	     		 <md-option ng-value="{{warehouse}}" ng-repeat="warehouse in warehouseData">
	     		 	{{warehouse.name}}
	     		 </md-option>
	    	  </md-select>
		    </md-input-container> 
	      	<span class="close_box" ui-sref="app.physical_inv">
		    	<ng-md-icon class="icon-white svgstyle" size="35" icon="close"></ng-md-icon> 
		  	</span>   
	    </div>
    </md-toolbar>
       <md-content md-theme="docs-dark" layout-padding layout="column" layout-sm="column" class="edit-container">
		  <form name="physicalinventoryForm" novalidate>
		  <div layout layout-sm="column" ng-repeat = "movementLine in movement.movementLines">
		    <md-input-container layout-padding  flex>
		      <md-select ng-model="movementLine.product.productId" style="min-width: 200px;" ng-required="true">
	     		 <md-option ng-repeat="product in products" value="{{product.productId}}">
	     			 {{product.name}}
	     		 </md-option>
	    	  </md-select>
		    </md-input-container>
		    <md-input-container layout-padding  flex>
		      <md-select ng-model="movementLine1.toStoragebin.storagebinId" style="min-width: 200px;" >
	     		 <md-option ng-value="{{toStoragebin.storagebinId}}" ng-repeat="toStoragebin in bins">
	     			 {{toStoragebin.name}}
	     		 </md-option>
	    	  </md-select>
		    </md-input-container>
		    <md-input-container layout-padding  flex>
		      <input ng-model="movementLine.qty" ng-required="true" ng-enter="addNewRow($index);">
		    </md-input-container>
		    <div flex="5" style="">
				<div flex="20"><ng-md-icon icon="rate_review" size="20" style="margin:5px" class="icons hash_color"></ng-md-icon></div>
				<div flex="20"><ng-md-icon icon="close" size="20"  style="margin:5px" class="icons hash_color" ng-click="removeMovementLine($index)"></ng-md-icon></div>
			</div>
		    
		  </div>
		  
		  
		  
		  
			<!-- <div layout layout-sm="column">
		        <md-input-container flex class="padd-50">
		          <label><span style="color:red">*</span>Name</label>
		          <input type="text" ng-model="physicalinventoryDetail.inventoryName" ng-required="true"/>
		        </md-input-container>
		               
			</div>
			
			<label class="padd-50 marg-t50" style="color: rgba(0,0,0,0.26);padding:18px 50px;">Description</label>
			<div layout layout-sm="row">	
			<md-input-container flex class="padd-50">
				    <textarea id="textarea1" rows="4" style="border: 1px solid #ddd;" class="materialize-textarea" ng-model="physicalinventoryDetail.description" ng-required="true"></textarea>
			</div>-->
			
			<section layout="row" layout-align="start center" layout-wrap class="padd-50 padd-t30">
		    	<md-button class="md-raised md-success  prdct-btns" ng-click="addmovement();" >Create</md-button>
		    	<md-button class="md-raised md-cancel prdct-btns" ui-sref="app.physical_inv">Cancel</md-button>
		    </section> 
		    </form>
		
    	</md-content>

</md-card>

