<md-card flex-gt-sm="90" flex-gt-md="80">
   <md-toolbar class=" md-default-theme">
    <div class="md-toolbar-tools">
      <div class="md-layout-row layout-align-start-center pt_relat">	 
			<img src="{{merchantImage}}" ng-show="merchantImage" style="display: block;width:45px; height: 45px;  border-radius: 99%;" />
		      <img src="{{merchantDetail.productImages.imageUrl}}" ng-hide="merchantImage" style="display: block;width:45px; height: 45px;  border-radius: 99%;" /> 
			     	<label class="custom-file-upload">	
					    <ng-md-icon icon="file_upload" size="20"></ng-md-icon>
					    <input id="file-upload1" type="file" ng-model="merchantImage" class="nodisplay" app-filereader ng-change="uploadFile('file-name1','file-upload1')"/>
					    <span ng-hide="true" id="file-name1" ></span>
					</label>
		     	<h3 style="padding: 0px 10px;" class="md-layout-column">Merchants</h3>     	
		    </div>  
      <span ng-hide="fromDetailsPage" class="close_box">
    	<ng-md-icon class="icon-white svgstyle" size="35" icon="close" ui-sref="app.merchants"></ng-md-icon> 
    </span> 
     <span ng-show="fromDetailsPage" class="close_box">
    	<ng-md-icon class="icon-white svgstyle" size="35" icon="close" ng-click="redirectToMerchantDetails(merchantDetail)"></ng-md-icon> 
    </span> 
    </div>
  </md-toolbar>
    <md-content md-theme="docs-dark" layout-padding layout="column" layout-sm="column" class="edit-container">
    <form name="merchant" novalidate>
    <div layout layout-sm="column">
    <md-input-container layout-padding flex>
      <label>Name<span style="color:red">*</span></label>
      <input ng-model="merchantDetail.merchantName" value="{{merchantDetail.merchantName}}">
    </md-input-container>
    <md-input-container layout-padding flex>
      <label>User Name (Email-Id)<span style="color:red">*</span></label>
      <input ng-model="merchantDetail.userName" ng-required="true" ng-disabled="true">
    </md-input-container>
    </div>
     <div layout layout-sm="column">
    <md-input-container layout-padding flex>
      <label>Password<span style="color:red">*</span></label>
      <input ng-model="merchantDetail.password" ng-required="true">
    </md-input-container>
    <md-input-container layout-padding flex>
      <label>Phone<span style="color:red">*</span></label>
      
    <input ng-model="merchantDetail.phoneNo" name="phoneNo" valid-number ng-required="true" ng-maxlength="19">
      <span ng-message="required" ng-show="merchant.phoneNo.$error.maxlength" style="color:red;">
       Enter phoneNo within 20 digit</span>
		      
      
    </md-input-container>
    </div>
     <div layout layout-sm="column">
    <md-input-container layout-padding flex>
      <label>Address-1<span style="color:red">*</span></label>
      <input ng-model="merchantDetail.address" ng-required="true">
    </md-input-container>
      <md-input-container layout-padding flex>
      <label>Address-2<span style="color:red">*</span></label>
      <input ng-model="merchantDetail.address1" ng-required="true">
    </md-input-container>
    </div>
     <div layout layout-sm="column">
      <md-input-container layout-padding flex>
      <label>City<span style="color:red">*</span></label>
      <input ng-model="merchantDetail.city" ng-required="true">
    </md-input-container>
    <md-input-container layout-padding flex>
      <label>State<span style="color:red">*</span></label>
      <input ng-model="merchantDetail.state" ng-required="true">
    </md-input-container>
    </div>
     <div layout layout-sm="column">
      <md-input-container layout-padding flex>
      <label>Country<span style="color:red">*</span></label>
      <input ng-model="merchantDetail.country" ng-required="true">
    </md-input-container>
      <md-input-container layout-padding flex>
      <label>Postal Code<span style="color:red">*</span></label>
      <input valid-number ng-model="merchantDetail.postalCode" ng-required="true">
    </md-input-container>
    </div>
    <section layout="row" layout-padding layout-sm="column" layout-align="start center" layout-wrap>
    	<md-button class="md-raised md-success padd-50" ng-click="updateMerchant();" ng-disabled="merchant.$invalid">Update</md-button>
    	<md-button class="md-raised md-cancel padd-50" ui-sref="app.merchants">Cancel</md-button>
    </section>
    </form>
    </md-content>
</md-card>
