
   <md-toolbar class=" md-default-theme" style="background-color:transparent;">
    <div class="md-toolbar-tools">
      	<!--<div class="md-layout-row layout-align-start-center pt_relat">	 
			 <img src="{{merchantLogo}}" ng-show="merchantLogo" style="display: block;width:45px; height: 45px;  border-radius: 99%;" />
		      <img src="{{merchantDetail.logo.url}}" ng-hide="merchantLogo" style="display: block;width:45px; height: 45px;  border-radius: 99%;" /> 
			     	<label class="custom-file-upload">	
					    <ng-md-icon icon="file_upload" size="20"></ng-md-icon>
					    <input id="file-upload1" type="file" ng-model="merchantLogo" class="nodisplay" app-filereader ng-change="uploadFile('file-name1','file-upload1')"/>
					    <span ng-hide="true" id="file-name1" ></span>
					</label>
		     	   	
		    </div>  --> 
		    <h3 style="margin-left:-10px;" class="md-layout-column">Update Merchant</h3>  
     <!-- <span class="close_box">
    	<ng-md-icon class="icon-white svgstyle" size="35" icon="close" ng-click="redirectToMerchantDetails(merchantDetail)"></ng-md-icon> 
    </span>  -->
    </div>
  </md-toolbar>
 <md-card flex-gt-sm="90" flex-gt-md="80"> 
    <md-content md-theme="docs-dark" layout-padding layout="column" layout-sm="column" class="edit-container">
    <form name="merchantForm">
    	
    	
    	
    	 <div layout="row" layout-sm="column">
		  	<div flex="20" layout layout-align="center center">
		  		<div layout layout-sm="column">
				    <div class="md-layout-row layout-align-start-center pt_relat" style="height:120px; width:120px;cursor:pointer; text-align:center;  border-radius:5px; padding:10px; border:5px solid rgba(0,0,0,0.1)">	 
						
				     	<img style="position:absolute; width:100px; margin-left: -7px; margin-top: -4px; height: 100px;  border-radius: 5px;" src="{{merchantLogo}}" ng-show="merchantLogo" style="display: block;width:45px; height: 45px;  border-radius: 99%;" />
		      <img style="position:absolute; width:100px; margin-left:-7px; margin-top: -4px; height: 100px;  border-radius: 5px;" src="{{merchantDetail.logo.url}}" ng-hide="merchantLogo" style="display: block;width:45px; height: 45px;  border-radius: 99%;" /> 
					     	<label class="cursor" style="position:relative; z-index:1000; color:#000000;">	
							    Browse Merchant Logo
							    <input id="file-upload1" type="file" ng-model="merchantLogo" class="nodisplay" app-filereader ng-change="uploadFile('file-name1','file-upload1')"/>
							    <span ng-hide="true" id="file-name1" ></span>
							</label>
							
				        	
				    </div> 
				  </div>
		  	</div>
		  	
		  	  	<div flex="40">
		  		<div layout-padding>
		  			<md-input-container>
				      <label>Name<span style="color:red">*</span></label>
				      <input ng-model="merchantDetail.name"  ng-disabled="true" ng-required="true">
				    </md-input-container>
				    <md-input-container>
				      <label>Contact Person Name<span style="color:red">*</span></label>
				      <input ng-model="merchantDetail.user.name" ng-required="true">
				    </md-input-container>
				    <md-input-container>
				      <label>User Name<span style="color:red">*</span></label>
				      <input ng-model="merchantDetail.user.userName" name="userName"  ng-disabled="true" ng-required="true">
				    </md-input-container>
		    		<md-input-container>
				     	<label>Email<span style="color:red">*</span></label>
				        <input type="email" ng-model="merchantDetail.user.emailid" ng-required="true" ng-disabled="true" pattern="^[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$">
<!-- 			       	<span ng-message="required" ng-show="merchantForm.userName.$error.email || (!merchantForm.userName.$error.required && !merchantForm.userName.$valid)" style="color:red;">Email Invalid.</span>
 -->				    </md-input-container>
 					<md-input-container>
				    	<label>Phone<span style="color:red">*</span></label>
			  			<input ng-model="merchantDetail.user.phoneNo" name="phoneNo" valid-number ng-required="true" ng-maxlength="19">
				      	<span ng-message="required" ng-show="merchantForm.phoneNo.$error.maxlength" style="color:red;">
				       	Enter phoneNo within 20 digit
				      	</span>
				    </md-input-container>
   					<md-input-container>
				       <label>Postal Code<span style="color:red">*</span></label>
				       <input valid-number ng-model="merchantDetail.user.address.pinCode" ng-required="true">
				   	</md-input-container>
		  		</div>
		  	</div>
		  	<div flex="40">
		  		<div layout-padding>
		  			 <md-input-container>
				      <label>Address 1<span style="color:red">*</span></label>
				      <input name="address1" ng-model="merchantDetail.user.address.address1" ng-required="true" ng-maxlength="150">
		             <span ng-message="required" ng-show="merchantForm.address1.$error.maxlength" style="color:red;">
		               Enter address within 150 characters
		             </span>
				    </md-input-container>
				      <md-input-container>
				      <label>Address 2</label>
				      <input name="address2" ng-model="merchantDetail.user.address.address2" ng-required="true" ng-maxlength="150">
				      <span ng-message="required" ng-show="merchantForm.address2.$error.maxlength" style="color:red;">
		      			Enter address within 150 characters
		      		  </span>
				    </md-input-container>
				     <md-input-container>
		       			 <label>Country<span style="color:red">*</span></label>
         				 <md-select class="remove-padd" ng-model="country" ng-required="true" ng-change = "getState(country);state=null;cty=null;" ng-model-options="{trackBy: '$value.countryId'}">
             		       <md-option ng-repeat="cnt in countries | orderBy:'name'" ng-value="cnt">
               		         {{cnt.name}}
               			     </md-option>
               			 </md-select>
		    		</md-input-container>
				    <!-- <md-input-container>
				      <label>City<span style="color:red">*</span></label>
				      <input ng-model="merchantDetail.user.address.city" ng-required="true">
				    </md-input-container> -->
				     <md-input-container>
		       			 <label>State<span style="color:red">*</span></label>
                        <md-select class="remove-padd" ng-model="state" ng-required="true" ng-change = "getCity(state);cty=null;" ng-model-options="{trackBy: '$value.stateId'}">
                   	     <md-option ng-repeat="state in states | orderBy:'name'" ng-value="state">
                    	    {{state.name}}
                    	   </md-option>
            		    </md-select>
		    		</md-input-container>
				    <md-input-container>
		       			 <label>City<span style="color:red">*</span></label>
                        <md-select class="remove-padd" ng-model="cty" ng-required="true" ng-model-options="{trackBy: '$value.cityId'}">
                        <md-option ng-repeat="city in cities | orderBy:'name'" ng-value="city">
                        {{city.name}}
                       </md-option>
              		  </md-select>
		    		</md-input-container>
		  		</div>
		  	</div>
		  </div>
		  
  <!--   	<div layout layout-sm="column">
		    <md-input-container layout-padding  flex>
		      <label>Name<span style="color:red">*</span></label>
		      <input ng-model="merchantDetail.name" ng-required="true">
		    </md-input-container>
		    <md-input-container layout-padding  flex>
		      <label>Contact Person Name<span style="color:red">*</span></label>
		      <input ng-model="merchantDetail.user.name" ng-required="true">
		    </md-input-container>
		    
		  </div>
		  <div layout layout-sm="column">
		    <md-input-container layout-padding flex>
		      <label>User Name<span style="color:red">*</span></label>
		      <input ng-model="merchantDetail.user.userName" name="userName" ng-required="true" ng-disabled="true">
		    </md-input-container>
		  </div>
		    <div layout layout-sm="column">
		    <md-input-container layout-padding flex>
		     <label>Email<span style="color:red">*</span></label>
		        <input type="email" ng-model="merchantDetail.user.emailid" ng-required="true" pattern="^[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$" ng-disabled="true">
	        <span ng-message="required" ng-show="merchantForm.userName.$error.email || (!merchantForm.userName.$error.required && !merchantForm.userName.$valid)" style="color:red;">Email Invalid.</span>
		    </md-input-container>
		    <md-input-container layout-padding flex>
		    <label>Phone<span style="color:red">*</span></label>
	  		<input ng-model="merchantDetail.user.phoneNo" name="phoneNo" valid-number ng-required="true" ng-maxlength="19">
		      <span ng-message="required" ng-show="merchantForm.phoneNo.$error.maxlength" style="color:red;">
		       	Enter phoneNo within 20 digit
		      </span>
		    </md-input-container>
		    </div>
		    
		    <div layout layout-sm="column">
		    <md-input-container layout-padding flex>
		      <label>Address-1<span style="color:red">*</span></label>
		      <input name="address1" ng-model="merchantDetail.user.address.address1" ng-required="true" ng-maxlength="150">
             <span ng-message="required" ng-show="merchantForm.address1.$error.maxlength" style="color:red;">
               Enter address within 150 characters
             </span>
		    </md-input-container>
		      <md-input-container layout-padding flex>
		      <label>Address-2<span style="color:red">*</span></label>
		      <input name="address2" ng-model="merchantDetail.user.address.address2" ng-required="true" ng-maxlength="150">
		      <span ng-message="required" ng-show="merchantForm.address2.$error.maxlength" style="color:red;">
      			Enter address within 150 characters
      		  </span>
		    </md-input-container>
		    </div>
		    <div layout layout-sm="column">
		    <md-input-container layout-padding flex>
		      <label>City<span style="color:red">*</span></label>
		      <input ng-model="merchantDetail.user.address.city" ng-required="true">
		    </md-input-container>
		    <md-input-container layout-padding flex>
       			<label>Country<span style="color:red">*</span></label>
         		<md-select ng-model="merchantDetail.user.address.country.countryId" ng-required="true" ng-change = "populateStates();">
                    <md-option ng-repeat="cnt in countries" value="{{cnt.countryId}}">
                        {{cnt.name}}
                    </md-option>
                </md-select>
    		</md-input-container>
		    
		   
		    </div>
		    <div layout layout-sm="column">
		    <md-input-container layout-padding flex>
       			<label>State<span style="color:red">*</span></label>
                <md-select ng-model="merchantDetail.user.address.state.stateId" ng-required="true" ng-change = "changeState();">
                    <md-option ng-repeat="state in allStates" value="{{state.stateId}}">
                        {{state.name}}
                    </md-option>
                </md-select>
    		</md-input-container>
		      
		    <md-input-container layout-padding flex>
		      <label>Postal Code<span style="color:red">*</span></label>
		      <input valid-number ng-model="merchantDetail.user.address.pinCode" ng-required="true">
		   	</md-input-container>
		   	</div> 
		   	
		   	 -->
		   	<div layout="row" layout-sm="column">
			  	<div flex="20"></div>
			  	<div flex="80">
			  		<section layout="row" layout-padding layout-sm="column" layout-align="start center" layout-wrap>
				    	<md-button class="md-raised md-success padd-50" ng-click="updateMerchant();" ng-disabled="merchantForm.$invalid">Update</md-button>
				    	<md-button class="md-raised md-cancel padd-50" ng-click="redirectToMerchantDetails(merchantDetail)">Cancel</md-button>
				    </section>
			  	</div>
			  </div>	
		   	
		   	
    
    </form>
    </md-content>
</md-card>
