
<md-dialog aria-label="Category"  ng-cloak>
  <form ng-submit="addFolder();">
  <md-toolbar>
    <div class="md-toolbar-tools" style="background-color:#0f9d58;">
    
      <h2 ng-show="data.isSummary === 'N'" class="ft-white">Upload New Image</h2>
      <h2 ng-hide="data.isSummary === 'N'" class="ft-white">Create New Folder</h2>
      
      <span flex></span>
      <md-button class="md-icon-button"  type="button" ng-click="cancel()">
        <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-dialog-content style="max-width:800px;max-height:810px; ">
   <md-input-container layout-padding flex> 
   <label  ng-hide="data.isSummary === 'N'">Enter Folder name<span	class="ft-red">*</span></label>
   <label  ng-show="data.isSummary === 'N'">Enter Image name<span	class="ft-red">*</span></label>
    <input ng-model="data.fileName" ng-change="checkFolderIsExit();" ng-required="true"> 
     
        
    </md-input-container>
    <div style="padding-left:8px; color:red; font-size:12px;">
          <div ng-show="flag" class="md-body">
            {{errorMsg}}
          </div>
     </div>  
  </md-dialog-content>
  
  
  
   <div ng-show="data.isSummary === 'N'" flex layout="row" >
  		<div layout="row" layout-sm="column" layout-align="start start" style="margin:10px auto 0px auto;">
		    <div class="md-layout-row layout-align-start-center pt_relat" style="height:120px; width:120px;cursor:pointer; text-align:center;  border-radius:5px; padding:10px; border:5px solid rgba(0,0,0,0.1)">	 
	     		<label class="cursor" style="position:relative; z-index:1; color:#000000;" id="file-uploadtest"> 
				Upload Image
				<input id="file-upload2" type="file" ng-model="image" class="nodisplay" app-filereader ng-change="uploadFile('file-name2','file-upload2')" />
				</label>
				<img style="position:absolute; width:100px; margin-left: -96px; margin-top: -4px; height: 100px;  border-radius: 5px;" ng-src="{{image}}" ng-required="true" /> 
		    </div> 
		  </div>
		  <div layout-align="center center">
		  </div>
	  </div>
  
  
  <br>
 <!--  <span style="color:red;" ng-show="flag">{{errorMsg}}</span> -->
  <div class="md-actions" flex>
  <span flex> </span>  
    <md-button class="md-raised md-success" type="submit"  ng-disabled="!data.fileName && flag">Add</md-button>
	<md-button class="md-raised md-cancel marg-r13" type="button" ng-click="cancel()">Cancel</md-button>
  <span flex></span>
  </div>
  </form>
</md-dialog>