
<md-dialog aria-label="Category"  ng-cloak style="width: 100%;">
	<md-button layout-align="end" style="float: right; position: absolute; color: #333 ! important; right: 0;" class="md-icon-button"  type="button" ng-click="cancel()">
        <ng-md-icon icon="close" style="fill: #333" size="30"></ng-md-icon> 
      </md-button>
      <h2 class="text-center" style="color: #4eaf4c;">Uploaded File Details</h2>
 	 <form ng-submit="addFiles()">
  <!-- <md-toolbar>
    <div class="md-toolbar-tools">
      <h2 class="ft-white">Uploaded File Details</h2>
      <span flex></span>
      <md-button class="md-icon-button"  type="button" ng-click="cancel()">
        <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
      </md-button>
    </div>
  </md-toolbar> -->
  <md-dialog-content style="padding: 5px;">
  
     <!-- --------------------New  Data--------------------- -->
   <md-card class="tbl-body" flex-gt-sm="90" flex-gt-md="80">
      
   <md-card-content class="nopadd">
   
   <md-data-table-container>
     <md-list><h2>New Data</h2>
     	<md-item class="data-table-list " md-data-table>
         <md-item-content layout="row" layout-padding class="tbl-header ">
      
      	<div layout="row" layout-wrap class="full_wid tbl-header ">
         	<span flex layout-align="start center" layout>
	         	Name
            </span>
         	<span flex layout-align="start center" layout>
	         	Product Category
            </span>
            <span flex layout-align="start center" layout>
	         	Product Type
            </span>
            <span flex layout-align="start center" layout>
	         	Product Measurement
            </span>
            <span flex layout-align="start center" layout>
	         	Product Unit
            </span>
            <span flex layout-align="start center" layout>
	         	Edible Type
            </span>            
            <span flex layout-align="start center" layout>
	         	Was Price
            </span>
            <span flex layout-align="start center" layout>
	         	Selling Price
            </span>
            <span flex layout-align="start center" layout>
	         	Brand
            </span>
            <span flex layout-align="center center" layout>
	         	Action
            </span>
        </div>
        </md-item-content>
        </md-item>
        
      <md-item class="data-table-list" md-data-table ng-repeat="product in newData | orderBy: productFileNew.order | limitTo: productFileNew.limit: (productFileNew.page - 1) * productFileNew.limit">
         <md-item-content layout="row" layout-padding>
          <div layout="row" layout-wrap class="full_wid tbl-body">
          
      		
			<span flex layout-align="start center" layout>
			<span flex class="shopname">{{product.name}}</span>
			</span>
      		<span flex layout-align="start center" layout>
      		<span flex class="shopname">{{product.productCategory}}</span>
      		</span>
      		<span flex layout-align="start center" layout>
      		<span flex class="shopname">{{product.productType}}</span>
      		</span>
      		<span flex layout-align="start center" layout>
      		<span flex class="shopname">{{product.productMeasurement}}</span>
      		</span>
      		<span flex layout-align="start center" layout>
      		<span flex class="shopname">{{product.productUnit}}</span>
      		</span>      		
      		<span flex layout-align="start center" layout>
      		<span flex class="shopname">{{product.edibleType}}</span>
      		</span>
      		<span flex layout-align="start center" layout>
      		<span flex class="shopname">{{product.wasPrice}}</span>
      		</span>
      		<span flex layout-align="start center" layout>
      		<span flex class="shopname">{{product.sellingPrice}}</span>
      		</span>
      		<span flex layout-align="start center" layout>
      		<span flex class="shopname">{{product.brand}}</span>
      		</span>
      		<span flex layout-align="start center" layout>
      		
      		</span>	
             
      	</div>
      </md-item-content>
      </md-item>
      
     </md-list>
     </md-data-table-container>
   </md-card-content> 
   <div layout="row" layout-align="center center" >
   		<div style="font-size:16px;" flex="63" layout="row" class="table-pagination-bg" layout-align="start center">
		 <md-data-table-pagination md-limit="productFileNew.limit"
      md-page="productFileNew.page" md-total="{{newData.length}}"
      md-trigger="onpagechange"></md-data-table-pagination>
		</div>
	</div>       
</md-card> 

			<!-- -------------------------------------- -->
   
        <!-- --------------------Existing Data--------------------- -->
   <md-card class="tbl-body" flex-gt-sm="90" flex-gt-md="80">
      
   <md-card-content class="nopadd">
   
   <md-data-table-container>
     <md-list><h2>Existing Data</h2>
     	<md-item class="data-table-list " md-data-table>
         <md-item-content layout="row" layout-padding class="tbl-header ">
      
      	<div layout="row" layout-wrap class="full_wid tbl-header ">
         	<span flex layout-align="start center" layout>
	         	Name
            </span>
         	<span flex layout-align="start center" layout>
	         	Product Category
            </span>
            <span flex layout-align="start center" layout>
	         	Product Type
            </span>
            <span flex layout-align="start center" layout>
	         	Product Measurement
            </span>
            <span flex layout-align="start center" layout>
	         	Product Unit
            </span>
            <span flex layout-align="start center" layout>
	         	Edible Type
            </span>            
            <span flex layout-align="start center" layout>
	         	Was Price
            </span>
            <span flex layout-align="start center" layout>
	         	Selling Price
            </span>
            <span flex layout-align="start center" layout>
	         	Brand
            </span>
            <span flex layout-align="center center" layout>
	         	Action
            </span>
        </div>
        </md-item-content>
        </md-item>
        
      <md-item class="data-table-list" md-data-table ng-repeat="product in existingData | orderBy: productFileExisting.order | limitTo: productFileExisting.limit: (productFileExisting.page - 1) * productFileExisting.limit">
         <md-item-content layout="row" layout-padding>
          <div layout="row" layout-wrap class="full_wid tbl-body">
          
      		
			<span flex layout-align="start center" layout>
			<span flex class="shopname">{{product.name}}</span>
			</span>
      		<span flex layout-align="start center" layout>
      		<span flex class="shopname">{{product.productCategory}}</span>
      		</span>
      		<span flex layout-align="start center" layout>
      		<span flex class="shopname">{{product.productType}}</span>
      		</span>
      		<span flex layout-align="start center" layout>
      		<span flex class="shopname">{{product.productMeasurement}}</span>
      		</span>
      		<span flex layout-align="start center" layout>
      		<span flex class="shopname">{{product.productUnit}}</span>
      		</span>      		
      		<span flex layout-align="start center" layout>
      		<span flex class="shopname">{{product.edibleType}}</span>
      		</span>
      		<span flex layout-align="start center" layout>
      		<span flex class="shopname">{{product.wasPrice}}</span>
      		</span>
      		<span flex layout-align="start center" layout>
      		<span flex class="shopname">{{product.sellingPrice}}</span>
      		</span>
      		<span flex layout-align="start center" layout>
      		<span flex class="shopname">{{product.brand}}</span>
      		</span>
      		<span flex layout-align="center center" layout>
      		</span>
             
      	</div>
      </md-item-content>
      </md-item>
      
     </md-list>
     </md-data-table-container>
   </md-card-content> 
    <div layout="row" layout-align="center center" >
   		<div style="font-size:16px;" flex="63" layout="row" class="table-pagination-bg" layout-align="start center">
		 <md-data-table-pagination md-limit="productFileExisting.limit"
      md-page="productFileExisting.page" md-total="{{existingData.length}}"
      md-trigger="onpagechange"></md-data-table-pagination>
		</div>
	</div>     
</md-card> 

	<!-- -------------------------------------- -->

   <!-- --------------------Rejected Data--------------------- -->
   <md-card class="tbl-body" flex-gt-sm="90" flex-gt-md="80">
      
   <md-card-content class="nopadd">
   
   <md-data-table-container>
     <md-list><h2>Rejected Data</h2>
     	<md-item class="data-table-list " md-data-table>
         <md-item-content layout="row" layout-padding class="tbl-header ">
      
      	<div layout="row" layout-wrap class="full_wid tbl-header ">
         	<span flex layout-align="start center" layout>
	         	Name
            </span>
         	<span flex layout-align="start center" layout>
	         	Product Category
            </span>
            <span flex layout-align="start center" layout>
	         	Product Type
            </span>
            <span flex layout-align="start center" layout>
	         	Product Measurement
            </span>
            <span flex layout-align="start center" layout>
	         	Product Unit
            </span>
            <span flex layout-align="start center" layout>
	         	Edible Type
            </span>            
            <span flex layout-align="start center" layout>
	         	Was Price
            </span>
            <span flex layout-align="start center" layout>
	         	Selling Price
            </span>
            <span flex layout-align="start center" layout>
	         	Brand
            </span>
            <span flex layout-align="center center" layout>
	         	Reason
            </span>
        </div>
        </md-item-content>
        </md-item>
        
      <md-item class="data-table-list" md-data-table ng-repeat="product in rejectedData | orderBy: productFileRejected.order | limitTo: productFileRejected.limit: (productFileRejected.page - 1) * productFileRejected.limit">
         <md-item-content layout="row" layout-padding>
          <div layout="row" layout-wrap class="full_wid tbl-body">
          
      		
			<span flex layout-align="start center" layout>
			<span flex class="shopname">{{product.name}}</span>
			</span>
      		<span flex layout-align="start center" layout>
      		<span flex class="shopname">{{product.productCategory}}</span>
      		</span>
      		<span flex layout-align="start center" layout>
      		<span flex class="shopname">{{product.productType}}</span>
      		</span>
      		<span flex layout-align="start center" layout>
      		<span flex class="shopname">{{product.productMeasurement}}</span>
      		</span>
      		<span flex layout-align="start center" layout>
      		<span flex class="shopname">{{product.productUnit}}</span>
      		</span>      		
      		<span flex layout-align="start center" layout>
      		<span flex class="shopname">{{product.edibleType}}</span>
      		</span>
      		<span flex layout-align="start center" layout>
      		<span flex class="shopname">{{product.wasPrice}}</span>
      		</span>
      		<span flex layout-align="start center" layout>
      		<span flex class="shopname">{{product.sellingPrice}}</span>
      		</span>
      		<span flex layout-align="start center" layout>
      		<span flex class="shopname">{{product.brand}}</span>
      		</span>
      		<span flex layout-align="start center" layout>
      		<span flex class="shopname">{{product.reason}}</span>
      		</span>
             
      	</div>
      </md-item-content>
      </md-item>
      
     </md-list>
     </md-data-table-container>
   </md-card-content> 
   <div layout="row" layout-align="center center" >
   		<div style="font-size:16px;" flex="63" layout="row" class="table-pagination-bg" layout-align="start center">
		 <md-data-table-pagination md-limit="productFileRejected.limit"
      md-page="productFileRejected.page" md-total="{{rejectedData.length}}"
      md-trigger="onpagechange"></md-data-table-pagination>
		</div>
	</div>      
</md-card> 
<md-card>
	<div layout="row" layout-align="end end">
     <md-button class="md-raised md-success" type="submit">Add</md-button>
	<md-button class="md-raised md-cancel marg-r13" type="button" ng-click="cancel()">Cancel</md-button>
  </div>
</md-card>

<!-- -------------------------------------- -->
			   
  </md-dialog-content>
   
 
  </form>
</md-dialog>