
<md-dialog aria-label="Category"  ng-cloak style="width: 100%;">
	<md-button layout-align="end" style="float: right; position: absolute; color: #333 ! important; right: 0;" class="md-icon-button"  type="button" ng-click="cancel()">
        <ng-md-icon icon="close" style="fill: #333" size="30"></ng-md-icon> 
      </md-button>
      <h2 class="text-center" style="color: #0f9d58;">Uploaded File Details</h2>
 	 <form ng-submit="addFiles()">
 
  <md-dialog-content style="padding: 5px;">
  
     <!-- --------------------New  Data--------------------- -->
   <md-card class="tbl-body" flex-gt-sm="90" flex-gt-md="80">
      
   <md-card-content class="nopadd">
   
   <md-data-table-container>
     <h2>New Data</h2>
     <table md-data-table class="data-table-list" md-progress="deferred">
	<thead class="full_wid  ">
		<tr class="tbl-header">
              <th name="Name"></th>
              <th name="Product Category"></th>
              <th name="Product Type"></th>
              <th name="Description"></th>
              <th name="Product Measurement"></th>
              <th name="Product Unit"></th>
              <th name="Editable Type"></th>
              <th name="Was Price"></th>
              <th name="Selling Price"></th>
              <th name="isYourHot"></th>
              <th name="Brand"></th>
              <th name="IsBundle"></th>
              <th name="BundleQty"></th>
              <th name="Action"></th>
        </tr>
	</thead>
	<tbody>
		<tr ng-repeat="product in newData | orderBy: productFileNew.order | limitTo: productFileNew.limit: (productFileNew.page - 1) * productFileNew.limit">
			<td><span ng-show="product.count != showInLineEdit">{{product.name}}</span>
			<md-input-container ng-show="product.count == showInLineEdit">
      		<label>Product</label>
      		<input type="text" ng-model="productNewEdit.name" /> 
      		</md-input-container>	
				
			</td>
			<td><span ng-show="product.count != showInLineEdit">{{product.productCategory}}</span>
			<md-input-container ng-show="product.count == showInLineEdit">
      		<label>Category</label>
      		<input type="text" ng-model="productNewEdit.productCategory"/> 
      		</md-input-container>
				
			</td>
			<td><span ng-show="product.count != showInLineEdit">{{product.productType}}</span>
			<md-input-container ng-show="product.count == showInLineEdit">
      		<label>Type</label>
      		<input type="text" ng-model="productNewEdit.productType" /> 
      		</md-input-container>
				
			</td>
			<td><span ng-show="product.count != showInLineEdit">{{product.description}}</span>
			<md-input-container ng-show="product.count == showInLineEdit">
      		<label>Description</label>
      		<input type="text" ng-model="productNewEdit.description" /> 
      		</md-input-container>
				
			</td>
			<td><span ng-show="product.count != showInLineEdit">{{product.productMeasurement}}</span>
			<md-input-container ng-show="product.count == showInLineEdit">
      		<label>Measurement</label>
      		<input type="text" ng-model="productNewEdit.productMeasurement" /> 
      		</md-input-container>
				
			</td>
			<td><span ng-show="product.count != showInLineEdit">{{product.productUnit}}</span>
			<md-input-container ng-show="product.count == showInLineEdit">
      		<label>Unit</label>
      		<input type="text" ng-model="productNewEdit.productUnit" valid-number/> 
      		</md-input-container>
				
			</td>
			<td><span ng-show="product.count != showInLineEdit">{{product.edibleType}}</span>
			<md-input-container ng-show="product.count == showInLineEdit">
      		<label>Type</label>
      		<input type="text" ng-model="productNewEdit.edibleType" /> 
      		</md-input-container>
			
			</td>
			<td>
			<span ng-show="product.count != showInLineEdit">{{product.wasPrice}}</span>
			<md-input-container ng-show="product.count == showInLineEdit">
      		<label>Was Price</label>
      		<input type="text" ng-model="productNewEdit.wasPrice" valid-number/> 
      		</md-input-container>
			</td>
			<td>
			<span ng-show="product.count != showInLineEdit">{{product.sellingPrice}}</span>
			<md-input-container ng-show="product.count == showInLineEdit">
      		<label>Selling Price</label>
      		<input type="text" ng-model="productNewEdit.sellingPrice" valid-number/> 
      		</md-input-container>
			</td>
			<td>
			<span ng-show="product.count != showInLineEdit">{{product.isYourHot}}</span>
			<md-input-container ng-show="product.count == showInLineEdit">
      		<label>isYourHot</label>
      		<input type="text" ng-model="productNewEdit.isYourHot"/> 
      		</md-input-container>
			</td>
			<td>
			<span ng-show="product.count != showInLineEdit">{{product.brand}}</span>
			<md-input-container ng-show="product.count == showInLineEdit">
      		<label>Brand</label>
      		<input type="text" ng-model="productNewEdit.brand" /> 
      		</md-input-container>
			</td>
			<td>
			<span ng-show="product.count != showInLineEdit">{{product.isBundle}}</span>
			<md-input-container ng-show="product.count == showInLineEdit">
      		<label>isBundle</label>
      		<input type="text" ng-model="productNewEdit.isBundle" /> 
      		</md-input-container>
			</td>
			<td>
			<span ng-show="product.count != showInLineEdit">{{product.groupCount}}</span>
			<md-input-container ng-show="product.count == showInLineEdit">
      		<label>BundleQty</label>
      		<input type="text" ng-model="productNewEdit.groupCount" valid-number /> 
      		</md-input-container>
			</td>			
			<td layout="row">		
					<ng-md-icon ng-show="product.count != showInLineEdit" icon="rate_review" size="20" class="icons hash_color padd-t10 action-buttons wid-40" ng-click="showInLineEdit=product.count;productNewEdit=product;$event.stopPropagation();"></ng-md-icon>	
        			<ng-md-icon ng-show="product.count == showInLineEdit" icon="done" size="20" class="icons hash_color btn-success padd-t30 action-buttons wid-40" ng-click="showInLineEdit=null;updateProduct(productEdit);"></ng-md-icon>
        	</td>
        	</tr>
        	
	</tbody>
	</table>

     </md-data-table-container>
   </md-card-content> 
   <div layout="row" layout-align="center center" >
   		<div style="font-size:16px;" flex="63" layout="row" class="table-pagination-bg" layout-align="start center">
		 <md-data-table-pagination md-limit="productFileNew.limit"
      md-page="productFileNew.page" md-total="{{newData.length}}"
      md-trigger="onpagechange"></md-data-table-pagination>
		</div>
	</div>       
</md-card> 

			<!-- -------------------------------------- -->
   
        <!-- --------------------Existing Data--------------------- -->
   <md-card class="tbl-body" flex-gt-sm="90" flex-gt-md="80">
      
   <md-card-content class="nopadd">
   
   <md-data-table-container>
     <h2>Existing Data</h2>
     <table md-data-table class="data-table-list" md-progress="deferred">
	<thead class="full_wid  ">
		<tr class="tbl-header">
              <th name="Name"></th>
              <th name="Product Category"></th>
              <th name="Product Type"></th>
              <th name="Description"></th>
              <th name="Product Measurement"></th>
              <th name="Product Unit"></th>
              <th name="Editable Type"></th>
              <th name="Was Price"></th>
              <th name="Selling Price"></th>
              <th name="isYourHot"></th>
              <th name="Brand"></th>
              <th name="IsBundle"></th>
              <th name="BundleQty"></th>
              <th name="Action"></th>
        </tr>
	</thead>
	<tbody>
		<tr ng-repeat="product in existingData | orderBy: productFileExisting.order | limitTo: productFileExisting.limit: (productFileExisting.page - 1) * productFileExisting.limit">
			<td><span ng-show="product.count != showInLineEdit">{{product.name}}</span>
			<md-input-container ng-show="product.count == showInLineEdit">
      		<label>Product</label>
      		<input type="text" ng-model="productExistingEdit.name" /> 
      		</md-input-container>	
				
			</td>
			<td><span ng-show="product.count != showInLineEdit">{{product.productCategory}}</span>
			<md-input-container ng-show="product.count == showInLineEdit">
      		<label>Category</label>
      		<input type="text" ng-model="productExistingEdit.productCategory"/> 
      		</md-input-container>
				
			</td>
			<td><span ng-show="product.count != showInLineEdit">{{product.productType}}</span>
			<md-input-container ng-show="product.count == showInLineEdit">
      		<label>Type</label>
      		<input type="text" ng-model="productExistingEdit.productType" /> 
      		</md-input-container>
				
			</td>
			<td><span ng-show="product.count != showInLineEdit">{{product.description}}</span>
			<md-input-container ng-show="product.count == showInLineEdit">
      		<label>Description</label>
      		<input type="text" ng-model="productExistingEdit.description" /> 
      		</md-input-container>
				
			</td>
			<td><span ng-show="product.count != showInLineEdit">{{product.productMeasurement}}</span>
			<md-input-container ng-show="product.count == showInLineEdit">
      		<label>Measurement</label>
      		<input type="text" ng-model="productExistingEdit.productMeasurement" /> 
      		</md-input-container>
				
			</td>
			<td><span ng-show="product.count != showInLineEdit">{{product.productUnit}}</span>
			<md-input-container ng-show="product.count == showInLineEdit">
      		<label>Unit</label>
      		<input type="text" ng-model="productExistingEdit.productUnit" valid-number/> 
      		</md-input-container>
				
			</td>
			<td><span ng-show="product.count != showInLineEdit">{{product.edibleType}}</span>
			<md-input-container ng-show="product.count == showInLineEdit">
      		<label>Type</label>
      		<input type="text" ng-model="productExistingEdit.edibleType" /> 
      		</md-input-container>
			
			</td>
			<td>
			<span ng-show="product.count != showInLineEdit">{{product.wasPrice}}</span>
			<md-input-container ng-show="product.count == showInLineEdit">
      		<label>Was Price</label>
      		<input type="text" ng-model="productExistingEdit.wasPrice" valid-number/> 
      		</md-input-container>
			</td>
			<td>
			<span ng-show="product.count != showInLineEdit">{{product.sellingPrice}}</span>
			<md-input-container ng-show="product.count == showInLineEdit">
      		<label>Selling Price</label>
      		<input type="text" ng-model="productExistingEdit.sellingPrice" valid-number/> 
      		</md-input-container>
			</td>
			<td>
			<span ng-show="product.count != showInLineEdit">{{product.isYourHot}}</span>
			<md-input-container ng-show="product.count == showInLineEdit">
      		<label>isYourHot</label>
      		<input type="text" ng-model="productExistingEdit.isYourHot"/> 
      		</md-input-container>
			</td>
			<td>
			<span ng-show="product.count != showInLineEdit">{{product.brand}}</span>
			<md-input-container ng-show="product.count == showInLineEdit">
      		<label>Brand</label>
      		<input type="text" ng-model="productExistingEdit.brand" /> 
      		</md-input-container>
			</td>
			<td>
			<span ng-show="product.count != showInLineEdit">{{product.isBundle}}</span>
			<md-input-container ng-show="product.count == showInLineEdit">
      		<label>isBundle</label>
      		<input type="text" ng-model="productExistingEdit.isBundle" /> 
      		</md-input-container>
			</td>
			<td>
			<span ng-show="product.count != showInLineEdit">{{product.groupCount}}</span>
			<md-input-container ng-show="product.count == showInLineEdit">
      		<label>BundleQty</label>
      		<input type="text" ng-model="productExistingEdit.groupCount" valid-number /> 
      		</md-input-container>
			</td>			
			<td layout="row">		
					<ng-md-icon ng-show="product.count != showInLineEdit" icon="rate_review" size="20" class="icons hash_color padd-t10 action-buttons wid-40" ng-click="showInLineEdit=product.count;productExistingEdit=product;$event.stopPropagation();"></ng-md-icon>	
        			<ng-md-icon ng-show="product.count == showInLineEdit" icon="done" size="20" class="icons hash_color btn-success padd-t30 action-buttons wid-40" ng-click="showInLineEdit=null;updateProduct(productEdit);"></ng-md-icon>
        	</td>
        	</tr>
        	
	</tbody>
	</table>
	
     </md-data-table-container>
   </md-card-content> 
    <div layout="row" layout-align="center center" >
   		<div style="font-size:16px;" flex="63" layout="row" class="table-pagination-bg" layout-align="start center">
		 <md-data-table-pagination md-limit="productFileExisting.limit"
      md-page="productFileExisting.page" md-total="{{existingData.length}}"
      md-trigger="onpagechange"></md-data-table-pagination>
		</div>
	</div>     
</md-card> 

	<!-- -------------------------------------- -->

   <!-- --------------------Rejected Data--------------------- -->
   <md-card class="tbl-body" flex-gt-sm="90" flex-gt-md="80">
      
   <md-card-content class="nopadd">
   
   <md-data-table-container>
     <h2>Rejected Data</h2>
     <table md-data-table class="data-table-list" md-progress="deferred">
	<thead class="full_wid  ">
		<tr class="tbl-header">
              <th name="Name"></th>
              <th name="Product Category"></th>
              <th name="Product Type"></th>
              <th name="Description"></th>
              <th name="Product Measurement"></th>
              <th name="Product Unit"></th>
              <th name="Editable Type"></th>
              <th name="Was Price"></th>
              <th name="Selling Price"></th>
              <th name="isYourHot"></th>
              <th name="Brand"></th>
              <th name="IsBundle"></th>
              <th name="BundleQty"></th>
              <th name="Reason"></th>
              <th name="Action"></th>
        </tr>
	</thead>
	<tbody>
		<tr ng-repeat="product in rejectedData | orderBy: productFileRejected.order | limitTo: productFileRejected.limit: (productFileRejected.page - 1) * productFileRejected.limit">
			<td><span ng-show="product.count != showInLineEdit">{{product.name}}</span>
			<md-input-container ng-show="product.count == showInLineEdit">
      		<label>Product</label>
      		<input type="text" ng-model="productRejectedEdit.name" /> 
      		</md-input-container>	
				
			</td>
			<td><span ng-show="product.count != showInLineEdit">{{product.productCategory}}</span>
			<md-input-container ng-show="product.count == showInLineEdit">
      		<label>Category</label>
      		<input type="text" ng-model="productRejectedEdit.productCategory"/> 
      		</md-input-container>
				
			</td>
			<td><span ng-show="product.count != showInLineEdit">{{product.productType}}</span>
			<md-input-container ng-show="product.count == showInLineEdit">
      		<label>Type</label>
      		<input type="text" ng-model="productRejectedEdit.productType" /> 
      		</md-input-container>
				
			</td>
			<td><span ng-show="product.count != showInLineEdit">{{product.description}}</span>
			<md-input-container ng-show="product.count == showInLineEdit">
      		<label>Description</label>
      		<input type="text" ng-model="productRejectedEdit.description" /> 
      		</md-input-container>
				
			</td>
			<td><span ng-show="product.count != showInLineEdit">{{product.productMeasurement}}</span>
			<md-input-container ng-show="product.count == showInLineEdit">
      		<label>Measurement</label>
      		<input type="text" ng-model="productRejectedEdit.productMeasurement" /> 
      		</md-input-container>
				
			</td>
			<td><span ng-show="product.count != showInLineEdit">{{product.productUnit}}</span>
			<md-input-container ng-show="product.count == showInLineEdit">
      		<label>Unit</label>
      		<input type="text" ng-model="productRejectedEdit.productUnit" valid-number/> 
      		</md-input-container>
				
			</td>
			<td><span ng-show="product.count != showInLineEdit">{{product.edibleType}}</span>
			<md-input-container ng-show="product.count == showInLineEdit">
      		<label>Type</label>
      		<input type="text" ng-model="productRejectedEdit.edibleType" /> 
      		</md-input-container>
			
			</td>
			<td>
			<span ng-show="product.count != showInLineEdit">{{product.wasPrice}}</span>
			<md-input-container ng-show="product.count == showInLineEdit">
      		<label>Was Price</label>
      		<input type="text" ng-model="productRejectedEdit.wasPrice" valid-number/> 
      		</md-input-container>
			</td>
			<td>
			<span ng-show="product.count != showInLineEdit">{{product.sellingPrice}}</span>
			<md-input-container ng-show="product.count == showInLineEdit">
      		<label>Selling Price</label>
      		<input type="text" ng-model="productRejectedEdit.sellingPrice" valid-number/> 
      		</md-input-container>
			</td>
			<td>
			<span ng-show="product.count != showInLineEdit">{{product.isYourHot}}</span>
			<md-input-container ng-show="product.count == showInLineEdit">
      		<label>isYourHot</label>
      		<input type="text" ng-model="productRejectedEdit.isYourHot"/> 
      		</md-input-container>
			</td>
			<td>
			<span ng-show="product.count != showInLineEdit">{{product.brand}}</span>
			<md-input-container ng-show="product.count == showInLineEdit">
      		<label>Brand</label>
      		<input type="text" ng-model="productRejectedEdit.brand" /> 
      		</md-input-container>
			</td>
			<td>
			<span ng-show="product.count != showInLineEdit">{{product.isBundle}}</span>
			<md-input-container ng-show="product.count == showInLineEdit">
      		<label>isBundle</label>
      		<input type="text" ng-model="productRejectedEdit.isBundle" /> 
      		</md-input-container>
			</td>
			<td>
			<span ng-show="product.count != showInLineEdit">{{product.groupCount}}</span>
			<md-input-container ng-show="product.count == showInLineEdit">
      		<label>BundleQty</label>
      		<input type="text" ng-model="productRejectedEdit.groupCount" valid-number /> 
      		</md-input-container>
			</td>			
			<td>
			<span>{{product.reason}}</span>
			</td>
			<td layout="row">		
					<ng-md-icon ng-show="product.count != showInLineEdit" icon="rate_review" size="20" class="icons hash_color padd-t10 action-buttons wid-40" ng-click="showInLineEdit=product.count;productRejectedEdit=product;$event.stopPropagation();"></ng-md-icon>	
        			<ng-md-icon ng-show="product.count == showInLineEdit" icon="done" size="20" class="icons hash_color btn-success padd-t30 action-buttons wid-40" ng-click="showInLineEdit=null;updateProduct(productEdit);"></ng-md-icon>
        	</td>
        	</tr>
        	
	</tbody>
	</table>
     </md-data-table-container>
   </md-card-content> 
   <div layout="row" layout-align="center center" >
   		<div style="font-size:16px;" flex="63" layout="row" class="table-pagination-bg" layout-align="start center">
		 <md-data-table-pagination md-limit="productFileRejected.limit"
      md-page="productFileRejected.page" md-total="{{rejectedData.length}}"
      md-trigger="onpagechange"></md-data-table-pagination>
		</div>
	</div>      
</md-card> 
<md-card>
	<div layout="row" layout-align="end end">
     <md-button class="md-raised md-success" type="submit">Add</md-button>
	<md-button class="md-raised md-cancel marg-r13" type="button" ng-click="cancel()">Cancel</md-button>
  </div>
</md-card>

<!-- -------------------------------------- -->
			   
  </md-dialog-content>
   
 
  </form>
</md-dialog>