<md-card flex-gt-sm="90" flex-gt-md="80" ng-init="getPhysicalinventoryDetails();">
   <md-card-content style="padding: 0px 0px 16px 0px;">
	<md-toolbar class="md-whiteframe-4dp">
	<div class="md-toolbar-tools">
	<div layout="row" layout-align="start center">	 
     	<h3 layout="column" style="padding: 0px 10px;">Update Inventory</h3>     	
    </div>       
	</div>
	<span class="close_box">
		    <ng-md-icon class="icon-white svgstyle" size="35" icon="close" ui-sref="app.physical_inv"></ng-md-icon>
	 </span>      	
	</md-toolbar>
	
	
	
<!-- 	{{physicalinventory | json}} 
 -->    
 <form name="physicalinventoryForm" novalidate>
	
	<div layout layout-sm="column">
        <md-input-container flex class="padd-50">
          <label><span style="color:red">*</span>Name</label>
          <input type="text" ng-model="physicalinventory.inventoryName" ng-value="{{physicalinventory.inventoryName}}"/>
        </md-input-container>
        <md-input-container flex class="padd-50">
        
          <label><span style="color:red">*</span>Warehouse</label>
         <md-select ng-model="physicalinventory.warehouseId" ng-required="true">
            <md-option ng-repeat="warehouse in warehouseData" value="{{warehouse.warehouseId}}">
              {{warehouse.warehouseName}}
            </md-option>
          </md-select>
        <!-- <md-input-container style="height: 37px; padding: 2px 20px;">
		<label>Store</label> <md-select name="myModel" ng-model="storeId" ng-change="storeFilter()"
			required> <md-option ng-repeat="warehouse in warehouseData" value="{{warehouse.inventoryId}}" >{{stores.storeName}}</md-option> 
	    </md-input-container> -->
        
         <!--  <label>Warehouse</label>
           <md-select ng-model="physicalinventory.warehouseId" style="min-width: 200px;">
      <md-option ng-value="{{warehouse.warehouseId}}" ng-repeat="warehouse in warehouseData">{{warehouse.warehouseName}}</md-option>
    </md-select> -->
          
        </md-input-container>        
	</div>
	
	<label class="padd-50 marg-t50" style="color: rgba(0,0,0,0.26);padding:18px 50px;">Description</label>
	<div layout layout-sm="row">	
	<md-input-container flex class="padd-50">
		    <textarea id="textarea1" rows="4" style="border: 1px solid #ddd;" class="materialize-textarea" ng-model="physicalinventory.description"></textarea>
	</md-input-container>
	</div>
	
	<section layout="row" layout-align="start center" layout-wrap class="padd-50 padd-t30">
    	<md-button class="md-raised md-success  prdct-btns" ng-click="updatePhysicalInventory();" ng-disabled="physicalinventoryForm.$invalid">Update</md-button>
    	<md-button class="md-raised md-cancel prdct-btns" ui-sref="app.physical_inv">Cancel</md-button>
    </section>
		
		</md-card-content>
</md-card>


