<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:ehcache="http://ehcache-spring-annotations.googlecode.com/svn/schema/ehcache-spring"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc
	    http://www.springframework.org/schema/mvc/spring-mvc.xsd
		http://www.springframework.org/schema/beans
	    http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context-2.5.xsd
		http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
        http://ehcache-spring-annotations.googlecode.com/svn/schema/ehcache-spring
        http://ehcache-spring-annotations.googlecode.com/svn/schema/ehcache-spring/ehcache-spring-1.2.xsd">

	<context:component-scan base-package="com.mitosis.shopsbacker" />
	<context:annotation-config />
	
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://54.68.134.166:3306/shopsbacker" />		
		<property name="username" value="root"/>
		<property name="password" value="root"/>
	</bean>
	
	<!-- Hibernate session factory -->
	<bean id="sessionFactory" 
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">

		<property name="dataSource">
			<ref bean="dataSource" />
		</property>

		<property name="hibernateProperties">
			<props>
			    <prop key="hibernate.default_schema" >shopsbacker</prop>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="connection.pool_size">10</prop>
				<prop key="hibernate.format_sql">false</prop>
       			<prop key="hibernate.use_sql_comments">true</prop>
				<prop key="hbm2ddl.auto">create</prop>
				<prop key="hibernate.cache.provider_class">org.hibernate.cache.EhCacheProvider</prop>
				<prop key="hibernate.cache.region.factory_class">org.hibernate.cache.ehcache.SingletonEhCacheRegionFactory</prop>
				<prop key="hibernate.generate_statistics">true</prop>
				<prop key="hibernate.cache.use_structured_entries">true</prop>
				<prop key="hibernate.cache.use_second_level_cache">true</prop>
				<prop key="hibernate.cache.use_query_cache">true</prop>
			</props>
		</property>
		<!-- <property name="hibernate.default_schema" value="shopsbacker"/> -->

		 <property name="annotatedClasses">
			<list>				
				<value>com.mitosis.shopsbacker.model.Address</value>
				<value>com.mitosis.shopsbacker.model.Banner</value>
				<value>com.mitosis.shopsbacker.model.Country</value>
				<value>com.mitosis.shopsbacker.model.Customer</value>
				<value>com.mitosis.shopsbacker.model.CustomerFeedback</value>
				<value>com.mitosis.shopsbacker.model.DeliveryTimeSlot</value>
				<value>com.mitosis.shopsbacker.model.Discount</value>
				<value>com.mitosis.shopsbacker.model.Favourite</value>
				<value>com.mitosis.shopsbacker.model.Image</value>
				<value>com.mitosis.shopsbacker.model.Merchant</value>
				<value>com.mitosis.shopsbacker.model.MerchantRequest</value>
				<value>com.mitosis.shopsbacker.model.MissingProduct</value>
				<value>com.mitosis.shopsbacker.model.Movement</value>
				<value>com.mitosis.shopsbacker.model.MovementLine</value>
				<value>com.mitosis.shopsbacker.model.MyCart</value>
				<value>com.mitosis.shopsbacker.model.OrderNumber</value>
				<value>com.mitosis.shopsbacker.model.OrderTax</value>
				<value>com.mitosis.shopsbacker.model.Product</value>
				<value>com.mitosis.shopsbacker.model.ProductCategory</value>
				<value>com.mitosis.shopsbacker.model.ProductImage</value>
				<value>com.mitosis.shopsbacker.model.ProductInventory</value>
				<value>com.mitosis.shopsbacker.model.ProductOffer</value>
				<value>com.mitosis.shopsbacker.model.ProductOfferLine</value>
				<value>com.mitosis.shopsbacker.model.ProductType</value>
				<value>com.mitosis.shopsbacker.model.Role</value>
				<value>com.mitosis.shopsbacker.model.SalesOrder</value>
				<value>com.mitosis.shopsbacker.model.SalesOrderLine</value>
				<value>com.mitosis.shopsbacker.model.ShippingCharges</value>
				<value>com.mitosis.shopsbacker.model.State</value>
				<value>com.mitosis.shopsbacker.model.Storagebin</value>
				<value>com.mitosis.shopsbacker.model.Store</value>
				<value>com.mitosis.shopsbacker.model.Tax</value>
				<value>com.mitosis.shopsbacker.model.Uom</value>
				<value>com.mitosis.shopsbacker.model.User</value>
				<value>com.mitosis.shopsbacker.model.Warehouse</value>				
			</list>
		</property>
	</bean>
	
	 <bean id="transactionManager" 
            class="org.springframework.orm.hibernate4.HibernateTransactionManager">
    	<property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    
    
   <!--  <bean id="jaxb2Marshaller" class="org.springframework.oxm.jaxb.Jaxb2Marshaller">
		<property name="classesToBeBound">
			<list>
				<value></value>
				<value>com.matson.ml.cv.vo.CountryVo</value>
				<value>com.matson.ml.cv.vo.StateVo</value>			
				<value>com.matson.ml.cv.cas.user.profile.MatsonPortalUser</value>
				
			</list>

		</property>
	</bean> -->
  
    <tx:annotation-driven/>
	
</beans>