<a ui-sref="app.newmovement">
	<md-button class="md-fab" aria-label="Eat cake" style="position: fixed; right: 23px; bottom: 23px; line-height: inherit; margin-bottom: 0; z-index: 998;">
		<ng-md-icon icon="add" size="35" class="icon-white" ></ng-md-icon>
	</md-button>
</a>
<md-card flex-gt-sm="90" flex-gt-md="80" class="tbl-body">
   
   <md-toolbar class=" md-default-theme" style="background-color:transparent;">
         <div class="md-toolbar-tools " layout="row">
         		<h3 layout="column" style="padding: 0px 10px;">Movements</h3>
         		<div class="tbl-search">
		  			<ng-md-icon icon="search"  class="icon-white" ></ng-md-icon>
		  			<input ng-model="sreach" type="text"  placeholder="Search">
		  		</div>
         	</div>
         </md-toolbar>

   <md-card-content class="nopadd">
	<md-data-table-container>
     <md-list>
     
     <md-item class="data-table-list " md-data-table>
         <md-item-content layout="row">
          <div layout="row" layout-wrap class="full_wid tbl-header ">
         	<span flex layout-align="start center" layout-padding style="padding-right: 0;">
             	Movements
           	</span>
         	<span flex layout-align="start center" layout>
             	Warehouse Name
           	</span>
           	<span flex layout-align="start center" layout>
                Process & View
             </span>
           	<span flex layout-align="center center" layout>
                Action
             </span>	
            </div>
         </md-item-content>
        
       </md-item>
       
       <md-item class="data-table-list" md-data-table ng-repeat="movement in movements | filter:sreach | orderBy: physicalInventoryListPagination.order | limitTo: physicalInventoryListPagination.limit: (physicalInventoryListPagination.page - 1) * physicalInventoryListPagination.limit" class="md-table-content-row" ng-click="redirectToMovementDetails(movement);">
         <md-item-content layout="row" class="padd-l8">
          <div layout="row" layout-wrap class="full_wid tbl-body">
         
           	<span flex layout layout-align="start center">
             <span class="shopname" class="ft-14 hash_color">{{movement.name}}</span>             
           	</span>
           	
           	<span flex layout layout-align="start center">
           	<span class="shopname" class="ft-14 hash_color">{{movement.warehouse.name}}</span>
        	</span>
        	
        	<span flex layout layout="row" layout-align="start center">
        	<md-button ng-hide="movement.ismoved == 'Y'" class="md-raised md-success  prdct-btns" ng-click="processMovement(movement);$event.stopPropagation();">Process</md-button>
          	<md-button class="md-raised md-success  prdct-btns" ng-click="redirectToMovementDetails(movement);$event.stopPropagation();">View Line</md-button>
            </span>
            
            <span flex layout layout="row" layout-align="center center">
            	<md-button ng-hide="movement.ismoved == 'Y'" style="z-index:500;" class="md-icon-button md-primary" ng-click="redirectToEditMovement(movement);$event.stopPropagation();" aria-label="Edit">
        			<ng-md-icon icon="mode_edit" size="20" class="icons hash_color btn-success"></ng-md-icon>
      			</md-button>
             	<md-button ng-hide="movement.ismoved == 'Y'" style="z-index:500;" class="md-icon-button md-primary" ng-click="removeMovement(movement);$event.stopPropagation();" aria-label="Delete">
             		<ng-md-icon icon="close" size="20" class="icons hash_color btn-danger"></ng-md-icon>
             	</md-button>
              
             </span>
            </div>
           </div>
         </md-item-content>
        </md-item>
     </md-list>
	</md-data-table-container>
   </md-card-content> 
   <div layout layout="row"  class="table-pagination-bg" layout-align="center center">
	<md-data-table-pagination md-limit="physicalInventoryListPagination.limit" md-page="physicalInventoryListPagination.page" md-total="{{movements.length}}" md-trigger="onpagechange">
	</md-data-table-pagination>
</div>   
</md-card>

