<div ng-init="getAllProductList();">
     
  <md-toolbar class=" md-default-theme" style="background-color:transparent;">
   		<div class="md-toolbar-tools ">	
			 	<h3 style="margin-left:-10px;" class="md-layout-column" ng-hide="productOfferLine.productOfferLineId">Create Product OfferLine</h3>
			 	<h3 style="margin-left:-10px;" class="md-layout-column" ng-show="productOfferLine.productOfferLineId">Update Product OfferLine</h3>     	
		</div> 
  </md-toolbar>

  <md-card flex-gt-sm="90" flex-gt-md="80">
    <md-content md-theme="docs-dark" layout-padding layout="column" layout-sm="column">
      <form name="offerLineForm" novalidate>
      
      <div layout="row" layout-sm="column">
      
      <div flex>
		<div layout-padding>
        <md-input-container layout-padding  flex>
	       <label>Quantity<span style="color:red">*</span></label>
	    
	       <input name="quantity" ng-model="productOfferLine.discountAmount" valid-number ng-required="true">
	    </md-input-container>
	    <md-input-container layout-padding  flex>
	       <label>Offer Amount<span style="color:red">*</span></label>
	      
	       <input name="offer" ng-model="productOfferLine.discountPercentage" valid-number ng-required="true">
	    </md-input-container>  
	  </div>
	  </div>
	  
	  <div flex>
		<div layout-padding>  
		     <md-input-container layout-padding flex>
       			<label>Product<span style="color:red">*</span></label>
         		<md-select class="remove-padd" ng-model="product" ng-required="true" ng-model-options="{trackBy: '$value.productId'}">
		            <md-option ng-repeat="product in productList | orderBy:'name'" ng-value="product">
		              {{product.name}}
		            </md-option>
          		</md-select>
    		</md-input-container>
    </div>
    </div>
    </div>
    <!-- <section layout="row" layout-sm="column" layout-align="start center" layout-wrap>
    	<md-button class="md-raised md-success padd-50" ng-show="warehouse.warehouseId" ng-click="saveWarehouse(warehouse);" ng-disabled="warehouseForm.$invalid">Update</md-button>
    	<md-button class="md-raised md-success padd-50" ng-hide="warehouse.warehouseId" ng-click="saveWarehouse(warehouse);" ng-disabled="warehouseForm.$invalid">Create</md-button>
    	<md-button class="md-raised md-cancel padd-50" ng-if="warehouse.status==true"  ng-click="warehouseDetails(warehouse)">Cancel</md-button>
    	<md-button class="md-raised md-cancel padd-50" ng-if="warehouse.status==null"  ui-sref="app.warehouse">Cancel</md-button>
    </section> -->
    
    <div layout="row" layout-sm="column">
		  	<div flex>
		  		<section layout="row" layout-padding layout-sm="column" layout-align="start center" layout-wrap>
			    	<md-button class="md-raised md-success padd-50" ng-show="productOfferLine.productOfferLineId" ng-click="updateProductOfferLine(productOfferLine);" ng-disabled="offerLineForm.$invalid">Update</md-button>
			    	<md-button class="md-raised md-success padd-50" ng-hide="productOfferLine.productOfferLineId" ng-click="saveProductOfferLine(productOfferLine);" ng-disabled="offerLineForm.$invalid">Create</md-button>
			    	<md-button class="md-raised md-cancel padd-50" ng-if="warehouse.status==null"  ui-sref="app.productofferline({offerId:offerId})">Cancel</md-button>
			    	<!-- <md-button class="md-raised md-success padd-50" ng-click="addStore();" ng-disabled="storeForm.$invalid">Create</md-button>
			    	<md-button class="md-raised md-cancel padd-50" ui-sref="app.store">Cancel</md-button> -->
			    </section>
		  	</div>
		  </div>	
    </form>
    </md-content>
</md-card>
</div>