<md-card flex-gt-sm="90" flex-gt-md="80">
   <md-toolbar class=" md-default-theme">
    <div class="md-toolbar-tools">
      <h2 class="md-flex">Add Tax</h2>
      <span class="close_box">
	    <ng-md-icon class="icon-white svgstyle" size="35" icon="close" ui-sref="app.tax"></ng-md-icon> </span>
    </div>
    <span class="close_box">
		 <ng-md-icon class="icon-white svgstyle" size="35" icon="close" ui-sref="app.tax"></ng-md-icon>
	 </span>
  </md-toolbar>
    <md-content md-theme="docs-dark" layout-padding layout="column" layout-sm="column" class="edit-container">
    <form name="storeForm" novalidate>
    	    <div layout layout-sm="column">
    
        <md-input-container layout-padding flex>
      <label>Tax Name<span style="color:red">*</span></label>
      <input ng-model="tax.name" ng-trim="false"  ng-maxlength="19">
    </md-input-container>
     <md-input-container layout-padding flex>
      <label>Tax Percentage<span style="color:red">*</span></label>
      <input ng-model="tax.taxPercentage" name="phoneNo" valid-number ng-required="true" ng-maxlength="19">
      <span ng-message="required" ng-show="storeForm.phoneNo.$error.maxlength" style="color:red;">
       Enter phoneNo within 20 digit</span>
		      
    </md-input-container>
    </div>
    <section layout="row" layout-sm="column" layout-align="start center" layout-wrap>
    	<md-button class="md-raised md-success padd-50" ng-click="addTax();" ng-disabled="storeForm.$invalid">Create</md-button>
    	<md-button class="md-raised md-cancel padd-50" ui-sref="app.tax">Cancel</md-button>
    </section>
    </form>
    </md-content>
</md-card>
