<md-card flex-gt-sm="90" flex-gt-md="80" class="tbl-body">

	<div clayout-sm="column" layout-md="column" style="padding: 0px 16px;"  layout="row"  ng-init="getProductStockList();getMerchantStore();">
		<div layout = "row" layout-sm="column" flex>
  		<h3 layout-align="start">Product Stock</h3>
  		<div class="tbl-search padd-t14">
  			<ng-md-icon icon="search"  class="icon-white" ></ng-md-icon>
  			<search-text  original-list="originalList" filtered-list="productStockList" pagination="productStockPagination" total-records="noOfRecords"/>
  		</div>
  		</div>
    	 <md-input-container flex layout-align="end" ng-hide="user.role == 'STOREADMIN'">
       			<label>Store<span style="color:red">*</span></label>
         		<md-select name="myModel" ng-model="storesId" ng-change="getStockListByStore()" ng-required="true">
		            <md-option ng-repeat="stores in merchantStore" value="{{stores.storeId}}" >
		              {{stores.name}}
		            </md-option>
          		</md-select>
    	 </md-input-container>
    	 </div>
    	 

<md-card-content class="nopadd">
<md-data-table-container>
<table md-data-table class="data-table-list" md-progress="deferred">
	<thead md-order="productStockPagination.order" md-trigger="onorderchange" class="full_wid  ">
		<tr class="tbl-header">
              <th ng-click="showIcon='warehouseName';" numeric order-by="warehouseName" name="Warehouse"></th>
              <th ng-click="showIcon='row';" numeric order-by="row" name="Storage Bin"></th>
              <th ng-click="showIcon='productName';" numeric order-by="productName" name="Product"></th>
              <th ng-click="showIcon='availableQty';" numeric order-by="availableQty" name="Available Qty"></th>
        </tr>
	</thead>
	<tbody>
		<tr ng-repeat="product in productStockList | orderBy: productStockPagination.order | limitTo: productStockPagination.limit: (productStockPagination.page - 1) * productStockPagination.limit | filter:searchText">
			<td>{{product.warehouseName}}</td>
			<td>{{product.storagebinName}} ({{product.row}}-{{product.stack}}-{{product.level}})</td>
			<td>{{product.productName}}</td>
			<td>{{product.availableQty}}</td>
			
		</tr>
	</tbody>
</table>
</md-data-table-container> 
</md-card-content>
 <div layout layout="row" class="table-pagination-bg" layout-align="center center">
<md-data-table-pagination md-limit="productStockPagination.limit" md-page="productStockPagination.page"
	md-total="{{noOfRecords}}" md-trigger="onpagechange"></md-data-table-pagination></div>

</md-card>

