<!-- <div layout="row" ng-init="getProductStockList();getMerchantStore();">

	<div layout="row" flex=65>
		<h3 layout-padding layout-align="start center">Product Stock</h3>
	</div>
	
	<div ng-hide="user.role == 'STOREADMIN'" layout="row">
		<md-input-container style="height: 37px; padding: 2px 20px;">
		<label>Store</label> <md-select name="myModel" ng-model="storesId" ng-change="getStockListByStore()"
			required> <md-option ng-repeat="stores in merchantStore" value="{{stores.storeId}}" >{{stores.name}}</md-option> 
	    </md-input-container>
	</div>

	<div layout="row" flex=20>
		<md-input-container md-theme="input" flex style="height: 72px;">
		<label>&nbsp;</label> <input style="border-bottom-color: #B0B0B0;" ng-model="search"
			placeholder="enter search"> </md-input-container>

		<ng-md-icon icon="search" style="line-height: 5;"></ng-md-icon>


	</div>
</div> -->
<md-card flex-gt-sm="90" flex-gt-md="80" class="tbl-body">
<md-toolbar class=" md-default-theme" style="background-color:transparent;">
	<div class="md-toolbar-tools" layout="row"  ng-init="getProductStockList();getMerchantStore();">
		<div layout = "row" flex="70">
  		<h3 layout-align="start">Product Stock</h3>
  		<div class="tbl-search">
  			<ng-md-icon icon="search"  class="icon-white" ></ng-md-icon>
  			<search-text  original-list="originalList" filtered-list="productStockList" pagination="productStockPagination" total-records="noOfRecords"/>
  		</div>
  		</div>
    	 <md-input-container flex="30" layout-align="center end" ng-hide="user.role == 'STOREADMIN'">
       			<label>Store<span style="color:red">*</span></label>
         		<md-select name="myModel" ng-model="storesId" ng-change="getStockListByStore()" ng-required="true">
		            <md-option ng-repeat="stores in merchantStore" value="{{stores.storeId}}" >
		              {{stores.name}}
		            </md-option>
          		</md-select>
    	 </md-input-container>
    	 </div>
    	 </md-toolbar>

<md-card-content class="nopadd">
<md-data-table-container>
	<!-- <md-list>     
      <md-item class="data-table-list " md-data-table md-progress="deferred">
         <md-item-content layout="row">
          <div layout="row" layout-wrap class="full_wid tbl-header " md-order="productStockPagination.order" md-trigger="onorderchange">
          
          <span order-by="warehouseName" flex layout-align="start center" layout>
             	Warehouse
          </span>
          <span numeric order-by="row" flex layout-align="start center" layout>
             	Storage Bin
          </span>
          <span numeric order-by="productName" flex layout-align="start center" layout>
             	Product
          </span>
          <span numeric order-by="availableQty" flex layout-align="start center" layout>
             	Warehouse
          </span>
          </div>
          </md-item-content>
          </md-item> -->
          
          
<table md-data-table class="data-table-list" md-progress="deferred">
	<thead md-order="productStockPagination.order" md-trigger="onorderchange" class="full_wid  ">
		<tr class="tbl-header">
              <th  numeric order-by="warehouseName" name="Warehouse"></th>
              <th  numeric order-by="row" name="Storage Bin"></th>
              <th  numeric order-by="productName" name="Product"></th>
              <th  numeric order-by="availableQty" name="Available Qty"></th>
        </tr>
	</thead>
	<tbody>
		<tr ng-repeat="product in productStockList | orderBy: productStockPagination.order | limitTo: productStockPagination.limit: (productStockPagination.page - 1) * productStockPagination.limit | filter:searchText">
			<td>{{product.warehouseName}}</td>
			<td>{{product.storagebinName}} ({{product.row}}-{{product.stack}}-{{product.level}})</td>
			<td>{{product.productName}}</td>
			<td>{{product.availableQty}}</td>
			
		</tr>
	</tbody>
</table>
</md-data-table-container> 
</md-card-content>
 <div layout layout="row" class="table-pagination-bg" layout-align="center center">
<md-data-table-pagination md-limit="productStockPagination.limit" md-page="productStockPagination.page"
	md-total="{{noOfRecords}}" md-trigger="onpagechange"></md-data-table-pagination></div>

</md-card>

