<md-dialog style="width:600px; overflow: inherit; max-height: 82%;">
    <md-button class="md-icon-button" ng-click="cancel()" style="position:absolute;top:3px;right:4px;height:25px;width:25px">
        <md-icon md-svg-src="assets/img/checkout/close.svg" style="height:20px;width:20px"></md-icon>
    </md-button>
    <div layout="column" layout-align="center center">
        <div layout="row" style="width:50%">
            <div flex></div>
            <img src="assets/img/checkout/add.svg" height="25px" width="25px" style="margin:auto"> &nbsp;&nbsp;&nbsp;
            <h3>Add a Delivery address</h3>
            <div flex></div>
        </div>
    </div>
    <div layout="column" layout-padding>
        <form name="addressForm" ng-submit="addAddress(address)">
            <div layout="row">
                <md-input-container flex>
                    <label>Name<span style="color:red">*</span></label>
                    <input type="text" ng-model="address.name" ng-disabled="editName" ng-required="true">
                </md-input-container>
                  <md-input-container flex>
                    <label>Phone<span style="color:red">*</span></label>
                    <input type="text" valid-number ng-model="address.phoneNo" ng-required="true">
                </md-input-container>
            </div>
            <div layout="row">
                <md-input-container flex>
                    <label>Address 1<span style="color:red">*</span></label>
                    <input type="text" ng-model="address.address1" ng-required="true">
                </md-input-container>

                <md-input-container flex>
                    <label>Address 2</label>
                    <input type="text" ng-model="address.address2">
                </md-input-container>

            </div>
            <div layout layout-sm="column">
                <md-input-container flex>
                    <label>City<span style="color:red">*</span></label>
                    <input type="text" ng-model="address.city" ng-required="true">
                </md-input-container>
                <md-input-container flex>
                    <label>Country<span style="color:red">*</span></label>
                    <!-- <input type="text" ng-model="address.state" ng-required="true"> -->
                    <md-select ng-model="country" ng-required="true" ng-change = "getState(country);">
		            <md-option ng-repeat="cnt in countries | orderBy:'name'" value="{{cnt}}">
		              {{cnt.name}}
		            </md-option>
          		</md-select>
                </md-input-container>
            </div>
            <div layout="row">
               
                <md-input-container flex>
                    <label>State<span style="color:red">*</span></label>
                    <md-select ng-model="state" ng-required="true">
		            <md-option ng-repeat="state in states | orderBy:'name'" value="{{state}}">
		              {{state.name}}
		            </md-option>
          		</md-select>
                </md-input-container>
                 <md-input-container flex>
                    <label>Postal Code<span style="color:red">*</span></label>
                    <input type="text" valid-number ng-model="address.pinCode" ng-required="true">
                </md-input-container>
            </div>
           <!--  <md-input-container>
                <label>Address specific information(Optional)</label>
                <textarea ng-model="addressSpecificInstruction" columns="1" md-maxlength="150"></textarea>
            </md-input-container> -->
            <div layout="row" layout-align="end">
            <div layout="" layout-align="center">
                <md-button type="submit" class="md-primary md-raised"  ng-disabled="addressForm.$invalid">{{AddUpdate}}</md-button>
            </div>
            </div>
        </form>
           
        
    </div>
</md-dialog>