<!-- <section class="address-section" layout="column">
    <p class="address-title md-headline">What is your delivery address</p>
    <div class="address-container" layout="row" layout-wrap layout-align="center">
 
            <md-card flex="45" ng-repeat="address in addresses track by $index" class="address"  ng-class="{selected:address.selected}">
                <md-card-content>
                     <div layout="row" class="address-header">
                        <img ng-click="selectAddress(address.addressId)" src="assets/img/checkout/address.svg" style=" margin:10px 0px 0px 10px" height="40px" width="40px">
                        <div flex></div>
                        <p ng-click="selectAddress(address.addressId)"><span class="md-title">{{address.name}}</span></p>
                        <div flex></div>
                        <div class="address-edit">
                            <md-button class="md-icon-button" aria-label="More" ng-click="editAddress(address,$event)">
                                <md-icon md-svg-icon="assets/img/checkout/edit.svg"></md-icon>
                            </md-button>
                        </div>
                        <div class="address-edit">
                            <md-button class="md-icon-button" aria-label="More" ng-click="removeAddress(address);">
                                <md-icon md-svg-icon="assets/img/checkout/close.svg"></md-icon>
                            </md-button>
                        </div>                        
                    </div>
                    <div ng-click="selectAddress(address.addressId)">
                        <ul class="del-address" style="padding:0px 15px;">
                            <li><span class="md-body-1"><ng-md-icon icon="place" style="fill: #333333" size="24"></ng-md-icon> </span> {{address.address1}}</li>
                            <li ng-if="address.address2">  {{address.address2}}</li>
                            <li><span>&nbsp;</span> {{address.city.name}}</li>
                            <li><span>&nbsp;</span> {{address.state.name}}</li>
                            <li><span>&nbsp;</span> {{address.country.name}}</li>
                            <li><span>&nbsp;</span> {{address.pinCode}}</li>
                            <li><br/></li>
                            <li><span><ng-md-icon icon="phone" style="fill: #333333" size="16"></ng-md-icon> </span> {{address.phoneNo}}</li>
                        </ul>
                    </div>
                    
                 
                </md-card-content>
            </md-card>
        
     
            <md-card flex="45" layout-align="center center" ng-click="openAddressDialog($event,'add')" style="cursor:pointer;">
                <div layout="column">
                    <div flex></div>
                    <p></p>
                    <p></p>
                    <img src="assets/img/checkout/add-address.svg" height="50px" width="50px">
                    <p style="text-align:center" class=".md-title">ADD NEW ADDRESS</p>
                    <p></p>
                    <p></p>
                    <div flex></div>
                </div>
            </md-card>
      
    </div>
</section>
<section class="contact-details md-action" layout="row">
	<div flex></div>
   
    <div layout="row" layout-align="end center">
        <span ng-hide="change">
        <md-button class="md-raised" ng-click="cancel1()">Back</md-button>
      </span>
       <span ng-show="change">
        <md-button class="md-raised" ng-click="back()">Back</md-button>
       </span>
        <md-button class="md-raised" ng-click="goNext('address')" style="background-color:#72a308 ; color:#FFFFFF;">Next</md-button>
    </div>
</section>

 -->












<div layout-sm="column" layout-gt-sm="row" class="responsive-container">
	<div ng-hide="addresses.length == 0" flex-sm="100" flex-gt-sm="60"   layout-padding layout-margin layout="column" class="address-container" >
		<span  class="md-headline addTitle">CHOSE YOUR DELIVERY ADDRESS</span>
		<div class="address-container address padd_tb10" ng-repeat="address in addresses track by $index" ng-class="{selected:address.selected}" layout="row" layout-wrap>
			<div flex-gt-lg="100" flex-lg="100" flex-md="100" flex-sm="100" layout="row">
				<div flex-sm="100" flex-md="60" flex-gt-md="50" class="address-user-name" ng-click="selectAddress(address.addressId)" layout-padding>
					<span  class="md-title">{{address.name}}</span>
				</div>
			</div>
			<div flex-gt-lg="100" flex-lg="100" flex-md="100" flex-sm="100" layout="row"  class="address-box">
				<div flex-gt-lg="80" flex-lg="60"  flex-md="60" flex-sm="70" ng-click="selectAddress(address.addressId)">
					<div flex layout="column">
						<div flex><span class="address-icon"><i class="icon ion-ios-location "></i></span><span class="md-subhead address-pull-left">  {{address.address1}}, {{address.address2}}, {{address.city.name}},  {{address.state.name}}, {{address.country.name}}, {{address.pinCode}}.</span></div>
						<div flex><span class="address-icon"><i class="icon ion-ios-telephone"></i></span><span class="md-subhead address-pull-left"> {{address.phoneNo}}</span></div>
					</div>
				</div>
				<div flex-gt-lg="20" flex-lg="40" flex-md="40" flex-sm="30"  layout="row">
					<md-button  class="md-icon-button launch" ng-click="editAddress(address,$event)">
				        <md-icon>edit</md-icon>
				    </md-button>
				    <md-button  class="md-icon-button launch" ng-click="removeAddress(address);" >
				        <md-icon>close</md-icon>
				    </md-button>
				</div>
			</div>
		</div>
		
	</div>
	
	<md-card flex="45" layout-align="center center" ng-click="openAddressDialog($event,'add')" style="cursor:pointer;">
                <div layout="column">
                    <div flex></div>
                    <p></p>
                    <p></p>
                    <img src="assets/img/checkout/add-address.svg" height="50px" width="50px">
                    <p style="text-align:center" class=".md-title addTitle">ADD NEW ADDRESS</p>
                    <p></p>
                    <p></p>
                    <div flex></div>
                </div>
            </md-card>
	
	
</div> 
