<section class="address-section" layout="column">
    <p class="address-title md-headline">What is your delivery address</p>
    <div class="address-container" layout="row" layout-wrap layout-align="center">
        <!-- <div flex="40"> -->
            <md-card flex="45" ng-repeat="address in addresses track by $index" class="address"  ng-class="{selected:address.selected}">
                <md-card-content>
                     <div layout="row" class="address-header">
                        <img ng-click="selectAddress(address.addressId)" src="assets/img/checkout/address.svg" style=" margin:10px 0px 0px 10px" height="40px" width="40px">
                        <div flex></div>
                        <p ng-click="selectAddress(address.addressId)"><span class="md-title">{{address.name}}</span></p>
                        <div flex></div>
                        <div class="address-edit">
                            <md-button class="md-icon-button" aria-label="More" ng-click="editAddress(address,$event)">
                                <md-icon md-svg-icon="assets/img/checkout/edit.svg"></md-icon>
                            </md-button>
                        </div>
                        <div class="address-edit">
                            <md-button class="md-icon-button" aria-label="More" ng-click="removeAddress(address);">
                                <md-icon md-svg-icon="assets/img/checkout/close.svg"></md-icon>
                            </md-button>
                        </div>                        
                    </div>
                    <div ng-click="selectAddress(address.addressId)">
                        <ul class="del-address" style="padding:0px 15px;">
                            <li><span class="md-body-1"><ng-md-icon icon="place" style="fill: #333333" size="24"></ng-md-icon> </span> {{address.address1}}</li>
                            <li ng-if="address.address2">  {{address.address2}}</li>
                            <li><span>&nbsp;</span> {{address.city}}</li>
                            <li><span>&nbsp;</span> {{address.state.name}}</li>
                            <li><span>&nbsp;</span> {{address.country.name}}</li>
                            <li><span>&nbsp;</span> {{address.pinCode}}</li>
                            <li><br/></li>
                            <li><span><ng-md-icon icon="phone" style="fill: #333333" size="16"></ng-md-icon> </span> {{address.phoneNo}}</li>
                        </ul>
                    </div>
                    
                    <!-- <div layout="row" class="delivery-address"  layout-align="center center">
                    	<div layout="column" flex="85" flex-gt-md="85" flex-md="80" ng-click="selectAddress(address.addressId)" style="padding:20px;">
                    		<div flex layout="row" >
                    			<div style="width:30px;">
                    				<ng-md-icon icon="person" style="fill: #333333" size="24"></ng-md-icon> 
                    			</div> 
                    			<div flex  ><span class="md-headline">{{address.name}}</span></div>
                    		</div>
                    		<div flex layout="row"  >
                    			<div style="width:30px;">
                    				<ng-md-icon icon="place" style="fill: #333333" size="24"></ng-md-icon> 
                    			</div>
                    			<div flex>
                    			 	{{address.address1}}, {{address.address2}}, {{address.city}}, {{address.state.name}}, {{address.country.name}} - {{address.pinCode}}
                    			</div> 	
                    		</div>
                    		<div flex layout="row"  >
                    			<div style="width:30px;">
                    				<ng-md-icon icon="phone" style="fill: #333333" size="16"></ng-md-icon> 
                    			</div>
                    			<div flex>
                    				{{address.phoneNo}}
                    			</div>
                    		</div>
                    	</div>
                    	<div flex="15" flex-gt-md="15" flex-md="20" layout="column" style="padding:20px 10px;">
                    		<div flex>
                    			 <md-button class="md-icon-button" aria-label="More" ng-click="editAddress(address,$event)">
	                                <md-icon md-svg-icon="assets/img/checkout/edit.svg" ></md-icon>
	                                <ng-md-icon icon="edit" style="fill: #333333" size="22"></ng-md-icon> 
	                             </md-button>
                    		</div>
                    		<div flex>
                    			<md-button class="md-icon-button" aria-label="More" ng-click="removeAddress(address);">
                                	<md-icon md-svg-icon="assets/img/checkout/close.svg"></md-icon>
                                	<ng-md-icon icon="clear" style="fill: #333333" size="22"></ng-md-icon> 
                            	</md-button>
                    		</div>
                    	</div>
                    </div> -->
                </md-card-content>
            </md-card>
        <!-- </div> -->
        <!-- <div flex="10">

        </div> -->
        <!-- <div flex="40"> -->
            <md-card flex="45" layout-align="center center" ng-click="openAddressDialog($event,'add')" style="cursor:pointer;">
                <div layout="column">
                    <div flex></div>
                    <p></p>
                    <p></p>
                    <img src="assets/img/checkout/add-address.svg" height="50px" width="50px">
                    <p style="text-align:center" class=".md-title">ADD NEW ADDRESS</p>
                    <p></p>
                    <p></p>
                    <div flex></div>
                </div>
            </md-card>
       <!--  </div> -->
    </div>
</section>
<section class="contact-details md-action" layout="row">
	<div flex></div>
    <!-- <div style="float:right">
        <md-input-container flex layout-padding>
            <label style="color: green;">Contact Number <span style="color:red">*</span></label>   
            <input ng-model="currentOrder.contactNumber" valid-number ng-required="true">
        </md-input-container>
    </div>     -->
    <div layout="row" layout-align="end center">
        <span ng-hide="change">
        <md-button class="md-raised" ng-click="cancel1()">Back</md-button>
      </span>
       <span ng-show="change">
        <md-button class="md-raised" ng-click="back()">Back</md-button>
       </span>
        <md-button class="md-raised" ng-click="goNext('address')" style="background-color:#72a308 ; color:#FFFFFF;">Next</md-button>
    </div>
</section>