 <!-- <md-tooltip md-direction="top">Select address</md-tooltip> -->
 <!-- <md-tooltip md-direction="top">Select delivery</md-tooltip> -->
 <!-- <md-tooltip md-direction="top">Review and confirmed</md-tooltip> -->
 <!--  <md-tooltip md-direction="top">Select payment</md-tooltip> -->

<md-card layout="column">
        <md-card-content>
            <section class="timeline" layout="row" layout-align="center center">
                <div layout="row" class="timeline-container" layout-align="center center">
                    <div class="timeline-circle se-add-bg" ng-class="{completed:timeLineStatus.addressEntry}">
                        <md-button class="md-icon-button" aria-label="More" ng-click="goPrevious('address')">
                            <ng-md-icon class="check_status" size="16" icon="done" style="color:#FFFFFF"></ng-md-icon>
                        </md-button>
                    </div>
                    <div flex class="timeline-line se-add-line" ng-class="{completed:timeLineStatus.addressEntry}">
                    </div>
                    <div class="timeline-circle se-del-bg" ng-class="{completed:timeLineStatus.deliveryDate}">
                        <md-button class="md-icon-button" aria-label="More" ng-click="goNext('address')">
                            <div class="" style="height:50px; width:50px;"></div>
                        </md-button>
                    </div>
                    <div flex class="timeline-line se-del-line" ng-class="{completed:timeLineStatus.deliveryDate}">
                    </div>
                    <div class="timeline-circle se-con-bg" ng-class="{completed:timeLineStatus.verification}">
                        <md-button class="md-icon-button" aria-label="More" ng-click="goNext('deliverySchedule')">
                           <div class="" style="height:50px; width:50px;"></div>
                        </md-button>
                    </div>
                   <!--  <div flex class="timeline-line se-con-line" ng-class="{completed:timeLineStatus.verification}">
                    </div>
                    <div class="timeline-circle" ng-class="{completed:timeLineStatus.payment}">
                        <md-button class="md-icon-button" aria-label="More">
                             <div class="" style="height:50px; width:50px;"></div>
                        </md-button>
                    </div> -->
                </div>
            </section>
            <ng-include src="merchangetTemplate"></ng-include>
        </md-card-content>
    </md-card>