 <link rel="stylesheet" type="text/css" href="app/modules/checkout/date-time.css">
 
<section class="deliverySlot-section" layout="column" layout-align="start center" ng-init="getTimeSlot();">
    <md-card >
        	<div class="row address-title"> 
   			 <p class="md-headline ft_black _slat">Reserve your delivery slot</p> 
   			 
   		</div>
        <md-card-content class="ft-grn">
            <div layout="row" layout-sm="column" flex layout-align="none start">               
 				<div layout="column" flex="40" flex-sm="100"  flex-xs="100"layout-align="none" ng-model="date" class=" calender-style border-green">
 					<span flex layout-padding class="border-light border-bottom relative-p"> Pick a date
 					<md-datepicker class="delivery_slot" aria-label="Choose Date" ng-model="delivery.date" md-min-date="minDate" ng-change="formateSelectedDate(delivery.date)"></md-datepicker></span>
 					<span flex class="calendar-date">{{choosedDate[2]}}</span>
 					<span flex class="calendar-month">{{choosedDate[1]}} , {{choosedDate[3]}}</span>
 					<span flex class="calendar-day">{{choosedDate[0]}}</span>
 				</div>
 				<div layout class="delivery-icon" flex="20" flex-sm="100" flex-xs="100" layout-align=" start center">
 					<md-icon md-svg-icon="assets/img/icon/logistics2.svg" style="height: 70px;width:70px;color: #FB8A08;"></md-icon> 
				</div>
 				<div layout="column" flex="40" flex-sm="100" flex-xs="100" layout-align=" start center" class="border-green padd-t15">
 					<clockpicker ng-model="time" />
 				</div>
 			</div>	 			
        </md-card-content>
         <div layout="row" layout-sm="column" layout-align="none start" class="marg-tb15 border-light border-top border-bottom">    
 			 
 			 		<div class="" flex> 			 		
 			 			<span flex layout="column" layput-padding class=" marg-15 border-right border-light">
 			 			<div layout="row" class="ft_gray">
 			 				<md-icon md-svg-icon="assets/img/icon/time36.svg" style="padding: 0px 5px 0px 10px;"></md-icon> 
 			 				 <strong flex class="ft_size20 ft-grn"> {{filter12HrTime(deliveryTime.fromTime)}} to {{filter12HrTime(deliveryTime.toTime)}} </strong>			 				 
 			 			</div>
 			 			 	<span flex class="padd-l10 text-small">Your store is available for delivery from </span>
 			 			</span> 			 			
 			 		</div>
 			 		<div class="" flex>
 			 			<span flex layout="column" layput-padding class="marg-15 ft_gray">
 			 			 <div layout="row">
 			 			 <span class=" ft-grn" ng-hide="textDesign">Your basket is expected to be delivered within <span class="text-small ft_gray">60 minutes* </span> </span>
 			 			 
 			 			 </div>
 			 			 <span class="ft_size18 ft-grn" ng-hide="hidenext">Your basket will be delivered at {{expectedTime}}</span>
 			 			 </span>
 			 		</div>
 			 		<div >
 			 	</div>
 			 </div>
    </md-card>
</section>

<section class="contact-details md-action" layout="row">
    <div flex></div>
    <div layout="row" layout-align="end center">
        <md-button class="md-raised" ng-click="goPrevious('address')">Back</md-button>
        <md-button class="green_btn_clr" ng-disabled="hidenext" style="width: auto;" ng-click="goNext('deliverySchedule')">Next</md-button>
    </div>

</section>

