<section class="verification-section"  id="ver-section">
    <div layout-gt-md="row" layout-sm="column" layout-md="column">
    	
    	<div flex-sm="100" flex-md="100" flex-gt-md="70" layout="column">
    		
    		<div flex layout-sm="column" class="box-gray" layout-wrap layout-md="column" layout-lg="column" layout-gt-lg="row">
    			<div flex="100" layout-margin class="verification-section-title md-display-1 _slat-del">Review your order</div>
    			<div  layout-padding  flex="50" >
    				<div class="del-container container-address" flex layout-sm="column" layout="row">
	    				<div class="del-container-img" >
	    					 <div class="circle">
	    					 	<img src="assets/img/checkout/address.svg" height="30px" width="30px">
	    					 </div>
	    				</div>
	    				<div class="del-address" layout="column">
	    					<div flex>
		    					<span class="md-title">Address</span>
		    					<span class="md-headline del-address-edit">
									<md-button class="md-icon-button" ng-click="goPrevious('address','edit')">
		                        		<md-icon size="20" md-svg-src="assets/img/checkout/edit.svg"></md-icon>
		                    		</md-button>
								</span>
							</div>
							<div flex>
								<span>{{currentOrder.address.address1}},</span>
								<span ng-if="currentOrder.address.address2">{{currentOrder.address.address2}},</span>
			                    <span>{{currentOrder.address.city.name}}, {{currentOrder.address.state.name}}, {{currentOrder.address.country.name}}, {{currentOrder.address.pinCode}}.</span>
							</div>
	    				</div>
    				</div>
    			</div>
    		
    			<div  layout-padding  flex="50" >
    				<div class="del-container container-time" flex layout-sm="column" layout="row">
	    				<div class="del-container-img" >
	    					 <div class="circle">
	    					 	 <img src="assets/img/checkout/address.svg" height="30px" width="30px">
	    					 </div>
	    				</div >
	    				<div class="del-address" layout="column">
	    					<div flex>
		    					<span class="md-title">Delivery</span>
		    					<span class="md-headline del-address-edit">
									<md-button class="md-icon-button" ng-click="goPrevious('deliverySchedule')">
	                        			<md-icon md-svg-src="assets/img/checkout/edit.svg"></md-icon>
	                    			</md-button>
								</span>
							</div>
							<div flex>
								 {{currentOrder.delivery.fromTime}}<span></span>, {{currentOrder.delivery.date}}
							</div>
	    				</div>
    				</div>
    			</div>
    		</div>
    		<!--  Order lists  -->
    		<div flex>
    			<div class="md-headline text-center  _slat-del" layout-margin>Items to be delivered</div>
    			<div layout-sm="column" layout-gt-sm="row" class="del-items" layout-padding ng-repeat="product in myCart.cartItem" layout-align-gt-sm="center center" layout-align-sm="center center">
    				<div  class="del-prod-img">
    					 <img src="{{product.product.image.url}}" width="60">
    				</div>
    				<div  class="del-prod-desc" layout-align-sm="center center" layout="column">
    					<div class="md-subhead">{{product.product.name}}</div>
    					<div class="md-body-1">{{product.product.unit}}{{product.product.uom.name}}</div>
    				</div>
    				<div class="del-prod-price">
    					<div class="md-subhead">{{product.qty}} x Rs.{{product.discountPrice}} = Rs.{{product.discountPrice * product.qty | number:2}}</div>
    				</div>
    			</div>
    		</div>
    	</div>
    	
    	
    	<div flex-sm="100" flex-md="100" style="margin:0px 0px 0px 20px" flex-gt-md="30" >
    		<div layout="column" flex class="order-total box-gray" layout-padding >
	    		<div flex layout="row">
	    			<span flex="60" layout-align="start center" class="md-subhead">Subtotal</span>
	    			<span flex="40" ng-bind-html="myCart.cartTotalAmount | currency: rupeesSymbol"></span>
	    		</div>	
	    		
	    		<div flex layout="row" ng-repeat="tax in myCart.taxs">
	    			<span flex="60">{{tax.name}} ({{tax.taxPercentage}}%)</span>
	    			<span flex="40" ng-bind-html="tax.rate | number:2 | currency: rupeesSymbol"></span>
	    		</div>
	    		<div flex layout="row">
	    			<span flex="60">Shipping Charges</span>
	    			<span flex="40" ng-bind-html="myCart.shippingCharges | number:2 | currency: rupeesSymbol"></span>
	    		</div>
	    		<div flex layout="row">
	    			<span flex="60" class="md-title">Total</span>
	    			<span flex="40" class="md-title" ng-bind-html="myCart.grossAmount | currency: rupeesSymbol"></span>
	    		</div>
    		</div>
    		    		
    		<div class="payment-method" layout-margin layout-padding >
    			<div class="md-headline">Payment Method</div>
            	<md-radio-group ng-model="transactionType" class="md-primary">
			        <md-radio-button ng-repeat="t in transactions" ng-value="t.key" >
			            {{t.name}}
			        </md-radio-button>
    			</md-radio-group>
    		</div>
    		
    		
    		<md-button class="green_btn_clr" style="width: auto;" ng-disabled="orderBtn" ng-click="confirmOrder(transactionType); ">CONFIRM MY ORDER</md-button>
            
           <!--  <form action="https://demo.globalgatewaye4.firstdata.com/payment" method="post" name="FirstData" style="display:none;">
				<input name="x_login" value="WSP-MITOS-E2mIIgBi3g"
					type="hidden">
				Payment Page ID

				<input name="x_fp_sequence" value="123456" type="hidden">
				Used in x_fp_hash calculation in order to make it unique but not used otherwise

				<input name="x_fp_timestamp" ng-value="timeStamp" type="hidden">
				Time in seconds since January 1, 1970. UTC, Coordinated Universal Time,expire after 15 minutes / 900 seconds

				<input name="x_amount" ng-value="TOTAL" type="hidden">
				Total dollar amount to be charged inclusive of freight and tax

				<input name="x_currency_code" value="INR" type="hidden">
				Currency of the transaction. Case sensitive.

				<input name="x_fp_hash" ng-value="hash" type="hidden">
				x_login, x_fp_sequence, x_fp_timestamp, x_amount, and (if given) x_currency_code – all separated by the ^ character

				<input name="x_show_form" value="PAYMENT_FORM" type="hidden">
				required in order to stay compatible with the Authorize.net protocol

				<div ng-repeat="list in cartItems">

					<input name="x_line_item" ng-value="list.item" type="hidden">

				</div>

				<input name="x_freight" ng-value="shipping" type="hidden">

				<input name="enable_level3_processing" type="hidden" value="TRUE" /> 
				<input name="x_po_num" value="purchaseorder1" type="hidden"> 
				<input name="x_invoice_num" ng-value="orderNo" type="hidden">
				<input name="x_cust_id" value="customerid1" type="hidden"> 
				<input name="x_email_customer" value="TRUE" type="hidden"> 
				<input name="x_method" value="CC" type="hidden"> 
				<input value="CONFIRM MY ORDER" class="btn btn-danger nextBtn" type="submit">
			</form> -->
			
			
		<form method="post" action="https://secure.ebs.in/pg/ma/payment/request" 
				name="frmTransaction" >  
			<input name="account_id" type="hidden" ng-value="transactionDetails.accountId" />  
			<input name="address" type="hidden" ng-value="transactionDetails.address" />  
			<input name="algo" type="hidden" ng-value="transactionDetails.algo" />  
			<input name="amount" type="hidden" ng-value="transactionDetails.amount" />  
			<input name="channel" type="hidden" ng-value="transactionDetails.channel" />  
			<input name="city" type="hidden" ng-value="transactionDetails.city" />  
			<input name="country" type="hidden" ng-value="transactionDetails.country" />  
			<input name="currency" type="hidden" ng-value="transactionDetails.currency" />
			<input name="currency_code" type="hidden" ng-value="transactionDetails.currencyCode" />  
			<input name="description" type="hidden" ng-value="transactionDetails.description" />  
			<input name="email" type="hidden" ng-value="transactionDetails.email" />  
			<input name="mode" type="hidden" ng-value="transactionDetails.mode" />  
			<input name="name" type="hidden" ng-value="transactionDetails.name" />  
			<input name="phone" type="hidden" ng-value="transactionDetails.phone" />  
			<input name="postal_code" type="hidden" ng-value="transactionDetails.postalCode" />  
			<input name="reference_no" type="hidden" ng-value="transactionDetails.referenceNo" />
			<input name="return_url" type="hidden" ng-value="transactionDetails.returnUrl" />  
			<input name="ship_address" type="hidden" ng-value="transactionDetails.shipAddress" /> 
			<input name="ship_city" type="hidden" ng-value="transactionDetails.shipCity" />  
			<input name="ship_country" type="hidden" ng-value="transactionDetails.shipCountry" />  
			<input name="ship_name" type="hidden" ng-value="transactionDetails.shipName" />  
			<input name="ship_phone" type="hidden" ng-value="transactionDetails.shipPhone" />  
			<input name="ship_postal_code" type="hidden" ng-value="transactionDetails.shipPostalCode" />  
			<input name="ship_state" type="hidden" ng-value="transactionDetails.shipState" />  
			<input name="state" type="hidden" ng-value="transactionDetails.state" />  
			<input name="secure_hash" type="hidden" ng-value="transactionDetails.secureHash" />  
			<!-- <input name="name_on_card" type="text" value="Prabakaran" />
			<input name="card_number" type="text" value="4012001037141112 "  />
			<input name="card_expiry" type="text" value="12/2016 " />
			<input name="card_cvv" type="password" value="123" /> -->
			<!-- <input value="Submit" type="submit" style="display: none;" /> -->
		</form>
			
    	</div>
    	
    </div>
    <!-- 
     -->
    
    
</section>