<div ng-init="getMeasurementUnit();getproductCategory();getProductType(product.productCategory.productCategoryId)">

	<md-toolbar	class=" md-default-theme" style="background-color:transparent;">
		<div class="md-toolbar-tools">
			<h2 class="md-flex">Create Product</h2>
		</div>
		<!-- <span class="close_box"> <ng-md-icon class="icon-white svgstyle"
				size="35" icon="close" ui-sref="app.producttype"></ng-md-icon>
		</span>  -->	
	</md-toolbar>

<md-card flex-gt-sm="90" flex-gt-md="80"> 
	 
<md-content md-theme="docs-dark" layout-padding layout="column" layout-sm="column">

<!-- <div layout="row" class="addprdct-title">
	<h3 layout-align="start center"></h3>
</div> -->

<form name="addProductForm" novalidate>

	<!-- <div flex="50" class="padd-50 padd-b30" layout-padding layout="column"
		layout-sm="column"> -->
		<div layout="row" layout-sm="column">
		<div flex>
		<div layout-padding>
			<md-input-container> <label>Product Name</label>
				<input type="text" ng-model="product.name" ng-required="true" /> 
			</md-input-container>

			<md-input-container> <label>Product
				Category</label> <md-select placeholder="Select Product Category"
				ng-change="getProductType(product.productCategory.productCategoryId)"
				ng-model="product.productCategory.productCategoryId"
				ng-required="true"> <md-option
				ng-value="item.productCategoryId"
				ng-repeat="item in productCategoryVo"> {{item.name}} </md-option> </md-select> 
			</md-input-container>

			<md-input-container> <label>Product Type</label>
	
			<md-select placeholder="Select Product Type"
				ng-model="product.productType.productTypeId" ng-required="true">
			<md-option ng-value="item.productTypeId"
				ng-repeat="item in productTypeVo">
			{{item.name}} </md-option> </md-select> </md-input-container>
			
			<md-input-container> <label>Product
				Description</label> <textarea id="textarea1" rows="4"
				style="border: 1px solid #ddd;" class="materialize-textarea"
				ng-model="product.description"></textarea> 
			</md-input-container>


			<md-input-container> <label>Product
				Measurement</label> <input type="text" ng-model="product.unit" valid-number
				ng-required="true" />
			</md-input-container>

			<md-input-container> <label>Measurement
				Unit</label> <md-select name="myModel" ng-model="product.uom.uomId"
				ng-required="true"> <md-option ng-value="item.uomId"
				ng-repeat="item in uom"> {{item.name}} </md-option> </md-select> 
			</md-input-container>

			<md-input-container> <label>Edible Type</label> <md-select
				placeholder="Select Type" ng-model="product.edibleType">
			<md-option ng-value="item.Name" ng-repeat="item in typeList"
				ng-required="true"> {{item.Name}} </md-option> </md-select> 
			</md-input-container>

			<md-input-container> <label>Price</label> <!--    <input type="text" class="decimalnumber" ng-model="product.productPrice.price" />  -->
			<input type="text" name="price" ng-model="product.price"
				pattern="^\d*(\.\d{2}$)?" ng-required="true" /> <span
				ng-message="required"
				ng-show="addProductForm.price.$error.price || (!addProductForm.price.$error.required && !addProductForm.price.$valid)"
				style="color: red;">Price Should be Number and upto 2 digits
				decimal point.</span> 
			</md-input-container>
		</div>
		</div>		
	

		<div flex>
		<div layout-padding>
				
		<h4 layout="row" class="md-layout-column">
			<input layout-align="start center" type="checkBox" ng-model="product.isYourHot" ng-required="true" />
			<label layout-align="end center" style="padding-left: 20px;">Is Your Hot Product</label>
		</h4>
		
		
		<md-input-container> <label>Brand</label> <input
			type="text" ng-model="product.brand" ng-required="true" /> 
		</md-input-container>


		<md-input-container> <label>Group Count</label> <input
			type="text" ng-model="product.groupCount" valid-number
			ng-required="true" /> 
		</md-input-container>

		<!-- <div class="padd-lrtb30">
			<div class="md-layout-row layout-align-start-center pt_relat">
				<img ng-show="image.originalFrontImage" style="width: 100px;"  src="{{image.originalFrontImage}}"
					class="img-circle" height="100" ng-required="true" /> 
					
				<img ng-hide="image.originalFrontImage"  style="width: 100px;" src={{product.image.url}}
					class="img-circle" height="100" ng-required="true" />
					
					<label
					id="file-uploadtest"> <ng-md-icon icon="file_upload"
						size="20"></ng-md-icon> <input id="file-upload1" type="file"
					ng-model="image.originalFrontImage" class="nodisplay"
					app-filereader ng-change="uploadFile('file-name1','file-upload1')" />
					
					<span id="file-name1"></span>
				</label>
				<h3 style="padding: 0px 10px;" class="md-layout-column">Original
					Front Image</h3>

			</div>
		</div>
		
		<div class="padd-lrtb30">
			<div class="md-layout-row layout-align-start-center pt_relat">
				<img ng-show="images.originalBackImage" style="width: 100px;"  src="{{images.originalBackImage}}"
					class="img-circle" height="100" ng-required="true" /> 
					
				<img ng-hide="images.originalBackImage"  style="width: 100px;" src={{product.productImages[0].image.url}}
					class="img-circle" height="100" ng-required="true" />
					
					<label
					id="file-uploadtest"> <ng-md-icon icon="file_upload"
						size="20"></ng-md-icon> <input id="file-upload2" type="file"
					ng-model="images.originalBackImage" class="nodisplay"
					app-filereader ng-change="uploadFile('file-name2','file-upload2')" />
					
					<span id="file-name2"></span>
				</label>
				<h3 style="padding: 0px 10px;" class="md-layout-column">Original
					Back Image</h3>

			</div>
		</div> -->		
		
		<div flex layout="row">
		  		<div layout="row" layout-sm="column" layout-align="start start">
				    <div class="md-layout-row layout-align-start-center pt_relat" style="height:120px; width:120px;cursor:pointer; text-align:center;  border-radius:5px; padding:10px; border:5px solid rgba(0,0,0,0.1)">	 
						
				     		<label class="cursor" style="position:relative; z-index:1000; color:#000000;" id="file-uploadtest"> 
							Upload Image
							<input id="file-upload1" type="file" ng-model="images.originalFrontImage" class="nodisplay" app-filereader ng-change="uploadFile('file-name1','file-upload1')" />
							<!-- <span id="file-name1"></span> -->
							</label>
							
							<img ng-show="images.originalFrontImage" style="position:absolute; width:100px; left:5px; top:5px; height: 100px;  border-radius: 5px;" src="{{images.originalFrontImage}}" ng-required="true" /> 
					
							<img ng-hide="images.originalFrontImage" style="position:absolute; width:100px; left:5px; top:5px; height: 100px;  border-radius: 5px;" src={{product.image.url}} ng-required="true" /> 
									        	
				    </div> 
				  </div>
				  <div layout-align="center center">
				  	<span style="line-height: 6; font-weight: bold; padding-left: 10px; font-size: 18px;">Original Front Image</span>
				  </div>
		  	</div>
		
		<div flex layout="row">
		  		<div layout="row" layout-sm="column" layout-align="start start">
				    <div class="md-layout-row layout-align-start-center pt_relat" style="height:120px; width:120px;cursor:pointer; text-align:center;  border-radius:5px; padding:10px; border:5px solid rgba(0,0,0,0.1)">	 
						
				     		<label class="cursor" style="position:relative; z-index:1000; color:#000000;" id="file-uploadtest"> 
							Upload Image
							<input id="file-upload2" type="file" ng-model="images.originalBackImage" class="nodisplay" app-filereader ng-change="uploadFile('file-name2','file-upload2')" />
							<!-- <span id="file-name2"></span> -->
							</label>
							
							<img ng-show="images.originalBackImage" style="position:absolute; width:100px; left:5px; top:5px; height: 100px;  border-radius: 5px;" src="{{images.originalBackImage}}" ng-required="true" /> 
					
							<img ng-hide="images.originalBackImage" style="position:absolute; width:100px; left:5px; top:5px; height: 100px;  border-radius: 5px;" src={{product.productImages[0].image.url}} ng-required="true" /> 
							<!-- <img src="{{merchantLogo}}" ng-show="merchantLogo"  /> -->
				        	
				    </div> 
				  </div>
				  <div layout-align="center center">
				  	<span style="line-height: 6; font-weight: bold; padding-left: 10px; font-size: 18px;">Original Back Image</span>
				  </div>
		  	</div>
	</div>
	</div>
	</div>
	
	<!-- <section layout="row" layout-align="start center" layout-wrap>
			<md-button ng-hide="product.productId" class="md-raised md-success  prdct-btns"
				ng-click="addproduct();">Create</md-button>
			<md-button ng-show="product.productId" class="md-raised md-success  prdct-btns"
				ng-click="update();">Update</md-button>
			<md-button ui-sref="app.producttype"
				class="md-raised md-cancel prdct-btns">Cancel</md-button>
			<md-button class="md-raised md-cancel prdct-btns" ui-sref="app.producttype">Cancel</md-button>
		</section> -->
		
		<div layout="row" layout-sm="column">
		  	<div flex>
		  		<section layout="row" layout-padding layout-sm="column" layout-align="start center" layout-wrap>
			    	<md-button class="md-raised md-success padd-50" ng-click="addproduct();" ng-disabled="">Create</md-button>
			    	<md-button class="md-raised md-cancel padd-50" ui-sref="app.producttype">Cancel</md-button>
			    </section>
		  	</div>
		  </div>


</form>
</md-content> 
</md-card>
</div>