 <div ng-init="getMeasurementUnit();getproductCategory();getProductType(product.productCategory.productCategoryId);getDiscount()">

	<md-toolbar	class=" md-default-theme" style="background-color:transparent;">
		<div class="md-toolbar-tools">
			<h2 class="md-flex" ng-hide="product.productId">Create Product</h2>
			<h2 class="md-flex" ng-show="product.productId">Update Product</h2>
		</div>
		<!-- <span class="close_box"> <ng-md-icon class="icon-white svgstyle"
				size="35" icon="close" ui-sref="app.producttype"></ng-md-icon>
		</span>  -->	
	</md-toolbar>

<md-card flex-gt-sm="90" flex-gt-md="80"> 
	 
<md-content layout-padding layout="column" layout-sm="column">

<!-- <div layout="row" class="addprdct-title">
	<h3 layout-align="start center"></h3>
</div> -->

<form name="addProductForm" novalidate>

	<!-- <div flex="50" class="padd-50 padd-b30" layout-padding layout="column"
		layout-sm="column"> -->
		<div layout="row" layout-sm="column">
		<div flex>
		<div layout-padding>
			<md-input-container> <label>Product Name<span style="color:red">*</span></label>
				<input type="text" ng-model="product.name" ng-required="true" /> 
			</md-input-container>

			<md-input-container> <label>Product
				Category<span style="color:red">*</span></label> <md-select placeholder="Select Product Category*"
				ng-change="getProductType(product.productCategory.productCategoryId)"
				ng-model="product.productCategory.productCategoryId"
				ng-required="true"> <md-option
				ng-value="item.productCategoryId"
				ng-repeat="item in productCategoryVo"> {{item.name}} </md-option> </md-select> 
			</md-input-container>

			<md-input-container> <label>Product Type<span style="color:red">*</span></label>
	
			<md-select placeholder="Select Product Type*"
				ng-model="product.productType.productTypeId" ng-required="true">
			<md-option ng-value="item.productTypeId"
				ng-repeat="item in productTypeVo">
			{{item.name}} </md-option> </md-select> </md-input-container>
			
			<md-input-container> <label>Product
				Description</label> <textarea id="title2" name="title2" rows="5"
				style="border: 1px solid #ddd;" class="materialize-textarea"
				ng-model="product.description" ng-maxlength="250"></textarea> 
				<span ng-message="required" ng-show="addProductForm.title2.$error.maxlength" style="color:red;">
				       	Enter Product Description within 250 characters
				      	</span>
			</md-input-container>

			<md-input-container> <label>Product
				Measurement<span style="color:red">*</span></label> <input type="text" ng-model="product.unit"
				ng-required="true" pattern="\d+(\.\d{1,2})?" / name="measurement">
				<span
				ng-message="required"
				ng-show="addProductForm.measurement.$error.measurement || (!addProductForm.measurement.$error.required && !addProductForm.measurement.$valid)"
				style="color: red;">Product Measurement Should allow upto 2 digits
				decimal point.</span> 
			</md-input-container>

			<md-input-container> <label>Measurement
				Unit<span style="color:red">*</span></label> <md-select name="myModel" ng-model="product.uom.uomId"
				ng-required="true"> <md-option ng-value="item.uomId"
				ng-repeat="item in uom"> {{item.name}} </md-option> </md-select> 
			</md-input-container>

			<md-input-container> <label>Edible Type<span style="color:red">*</span></label> <md-select
				placeholder="Select Type" ng-model="product.edibleType">
			<md-option ng-value="item.Name" ng-repeat="item in typeList"
				ng-required="true"> {{item.Name}} </md-option> </md-select> 
			</md-input-container>

			<md-input-container> <label>Price<span style="color:red">*</span></label> <!--    <input type="text" class="decimalnumber" ng-model="product.productPrice.price" />  -->
			<input type="text" name="price" ng-model="product.price"
				pattern="\d+(\.\d{1,2})?"  valid-number1 ng-required="true"/> <span
				ng-message="required"
				ng-show="addProductForm.price.$error.price || (!addProductForm.price.$error.required && !addProductForm.price.$valid)"
				style="color: red;">Price Should allow upto 2 digits
				decimal point.</span> 
			</md-input-container>
			
			<md-input-container> <label>Was Price</label>
			<input type="text" name="wasPrice" ng-model="product.wasPrice"
				pattern="\d+(\.\d{1,2})?"  valid-number1/> <span
				ng-message="required"
				ng-show="addProductForm.wasPrice$error.price || (!addProductForm.wasPrice.$error.required && !addProductForm.wasPrice.$valid)"
				style="color: red;">Price Should allow upto 2 digits
				decimal point.</span> 
			</md-input-container>
			
		</div>
		</div>		
	

		<div flex>
		<div layout-padding>
				
		<h4 layout="row" class="md-layout-column">
			<input layout-align="start center" type="checkBox" ng-model="product.isYourHot" />
			<label layout-align="end center" style="padding-left: 20px;">Is Your Hot Product</label>
		</h4>
		
		
		<md-input-container> <label>Brand<span style="color:red">*</span></label> <input
			type="text" ng-model="product.brand" ng-required="true" /> 
		</md-input-container>
		
		
		<h4 layout="row" class="md-layout-column" ng-init=checkgroupCount(product);>
			<input layout-align="start center" type="checkBox" ng-model="groupCount" />
			<label layout-align="end center" style="padding-left: 20px;">Is Bundle</label>
		</h4>

		<md-input-container ng-show="groupCount"> <label>Bundle</label> <input
			type="text" ng-model="product.groupCount" valid-number
			 /> 
		</md-input-container>
		
	<md-input-container> <label>Discount<span style="color:red">*</span></label>
	<md-select placeholder="Discount" ng-model="product.discount.discountId">
<md-option ng-value="item.discountId" ng-repeat="item in discountList">
			{{item.name}} </md-option> </md-select> </md-input-container>
	<div flex layout="row">
  		<div layout="row" layout-sm="column" layout-align="start start">
		    <div class="md-layout-row layout-align-start-center pt_relat" style="height:120px; width:120px;cursor:pointer; text-align:center;  border-radius:5px; padding:10px; border:5px solid rgba(0,0,0,0.1)">	 
	     		<label class="cursor" style="position:relative; z-index:1000; color:#000000;" id="file-uploadtest"> 
				Upload Image
				<input id="file-upload1" type="file" ng-model="image.originalFrontImage" class="nodisplay" app-filereader ng-change="uploadFile('file-name1','file-upload1')" />
				</label>
				<img ng-show="image.originalFrontImage" style="position:absolute; width:100px; margin-left: -96px; margin-top: -4px; height: 100px;  border-radius: 5px;" ng-src="{{image.originalFrontImage}}" ng-required="true" /> 
		
				<img ng-hide="image.originalFrontImage" style="position:absolute; width:100px; margin-left: -96px; margin-top: -4px; height: 100px;  border-radius: 5px;" ng-src={{product.image.url}} ng-required="true" /> 
		    </div> 
		  </div>
		  <div layout-align="center center">
		  	<span style="line-height: 6; font-weight: bold; padding-left: 10px; font-size: 18px;">Original Front Image<span style="color:red">*</span></span>
		  </div>
	</div>
		
	<div flex layout="row" ng-repeat="imgs in uploadedImages">
  		<div layout="row" layout-sm="column" layout-align="start start">
		    <div class="md-layout-row layout-align-start-center pt_relat" style="height:120px; width:120px;cursor:pointer; text-align:center;  border-radius:5px; padding:10px; border:5px solid rgba(0,0,0,0.1)">	 
	     		<label class="cursor" style="position:relative; z-index:1000; color:#000000;" id="file-uploadtest"> 
				Upload Image
				<input id="file-upload2" type="file" ng-model="imgs.image" class="nodisplay" app-filereader ng-change="uploadFile('file-name2','file-upload2')" />
				</label>
				<img ng-show="imgs.image" style="position:absolute; width:100px; margin-left: -96px; margin-top: -4px; height: 100px;  border-radius: 5px;" ng-src="{{imgs.image}}" ng-required="true" /> 
				<img ng-hide="imgs.image" style="position:absolute; width:100px; margin-left: -96px; margin-top: -4px; height: 100px; border-radius: 5px;" ng-src={{imgs.url}} ng-required="true" /> 
		    </div> 
		  </div>
		  <div layout-align="center center">
		  	<md-button class="md-icon-button md-primary" ng-click="deleteProductImage($index, imgs);" aria-label="Delete">
             		<ng-md-icon icon="close" size="20" class="icons hash_color btn-danger"></ng-md-icon>
             	</md-button>
		  </div>
	  	</div>
	  	<div ng-show="image.originalFrontImage || (uploadedImages.length >=  0)" flex layout="row">
  		<div layout="row" layout-sm="column" layout-align="start start" ng-click="addNewImageToList();">
		    <div class="md-layout-row layout-align-start-center pt_relat" style="height:120px; width:120px;cursor:pointer; text-align:center;  border-radius:5px; padding:10px; border:5px solid rgba(0,0,0,0.1)">	 
	     		<label class="cursor" style="position:relative; z-index:1000; color:#000000;" id="file-uploadtest"> 
				Add New Image
				</label>
		    </div> 
		  </div>
	  	</div>
	</div>
	</div>
	</div>
	
		<div layout="row" layout-sm="column">
		  	<div flex>
		  		<section layout="row" layout-padding layout-sm="column" layout-align="start center" layout-wrap>
			    	<md-button class="md-raised md-success padd-50" ng-hide="product.productId" ng-click="addproduct();" ng-disabled="addProductForm.$invalid">Create</md-button>
			    	<md-button class="md-raised md-success padd-50" ng-show="product.productId" ng-click="update();" ng-disabled="addProductForm.$invalid">Update</md-button>
			    	<md-button class="md-raised md-cancel padd-50" ui-sref="app.products">Cancel</md-button>
			    </section>
		  	</div>
		  </div>


</form>
</md-content> 
</md-card>
</div>