<md-button ng-click="addProductRedirect()" class="md-fab"
   aria-label="Eat cake"
   style="position: fixed; right: 23px; bottom: 23px; line-height: inherit; margin-bottom: 0; z-index: 998;">
   <ng-md-icon icon="add" size="35" style="fill: white;"></ng-md-icon>
</md-button>
<md-card flex-gt-sm="90" flex-gt-md="80" ng-init="getAllProductList()">
   <md-card-content style="padding: 0px 0px 16px 0px;">
      <md-toolbar class="md-whiteframe-4dp">
         <div class="md-toolbar-tools ">
         	<div layout layout="row">
         	<div flex>
         		<h3 layout="column" style="padding: 0px 10px;">Products</h3>
         	</div>
         	</div>
            <!-- <div layout="row" layout-align="start center">
               
            <span class="flex"></span>
         </div> -->
        	<div flex layout="row" layout-align="end">
        		<div class="md-toolbar-tools padd-0 wid-50" ng-show="showSearch">
	      <md-input-container md-theme="input" flex>
	        <label>&nbsp;</label>
	        <input ng-model="searchTxt" style="color: white; border-bottom-color: white;" placeholder="enter search">
	      </md-input-container>
	      <md-button style="margin-right: 8px;" aria-label="Search" style="line-height: inherit; min-width: inherit;" ng-click="showSearch = !showSearch;srch = true;">
	        <ng-md-icon icon="search" class="icon-white"></ng-md-icon>
	      </md-button>
	  </div>
      <md-button ng-show="srch" layout-align="end" style="line-height: inherit; min-width: inherit;" aria-label="Search" ng-click="showSearch = !showSearch; srch = false;">
       <ng-md-icon icon="search"  class="icon-white" ></ng-md-icon>
      </md-button>
        	</div>
         	 
       <span class="close_box">
        <ng-md-icon class="icon-white svgstyle" size="35" icon="close" ui-sref="app.products"></ng-md-icon>
         </span>
         </div>
      </md-toolbar>
      <div layout="column" style="width:100%;" flex>
      	<div layout="row" flex class="pro-header">
      		<div flex="20">&nbsp;</div>
      		<div flex="20">Product Name</div>
      		<div flex="10">Unit</div>
      		<div flex="10">UOM</div>
      		<div flex="10">Price</div>
      		<div flex="15">Category</div>
      		<div flex="15">Product Type</div>
      	</div>
      	<div ng-repeat="product in productList">
      	<div layout="row" flex class="pro-lists" layout-align="start center" ng-hide="showDetails" ng-show="product.productId != showInLineEdit">
      		<div flex="20" layout="row" style="">
				<div flex="20"><ng-md-icon icon="mode_edit" size="20" style="margin:5px" class="icons hash_color" ng-click="editproduct(product)"></ng-md-icon></div>
				<div flex="20"><ng-md-icon icon="rate_review" size="20" style="margin:5px" class="icons hash_color" ng-click="showInLineEdit=product.productId;productEdit=product;"></ng-md-icon></div>
				<div flex="20"><ng-md-icon icon="close" size="20"  style="margin:5px" class="icons hash_color" ng-click="deleteProduct(product.productId)"></ng-md-icon></div>
				<div flex="40"><img 	 style="padding:2px; float:right; margin-top:-10px; border-radius:50px; border:1px solid #999999;" src={{product.image.url}} width="40" height="40"/></div>
			</div>
      		<div flex="20">{{product.name}}</div>
      		<div flex="10">{{product.unit}}</div>
      		<div flex="10">{{product.uom.name}}</div>
      		<div flex="10">{{product.price}}</div>
      		<div flex="15">{{product.productCategory.name}}</div>
      		<div flex="15">{{product.productType.name}}</div>
      	</div>
      	
      	<div ng-show="product.productId == showInLineEdit" layout="row" flex class="pro-lists" layout-align="start center">
      		<div flex="20" layout="row" style="">
				<div flex="20"><ng-md-icon  ng-click="updateProduct(editProduct)" icon="mode_edit" size="20" style="margin:5px" class="icons hash_color"></ng-md-icon></div>
				<div flex="20"><ng-md-icon  icon="tick" size="20"  style="margin:5px" class="icons hash_color" ng-click="showInLineEdit=null;updateProduct(productEdit);"></ng-md-icon></div>
				<div flex="20"><ng-md-icon  icon="close" size="20"  style="margin:5px" class="icons hash_color" ng-click="showInLineEdit=null;cancelEdit();"></ng-md-icon></div>
				<div flex="40"><img flex style="padding:2px; float:right; margin-top:-10px; border-radius:50px; border:1px solid #999999;" src={{product.image.url}} width="40" height="40"/></div>
			</div>
      		<div flex="20">
				 <input type="text"  ng-model="productEdit.name" />
			</div>
      		<div flex="10"><input type="text"   ng-model="productEdit.unit" /></div>
      		<div flex="10"><input type="text"   ng-model="productEdit.uom.name" /></div>
      		<div flex="10"><input type="text"   ng-model="productEdit.price" /></div>
      		<div flex="15"><input type="text"   ng-model="productEdit.productCategory.name"/></div>
      		<div flex="15"><input type="text"    ng-model="productEdit.productType.name"/></div>
      	</div>
       </div>
      </div>
   </md-card-content>
    <div layout layout="row" class="table-pagination-bg" layout-align="center center">
   <md-data-table-pagination md-limit="productsPagination.limit"
      md-page="productsPagination.page" md-total="{{data.length}}"
      md-trigger="onpagechange"></md-data-table-pagination>
      </div>
     
</md-card> 
