
   <md-toolbar class=" md-default-theme" style="background-color:transparent;">
    <div class="md-toolbar-tools">
      <h2 class="md-flex" style="margin-left:-10px;">Units Of Measurement</h2>
       <!--  <span class="close_box">
		    <ng-md-icon class="icon-white svgstyle" size="35" icon="close" ui-sref="app.units"></ng-md-icon> </span>  -->
    </div>
  </md-toolbar>
 <md-card flex-gt-sm="90" flex-gt-md="80"> 
    <md-content md-theme="docs-dark" layout-padding layout="column" layout-sm="column" class="edit-container">
      <form name="uoms" novalidate>
      
    <md-input-container>
       <label>Abbreviation<span style="color:red">*</span></label>
      <input ng-model="uom.name" ng-required="true">
    </md-input-container> 
      
    <md-input-container>
       <label>Description<span style="color:red">*</span></label>
      <input ng-model="uom.description" ng-required="true">
    </md-input-container>
    
       
    
    <section layout="row" layout-sm="column" layout-align="start center" layout-wrap>
    	<md-button class="md-raised md-success padd-50" ng-show="uom.uomId" ng-click="updateUnit(uom);">Update</md-button>
    		<md-button class="md-raised md-success padd-50" ng-hide="uom.uomId" ng-click="saveUnit(uom);" ng-disabled="uoms.$invalid">Create</md-button>
    	<md-button class="md-raised md-cancel padd-50" ng-show="uom.uomId" ng-click="cancelEdit();">Cancel</md-button>
    	<md-button class="md-raised md-cancel padd-50" ng-hide="uom.uomId" ng-click="cancel();">Cancel</md-button>
    </section>
    </form>
    </md-content>
</md-card>