
<md-menu-content class="padd-0 cart-dropdown" md-position-mode="target-right target">
           <div ng-if="myCart.cartItem.length <= 0">
					<md-toolbar layout="row" class="bg-white ht55">
		                <div  class="md-toolbar-tools ht55" layout-align="start">
		                    <h3> Your Cart</h3>
		                   <md-button layout-align="end" class="md-icon-button" ng-click="toggleRight()">
		      			  		<md-icon md-svg-src="assets/img/icon/close.svg" aria-label="Close dialog"></md-icon>
		    				 </md-button>
		                </div>
		            </md-toolbar>
		            <div layout="row" layout-align="center center"><img src="assets/images/cart-empty.png" /></div>
		            <div layout="row" layout-align="center center"><p style="margin:15px auto;">Your Shopping Cart Is Empty.</p></div>
				</div>
            <div flex layout="column" ng-show="myCart.cartItem.length > 0">
            	<div>
					<md-toolbar layout="row" class="bg-white ht45">
					<div  class="md-toolbar-tools ht55" layout-align="start">
						<h3>Your Cart</h3>		   
						</div>             
		            </md-toolbar>
				</div>
            	<div flex layout="column">
			         <div flex class="scroll-cart">
			       		<md-list-item layout="row" class="md-3-line" ng-repeat="item in myCart.cartItem">
					      <span class="mg-tb25">{{ item.qty}} x </span>
					      <div class="cartsliderlist_img">
					      	<img ng-src="{{item.product.image.url}}" class="md-avatar" alt="{{item.who}}" />
					      </div>
					        
					        <div class="md-list-item-text marg-5" layout="column">
					        <h4>{{ item.product.name }}</h4>
							<h4>{{item.product.unit}}{{item.product.uom.name}}</h4>
							<h4>Rs {{item.product.price}}</h4>
					        </div>
					        <h4 style="margin: 25px 10px; font-weight: 400;" ng-bind-html="item.product.price * item.qty | currency : rupeesSymbol"></h4>
<!-- 					         <md-icon aria-label="Menu" icon="highlight_remove" md-svg-icon="assets/images/cross.svg" ng-click="removeFromMyCart(item, $index);$event.stopPropagation();" style="width: 10px;cursor:pointer;margin-top: 20px;"></md-icon> -->
<!-- 					         <i class="icon ion-ios-trash" style="cursor:pointer; margin-top: 20px; font-size: 20px; color: #F96D57;"></i> -->
<!-- 					         <i class="icon ion-trash-b" style="cursor:pointer; margin-top: 22px; font-size: 15px; fill: #F96D57;"></i>  -->
					          <ng-md-icon icon="highlight_remove" size="25" ng-mouseup="removeFromMyCart(item, $index);" style="cursor:pointer;margin-top: 22px; fill: #F96D57;"></ng-md-icon>
					         <md-divider ></md-divider>
					         
					      </md-list-item> 
					      
			         </div>
				</div>
            	<div style="height:auto; background: #fff; width:100%; position: absolute; box-shadow: 0px 2px 3px rgba(0,0,0,0.4); margin-top: -80px;">
            	<div layout="row" style="border-bottom: 1px solid #e5e5e5; background: #f5f5f5; padding: 0px 10px;" layout-align="start">
			                    <span style="width: 100%;"><span style="line-height: 4;" ng-show="myCart.cartItem.length == 1">Total {{myCart.cartItem.length}} Item</span><span style="line-height: 4;" ng-show="myCart.cartItem.length > 1">Total {{myCart.cartItem.length}} Items </span>
			                        <h3 style="float: right;" ng-bind-html="myCart.cartTotalAmount | currency : rupeesSymbol"></h3>
			                    </span>		       				 
		                </div>
            	<md-list-item layout-align="end center"   ng-show="myCart.cartItem.length > 0" ui-sref="app.cart">
		       <md-button ui-sref="app.cart" class="md-raised ft_size18" style="width: 100%; padding:0px; margin-bottom:5px;background-color:#333 !important; color:white;font-size: 14px;">View Cart</md-button>
		           
		           
		           <md-divider ></md-divider>
		      </md-list-item>
		      
		      
					<div layout="row" style="line-height: 0;font-size:12px; padding:0px 15px;"><p flex>Sub total </p>
                        <p flex class="tright" ng-bind-html="myCart.cartTotalAmount | number:2 | currency : rupeesSymbol"></p></div>
                        
					<div ng-repeat="tax in myCart.taxs">	
                         <div layout="row" style="line-height: 0;font-size:12px; padding:0px 15px;"><p flex>{{tax.name}} ({{tax.taxPercentage}}%)</p>					                        
                            <p flex class="tright" ng-bind-html="tax.rate| number:2 | currency : rupeesSymbol"></p> 
                          </div>
                     </div>  
                        
                         <div layout="row" style="line-height: 0;font-size:12px; padding:0px 15px;"><p flex> Shipping Charges</p>					                        
                            <p flex class="tright" ng-bind-html="myCart.shippingCharges | number:2 | currency : rupeesSymbol"></p> </div>
                            
                         <div layout="row" style="line-height: 0; padding:0px 15px;"><h3 flex>Total </h3>					                        
                            <h3 flex class="tright" ng-bind-html="myCart.grossAmount | currency : rupeesSymbol"></h3></div>                        
                    	
                    	<div layout="row" style="line-height: 0;">
                    	<md-button class="md-raised ft_size18" style="width:100%; background-color:#0F9D58 ;color:white;" ng-click="checkOut();toggleRight('right')">CHECKOUT</md-button>
                	</div>
                	
				</div>
            </div>  
             
</md-menu-content>

