<md-sidenav flex class="md-sidenav-right md-whiteframe-z2"
	md-component-id="right" > 
<md-menu class="mtopn8" md-position-mode="target-right target">

           <div style="height:55px; width:100%;" ng-if="myCart.cartItem.length <= 0">
					<md-toolbar layout="row" class="bg-black ht55">
		                <div  class="md-toolbar-tools ht55" layout-align="start">
		                    <h1 class="text-white" > 
		                        NO ITEMS IN CART
		                    </h1>
		                   <md-button layout-align="end" class="md-icon-button" ng-click="toggleRight()">
		      			  		<md-icon md-svg-src="assets/img/icon/close.svg" aria-label="Close dialog"></md-icon>
		    				 </md-button>
		                </div>
		            </md-toolbar>
		            <div layout="row" layout-align="center center"><p style="width:80%;margin:30% auto;">Sorry, you have not added any items in your cart</p></div>
				</div>
            <div flex style=" height:100%;" layout="column" ng-show="myCart.cartItem.length > 0">
            	<div style="height:55px; width:100%;" >
					<md-toolbar layout="row" class="bg-black ht55">
		                <div  class="md-toolbar-tools ht55" layout-align="start">
		                    <h1 class="text-white" >{{myCart.cartItem.length}}<span ng-show="myCart.cartItem.length == 1"> Item</span><span ng-show="myCart.cartItem.length > 1"> Items</span>, 
		                        <span class="ft_yellow" >Rs {{myCart.cartTotalAmount }}</span>
		                    </h1>
		                    <span flex></span>
		     			 	<md-button layout-align="end" class="md-icon-button" ng-click="toggleRight()">
		      			  		<md-icon md-svg-src="assets/img/icon/close.svg" aria-label="Close dialog"></md-icon>
		    				 </md-button>
		                </div>
		            </md-toolbar>
				</div>
            	<div flex layout="column" style="">
			         <div flex style=" overflow-y:scroll;" class="scroll-cart">
			       		<md-list-item layout="row" class="md-3-line" ng-repeat="item in myCart.cartItem">
					      <span class="mg-tb25">{{ item.qty}} x </span>
					      <div class="cartsliderlist_img">
					      	<img ng-src="{{item.product.image.url}}" class="md-avatar" alt="{{item.who}}" />
					      </div>
					        
					        <div class="md-list-item-text marg-5" layout="column">
					        <h4>{{ item.product.name }}</h4>
							<h4>{{item.product.unit}}{{item.product.uom.name}}</h4>
							<h4>Rs {{item.product.price}}</h4>
					        </div>
					        <h4 style="margin: 25px 10px; font-weight: bold;"><span style="font-weight: normal;">=</span>Rs {{item.product.price * item.qty}}</h4>
<!-- 					         <md-icon aria-label="Menu" icon="highlight_remove" md-svg-icon="assets/images/cross.svg" ng-click="removeFromMyCart(item, $index);$event.stopPropagation();" style="width: 10px;cursor:pointer;margin-top: 20px;"></md-icon> -->
					         <ng-md-icon icon="highlight_remove" size="25" ng-click="removeFromMyCart(item, $index);$event.stopPropagation();" style="cursor:pointer;margin-top: 22px; fill: #F96D57;"></ng-md-icon>
					         <md-divider ></md-divider>
					      </md-list-item> 
			         </div>
				</div>
            	<div style="height:245px; width:100%;">
            	
            	<md-list-item layout-align="end center"   ng-show="myCart.cartItem.length > 0" ui-sref="app.cart">
		       <md-button ui-sref="app.cart" class="md-raised ft_size18" style="width: 100%; padding:0px; margin-bottom:5px;background-color:#ED6663 !important; color:white;font-size: 14px;">View Cart</md-button>
		           
		           
		           <md-divider ></md-divider>
		      </md-list-item>
		      
		      
					<div layout="row" style="line-height: 0;font-size:12px; padding:0px 15px;"><p flex>Sub total </p>
                        <p flex class="tright"> ₹  {{myCart.cartTotalAmount | number:2}}</p></div>
                        
					<div ng-repeat="tax in myCart.taxs">	
                         <div layout="row" style="line-height: 0;font-size:12px; padding:0px 15px;"><p flex>{{tax.name}} ({{tax.taxPercentage}}%)</p>					                        
                            <p flex class="tright"> ₹  {{tax.rate| number:2}}</p> 
                          </div>
                     </div>  
                        
                         <div layout="row" style="line-height: 0;font-size:12px; padding:0px 15px;"><p flex> Shipping Charges</p>					                        
                            <p flex class="tright"> ₹  {{myCart.shippingCharges | number:2}}</p> </div>
                            
                         <div layout="row" style="line-height: 0; padding:0px 15px;"><h3 flex>Total </h3>					                        
                            <h3 flex class="tright"> ₹  {{myCart.grossAmount | number:2}}</h3></div>                        
                    	
                    	<div layout="row" style="line-height: 0;">
                    	<md-button class="md-raised ft_size18" style="width:100%; height:50px; background-color:#72a308 ;color:white;" ng-click="checkOut();toggleRight('right')">CHECKOUT</md-button>
                	</div>
                	
				</div>
            </div>  
             
        </md-menu>
</md-sidenav>
