<md-toolbar class="md-accent">
<div class="md-toolbar-tools header_color height50 padd_righ0 nomargin">
	<span flex></span>
	<md-button class="wid_60 md-icon-button" aria-label="Favorite">
	<md-icon md-svg-icon="assets/img/icon/magnifying47.svg" md-ink-ripple="" style="color: white;"></md-icon> </md-button>
	<md-button class="md-icon-button wid_60 height50 bg-yellow nomargin" aria-label="Favorite"> 
		<md-icon md-svg-icon="assets/img/icon/hd-basket.svg" style="color: white;"></md-icon>
	</md-button>

	<md-menu style="margin-top: -8px" md-position-mode="target-right target"> 
		<md-button ng-click="$mdOpenMenu($event);$event.stopPropagation();" class="height50 wid_60 nomargin bg-green md-icon-button" aria-label="User"> 
			<md-icon md-svg-icon="assets/img/icon/hd-user.svg" style="color: white;"></md-icon>
		</md-button> 
		<md-menu-content width="3" style="margin-top: 42px;margin-left: 24px;"> 
		
			<md-menu-item ng-hide="user"> 
			<md-button ng-click="signUpPopup($event)">
			<div layout="row">
				<p flex="">Sign Up</p>
			</div>
			</md-button> 
			</md-menu-item> 
			<md-menu-item ng-hide="user"> 
			<md-button ng-click="signInPopup($event)">
			<div layout="row">
				<p flex="">Sign In</p>
			</div>
			</md-button> </md-menu-item> <md-menu-item ng-show="user"> <md-button>
			<div layout="row">
				<p flex="">{{user.userName}}</p>
			</div>
			</md-button> </md-menu-item> <md-menu-item ng-show="user"> <md-button
				ng-click="logout()">
			<div layout="row">
				<p flex="">log out</p>
			</div>
			</md-button> 
			</md-menu-item> 
		</md-menu-content> 
	</md-menu>
</div>
<md-subheader layout layout-align="row"	
	class="md-primary nopad-left nomargin tran">
	<md-button ng-click="toggleSidenav('left')" class="md-icon-button" aria-label="Menu"> 
		<md-icon md-svg-icon="assets/img/icon/menu.svg" style="color: red;"></md-icon> 
	</md-button>
	<div style="position: absolute; top: -50px; left: 60px;">
		<img src="assets/img/useravat.png" width="98" class="md-card-image" alt="Washed Out">
	</div>
</md-subheader> </md-toolbar>


