<md-toolbar ng-class="topbar"  style="background-color:transparent; position: fixed; top: 0px;">
<div class="md-whiteframe-3dp md-toolbar-tools header_color height30 padd_righ8 nomargin " >
	<span flex ng-show="isTodayHoliday && holidayReasons">Today is holiday Due to {{holidayReasons}} next available delivery at {{nextWorkingDate}}<!-- {{nextAvailableDeliveryDate()}} --></span>
	<span flex ng-show="isTodayHoliday && !holidayReasons">Today is holiday next available delivery at {{nextWorkingDate}}<!-- {{nextAvailableDeliveryDate()}} --></span>
	 <div layout="row" layout-align="end">
			<span flex  style="font-size: 15px; right: 220px; position: relative; cursor: pointer;" ng-show="user" ng-click="orderHistory();"> order history </span>
			<span flex  style="font-size: 15px; margin-right: 10px; cursor: pointer;" ng-hide="user" ng-click="signInPopup($event)">Register/Login</span>
			<span flex style="font-size: 15px; right: 80px; position: absolute; " ng-show="user">{{user.userName}} | </span>
			<span flex style="font-size: 15px; right: 10px; position: absolute; cursor: pointer;" ng-show="user" ng-click="logout()">Logout <I class="icon ion-power" style="font-size: 14px;"></I></span>
	</div>  
</div>


<div layout-gt-md="row" layout-sm="column" layout-md="column"
	class="nopadd nomargin tran nav-bar-subheader" style="padding:0px 0px !important; box-shadow:0px 2px 8px rgba(0,0,0,0.4);">
	
	 
	<div flex-gt-lg="25" flex-lg="35" flex-md="100" flex-sm="100">
	 	<md-button ng-click="toggleLeft('left')" style="float:left;" class="md-icon-button" aria-label="Menu" >
	 		
			<md-icon md-svg-icon="assets/img/icon/menu.svg" style="color: #fff;"></md-icon>
			<md-tooltip md-direction="bottom">Menu</md-tooltip>
		</md-button>
		<div class="sa-logo">
		<img src="assets/img/useravat.png"  width="200" height="46" class="md-card-image" alt="Washed Out">
		</div>
		
		
		<div ng-if="store.merchantLogo"  class="merch-logo merch-marg bg-yellow" >
			<img src="{{store.merchantLogo}}"  width="118" height="80" class="md-card-image" alt="Washed Out">
		</div>
		
	</div>
	 <div flex-gt-lg="75" flex-lg="65" flex-md="100" flex-sm="100" layout="row">	
	 
	 
	 
	 <div flex> 
		<ul  ng-if="store.merchantLogo" class="nav-menu nav-menu1">
			<li ui-sref="app.home"><md-button> <md-icon class="webTooltext hgt-34"><span class="icon-20">home</span></md-icon><span hide-sm> Home</span></md-button></li>
			<li ng-click="changeStore()"><md-button><md-icon class="webTooltext hgt-34"><span class="icon-20">repeat</span></md-icon> Change store</md-button></li>
		</ul>
		<ul  ng-if="!store.merchantLogo" class="nav-menu">
			<li ui-sref="app.home"><md-button class="nopadd-sm nomar-sm">  <md-icon class="webTooltext hgt-34"><span class="icon-20">home</span></md-icon><span hide-sm> Home</span></md-button></li>
			<li ng-click="changeStore()"><md-button>  <md-icon class="webTooltext hgt-34"><span class="icon-20">repeat</span></md-icon> Change store</md-button></li>
		</ul>
	
	 </div>
	 
	 
	 
	 
	 <div  style="float:right">
	 
		 <md-menu style="margin-top: -8px" md-position-mode="target-right target" ng-show="user && favouriteList.length > 0">
		   	 <md-button style="border-radius:0px;" ng-click="$mdOpenMenu($event);$event.stopPropagation();" class="md-icon-button wid_60 height50  nomargin" aria-label="Favorite">
		        <md-icon>favorite</md-icon>
		        <md-tooltip md-direction="bottom">
		          Favourite
		        </md-tooltip>
		    </md-button>
		   	 <md-menu-content  width="6" style="padding: 0px;position: absolute;top: 74px; box-shadow:0px 2px 3px rgba(0,0,0,0.4)">
		       <md-content>
		         	 <md-list>
					      <md-list-item layout="row" ng-repeat="favourite in favouriteList">
					      		<div flex ng-click="viewProductInFavourite(favourite.favouriteId)"> {{favourite.name}} </div>
					      		<div flex layout="row" layout-align="end end"><span ng-click="deleteFavourite(favourite.favouriteId)"><ng-md-icon icon="highlight_remove" style="fill: #F96D57" size="20"></ng-md-icon> </span></div>
					      </md-list-item>
	                      
		       		 </md-list>
		         </md-content>
		      </md-menu-content>
	       </md-menu>
	       
			<span hide-sm class="md-subhead" ng-if="myCart.cartItem.length !=0">Rs {{myCart.grossAmount | number:2}}</span> 
		<md-menu style="margin-top: -8px; height:100%; " md-offset="0 -5">
		    <md-button ng-click="$mdOpenMenu($event);$event.stopPropagation();" style="border-radius:0px;" class="md-icon-button wid_60 height50  nomargin" aria-label="Favorite">
		    <div style="background-color: #000;padding: 5px;line-height: 10px;position: absolute; top: 2px;border-radius: 50%;right: 3px;" ng-show="myCart.cartItem.length > 0">{{myCart.cartItem.length}}</div>
		       <div style="background-color: #000;padding: 5px;line-height: 10px;position: absolute; top: 2px;border-radius: 50%;right: 3px;" ng-show="myCart.cartItem.length == 0 || myCart.cartItem.length == undefined">0</div>
		        <i class="icon28 icon ion-android-cart"></i>
		        <md-tooltip md-direction="bottom">
		          My cart
		        </md-tooltip>
		    </md-button>
		    
		    
		    <cartsidenav ></cartsidenav>
		    
		    
		    
		        </md-menu>
        
        
        
        
        
        

				<!-- <md-menu style="margin-top: -8px" md-position-mode="target-right target">
					<md-button ng-click="$mdOpenMenu($event);$event.stopPropagation(); addpos()" class="height50 wid_60 nomargin  md-icon-button" aria-label="User">
					 <md-icon class="_textcolor">more_vert</md-icon>
				   
					</md-button>
					
					<md-menu-content width="3" class="user-dropdown">
						<md-menu-item ng-hide="user">
							<md-button ng-click="signUpPopup($event)">
								<div layout="row">
									<p flex="" style="text-decoration:underline; color:#ED6663;">New User? Register here.</p>
								</div>
							</md-button>
						</md-menu-item>
						<md-menu-item ng-hide="user">
							<md-button ng-click="signInPopup($event)">
								<div layout="row">
									<md-button class="green_btn_clr">Sign In / Sign Up</md-button>
								</div>
							</md-button> 
						</md-menu-item> 
						<md-menu-item class="menu-item" ng-show="user"> 
			               
							<md-button>
								<div layout="row">
									<p flex="" style="font-size: 20px; font-weight: bold;">{{user.userName}}</p>
								</div>
							</md-button> 
						</md-menu-item> 
			            <md-menu-item class="menu-item" ng-show="user"> 
							 <md-button ng-click="orderHistory();">
								<div layout="row">
									<p flex="" style="font-size: 20px; font-weight: bold;">order history</p>
								</div>
							</md-button> 
						</md-menu-item>
						<md-menu-item class="menu-item" ng-show="user && favouriteList.length > 0"> 
							<md-button ui-sref="app.favouriteList">
								<div layout="row">
									<p flex="" style="font-size: 18px;">Favourite List</p>
								</div>
							</md-button> 
						</md-menu-item> 
						<md-menu-item ng-show="user"> 
							<md-button ng-click="logout()">
								<div layout="row">
									<md-button class="green_btn_clr">Logout</md-button>
								</div>
							</md-button>
						</md-menu-item>
					</md-menu-content>
				</md-menu> --> 
	 
	</div>
	 
</div>







	
	
	
	
</div>
 </md-toolbar>
