<md-sidenav flex class="md-sidenav-left md-whiteframe-z2"
	md-component-id="left"> <md-toolbar md-scroll-shrink>
<div class="md-toolbar-tools">My Messages</div>
</md-toolbar> <md-content class="md-padding" ng-repeat="c in categoryList">
<div class="md-item-text md-whiteframe-z1" flex
	ng-click="toggleSubList(c.categoryId);">
	<h3>{{c.categoryName}}</h3>
</div>

<md-list
	ng-if="c.category.length>0 && headerNavId == c.categoryId && show"
	layout-padding> <md-list-item class="md-3-line"
	ng-repeat="childcategory in c.category">
<div class="md-list-item-text">
	<h3>{{childcategory.categoryName}}</h3>
	<div>

		<md-list ng-if="childcategory.category.length>0" layout-padding>
		<md-list-item class="md-3-line"
			ng-repeat="categorys in childcategory.category">
		<div class="md-list-item-text">
			<h3>{{categorys.categoryName}}</h3>
		</div>

		</md-list-item> </md-list>

		<md-list ng-if="childcategory.productType.length>0" layout-padding>
		<md-list-item class="md-3-line"
			ng-repeat="type in childcategory.productType">
		<div class="md-list-item-text">
			<h3>{{type.productTypeName}}</h3>
		</div>
		</md-list-item> </md-list>

	</div>
</div>
</md-list-item> </md-list> </md-content> </md-sidenav>
