<md-sidenav flex class="md-sidenav-left md-whiteframe-z2"
	md-component-id="left"> <md-toolbar md-scroll-shrink>
<div class="md-toolbar-tools">My Messages</div>
</md-toolbar> 

<script type="text/ng-template" id="productTypeList"> 
	<h4 style="color:red">{{pt.productTypeName}}</h4>
</script> 
	
<script type="text/ng-template" id="productCategoryList">
	<md-chips ng-hide="c.hide" ng-if="c.category.length > 0" ng-click="getProductsByCategoryId(c.categoryId);">
		<md-chip >{{c.categoryName}}<md-icon
			md-svg-src="assets/images/ic_arrow_drop_down_black_24px.svg"></md-icon>
		</md-chip> </md-chips>

	<md-chips ng-hide="c.hide" ng-if="c.category.length == 0" ng-click="subcat = ! subcat;getProductsByCategoryId(c.categoryId);">
		<md-chip>{{c.categoryName}}
		</md-chip> </md-chips>

	 		<ul ng-hide="c.hide" ng-if="c.category.length == 0">
 			<li ng-hide="pt.hide" ng-repeat="pt in c.productType" class='has-sub' ng-include="'productTypeList'" ng-click="getProductsByProductTypeId(pt.productTypeId);"></li>
 		</ul>

		<ul ng-hide="c.hide" ng-if="c.category.length > 0">
       		<li ng-hide="c.hide" class='has-sub ' ng-repeat="c in c.category"  ng-include="'productCategoryList'" ng-click="getProductsByProductTypeId(pt.productTypeId);"></li>
     	</ul>
</script>
	
<div id='cssmenu' style="color: #fff;">
	<ul ng-repeat="c in categoryList" >
 		<li class='has-sub ' ng-include="'productCategoryList'"></li>
 		
 	</ul>
</div>

</md-sidenav>
