<style>
/*body {
  background-color: #ccc;
  padding: 50px;
  font-family: Arial, Helvetica, sans-serif;
}*/

.off-screen {
  height: 1px;
  left: -50000px;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 1px;
}

#progress-bar {
  position: relative;
  padding-top: 5px;
  margin-bottom: 1.5em;
  color: #4d483f;
  margin-left: 10%;
  top: 33px;
	
}
#progress-bar #progress-steps {
  /* height: 8px; */
  width: 100%;
  margin: 0;
  padding: 0;
  display: block;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  background-color: #fff;
  position: relative;
  list-style-type: none;
  counter-reset: item;
}
#progress-bar .progress-step {
  width: 16.66%;
  height: 8px;
  float: left;
  margin: 0;
  padding: 0;
  position: relative;
}
#progress-bar .count:before {
  content: counter(item) " ";
  counter-increment: item;
  display: block;
  width: 30px;
  height: 30px;
  background-color: #fff;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  right: -10px;
  top: -10px;
  padding: 0px;
  font-size: 14px;
  font-weight: bold;
}
#progress-bar .highlight-index:before {
  background-color: #3cb0a5;
  color: #fff;
}
#progress-bar .highlight-index {
  background-color: #fff;
  display: block;
  height: 100%;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #3cb0a5;
  height: 7px  ! important;
  
}
.status-track{
	background: #3cb0a5 ! important;
}
.done-span{
	background: #3cb0a5 ! important;
	color: #fff;
	padding-left: 15px !important;
	padding-right: 15px !important;
}

#progress-bar .description {
  display: block;
  text-align: center;
  width: 64%;
  right: -32%;
  position: absolute;
  bottom: 9px;
}
#progress-bar .bolded-step {
  font-weight: normal !important;
}
.check_status{
	fill: #fff;
	position: absolute;
	margin-top: 4px;
	margin-left: -20px;
}
.count-incr{
	background: #fff ;
	padding: 5px 10px;
	border-radius: 50%;
	top: 26px;
	position: relative;
	left: -10px;
	color: #3cb0a5;
	border: 1px solid #3cb0a5;
}
.statusspan{
	position: absolute;
	margin-top: -10px;
}
</style>
<md-card flex-gt-sm="90" flex-gt-md="80" class="tbl-body">
 <md-toolbar class=" md-default-theme" style="background-color:transparent; z-index: 0;">
	<div class="md-toolbar-tools" layout="row">
  		<h3 layout-align="start">Your orders</h3>
  		<div class="tbl-search">
  			<ng-md-icon icon="search"  class="icon-white" ></ng-md-icon>
  			<input ng-model="searchTxt" type="text"  placeholder="Search">
  		</div>	
    </div>
   </md-toolbar>
   <md-card-content class="nopadd">
	<md-data-table-container class="table-orderlist">
     <md-list class="order-table">
     <md-item class="data-table-list " md-data-table>
         <md-item-content layout="row" layout-padding class="tbl-header ">
          <div layout="row" layout-wrap class="full_wid tbl-header ">
         	<span flex layout-align="start" layout>
             	OrderNo
           	</span>
         	<span flex>
             	Name
           	</span>
           	<span flex>
             	Store
           	</span>
            <span flex>
             	Order Date
           	</span>
              <span flex>
             	Delivery Date
           	</span>
           	<span flex>
             	Amount
           	</span>
            <span flex>
                Status
             </span>	
            </div>
         </md-item-content>
        
       </md-item>
       <md-item class="data-table-list" style="line-height: 3;" md-data-table ng-repeat="ordersHis in data | filter:searchTxt | limitTo: ordersPagination.limit: (ordersPagination.page - 1) * ordersPagination.limit" ng-click="redirectToStoreDetails(ordersHis);">
         
        <md-item-content layout="row" layout-padding>
          <div layout="row" layout-wrap class="full_wid tbl-body">
         	
        	
           	<span flex layout-align="start center" layout>
             <span flex class="shopname">{{ordersHis.orderNo}}</span>
            </span>
            
            <span flex layout-align="start center" layout>
            <span flex class="hash_color merch-addr">{{ordersHis.merchant.name}}</span>
           	</span>
           	
        	<span flex layout-align="start center" layout>
            <span flex class="hash_color merch-addr">{{ordersHis.store.name}}</span>
           	</span>
              <span flex layout-align="start center" layout>
            <span flex class="hash_color merch-addr">{{ordersHis.deliveryDate}}</span>
           	</span>
              <span flex layout-align="start center" layout>
            <span flex class="hash_color merch-addr">{{ordersHis.deliveryDate}}</span>
           	</span>
              <span flex layout-align="start center" layout>
            <span flex class="hash_color merch-addr">{{ordersHis.amount}}</span>
           	</span>
            <span flex layout-align="start center" layout>
            <span flex class="hash_color merch-addr">{{ordersHis.status}}
            <md-icon style="float: right; margin: 10px;" class="_subheader md-icon-button" ng-click="showListBottomSheet(ordersHis.salesOrderId);">{{(ordersHis.salesOrderId == showDetails) ? 'arrow_drop_up' : 'arrow_drop_down'}}</md-icon>
            <!-- <ng-md-icon ng-click="showListBottomSheet($event); showDetails = ! showDetails " icon="more_vert" style="fill: grey; float: right; padding-top: 5px;" size="20"></ng-md-icon> --> 
            </span>
           	</span>            
            </div>
         </md-item-content>
         <md-item-content layout="column"  ng-show="ordersHis.salesOrderId == showDetails" style="padding:0px 20px;" >
			<div id="progress-bar">
				<span style="margin-left: -25px;">Order Status </span>
				  <ol id="progress-steps">
					<li class="progress-step" style="width: 20%;">
						<span class="description">Packing in Progress</span>
						<span class="count-incr  done-span">
						<ng-md-icon icon="done" class="check_status" size="20"></ng-md-icon></span>
					  <span ng-class="{'highlight-index' : ordersHis.tracked[0],'status-track':ordersHis.tracked[0] }" class="highlight-index">					 
					  </span>
					  
					</li>
					<li class="progress-step" style="width: 20%;">
						<span class="description">Packing Completed</span>
						<span class="count-incr"><ng-md-icon ng-if="ordersHis.tracked[0]" icon="done" class="check_status" size="25"></ng-md-icon><span ng-if="!ordersHis.tracked[0]">2</span></span>
					  <span ng-class="{'highlight-index' : ordersHis.tracked[1],'status-track':ordersHis.tracked[1]}" class="highlight-index">
					  </span>
					  
					</li>
					  <li class="progress-step" style="width: 20%;">
						  <span class="description">Delivery Started</span>
						  <span class="count-incr"><ng-md-icon ng-if="ordersHis.tracked[1]" icon="done" class="check_status" size="25"></ng-md-icon><span ng-if="!ordersHis.tracked[1]">3</span></span>
					  <span ng-class="{'highlight-index' :ordersHis.tracked[2],'status-track':ordersHis.tracked[2]}" class="highlight-index">
					  </span>
					  
					</li>
					<li class="progress-step" style="width: 20%;">
						 <span class="description">Delivered</span>
					 	<span class="count-incr"><ng-md-icon ng-if="ordersHis.tracked[2]" icon="done" class="check_status" size="25"></ng-md-icon><span ng-if="!ordersHis.tracked[2]">4</span></span>
					  <span ng-class="{'highlight-index' :ordersHis.tracked[3],'status-track':ordersHis.tracked[3]}" class="highlight-index">
					  </span>
					 
					</li>
				  </ol>
				  <span class="count-incr"><ng-md-icon ng-if="ordersHis.tracked[3]" icon="done" class="check_status" size="25"></ng-md-icon><span ng-if="!ordersHis.tracked[3]">5</span></span>
			</div>
			 <hr>
			 <div layout="row" class="padd-lr30 padd-t30">
			 <span flex="10" class=""></span>
			 <span flex="20"><strong>Product name</strong></span>
			 <span flex="15"><strong>Unit</strong></span>
			 <span flex="15"><strong>Price</strong></span>
			 <span flex="15"><strong>Quantity</strong></span>
			 <span flex="25" style="text-align: right;" layout-align-sm="center"><strong>Gross Amount</strong></span>
			 </div>
           <div flex ng-repeat="productOrders in ordersHis.salesOrderLineVo" class="padd-lr30 padd-t30">
           <div layout="row">
           <span flex="10"><img width="80" height="80" ng-src="{{productOrders.productVo.image.url}}"/></span>
           <span flex="20">{{productOrders.productVo.name}}</span>
           <span flex="15">{{productOrders.productVo.unit}} Kg</span>
           <span flex="15">Rs. {{productOrders.price}}</span>           
           <span flex="15">{{productOrders.qty}}</span>
           <span style="text-align: right;" flex="25" layout-align-sm="center">Rs. {{productOrders.grossAmount}}</span>    
           </div>                                  
           <md-divider></md-divider>
           </div>
            <span layout="row" layout-align="end"><span class="title"><strong style="font-size: 22px;">NetAmount : </span> Rs. {{ordersHis.amount}}</strong></span>
           
           
           </md-item-content>
         <md-divider></md-divider>
         
      
       </md-item>
     </md-list>
	</md-data-table-container>
   </md-card-content>
</md-card>

<div style="font-size:16px;" layout="row" class="table-pagination-bg" layout-align="end end">
		<md-data-table-pagination md-limit="ordersPagination.limit" md-page="ordersPagination.page" md-total="{{data.length}}" md-trigger="onpagechange"></md-data-table-pagination>
</div>
