<md-card flex-gt-sm="90" flex-gt-md="80" class="tbl-body">
 <md-toolbar class=" md-default-theme" style="background-color:transparent; z-index: 0;">
	<div class="md-toolbar-tools" layout="row">
  		<h3 layout-align="start">Your orders</h3>
  		<div class="tbl-search">
  			<ng-md-icon icon="search"  class="icon-white" ></ng-md-icon>
  			<input ng-model="searchTxt" type="text"  placeholder="Search">
  		</div>	
    </div>
   </md-toolbar>
   <md-card-content class="nopadd">
	<md-data-table-container class="table-orderlist">
     <md-list class="order-table">
     <md-item class="data-table-list " md-data-table>
         <md-item-content layout="row" layout-padding class="tbl-header ">
          <div layout="row" layout-wrap class="full_wid tbl-header ">
         	<span flex layout-align="start" layout>
             	OrderNo
           	</span>
         	<span flex>
             	Name
           	</span>
           	<span flex>
             	Store
           	</span>
            <span flex>
             	Order Date
           	</span>
              <span flex>
             	Delivery Date
           	</span>
           	<span flex>
             	Amount
           	</span>
            <span flex>
                Status
             </span>	
            </div>
         </md-item-content>
        
       </md-item>
       <md-item class="data-table-list" style="line-height: 3;" md-data-table ng-repeat="ordersHis in data | filter:searchTxt " ng-click="redirectToStoreDetails(ordersHis);">
         
        <md-item-content layout="row" layout-padding>
          <div layout="row" layout-wrap class="full_wid tbl-body">
         	
        	
           	<span flex layout-align="start center" layout>
             <span flex class="shopname">{{ordersHis.orderNo}}</span>
            </span>
            
            <span flex layout-align="start center" layout>
            <span flex class="hash_color merch-addr">{{ordersHis.merchant.name}}</span>
           	</span>
           	
        	<span flex layout-align="start center" layout>
            <span flex class="hash_color merch-addr">{{ordersHis.merchant.name}}</span>
           	</span>
              <span flex layout-align="start center" layout>
            <span flex class="hash_color merch-addr">{{ordersHis.deliveryDate}}</span>
           	</span>
              <span flex layout-align="start center" layout>
            <span flex class="hash_color merch-addr">{{ordersHis.deliveryDate}}</span>
           	</span>
              <span flex layout-align="start center" layout>
            <span flex class="hash_color merch-addr">{{ordersHis.amount}}</span>
           	</span>
            <span flex layout-align="start center" layout>
            <span flex class="hash_color merch-addr">{{ordersHis.status}}
            <md-icon style="float: right; margin: 10px;" class="_subheader md-icon-button" ng-click="showListBottomSheet(ordersHis.salesOrderId);">{{(ordersHis.salesOrderId == showDetails) ? 'arrow_drop_up' : 'arrow_drop_down'}}</md-icon>
            <!-- <ng-md-icon ng-click="showListBottomSheet($event); showDetails = ! showDetails " icon="more_vert" style="fill: grey; float: right; padding-top: 5px;" size="20"></ng-md-icon> --> 
            </span>
           	</span>            
            </div>
         </md-item-content>
         <md-item-content layout="column"  ng-show="ordersHis.salesOrderId == showDetails" style="padding:0px 20px;" >
           <div flex ng-repeat="productOrders in ordersHis.salesOrderLineVo" class="padd-lr30 padd-t30">
           <div layout="row">
           <span flex="10"><img width="80" height="80" ng-src="{{productOrders.productVo.image.url}}"/></span>
           <span flex="20"><span class="title">Product name</span></br>{{productOrders.productVo.name}}</span>
           <span flex="15"><span class="title">Unit</span></br>{{productOrders.productVo.unit}} Kg</span>
           <span flex="15"><span class="title">Price</span></br>Rs. {{productOrders.price}}</span>           
           <span flex="15"><span class="title">Quantity</span></br>{{productOrders.qty}}</span>
           <span style="text-align: right;" flex="25" layout-align-sm="center"><span class="title">Gross Amount</span></br> Rs. {{productOrders.grossAmount}}</span>    
           </div>                                  
           <md-divider></md-divider>
           </div>
            <span layout="row" layout-align="end"><span class="title"><strong style="font-size: 22px;">NetAmount : </span> Rs. {{ordersHis.amount}}</strong></span>
           
           
           </md-item-content>
         <md-divider></md-divider>
         
      
       </md-item>
     </md-list>
	</md-data-table-container>
   </md-card-content>
</md-card>

<div style="font-size:16px;" layout="row" class="table-pagination-bg" layout-align="end end">
		<md-data-table-pagination md-limit="ordersPagination.limit" md-page="ordersPagination.page" md-total="{{data.length}}" md-trigger="onpagechange"></md-data-table-pagination>
</div>