<style>
	* {margin: 0; padding: 0;}
	.magnify {width: 200px; margin: 50px auto; position: relative;}
	.large {
		width: 175px; height: 175px;
		position: absolute;
		border-radius: 100%;
		box-shadow: 0 0 0 7px rgba(255, 255, 255, 0.85), 
		0 0 7px 7px rgba(0, 0, 0, 0.25), 
		inset 0 0 40px 2px rgba(0, 0, 0, 0.25);
		display: none;
	}
	.small { display: block; }
</style>
<div class="pro-detail-popup" layout-padding >
	<div ng-click="cancel()" style="height:40px; width:40px; border-radius:50px; position:fixed; right:5px; top:5px; ">
		<ng-md-icon icon="close" style="fill: #333; float: right; margin: 0; cursor: pointer;" size="25" ng-click="cancel()" role="button" tabindex="0"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="25" height="25"><path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"></path></svg></ng-md-icon>
	</div>
	<div layout="column">
		
		<div flex layout-sm="column" layout-md="column" layout-gt-md="row">
			<div flex-sm="100" layout-padding flex-md="100" flex-gt-md="30">
				<div class="pro-zoom-img">
					<!-- <img src={{productDetails.image.url}} /> -->
					<div class="magnify">
						<!-- This is the magnifying glass which will contain the original/large version -->
						<div class="large" style="background: url('{{productDetails.image.url}}') no-repeat;"></div>
						<!-- This is the small image -->
						<img class="small" src="{{productDetails.image.url}}" width="200"/>
					</div>
				</div>
				<div class="pro-thimbnail-img">
					<div layout="row" >
						<span flex="25" ng-repeat="productImage in productDetails.images"><div class="thumbnail"><img src="{{productImage.url}}"  /></div></span>
					</div>
				</div>
			</div>
			<div flex-sm="100" layout-padding flex-md="100" flex-gt-md="70">
				<div class="md-headline">{{productDetails.name}}</div>
				<p class="md-body-1 pro-descriptions">{{productDetails.description}} </p>
				<!-- <p class="md-title text-blue">2Kg</p> -->
				<div layout-sm="column" layout-gt-sm="row">
					<div flex><div>Product Price : <span class="text-red" >&#8377;<strike>{{productDetails.wasPrice}}</strike> Rs{{productDetails.price}}</span></div></div>
					<div flex></div>
				</div>
				<div layout-sm="column" layout-gt-sm="row">
					<div flex style="margin:15px 0px">
						<span class="pull-left qty-lable">Quantity : </span> 
					<div class="prod-count" layout="row">
		       		<md-button class="md-icon-button" style="border-right: 1px solid #cbcbcb;" aria-label="More" ng-click="productDetails.noOfQuantityInCart = productDetails.noOfQuantityInCart - 1;addToCart(productDetails)">
                          <!-- <md-icon md-svg-icon="assets/img/checkout/add.svg"></md-icon> -->
                          <ng-md-icon icon="remove" style="fill: #000" size="18"></ng-md-icon> 
                    </md-button>
					<div ng-hide="productDetails.noOfQuantityInCart > 0" ng-click="productDetails.noOfQuantityInCart = productDetails.noOfQuantityInCart + 1;addToCart(productDetails)" class="padd-7">
					Cart</div>
					<div ng-show="productDetails.noOfQuantityInCart > 0" class="padd-7">{{productDetails.noOfQuantityInCart}}</div>
					<md-button class="md-icon-button" style="border-left: 1px solid #cbcbcb;" aria-label="More" ng-click="productDetails.noOfQuantityInCart = productDetails.noOfQuantityInCart + 1;addToCart(productDetails)">
                        <!-- <md-icon md-svg-icon="assets/img/checkout/subtract.svg"></md-icon> -->
                        <ng-md-icon icon="add" style="fill: #000" size="18"></ng-md-icon> 
                    </md-button>
                    </div>
					</div>
				</div>
				
				<div>
					<h2 class="md-headline">Combo Products</h2>
					<div layout="row" class="combo">
						<div class="combo-container" ng-repeat="product in productDetails.productOffers[0].productOfferLinesVo">
							<div class="md-body-1 combo-product-name text-weight-bold">{{product.productVo.name}}</div>
							<div class="combo-thumb"><img src="{{product.productVo.image.url}}"  /></div>
						
						<div layout="row" layout-align="center center">
							<span flex style=" padding:10px 20px;"><ng-md-icon  icon="add" style="fill: #000000" size="22" class="ng-scope"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="22" height="22"><path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"></path></svg></ng-md-icon></span>
						</div>
					<div class="price-nd-qty"><span class="pull-left md-body-1">{{product.productVo.unit}} {{product.productVo.uom.name}}</span> <span class="pull-right text-weight-600">&#8377; {{product.productVo.price}}</span></div>	
					</div>	
						<div layout="row" layout-align="center center">
							<span flex style="font-size:34px; font-weight:600; padding:10px 20px;">=</span>
						</div>
						<div class="combo-container" layout="column" layout-align="center center">
							<div flex class="price-nd-qty text-weight-600" layout="column" layout-align="center center">
								<span class="pull-right"><strike>&#8377; {{productDetails.wasPrice}}</strike></span>
							</div>
							<div flex class="price-nd-qty text-weight-600" layout="column" layout-align="center center">
								<span class="pull-right md-headline ">&#8377; {{productDetails.price}}</span>
								<span class="pull-right text-red">Save &#8377; {{productDetails.wasPrice - productDetails.price}}</span>
							</div>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</div>
</div>

<!-- Lets load up prefixfree to handle CSS3 vendor prefixes -->
<script src="http://thecodeplayer.com/uploads/js/prefixfree.js" type="text/javascript"></script>


<script>
$(document).ready(function(){
	var native_width = 0;
	var native_height = 0;
	//Now the mousemove function
	$(".magnify").mousemove(function(e){
		if(!native_width && !native_height)
		{
			var image_object = new Image();
			image_object.src = $(".small").attr("src");
			native_width = image_object.width;
			native_height = image_object.height;
		}
		else
		{
			var magnify_offset = $(this).offset();
			var mx = e.pageX - magnify_offset.left;
			var my = e.pageY - magnify_offset.top;
			if(mx < $(this).width() && my < $(this).height() && mx > 0 && my > 0)
			{
				$(".large").fadeIn(100);
			}
			else
			{
				$(".large").fadeOut(100);
			}
			if($(".large").is(":visible"))
			{
				var rx = Math.round(mx/$(".small").width()*native_width - $(".large").width()/2)*-1;
				var ry = Math.round(my/$(".small").height()*native_height - $(".large").height()/2)*-1;
				var bgp = rx + "px " + ry + "px";
				var px = mx - $(".large").width()/2;
				var py = my - $(".large").height()/2;
				$(".large").css({left: px, top: py, backgroundPosition: bgp});
			}
		}
	})
})
</script>



