<div style="width:100%;height:100%;position: relative;" class="bg_gray">
<div style="height:280px;width:100%;position:relative;">
        <img ng-src="assets/images/banner1.png" alt="" src="assets/images/banner1.png" style="width: 100%;height: 100%;">        
       
        <h1 class="md-display-2" style="position:absolute;color:#fff;top: 25%;left: 40%;"><!-- Fresh Fruits --></h1>
    </div>
    
    
    
	<div layout="row" flex layout-align="space-between center" class="wid_100" style="padding:10px 3%">
		<div flex layout="column" layout-sm="50">
			<div flex class="md-caption text-primary" ><!-- Fresh Products / Fresh Fruits --></div>
			</div> 
	</div>  
                
                
                
                
<md-card layout="row" layout-sm="column" layout-padding style="padding: 25px; margin: 20px 3%;">
		<div flex>
			<div layout="row" layout-align="start center">
			
			<zoom mark-height="50" mark-width="50"  src="" zoom-lvl="{{zoomLvl}}"></zoom>
			<!-- 	<img src="assets/images/fruit.jpg" height="250px" border="1"> -->
			</div>
			<div layout="row" flex="100" layout-align="start center">
				
				<div flex="20" flex-md="40" class="image" ng-repeat="image in productDetails.productImages"  ng-if="image.imagePosition == 'ORIGINALFRONT'" style="padding: 5px" >
					<img  src="{{image.imageUrl}}" style="border: 1px solid lightgrey;" height="100px" width="100px" ng-mouseover="changeimage(image.imageUrl)">
 				</div>
				<div flex="20" flex-md="40" class="image" ng-repeat="image in productDetails.productImages"  ng-if="image.imagePosition == 'ORIGINALBACK'" style="padding: 5px" >
					<img src="{{image.imageUrl}}" style="border: 1px solid lightgrey;" height="100px" width="100px" ng-mouseover="changeimage(image.imageUrl)">
				</div>	
			</div>
		</div>
		<div flex>
			<div style="padding-left: 15px">
				<h1 style="color: green">{{productDetails.productName}}</h1>
				<span>{{productDetails.measurement}} {{productDetails.productUnitOfMeasure.abbreviation}}</span>
				<p>{{productDetails.productUnitOfMeasure.description}}</p>
				<p>Effective Price Rs {{productDetails.productPrice.price}}</p>
			</div>
			<div>
				<div layout="row" flex="60" layout-padding>
				
					<md-button layout-padding ng-hide="productDetails.isProductMyList" class="md-raised " ng-click="addToMyList(productDetails);" style="width: 200px;height: 65px;background-color:#00B8D4; color: white; border-radius: 0px; margin:8px; padding:8px;">
						<md-icon layout="row" md-svg-src="assets/img/icon/favorite21.svg" style="color:white"></md-icon> 
						Add to My List 
					</md-button>
  					<md-button layout-padding ng-show="productDetails.isProductMyList" class="md-raised " ng-click="removeFromMyList(productDetails);" style="width: 200px;height: 65px;background-color:red; color:#ffffff; margin:8px; padding:8px;">
						<md-icon layout="row" md-svg-src="assets/img/icon/favorite21.svg" style="color:white">
						</md-icon> 
						Remove From My List 
					</md-button>

					<div layout="row" flex="45" layout-padding >
					<div flex layout="row" class="addtocart-btn" style="height: 65px; padding: 0px ! important;">
						<div flex="15" layout="column" layout-align="center center" class="bg-primary">
						<md-icon ng-hide="productDetails.noOfQuantityInCart > 0" style="height:30px; width:30px; color:red;" md-svg-src="assets/img/icon/basket-btn-icon.svg" ng-click="productDetails.noOfQuantityInCart = productDetails.noOfQuantityInCart + 1;addToCart(productDetails)"></md-icon>
							<div>
								<md-icon  ng-show="productDetails.noOfQuantityInCart > 0" style="width:20px;  " md-svg-src="assets/img/icon/up-arrow.svg" ng-click="productDetails.noOfQuantityInCart = productDetails.noOfQuantityInCart + 1;addToCart(productDetails)"></md-icon>
							</div>
							<div>
								<md-icon ng-show="productDetails.noOfQuantityInCart > 0" style="width:20px;  " md-svg-src="assets/img/icon/down-arrow.svg" ng-click="productDetails.noOfQuantityInCart = productDetails.noOfQuantityInCart - 1;addToCart(productDetails)"></md-icon>	
							</div>
						</div>
						<div flex="20" layout="column" layout-align="center center" class="bg-primary" ng-model="productDetails.noOfQuantityInCart"><span ng-show="productDetails.noOfQuantityInCart > 0">{{productDetails.noOfQuantityInCart}}</span></div>
						<div ng-click="productDetails.noOfQuantityInCart = productDetails.noOfQuantityInCart + 1;addToCart(productDetails)" flex="65" style="padding-top: 20px;padding-left: 25px; cursor: pointer;" class="bg-white text-primary">Add To Cart<!-- <md-icon style="height:30px; width:30px; color:red;" md-svg-src="assets/img/icon/basket-btn-icon.svg"></md-icon> --></div>
					</div>
				</div>
				
					

					
					

				</div>
			</div>
		</div>
	


         
	<!-- <md-content> </md-content> -->

</md-card>

	<div layout="row" style="margin: 50px 3% 10px 3%; border-bottom: 1px solid lightgrey;">
	<h3>Related Products</h3>
	</div>
<div layout="column" style="width:95%; margin:0px auto; ">
<div flex layout="row" style="margin-bottom: 60px;">
<div layout="row" layout-wrap flex>
<div ng-repeat="product in relatedProductList | limitTo: 5 " layout-padding flex-sm="50" flex-lg="25" flex-gt-lg="20" flex-md="33" layout="column" >
			<div class="pro-box" flex layout="column">
				<div class="pro-click">
				<div flex style="height:150px; text-align: center; cursor: pointer;" ng-click="productDetail(product);">
					<img style="height:150px;" src="{{product.productImages[0].imageUrl}}" style="width:100%"/>
				</div>
				<div flex layout-align="center center" layout="row">
					<span class="sub-head text-primary">{{product.productName}}</span>
				</div>
				</div>
				<div flex  layout="row">
					<span flex class="md-body-2 text-left">{{product.measurement}}{{product.productUnitOfMeasure.abbreviation}}</span>
					<span flex class="md-body-2 text-right">
						<md-icon style="height:12px; width:12px; color:red;" md-svg-src="assets/img/icon/currency.svg"></md-icon>
						{{product.productPrice.price}}
					</span>
				</div>
				<div layout="row" flex>
					<div flex layout="row" class="addtocart-btn">
						<div flex="20" layout="column" layout-align="center center" class="bg-primary">
						<md-icon ng-hide="product.noOfQuantityInCart > 0" style="height:30px; width:30px; color:red;" md-svg-src="assets/img/icon/basket-btn-icon.svg" ng-click="product.noOfQuantityInCart = product.noOfQuantityInCart + 1;addToCart(product)"></md-icon>
							<div>
								<md-icon  ng-show="product.noOfQuantityInCart > 0" style="width:20px;  " md-svg-src="assets/img/icon/up-arrow.svg" ng-click="product.noOfQuantityInCart = product.noOfQuantityInCart + 1;addToCart(product)"></md-icon>
							</div>
							<div>
								<md-icon ng-show="product.noOfQuantityInCart > 0" style="width:20px;  " md-svg-src="assets/img/icon/down-arrow.svg" ng-click="product.noOfQuantityInCart = product.noOfQuantityInCart - 1;addToCart(product)"></md-icon>	
							</div>
						</div>
						<div flex="20" layout="column" layout-align="center center" class="bg-primary" ng-model="product.noOfQuantityInCart"><span ng-show="product.noOfQuantityInCart > 0">{{product.noOfQuantityInCart}}</span></div>
						<div ng-click="product.noOfQuantityInCart = product.noOfQuantityInCart + 1;addToCart(product)" flex="60" style="padding-top: 14px;padding-left: 10px; cursor: pointer;" class="bg-white text-primary">Add To Cart<!-- <md-icon style="height:30px; width:30px; color:red;" md-svg-src="assets/img/icon/basket-btn-icon.svg"></md-icon> --></div>
					</div>
				</div>
			</div>
		</div>
		</div>
		</div>
		</div>
		</div>
	  <script src="app/directives/imageZoom.js"></script>
	  <script src="app/modules/products//productDetails/productDetailsCtrl.js"></script>
<style>


.original{
    float: left;
    position: relative;
    overflow: hidden;
    border: 1px solid lightgrey;
}
.original img{
	vertical-align:middle;
	width: 240px ! important;
}

 .zoomed{
 	margin-left: 16em;
    float: left;
    position: absolute;
    overflow: hidden;
    width: 370px ! important;
}


 .zoomed img{    
    position: relative;
}
.image img:hover {
    opacity: 0.5 ! important;}
 /* .mark {
    opacity: .3;
    border: 6px dotted #fff;
    background: #eee;
} 
 */
.hide {
    visibility: hidden;
}

.pro-box{ background-color:#FFFFFF; box-shadow:0px 0px 2px rgba(0,0,0,0.5); min-height:300px; padding:10px 15px !important;}
	.text-primary{ color:#72a308}
	.text-left{ text-align:left;}
	.text-right{ text-align:right;}
	.addtocart-btn{ border:2px solid #72a308; height:50px;}
	.bg-primary{ background-color:#72a308; color:#FFFFFF;}
	.bg-white{ background-color:#ffffff;}
	.text-primary{color:#72a308;}
	.pro-click{cursor: pointer;}

</style>
