<style>
svg {
	width: 70%;
	color: white;
	fill: white;
}

.btn-lgcolor {
	background-color: #73A542;
}

.text-white {
	color: #fff !important;
}

.ft-14 {
	font-size: 14px;
}
</style>


<div layout-align="start center" class="animate img-login"
	style="width: 100%; min-width: 100%; max-width: 100%; height: 100% !important; background-image: url('images/bg-admin.jpg'); background-size: cover;"
	layout="column" class="colorNested ">
	<md-card-content layout="row">
	<h2 class="md-display-2 text-white">Admin Panel</h2>
	</md-card-content>
	<div class="" layout="row" layout-align="center center" layout-wrap>
		<md-card layout="column" layout-padding>
		<form name="reset" novalidate>
			<div layout-padding>
				<div layout-padding>
					<md-input-container class=""> <label><md-icon
							md-svg-src="images/svg/at5.svg" class="name"></md-icon>Password</label> <input
						name="userName" ng-model="user.password" type="password"
						ng-required="true"> </md-input-container>
					<md-input-container class=""> <label><md-icon
						md-svg-src="images/svg/at5.svg" class="name"></md-icon>Confirm Password</label> <input
					name="userName" ng-model="confirmPassword" type="password"
					ng-required="true"> </md-input-container>
					<div layout layout-row style="padding-top: 15px;">
						<span flex></span>
						<md-button flex class="md-raised md-primary  text-white"
							ng-click="cancel()">Cancel </md-button>
						<span flex></span> <span flex></span>
						<md-button flex class="md-raised md-success  text-white"
							ng-disabled="(user.password == '' || user.password == undefined)" ng-enter="resetpass(user)">Submit
						</md-button>
						<span flex></span>
					</div>
				</div>
			</div>
		</form>
		</md-card>
	</div>

</div>