 <md-dialog aria-label="Sign Up"  ng-cloak  class="signing_dialog">
<md-button class="md-icon-button" style="float: right; width: auto; z-index: 100;" ng-click="cancel();">
        <ng-md-icon icon="close" style="fill: #333" size="30"></ng-md-icon> 
</md-button>
<div id="fback" flex>

<div class="girisback">
<img class="_logo" layout-align="center" src="assets/img/useravat.png"/>
<span class="_logotext">Great stores. Great choices.</span>
</div>
<div class="kayitback">
<img layout-align="center" class="_logo" src="assets/img/useravat.png"/>
<span class="_logotext">Great stores. Great choices.</span>
</div>

</div>

<div id="textbox">
  <div class="toplam">

    <div class="left" id="left" flex >
      <div id="ic">
       
		<div flex ng-if="isSignup">	
		<span flex layout="row" layout-align="center" style="font-weight: bold;">SIGN UP</span>
		<form name="userForm" layout-padding>			
        <md-input-container flex class="auth_input">
          <ng-md-icon icon="email" style="fill: #0F9D58; margin: 28px 0px 0px 0px; position: absolute;" size="18"></ng-md-icon> 
          <label class="padd-l22">Email</label>
          <input class="padd-l22" ng-model="user.email" type="email" ng-blur="checkValue(user.email,user.phoneNo)" ng-required="emailReq" pattern="^[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$">
        </md-input-container >
         <md-input-container flex class="auth_input">
         <md-icon md-svg-src="assets/img/icon/iphone26.svg" class="svgstyle name"></md-icon>
          <label class="padd-l22">Mobile No</label>
          <input class="padd-l22" ng-model="user.phoneNo" ng-blur="checkValue(user.email,user.phoneNo)" valid-number ng-required="phoneReq">
        </md-input-container >
	      <md-input-container flex class="auth_input">
	      	<md-icon md-svg-src="assets/img/icon/pwdd.svg" class="svgstyle name"></md-icon>
	        <label class="padd-l22">Password</label>
	        <input class="padd-l22" ng-model="user.password" type="password" ng-trim="false" ng-change="user.password = user.password.split(' ').join('')" ng-required="true" >
	      </md-input-container>
	      <md-input-container flex class="auth_input">
	      <md-icon md-svg-src="assets/img/icon/pwdd.svg" class="svgstyle name"></md-icon>
	        <label class="padd-l22">Confirm Password</label>
	        <input class="padd-l22" ng-model="confirmPassword" type="password" ng-trim="false" ng-change="confirmPassword = confirmPassword.split(' ').join('')" ng-required="true">
	      </md-input-container>
	       <div layout="row">
		    <md-button class="md-raised green_btn_clr" flex ng-disabled="userForm.$invalid" ng-click="signUp(user,confirmPassword);">
		      SIGN UP
		    </md-button>		    
		  </div>
		  <div layout="row" class="mg_t15">
		  <span  ng-click="goSignIn()" class="sigin-upask">
		      <span> Already have an account? </span><span class="text-green" > signIn </span>
		   </span>
		   </div>
	  </form>
	  </div>
          
          
           <!--// forget password-->
      <div flex ng-if="isForgetPassword" class="frgt-pwddiv">
          <span flex layout="row" layout-align="center" style="font-weight: bold;">Forget Password</span>
	<form name="userForgetPassForm">			
        <md-input-container flex class="frgtpwd_input">
          <ng-md-icon icon="email" style="fill: #0F9D58; margin: 28px 0px 0px 0px; position: absolute;" size="18"></ng-md-icon>
          <label class="padd-l22">Email</label>
          <input class="padd-l22" ng-model="users.emailid" type="email" ng-required="true" pattern="^([^.@]+)(\.[^.@]+)*@([^.@]+\.)+([^.@]+)$">
        </md-input-container >
	      <div layout="row">
		      <div flex>
		      </div>
		    </div> 
		  <div layout="row">
		    <md-button class="md-raised green_btn_clr" flex ng-disabled="userForgetPassForm.$invalid || isForPassSubBtnDisabled" ng-click="forGetPassword(users);">
		      SUBMIT
		    </md-button>		    
		  </div>		  
          <div layout="row" class="mg_t15">
		  <span   ng-click="goSignIn()" class="sigin-upask">
		      <span> Already have an account? </span><span class="text-green"> signIn </span>
		   </span>
		   </div>
	  </form>
      </div>   
          
          
          
</div>
</div>

<div class="right" id="right" flex>
  <div id="ic">
    <div flex ng-if="isSignIn">
	<span flex layout="row" layout-align="center" style="font-weight: bold;">SIGN IN</span>
	  <form name="userLoginForm" layout-padding ng-hide="isSignUp">			
        <md-input-container flex class="auth_input">
          <ng-md-icon icon="email" style="fill: #0F9D58; margin: 28px 0px 0px 0px; position: absolute;" size="18"></ng-md-icon>
          <label class="padd-l22">Email/Mobile No</label>
          <input class="padd-l22" ng-model="user.email" type="text" ng-required="true" >
        </md-input-container >
	      <md-input-container flex class="auth_input">
	      	<md-icon md-svg-src="assets/img/icon/pwdd.svg" class="svgstyle name"></md-icon>
	        <label class="padd-l22">Password</label>
	        <input class="padd-l22" ng-model="user.password" type="password" ng-trim="false" ng-change="user.password = user.password.split(' ').join('')"  ng-required="true">
	      </md-input-container>
	      <div layout="row">
		      <div flex>
		       <md-checkbox  class="md-green" ng-model="rememberme" aria-label="Checkbox 1">
		          	<span>Keep me signed in</span>
		        </md-checkbox>
		      </div>
		          
		    </div> 
		  <div layout="row">
		    <md-button class="md-raised green_btn_clr" flex ng-disabled="userLoginForm.$invalid" ng-click="signIn(user);">
		      SIGN IN
		    </md-button>		    
		  </div>
		  <div class="mg-tb25">
		  <div layout="row">
		  <span ng-click="goSignup()" class="sigin-upask">
		  <span>New to Shopsbacker?</span> <span class="text-green">Join Today</span> 
		  </span>
		  </div>
		  <div layout="row" ng-click="goForgetPassword()">
		       <span class="text-green frgt-pwd" ng-click="forgetPass = true;isSignIn=false;title = 'Forgot password?'">Forgot your password?</span>		  
		  </div>
		  </div>
	  </form>
	  </div>      
</div>  
</div>
</div>
</div>  
</md-dialog>
