
<md-button class="md-fab" aria-label="Eat cake" style="position: fixed; right: 23px; bottom: 23px; line-height: inherit; margin-bottom: 0; z-index: 998;">
	<ng-md-icon icon="add" size="35" class="icon-white" ng-click="addDiscount()"></ng-md-icon>
</md-button>
<md-card  flex-gt-sm="90" flex-gt-md="80" class="tbl-body">
	<md-toolbar class=" md-default-theme" style="background-color:transparent;">
		<div class="md-toolbar-tools" layout="row">
	  		<h3 layout-align="start">Discount</h3>
	  		<div  class="tbl-search" ng-init="getDiscountList();">
	  			<ng-md-icon icon="search"  class="icon-white" ></ng-md-icon>
	  			<search-text  original-list="originalList" filtered-list="discountList" pagination="discountPagination" total-records="noOfRecords"/>
	  		</div> 		
    </div>
   </md-toolbar>

   <md-card-content class="nopadd">
		<md-data-table-container>
     <!-- <md-list>
     	 <md-item  class="data-table-list " md-data-table>
         <md-item-content layout="row" layout-padding class="tbl-header ">
            <div layout="row" layout-wrap class="full_wid tbl-header">
	           	 <span flex=10 style="padding-left:10px;" layout-align="start center" layout>
	             	Name
	           	 </span>
	           	 <span ng-if="user.role == 'MERCHANTADMIN'" flex=10 style="padding-left:10px;" layout-align="start center" layout>
	             	Store
	           	 </span>
	           	 <span flex=10 layout-align="start center" layout>
	              	Discount Percentage
	           	 </span>
	           	 <span flex=10 layout-align="center center" layout>
	              	Discount Amount
	           	 </span>
	           	 <span flex=10 layout-align="center center" layout>
	              	Start Date
	           	 </span>
	           	 <span flex=15 layout-align="center center" layout>
	              	End Date
	           	 </span>	
	           	 <span flex=15 layout-align="center center" layout>
	              	Start Time
	           	 </span>
	           	 <span flex=10 layout-align="center center" layout>
	              	End Time
	           	 </span>	           	            	 	           	 
	             <span flex=10 layout-align="center center" layout>
	             	Actions
	             </span>           
            </div>       	
           </div>
         </md-item-content>
         
       </md-item>
       
       <md-item ng-repeat="discount in discountList |  filter:searchText | orderBy: discountPagination.order | limitTo: discountPagination.limit: (discountPagination.page - 1) * discountPagination.limit" class="md-table-content-row">
         <md-item-content layout="row" layout-padding>
            <div layout="row" layout-wrap class="full_wid tbl-body" >
           		<span flex=10  layout layout-align="start center" ng-click="discountDetails(discount)">
             		<span layout-padding class="shopname">
             			{{discount.name}}
             		</span>
           		</span>
           		<span ng-if="user.role == 'MERCHANTADMIN'" flex=10  layout layout-align="start center" ng-click="discountDetails(discount)">
             		<span layout-padding class="shopname">
             			{{discount.storeList[0].name}}
             		</span>
           		</span>           	
           		<span flex=10 layout layout-align="start center" ng-click="discountDetails(discount)">
             	 	<span class="hash_color ">{{discount.discountPercentage}}%</span>
           		</span>
           	
           	   	<span flex=10 layout layout-align="center center" ng-click="discountDetails(discount)">
              		<span class="hash_color">{{discount.discountAmount}}</span>
           	 	</span>
            	<span flex=10 layout layout-align="center center" ng-click="discountDetails(discount)">
              		<span class="hash_color">{{discount.startDate | date:'MM/dd/yyyy'}}</span>
           	 	</span>  
           	   	<span flex=15 layout layout-align="center center" ng-click="discountDetails(discount)">
              		<span class="hash_color">{{discount.endDate | date:'MM/dd/yyyy'}}</span>
           	 	</span>   
           	   	<span flex=15 layout layout-align="center center" ng-click="discountDetails(discount)">
              		<span class="hash_color">{{discount.startTime}}</span>
           	 	</span>
            	<span flex=10 layout layout-align="center center" ng-click="discountDetails(discount)">
              		<span class="hash_color">{{discount.endTime}}</span>
           	 	</span>          	 	            	 	        	 	           	 	        	 	
             	<span flex=10 layout="row" layout-align="center center">
             		<md-button class="md-icon-button md-primary padd-t5"  ng-click="editDiscount(discount);$event.stopPropagation();"><ng-md-icon style="z-index:500;" icon="mode_edit" size="20" class="icons hash_color btn-success"></ng-md-icon></md-button>
             		<md-button class="md-icon-button md-primary padd-t5" ng-click="deleteDiscount(discount.discountId);$event.stopPropagation();"><ng-md-icon style="z-index:500;" icon="close" size="20" class="icons hash_color btn-danger" ></ng-md-icon></md-button>
             	</span>           
            </div>       	
           </div>
         </md-item-content>
         <md-divider></md-divider>
       <md-divider></md-divider>
       </md-item>
     </md-list> -->
     
     <table md-data-table class="data-table-list" md-progress="deferred">
	<thead class="full_wid  ">
		<tr class="tbl-header">
              <th name="Name"></th>
              <th name="Store"></th>
              <th name="Discount Percentage"></th>
              <th name="Discount Amount"></th>
              <th name="Start Date"></th>
              <th name="End Date"></th>
              <th name="Start Time"></th>
              <th name="End Time"></th>
              <th name="Actions"></th>              
        </tr>
	</thead>
	<tbody>
		<tr ng-click="discountDetails(discount)" ng-repeat="discount in discountList |  filter:searchText | orderBy: discountPagination.order | limitTo: discountPagination.limit: (discountPagination.page - 1) * discountPagination.limit">
			<td>{{discount.name}}</td>
			<td>{{discount.storeList[0].name}}</td>
			<td>{{discount.discountPercentage}}%</td>
			<td>{{discount.discountAmount}}</td>
			<td>{{discount.startDate | date:'MM/dd/yyyy'}}</td>
			<td>{{discount.endDate | date:'MM/dd/yyyy'}}</td>
			<td>{{discount.startTime}}</td>
			<td>{{discount.endTime}}</td>
			<td layout="row">			
        			<ng-md-icon icon="mode_edit" size="20" class="icons hash_color btn-success padd-t10 action-buttons wid-40" ng-click="editDiscount(discount);$event.stopPropagation();"></ng-md-icon>
      	      		<ng-md-icon icon="close" size="20" class="icons hash_color btn-danger padd-t10 action-buttons wid-40" ng-click="deleteDiscount(discount.discountId);$event.stopPropagation();"></ng-md-icon>
        	</td>
			
		</tr>
	</tbody>
</table>

	</md-data-table-container>
   </md-card-content>
   
   <div style="font-size:16px;" layout="row" class="table-pagination-bg" layout-align="center center">		
		<md-data-table-pagination md-limit="discountPagination.limit" md-page="discountPagination.page" md-total="{{noOfRecords}}" md-trigger="onpagechange"></md-data-table-pagination>
	</div>	
   
</md-card>

    
