<div layout="row">

	<div layout="row" flex=35>
		<h3 layout-padding layout-align="start center">Sales Order Line</h3>
	</div>

	<div layout="row" flex=45>

	</div>

	<div layout="row" flex=20>
		<md-input-container md-theme="input" flex style="height: 72px;">
		<label>&nbsp;</label> <input style="border-bottom-color: #B0B0B0;" ng-model="search"
			placeholder="enter search"> </md-input-container>

		<ng-md-icon icon="search" style="line-height: 5;"></ng-md-icon>


	</div>
</div>
<md-card flex-gt-sm="90" flex-gt-md="80">
<md-card-content style="padding: 0px 0px 16px 0px;">
<md-data-table-container>
<table md-data-table class="md-primary"
	md-progress="deferred">
	<thead md-order="salesOrderLinePagination.order" md-trigger="onorderchange">
	<span ng-click="salesOrder()" class="close_box">
		    <ng-md-icon class="icon-white svgstyle" size="35" icon="close"></ng-md-icon>
	 </span> 
		<tr>
			<th order-by="productDetails.productName" name="Product"></th>
			<th order-by="productId" name="Discount"></th>
			<th numeric order-by="productDetails.productPrice.tax" name="Tax"></th>
			<th numeric order-by="productDetails.productPrice.price" name="Price"></th>
			<th numeric order-by="quantity" name="Quantity"></th>
			<th numeric order-by="quantity" name="Line Amount"></th>
		</tr>
	</thead>
	<tbody>
		<tr
			ng-repeat="product in salesOrderDetails.salesOrderLineVo | orderBy: salesOrderLinePagination.order | limitTo: salesOrderLinePagination.limit: (salesOrderLinePagination.page - 1) * salesOrderLinePagination.limit | filter:search">
			<td>{{product.productVo.name}}</td>
			<td>{{product.discount}}</td>
			<td>{{product.productDetails.productPrice.tax}}</td>
			<td>{{product.price}}</td>
			<td>{{product.qty}}</td>
			<td>{{product.netAmount}}</td>
		</tr>
	</tbody>
</table>
</md-data-table-container> <md-data-table-pagination md-limit="salesOrderLinePagination.limit" md-page="salesOrderLinePagination.page"
	md-total="{{desserts.count}}" md-trigger="onpagechange"></md-data-table-pagination>
   </md-card-content>
</md-card>
<style>
.close_box {
  position: absolute;
  right: 22px;
  top: 97px;
}
</style>