<md-card flex-gt-sm="90" flex-gt-md="80" class="tbl-body">


	<div layout-sm="column" layout-md="column" style="padding: 0px 16px;" layout="row"  ng-init="getSalesOrderList();getMerchantStore()">
  		<div flex layout="row" layout-sm="column">
  		<h3 layout-align="start" layout-align-sm="center">Sales Order</h3>
  		<div class="tbl-search padd-t14" layout-align-sm="center">
  			<ng-md-icon icon="search"  class="icon-white" ></ng-md-icon>
  			<search-text  original-list="originalList" filtered-list="salesOrderList" pagination="salesOrderPagination" total-records="noOfRecords"/>
  		</div>
  		</div>
    	<div flex layout-align="end" layout="row" layout-sm="column">
		<md-datepicker style="background: none;padding: 20px;" layout-padding
			layout-align="end center" class="bg-none" ng-model="fromDate"
			ng-change="getSalesByDate()" md-placeholder="From"></md-datepicker>
		<md-datepicker style="background: none;padding: 20px;" layout-padding
			layout-align="end center" class="bg-none" ng-model="toDate"
			ng-change="getSalesByDate()" md-placeholder="To"></md-datepicker>
		<md-input-container ng-hide="user.role == 'STOREADMIN'">
		<label>Store</label> <md-select name="myModel" ng-model="store" 
			required ng-change="getSalesByStore(store);"> <md-option ng-repeat="stores in merchantStore" ng-value="stores" >{{stores.name}}</md-option> 
	    </md-input-container>
	</div>
   </div>
    	 
<md-data-table-container>
<table md-data-table class="md-primary"
	md-progress="deferred">
	<thead md-order="salesOrderPagination.order" md-trigger="onorderchange" class="full_wid">
		<tr class="tbl-header">
		<th name="Shopper"></th>
		<th name="Backer"></th>
              <th ng-click="showIcon='addressVo.name';"  order-by="addressVo.name" name="Customer"></th>
<!--               <th order-by="address.firstName" name="Products"></th>
 -->              <th numeric ng-click="showIcon='orderNo';" order-by="orderNo" name="Ref-no"></th>
              <th ng-click="showIcon='addressVo.address1';" order-by="addressVo.address1" name="Delivery Address"></th>
              <th ng-click="showIcon='status';" order-by="status" name="Status"></th>
              <th ng-click="showIcon='fromDate';" order-by="fromDate" name="Order Date"></th>
              <th ng-click="showIcon='deliveryDate';" order-by="deliveryDate" name="Delivery Date"></th>
              <th ng-click="showIcon='deliveryTime';" order-by="deliveryDate" name="Delivery Time"></th>
              <th ng-click="showIcon='store.name';" order-by="store.name" name="Store"></th>
              <th ng-click="showIcon='shippingCharge';" order-by="totalTaxAmount" name="Tax"></th>
              <th ng-click="showIcon='totalTaxAmount';" order-by="shippingCharge" name="Shipping Charge"></th>
              <th ng-click="showIcon='amount';" order-by="amount" name="Net"></th>
              <th ng-click="showIcon='netAmount';" order-by="netAmount" name="Gross"></th>
              <th name="View Details"></th>
            </tr>
	</thead>
	<tbody>
		<tr ng-repeat="salesOrder in salesOrderList | orderBy: salesOrderPagination.order | limitTo: salesOrderPagination.limit: (salesOrderPagination.page - 1) * salesOrderPagination.limit | filter:searchText">
		<td ng-if="salesOrder.status=='Placed' ||  salesOrder.status=='Shoper_Assigned'"><md-button class="md-icon-button md-primary" ng-click="showTabShoper(salesOrder,$event)"><ng-md-icon icon="person" size="20" class="icons btn-success"></ng-md-icon></md-button>{{salesOrder.shoper.name}}</td>
		<td ng-if="salesOrder.status!='Placed' &&  salesOrder.status!='Shoper_Assigned'"><md-button  class="md-icon-button md-primary" ng-disabled="true" ng-click="showTabShoper(salesOrder,$event)"><ng-md-icon icon="person" size="20" class="icons btn-success"></ng-md-icon></md-button>{{salesOrder.shoper.name}}</td>
		<td ng-if="salesOrder.status=='Packed' ||  salesOrder.status=='Backer_Assigned'"><md-button class="md-icon-button md-primary"   ng-click="showTabBacker(salesOrder,$event)"><ng-md-icon icon="person"  size="20" class="icons btn-success"></ng-md-icon></md-button>{{salesOrder.backer.name}}</td>
		<td ng-if="salesOrder.status!='Packed' &&  salesOrder.status!='Backer_Assigned'"><md-button class="md-icon-button md-primary"   ng-disabled="true" ng-click="showTabBacker(salesOrder,$event)"><ng-md-icon icon="person" size="20" class="icons btn-success"></ng-md-icon></md-button>{{salesOrder.backer.name}}</td>
			<td>{{salesOrder.addressVo.name}}</td>
			<!-- <td><md-select ng-model="dessert.type" placeholder="Other">
				<md-option ng-value="type" ng-repeat="type in getTypes()">{{type}}</md-option>
				</md-select></td> -->
			<td>{{salesOrder.orderNo}}</td>	
			<td>{{salesOrder.addressVo.address1}},{{salesOrder.addressVo.address2}} {{salesOrder.addressVo.city.name}}</td>
			<td>{{salesOrder.status}}</td>
			<td>{{salesOrder.fromDate | date:"MM/dd/yyyy h:mm a"}}</td>
			<td>{{salesOrder.deliveryDate}}</td>
			<td>{{salesOrder.deliveryTimeSlot}}</td>
			<td>{{salesOrder.store.name}}</td>
			<td>{{salesOrder.totalTaxAmount}}</td>
			<td>{{salesOrder.shippingCharge}}</td>
			<td>{{salesOrder.amount}}</td>
			<td>{{salesOrder.netAmount}}</td>
			<td><md-button class="md-success" ng-click="getSalesDetails(salesOrder)">VIEW DETAILS</md-button></td>
		</tr>
	</tbody>
</table>
</md-data-table-container> 
<div layout layout="row" class="table-pagination-bg" layout-align="center center">
<md-data-table-pagination md-limit="salesOrderPagination.limit" md-page="salesOrderPagination.page"
	md-total="{{noOfRecords}}" md-trigger="onpagechange"></md-data-table-pagination>
</div>
</md-card>
