<a ui-sref="app.newphysicalinventory">
	<md-button class="md-fab" aria-label="Eat cake" style="position: fixed; right: 23px; bottom: 23px; line-height: inherit; margin-bottom: 0; z-index: 998;">
		<ng-md-icon icon="add" size="35" class="icon-white" ></ng-md-icon>
	</md-button>
</a>
<md-card flex-gt-sm="90" flex-gt-md="80">
 <md-toolbar class=" md-default-theme">
	<div class="md-toolbar-tools" layout="row">
  		<h2 layout-align="start">Physical Inventory</h2>
    	<span class="flex"></span>
	 <div class="md-toolbar-tools padd-0 wid-50" ng-show="showSearch">
	      <md-input-container md-theme="input" flex>
	        <label>&nbsp;</label>
	        <input ng-model="sreach" style="color: white; border-bottom-color: white;" placeholder="enter search">
	      </md-input-container>
	      <md-button aria-label="Search" style="line-height: inherit; min-width: inherit;" ng-click="showSearch = !showSearch;srch = true;">
	        <ng-md-icon icon="search" class="icon-white"></ng-md-icon>
	      </md-button>
	  </div>
      <md-button ng-show="srch" layout-align="end" style="line-height: inherit; min-width: inherit;" aria-label="Search" ng-click="showSearch = !showSearch; srch = false;">
       <ng-md-icon icon="search"  class="icon-white" ></ng-md-icon>
      </md-button>
    </div>
   </md-toolbar>

   <md-card-content class="nopaddtop">
		<md-data-table-container>
     <md-list>
       <md-item md-data-table ng-repeat="physicalinventory in physicalinventoryData | filter:sreach | orderBy: physicalInventoryListPagination.order | limitTo: physicalInventoryListPagination.limit: (physicalInventoryListPagination.page - 1) * physicalInventoryListPagination.limit" class="md-table-content-row"" ng-click="redirectToPhysicalinventoryDetails(physicalinventory);">
         <md-item-content layout="row" layout-padding>
          <div layout="row" layout-wrap class="full_wid">
         
           	<span flex=50 layout="column" class="padd-lr5" layout-align="start start">
             <span layout-padding class="shopname" class="padd-tr5-lb8 ft-18"><strong>{{physicalinventory.inventoryName}}</strong></span>
             <span class="hash_color ft-14">{{physicalinventory.warehouseName}}</span>
           	</span>
        
             <span flex=10 layout="row" layout-align="end center">
                
             </span>
            <span flex=40 layout="row" layout-align="end center">
            <md-button ng-hide="physicalinventory.isprocessed" style="z-index:500;" class="md-icon-button md-primary" ng-click="redirectToEditPhysicalinventory(physicalinventory);$event.stopPropagation();" aria-label="Edit">
        			<ng-md-icon icon="mode_edit" size="20" class="icons hash_color"></ng-md-icon>
      			</md-button>
             	<md-button ng-hide="physicalinventory.isprocessed" style="z-index:500;" class="md-icon-button md-primary" ng-click="removeInventory(physicalinventory.inventoryId);$event.stopPropagation();" aria-label="Delete">
             		<ng-md-icon icon="close" size="20" class="icons hash_color"></ng-md-icon>
             	</md-button>
              <md-button ng-hide="physicalinventory.isprocessed" class="md-raised md-success  prdct-btns" ng-click="conformInventroy(physicalinventory.inventoryId);$event.stopPropagation();">Process</md-button>
              <md-button class="md-raised md-success  prdct-btns" ng-click="viewLine(physicalinventory);$event.stopPropagation();">View Line</md-button>
             </span>
            </div>
           </div>
         </md-item-content>
         <md-divider></md-divider>
       <md-divider></md-divider>
       </md-item>
     </md-list>
	</md-data-table-container>
   </md-card-content>
    <div layout layout="row"  class="table-pagination-bg" layout-align="center center">
	<md-data-table-pagination md-limit="physicalInventoryListPagination.limit" md-page="physicalInventoryListPagination.page" md-total="{{physicalinventoryData.length}}" md-trigger="onpagechange"></md-data-table-pagination>
	</div>
</md-card>
