<a ui-sref="app.newmerchant">
	<md-button class="md-fab" aria-label="Eat cake" style="position: fixed; right: 23px; bottom: 23px; line-height: inherit; margin-bottom: 0; z-index: 998;">
		<ng-md-icon icon="add" size="35" class="icon-white" ></ng-md-icon>
	</md-button>
</a>
<md-card flex-gt-sm="90" flex-gt-md="80">
 <md-toolbar class=" md-default-theme">
	<div class="md-toolbar-tools" layout="row">
  		<h2 layout-align="start">Merchants</h2>
    	<span class="flex"></span>
	 <div class="md-toolbar-tools padd-0 wid-50" ng-show="showSearch">
	      <md-input-container md-theme="input" flex>
	        <label>&nbsp;</label>
	        <input ng-model="search" style="color: white; border-bottom-color: white;" placeholder="enter search">
	      </md-input-container>
	      <md-button aria-label="Search" style="line-height: inherit; min-width: inherit;" ng-click="showSearch = !showSearch;srch = true;">
	        <ng-md-icon icon="search" class="icon-white"></ng-md-icon>
	      </md-button>
	  </div>
      <md-button ng-show="srch" layout-align="end" style="line-height: inherit; min-width: inherit;" aria-label="Search" ng-click="showSearch = !showSearch; srch = false;">
       <ng-md-icon icon="search"  class="icon-white" ></ng-md-icon>
      </md-button>
    </div>
   </md-toolbar>

   <md-card-content class="nopaddtop">
		<md-data-table-container>
     <md-list>
       <md-item md-data-table ng-repeat="merchant in merchantData | filter:search | orderBy: merchantPagination.order | limitTo: merchantPagination.limit: (merchantPagination.page - 1) * merchantPagination.limit" class="md-table-content-row"" ng-click="redirectToMerchantDetails(merchant);">
         <md-item-content layout="row" layout-padding>
          <div layout="row" layout-wrap class="full_wid">
         	<span flex=10  class="padd-5-3">
         	<div style="width:100px;">
                     <img src="{{merchant.productImages.imageUrl}}" style="display: block;width:45px; height: 45px;  border-radius: 99%;" />
                  </div></span>
           	<span flex=25 layout="column" class="padd-lr5" layout-align="start start">
             <span layout-padding class="shopname" class="padd-tr5-lb8 ft-18"><strong>{{merchant.merchantName}}</strong></span>
             <span class="hash_color padd-l8 ft-14">{{merchant.address}} {{merchant.address1}}</span>
           	</span>
           	   <span flex=50 layout="row" layout-align="start end">
             	<span class="ft-14 hash_color"><ng-md-icon layout-padding icon="call" size="15"></ng-md-icon>{{merchant.phoneNo}}</span>
           	 </span>
             <span flex=15 layout="row" layout-align="end center">
                <md-button class="md-icon-button md-primary" ng-click="redirectToEditMerchant(merchant);$event.stopPropagation();" aria-label="Edit">
        			<ng-md-icon icon="mode_edit" size="20" class="icons hash_color"></ng-md-icon>
      			</md-button>
             	<md-button class="md-icon-button md-primary" ng-click="deleteMerchant(merchant.merchantId);$event.stopPropagation();" aria-label="Delete">
             		<ng-md-icon icon="close" size="20" class="icons hash_color"></ng-md-icon>
             	</md-button>
             </span>
            </div>
           </div>
         </md-item-content>
         <md-divider></md-divider>
       <md-divider></md-divider>
       </md-item>
     </md-list>
	</md-data-table-container>
   </md-card-content>
   <div layout layout="row" class="table-pagination-bg" layout-align="center center">
		<md-data-table-pagination md-limit="merchantPagination.limit" md-page="merchantPagination.page" md-total="{{merchantData.length}}" md-trigger="onpagechange"></md-data-table-pagination>
	</div>
</md-card>
