<md-button class="md-fab" ng-click="editProductOffer();"
   aria-label="Eat cake"
   style="position: fixed; right: 23px; bottom: 23px; line-height: inherit; margin-bottom: 0; z-index: 998;">
   <ng-md-icon icon="add" size="35" style="fill: white;"></ng-md-icon>
</md-button>
<md-card class="tbl-body" flex-gt-sm="90" flex-gt-md="80" ng-init="getProductOfferList();">
	
	<md-toolbar class=" md-default-theme" style="background-color:transparent;">
         <div class="md-toolbar-tools " layout="row">
         		<h3 layout="column" style="padding: 0px 10px;">Offers</h3>
         		<div class="tbl-search">
		  			<ng-md-icon icon="search"  class="icon-white" ></ng-md-icon>
		  			<input ng-model="searchTxt" type="text"  placeholder="Search">
		  		</div>
         	</div>
      </md-toolbar>
      
   <md-card-content class="nopadd">
   
   <md-data-table-container>
     <!-- <md-list>
     	<md-item class="data-table-list " md-data-table>
         <md-item-content layout="row" class="tbl-header padd-l8">
      
      	<div layout="row" layout-wrap class="full_wid tbl-header ">
         	<span flex="10" layout-align="start center" layout>
	         	Offer Name
            </span>
            <span flex="15" layout-align="center center" layout>
	         	Product Name
            </span>
            <span flex="15" layout-align="start center" layout>
	         	From Date
            </span>
            <span flex="15" layout-align="start center" layout>
	         	To Date
            </span>
            <span flex="10" layout-align="start center" layout>
	         	Start Time
            </span>            
            <span flex="15" layout-align="start center" layout>
	         	End Time
            </span>
            <span flex="10" layout-align="start center" layout>
	         	Store
            </span>
             <span flex="10" layout-align="center center" layout>
	         	Action
            </span>
        </div>
        </md-item-content>
        </md-item>
        
      <md-item class="data-table-list" md-data-table ng-repeat="productOffer in productOfferList | filter:searchTxt | orderBy: offerPagination.order | limitTo: offerPagination.limit: (offerPagination.page - 1) * offerPagination.limit" ng-click="productDetails(product)">
         <md-item-content  layout="row" class="padd-l8">
          <div layout="row" layout-wrap class="full_wid tbl-body" ng-click="offerDetails(productOffer);" ng-hide="showDetails" ng-show="product.productId != showInLineEdit">
          
      		<span flex="10" layout-align="start center" layout>
			<span flex class="shopname">{{productOffer.name}}</span>
			</span>
      		<span flex="15" layout-align="start center" layout>
      		<span flex class="shopname">{{productOffer.productVo.name}}</span>
      		</span>
      		<span flex="15" layout-align="start center" layout>
      		<span flex class="shopname">{{productOffer.fromDate | date:'MM/dd/yyyy'}}</span>
      		</span>
      		<span flex="15" layout-align="start center" layout>
      		<span flex class="shopname">{{productOffer.todate | date:'MM/dd/yyyy'}}</span>
      		</span>      		
      		<span flex="10" layout-align="center center" layout>
      		<span flex class="shopname">{{productOffer.startTime}}</span>
      		</span>
      		<span flex="15" layout-align="center center" layout>
      		<span flex class="shopname">{{productOffer.endTime}}</span>
      		</span>
      		<span flex="10" layout-align="center center" layout>
      		<span flex class="shopname">{{productOffer.store.name}}</span>
      		</span>
      		
      		 <span flex="10" layout-align="center center" layout>
                <md-button class="md-icon-button md-primary padd-t5" ng-click="offerDetails(productOffer);" aria-label="Inline Edit">
             		<ng-md-icon icon="rate_review" size="20" class="icons hash_color"></ng-md-icon>
             	</md-button>
                <md-button class="md-icon-button md-primary padd-t5" ng-click="editProductOffer(productOffer)" aria-label="Edit">
        			<ng-md-icon icon="mode_edit" size="20" class="icons hash_color btn-success"></ng-md-icon>        			
      			</md-button>
             	<md-button class="md-icon-button md-primary padd-t5" ng-click="deleteProductOffer(productOffer.productOfferId);$event.stopPropagation();" aria-label="Delete">
             		<ng-md-icon icon="close" size="20" class="icons hash_color btn-danger"></ng-md-icon>
             	</md-button>
             </span>
             
      	</div>      	
      	
       
      </md-item-content>
      </md-item>
      
     </md-list> -->
     
     <table md-data-table class="data-table-list" md-progress="deferred">
	<thead class="full_wid  ">
		<tr class="tbl-header">
              <th name="Offer Name"></th>
              <th name="Product Name"></th>
              <th name="From Date"></th>
              <th name="To Date"></th>
              <th name="Start Time"></th>
              <th name="End Time"></th>
              <th name="Store"></th>
              <th name="Action"></th>
        </tr>
	</thead>
	<tbody>
		<tr ng-click="offerDetails(productOffer);" ng-hide="showDetails" ng-show="product.productId != showInLineEdit" ng-repeat="productOffer in productOfferList | filter:searchTxt | orderBy: offerPagination.order | limitTo: offerPagination.limit: (offerPagination.page - 1) * offerPagination.limit" ng-click="productDetails(product)">
			<td>{{productOffer.name}}</td>
			<td>{{productOffer.productVo.name}}</td>
			<td>{{productOffer.fromDate | date:'MM/dd/yyyy'}}</td>
			<td>{{productOffer.todate | date:'MM/dd/yyyy'}}</td>
			<td>{{productOffer.startTime}}</td>
			<td>{{productOffer.endTime}}</td>
			<td>{{productOffer.store.name}}</td>
			<td layout="row">		
					<ng-md-icon style="display: none;" icon="rate_review" size="20" class="icons hash_color padd-t10 action-buttons wid-40" ng-click="offerDetails(productOffer);"></ng-md-icon>	
        			<ng-md-icon icon="mode_edit" size="20" class="icons hash_color btn-success padd-t10 action-buttons wid-40" ng-click="editProductOffer(productOffer)"></ng-md-icon>
      	      		<ng-md-icon icon="close" size="20" class="icons hash_color btn-danger padd-t10 action-buttons wid-40" ng-click="deleteProductOffer(productOffer.productOfferId);$event.stopPropagation();"></ng-md-icon>
        	</td>
				
		</tr>
	</tbody>
</table>
     </md-data-table-container>
   </md-card-content> 
   <div layout="row" layout-align="center center" >
   		<div style="font-size:16px;" flex="63" layout="row" class="table-pagination-bg" layout-align="start center">
		 <md-data-table-pagination md-limit="offerPagination.limit"
      md-page="offerPagination.page" md-total="{{productOfferList.length}}"
      md-trigger="onpagechange"></md-data-table-pagination>
		</div>
	</div>        
</md-card> 

