<md-toolbar class=" md-default-theme" style="background-color:transparent; z-index: 1;">
    <div class="md-toolbar-tools">
      <h2 layout-align="start center">Product Details</h2>
    </div>
    <md-button class="md-fab edit-btn" aria-label="Eat cake" ng-click="editproduct(productDetail);$event.stopPropagation();">
		<ng-md-icon icon="mode_edit" size="20" style="fill: white;"></ng-md-icon>
	</md-button>
	<md-button style="right:85px" class="md-fab edit-btn" aria-label="Eat cake" ui-sref="app.products">
		<ng-md-icon  icon="arrow_back" size="20" style="fill: white;"></ng-md-icon>
	</md-button>
   </md-toolbar>
   
<md-card flex-gt-sm="90" flex-gt-md="80" ng-init="getProductDetails()">
    <md-content layout-padding>
  
  <form name="merchant" layout="row">
  
   <div flex="50" class="padd-50 padd-b30" layout-padding layout="column" layout-sm="column">
    <md-input-container>
      <label>Product Name</label>
      <input type="text" ng-model="productDetail.name" readonly=true/>
    </md-input-container>
    
     <md-input-container>
      <label>Product Category</label>
      <input type="text" ng-model="productDetail.productCategory.name" readonly=true/>
     </md-input-container>
    
    <md-input-container>
      <label>Product Type</label>
        <input type="text" ng-model="productDetail.productType.name" readonly=true/>
    </md-input-container>
 	   
    <md-input-container>
    <textarea id="textarea1" rows="4" style="border: 1px solid #ddd;" class="materialize-textarea" ng-model="productDetail.description" readonly aria-label="Description"></textarea>
    </md-input-container>
    
    
    <md-input-container>
      <label>Product Measurement</label>
      <input type="text" ng-model="productDetail.unit" readonly=true/>
    </md-input-container>
    
     <md-input-container>
      <label>Measurement Unit</label>
      <input type="text" ng-model="productDetail.uom.name" readonly=true/>
    </md-input-container>
    
    <md-input-container>
      <label>Type</label>
       <input type="text" ng-model="productDetail.edibleType" readonly=true></input>
    </md-input-container>
    
    <md-input-container>
      <label>Price</label>
      <input type="text" ng-model="productDetail.price" readonly=true/>
    </md-input-container>
    
    <md-input-container> <label>Was Price</label>
	<input type="text" name="wasPrice" ng-model="productDetail.wasPrice" readonly=true/>
	</md-input-container>
   
    </div>
        
    <div flex="50" class="padd-50" layout-padding layout="column" layout-sm="column">
    
    		
		<h4 layout="row" class="md-layout-column">
			<input layout-align="start center" type="checkBox" ng-model="productDetail.isYourHot" ng-required="true"  ng-disabled="true"/>
			<label layout-align="end center" style="padding-left: 20px;">Is Your Hot Product</label>
		</h4>
		
		
		<md-input-container> <label>Brand</label> <input
			type="text" ng-model="productDetail.brand" ng-required="true" readonly=true/> 
		</md-input-container>

        <h4 layout="row" class="md-layout-column" ng-init=checkgroupCount(productDetail);>
			<input layout-align="start center" type="checkBox" ng-model="groupCount" ng-disabled="true"/>
			<label layout-align="end center" style="padding-left: 20px;">Is Bundle</label>
		</h4>

		<md-input-container ng-show="groupCount"> <label>Bundle</label> <input
			type="text" ng-model="productDetail.groupCount" readonly=true /> 
		</md-input-container>
	    <div class="padd-lrtb30">
	    <div class="md-layout-row layout-align-start-center pt_relat" readonly>	 
		    	  <img style="width: 100px;" ng-src="{{productDetail.image.url}}" class="img-circle"/> 
					<label id="file-uploadtest" >	
                    </label>
		     	<h3 style="padding: 0px 10px;" class="md-layout-column">Original Front Image</h3> 
		     	    	
		    </div>	   
	    </div>
	    <div class="padd-lrtb30" ng-repeat="img in productDetail.images">
	     <div class="md-layout-row layout-align-start-center pt_relat" >	 
		    	  <img style="width: 100px;" ng-src="{{img.url}}" class="img-circle"/> 
					<label id="file-uploadtest" >
                    </label>
		     	<h3 style="padding: 0px 10px;" class="md-layout-column">Images</h3> 
	    </div>
	    </div>
	   <!--  <div class="padd-lrtb30">
	     <div class="md-layout-row layout-align-start-center pt_relat" readonly>	 
		    	   <img style="width: 100px;" src="{{productDetail.smallfrontimage}}"/> 
					<label id="file-uploadtest" >
                    </label>
		     	<h3 style="padding: 0px 10px;" class="md-layout-column">Thumbnail Front Image</h3> 
		     	    	
		    </div>	  
	    </div>
	    <div class="padd-lrtb30">	    
	    <div class="md-layout-row layout-align-start-center pt_relat" readonly>
		    	  <img style="width: 100px;" src="{{productDetail.smallbackimage}}"/> 	
					<label id="file-uploadtest" >
                    </label>
		     	<h3 style="padding: 0px 10px;" class="md-layout-column">Thumbnail Back Image</h3> 
		     	    	
		    </div>	
	    </div> -->
    
    </div>
    
    
    
    </form>
    </md-content>
</md-card>