<!-- <style>

.delivery_slot .md-datepicker-input-container{width: 0px;visibility: hidden;margin: 0px;
}
.delivery_slot .md-datepicker-button{width: 25px;height: 25px;z-index: 200;line-height: 15px;margin: 2px 3px;
}
.delivery_slot{position: absolute;right:0px;top: 0px;z-index: 1;background-color: transparent;color: #fff;}
.delivery_slot .md-datepicker-button .md-datepicker-calendar-icon{color: #fff;margin-left: 0px; 
height: 20px;}
 .delivery_slot .md-datepicker-button .md-datepicker-calendar-icon:hover{color: #fff;}
.slot_day{position: absolute;top: 0;padding: 10px 0px;left: 0;background: #5F8295;width: 100%;margin: 0px;text-align: center;}
.time_slot{min-width: 200px;background: #141E2D;color: #4F535A;}
.time_slot md-option:hover{background: #F3BD29;color: #fff;}

</style> -->


<md-toolbar class=" md-default-theme"
	style="background-color:transparent;">
<div class="md-toolbar-tools">
	<h2 class="md-flex" style="margin-left: -10px;">Delivery Time Slot
		and Holiday</h2>
	<!--  <span class="close_box">
		    <ng-md-icon class="icon-white svgstyle" size="35" icon="close" ui-sref="app.units"></ng-md-icon> </span>  -->
</div>
</md-toolbar>
<md-card flex-gt-sm="90" flex-gt-md="80"> <md-content
	layout-padding layout="column" layout-sm="column">
<div layout layout="row" layout-sm="column" layout-margin>
	<div layout="column" flex>
		<span style="font-size: 20px;" layout-margin>Delivery Time
			Slot</span>
		<div layout="row" flex layout-padding>
			<div layout="column" flex layout-align="none" ng-model="date"
				class=" calender-style ">
				<span style="font-size: 18px; color: #aaa;">Start Time</span>
				<clockpicker ng-model="time" />
			</div>

			<div layout="column" flex layout-align="none" ng-model="date"
				class=" calender-style">
				<span style="font-size: 18px; color: #aaa;">End Time</span>
				<clockpicker ng-model="time" />
			</div>
		</div>
	</div>
</div>
<!--<div layout="column" flex="30">
        		 <span style="font-size:20px;">Holiday Time Slot</span>
        			<div layout="column" flex layout-margin>
        			<md-card layout  style="width: 250px;height: 280px;position: relative;background-color: #2ECD71;color: #FFF;">
 					  <md-card-content layout="column" layout-align="center center" style="width: 100%;" ng-model="date">
 						 <md-datepicker class="delivery_slot" aria-label="Choose Date" ng-model="delivery.date" md-min-date="minDate" ng-change="formateSelectedDate(delivery.date)"></md-datepicker>
 					<p class="slot_day">Shop holiday list </p>
 					<h2 class="ft-white no-holiday">No Holiday</h2>
 					<p style="margin:40px 0px 0px;"> {{choosedDate[1]}}</p>
 					<h1 style="margin: 5px 0px;font-size: 48px;">{{choosedDate[2]}}</h1>
 					<p style="margin: 5px 0px;">{{choosedDate[3]}}</p>
					</md-card-content> 
					</md-card>
					</div> 
        	</div>--> <!-- <div layout="row"> --> <!--
            <md-input-container>
                <label>From Time<span style="color:red">*</span></label>                
   <input type="time" id="exampleInput" name="input" ng-model="deliveryTimeSlot.fromTime"
       placeholder="HH:mm:ss" required />

            </md-input-container>
--> <!-- 
            <md-input-container>
                <label>To Time<span style="color:red">*</span></label>
                <input type="time" id="exampleInput" name="input" ng-model="deliveryTimeSlot.toTime" placeholder="HH:mm:ss" min="deliveryTimeSlot.fromTime" max="24:00:00" required />
            </md-input-container>
--> <!-- <div flex="5"></div> -->

<div layout="row" layout-sm="column" layout-align="none start"
	class="marg-tb15 border-light border-top border-bottom">

	<div class="" flex>
		<span flex layout="column" layput-padding
			class=" marg-15 border-right border-light">
			<div layout="row" class="ft_gray">
				<md-icon md-svg-icon="images/svg/time36.svg"
					class="nomarg padd-l10-r5"></md-icon>
				<span flex class="padd-t5">Your store is available for
					delivery from </span>
			</div> <strong flex class="ft_size20 ft-grn padd-l10 marg-t7"> 9AM
				to 10PM </strong>
		</span>
	</div>
	<div class="" flex>
		<span flex layout="column" layput-padding class="marg-15 ft_gray">
			<div layout="row">
				<span class=" ft-grn">Your basket is expected to be delivered
					within <span class="ft-12 ft_gray">90 minutes *</span>
				</span>
			</div>

		</span>
	</div>
	<div></div>
</div>

<div layout="column" layout-margin>
	<span style="font-size: 20px; line-height: 2;" layout-margin>Holiday
		Setting</span>
	<div style="height: 500px">
		<calendar-md flex layout layout-fill calendar-direction="direction"
			on-prev-month="prevMonth" on-next-month="nextMonth"
			on-day-click="dayClick" title-format="'MMMM y'"
			ng-model='selectedDates' day-format="'d'" day-label-format="'EEE'"
			day-label-tooltip-format="'EEEE'" day-tooltip-format="'fullDate'"
			week-starts-on="firstDayOfWeek" day-content="setDayContent"
			template-url="'http://localhost:8080/app/modules/deliverytimeslot/angular-material-calendar.html'"
			date-content="holidayReasons"></calendar-md>
	</div>
</div>



<section layout="row" layout-sm="column" layout-align="start center"
	layout-wrap>
	<md-button class="md-raised md-success padd-50"
		ng-show="deliveryTimeSlot.deliveryTimeSlotId"
		ng-click="updateDeliveryTimeSlot(deliveryTimeSlot);">Update</md-button>
	<md-button class="md-raised md-success padd-50"
		ng-hide="deliveryTimeSlot.deliveryTimeSlotId"
		ng-click="saveDeliveryTimeSlot(deliveryTimeSlot);"
		ng-disabled="uoms.$invalid">Create</md-button>
	<!--  <md-button class="md-raised md-cancel padd-50"  ui-sref="app.super_admin_dashboard">Cancel</md-button> -->
	<!-- <md-button class="md-raised md-cancel padd-50" ng-hide="deliveryTimeSlot.deliveryTimeSlotId" ng-click="cancel();">Cancel</md-button> -->
</section>
</md-content> </md-card>
