<div ng-init="getWarehouse()">

<md-toolbar class=" md-default-theme" style="background-color:transparent;">
    <div class="md-toolbar-tools">
      <h3 style="margin-left:-10px;" class="md-layout-column">Storage Bin</h3>
    </div>
  </md-toolbar>
  
  <!-- <md-toolbar class=" md-default-theme" >
   		<div class="md-toolbar-tools ">	
			<div class="md-layout-row layout-align-start-center pt_relat">	 
		     	<h3 style="margin-left:-10px;" class="md-layout-column">Warehouse</h3>     	
		    </div>  
		    <span class="close_box">
		    	<ng-md-icon class="icon-white svgstyle" size="35" icon="close" ui-sref="app.merchants"></ng-md-icon> 
		    </span>   
		</div> 
  </md-toolbar> -->
  
<md-card flex-gt-sm="90" flex-gt-md="80" >
   
    <md-content md-theme="docs-dark" layout-padding layout="column" layout-sm="column">
      <form name="storagebinForm" novalidate>
      
    <md-input-container>
       <label>Name<span style="color:red">*</span></label>
      <input ng-model="storagebin.name" ng-required="true">
    </md-input-container>
    <md-input-container>
       <label>Description<span style="color:red">*</span></label>
      <input ng-model="storagebin.description" ng-required="true">
    </md-input-container>
    <md-input-container layout-padding flex>
       			<label>Warehouse<span style="color:red">*</span></label>
         		<md-select ng-model="warehouse.warehouseId" ng-required="true">
		            <md-option ng-repeat="warehouse in getWarehouseList" value="{{warehouse.warehouseId}}">
		              {{warehouse.name}}
		            </md-option>
          		</md-select>
    </md-input-container>
    <md-input-container>
       <label>Row (X)<span style="color:red">*</span></label>
      <input ng-model="storagebin.row" ng-required="true">
    </md-input-container>
    
    <md-input-container>
       <label>Stack (Y)<span style="color:red">*</span></label>
      <input ng-model="storagebin.stack" ng-required="true">
    </md-input-container>
    <md-input-container>
       <label>Level (Z)<span style="color:red">*</span></label>
      <input ng-model="storagebin.level" ng-required="true">
    </md-input-container>    
    <section layout="row" layout-sm="column" layout-align="start center" layout-wrap>
    	<md-button class="md-raised md-success padd-50" ng-hide="storagebin.storagebinId" ng-click="saveStorageBin(storagebin)" ng-disabled="storagebinForm.$invalid">Create</md-button>
    	<md-button class="md-raised md-success padd-50" ng-show="storagebin.storagebinId" ng-click="updateStoragebin(storagebin);" ng-disabled="storagebinForm.$invalid">Update</md-button>
    	<md-button class="md-raised md-cancel padd-50" ui-sref="app.storagebin">Cancel</md-button>
    </section>
    </form>
    </md-content>
</md-card>

</div>















<!-- 

<div ng-include="'htmlfile/admin/warehouseheader.html'"></div>
<div class="row well-sm" ng-init="getWarehouse()">
<form name="storageBin" ng-submit="addStorageBin()">
	<div class="col-sm-12 well-lg ">
		<div class="col-sm-0 col-xs-offset-0 col-xs-2 col-xs-offset-5 well-sm">
			<p>Warehouse *</p>
			<select class="form-control" ng-model="warehouseId" required="required"
				ng-options="p.warehouseId as p.warehouseName for  p in getWarehouseList | orderBy:'warehouseName'">
				<option value="">Select Warehouse</option>
			</select>
		</div>
		<div class="col-sm-3 well-sm">
			<p>Name *</p>
			<input type="text" required="required" class="form-control t"
				placeholder="" ng-model="sbname">
		</div>
		<div class="col-sm-3 well-sm">
			<p>Row (X) *</p>
			<input type="text" required="required" class="form-control t"
				placeholder="" ng-model="sbxrow">
		</div>
		<div class="col-sm-3 well-sm">
			<p>Stack (Y) *</p>
			<input type="text" id="name" required="required"
				class="form-control t" placeholder="" ng-model="sbyrow">
		</div>
		<div class="col-sm-3 well-sm">
			<p>Level (Z)*</p>
			<input type="text" id="desc" required="required"
				class="form-control t" placeholder="" ng-model="sbzrow">
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<div class=" col-xs-offset-5 col-xs-2 col-xs-offset-5">
				<button type="submit" class="btn btn-primary btn-block"
					aria-label="Left Align">Add</button>
			</div>
		</div>
	</div>
	</form>
</div> -->