	<md-button class="md-fab" aria-label="Eat cake" style="position: fixed; right: 23px; bottom: 23px; line-height: inherit; margin-bottom: 0; z-index: 998;"ng-click="addStorageBin()">
		<ng-md-icon icon="add" size="35" class="icon-white" ></ng-md-icon>
	</md-button>
<md-card flex-gt-sm="90" flex-gt-md="80" class="tbl-body" ng-init="getListOfStoragebin()">

<md-toolbar class=" md-default-theme" style="background-color:transparent;">
	<div class="md-toolbar-tools" layout="row">
  		<h3 layout-align="start">Storagebin</h3>
  		<div class="tbl-search">
  			<ng-md-icon icon="search"  class="icon-white" ></ng-md-icon>
  			<input ng-model="searchText" type="text"  placeholder="Search">
  		</div>
    	 <md-input-container flex="60" layout-align="center end">
       			<label>Warehouse<span style="color:red">*</span></label>
         		<md-select ng-model="whouse" ng-required="true">
		            <md-option ng-repeat="warehouse in listOfWarehouse" value="{{warehouse.warehouseId}}" >
		              {{warehouse.name}}
		            </md-option>
          		</md-select>
    	 </md-input-container>
	 <!-- <div class="md-toolbar-tools padd-0 wid-50" ng-show="showSearch">
	      <md-input-container md-theme="input" flex>
	        <label>&nbsp;</label>
	        <input ng-model="searchText" style="color: white; border-bottom-color: white;" placeholder="enter search">
	      </md-input-container>
	      <md-button aria-label="Search" style="line-height: inherit; min-width: inherit;" ng-click="showSearch = !showSearch;srch = true;">
	        <ng-md-icon icon="search" class="icon-white"></ng-md-icon>
	      </md-button>
	  </div>
      <md-button ng-show="srch" layout-align="end" style="line-height: inherit; min-width: inherit;" aria-label="Search" ng-click="showSearch = !showSearch; srch = false;">
       <ng-md-icon icon="search"  class="icon-white" ></ng-md-icon>
      </md-button> -->
    </div>
   </md-toolbar>
   <md-card-content class="nopadd">
		<md-data-table-container>
     <md-list>
     
     <md-item class="data-table-list " md-data-table>
         <md-item-content layout="row">
          <div layout="row" layout-wrap class="full_wid tbl-header ">
         	<span flex=15 layout-align="start center" layout-padding>
             	Name
           	</span>
         	<span flex=15 layout-align="start center" layout>
             	Warehouse
           	</span>
           	<span flex=30 layout-align="start center" layout>
             	Description
           	</span>
           	<span flex=10 layout-align="start center" layout>
             	Row(X)
           	</span>
            <span flex=10 layout-align="start center" layout>
                Level(Y)
             </span>
             <span flex=10 layout-align="start center" layout>
                Stack(Z)
             </span>
             <span flex=10 layout-align="center center" layout>
                Action
             </span>	
            </div>
         </md-item-content>
        
       </md-item>
       
       <md-item class="data-table-list" md-data-table ng-repeat="storagebin in listOfStoragebins | filter:whouse | orderBy: storagebinPagination.order | limitTo: storagebinPagination.limit: (storagebinPagination.page - 1) * storagebinPagination.limit" class="md-table-content-row" ng-click="storagebinDetails(storagebin,whouse)">
         <md-item-content layout="row" layout-padding>
            <div layout="row" layout-wrap class="full_wid tbl-body">           		      
           	<span flex=15 layout layout-align="start center" >           		
             <span class="shopname">{{storagebin.name}}</span>                          
           	</span>
           	<span flex=15 layout layout-align="start center" >
           		<span class="shopname" class="padd-tr5-lb8 ft-18">{{storagebin.warehouse.name}}</span>
           	</span>
           	<span flex=30 layout layout-align="start center">
             	<span class="shopname" class="padd-tr5-lb8 ft-18"> {{storagebin.description}} </span>
           	 </span>
           	 <!-- <span flex=10 layout="row" ng-hide=true layout-align="start end">
             	<span class="ft-14 hash_color">{{storagebin.warehouse.warehouseId}}</span>
           	 </span> -->
           	 <span flex=10 layout layout-align="start center">
             	<span class="ft-14 hash_color">{{storagebin.row}}</span>
           	 </span>
           	 <span flex=10 layout layout-align="start center">
             	<span class="ft-14 hash_color">{{storagebin.stack}}</span>
           	 </span>
           	 <span flex=10 layout layout-align="start center">
             	<span class="ft-14 hash_color">{{storagebin.level}}</span>
           	 </span>
             <!-- <span flex=15 layout layout-align="center center">
            
             	<span layout-padding><ng-md-icon style="z-index:500;" icon="mode_edit" size="20" class="icons hash_color" ng-click="editStoragebin(storagebin,whouse)"></ng-md-icon></span>
             	<span layout-padding><ng-md-icon style="z-index:500;" icon="close" size="20" class="icons hash_color" ng-click="deleteStorageBin(storagebin)"></ng-md-icon></span>
          
             </span> --> 
             <span flex=10 layout-align="center center" layout>
                <md-button class="md-icon-button md-primary" ng-click="redirectToEditStore(store);$event.stopPropagation();" aria-label="Edit">
        			<ng-md-icon icon="mode_edit" size="20" class="icons hash_color btn-success" ng-click="editStoragebin(storagebin,whouse)"></ng-md-icon>
      			</md-button>
             	<md-button class="md-icon-button md-primary " ng-click="deleteStore(store.storeId);$event.stopPropagation();" aria-label="Delete">
             		<ng-md-icon icon="close" size="20" class="icons hash_color btn-danger" ng-click="deleteStorageBin(storagebin)"></ng-md-icon>
             	</md-button>
             </span>          
           	        	
            </div>       	
           
         </md-item-content>
         </md-item>
         </md-list>
         </md-data-table-container>
      </md-card-content>
   <div layout layout="row"  class="table-pagination-bg" layout-align="center center">
	<md-data-table-pagination md-limit="storagebinPagination.limit" md-page="storagebinPagination.page" md-total="{{storagebins.length}}" md-trigger="onpagechange"></md-data-table-pagination>
	</div>
</md-card>










<!-- <div class="col-sm-12" ng-init="getWarehouse()">
	<div class="col=xs-1 col-sm-3 col-md-6">
		<span class="caption"><h4>Warehouse</h4></span>
	</div>
	<div class="col-xs-11 col-sm-9 col-md-6 nopadding">
		<div class="col-xs-6 btn-group btn-padd">
			<p class="text-right">
				<button type="button" ng-click="addWarehouse()" class="btn btn-info"
					aria-label="Left Align">Add Warehouse</button>
			</p>
		</div>
		<div class="col-xs-6 nopadding">
			<form class="navbar-form" role="search">
				<div class="input-group">
					<input type="text" class="form-control" placeholder="Search"
						ng-model="searchText">
					<div class="input-group-btn">
						<button class="btn btn-default" type="submit">
							<i class="glyphicon glyphicon-search"></i>
						</button>
					</div>
				</div>
			</form>
		</div>

	</div>
</div>
<div class="row nopadding">
	<div class="col-sm-3 btn-group">
		<button type="button" class="btn btn-info" aria-label="Left Align">
			Show All</button>
		<button type="button" class="btn btn-info" id="add-filter"
			aria-label="Left Align">Filter</button>
	</div>
	<div class="col-sm-9 block">
		<a href="" id="elementId" class=""> </a>
	</div>
</div>
<div class="row nopadding">
	<div class="padd">
		<div class="table-responsive">
			<table ng-table="tableParams" class="table">
				<tbody ng-repeat="p in $data| filter:searchText">
					<tr id="tr{{p.warehouseId}}" ng-class-odd="'odd'"
						ng-class-even="'even'">
						<td class="rowTd" data-title="'Warehouse Name'" sortable="'categoryName'">
							{{p.warehouseName}}</td>
						<td class="rowTd" data-title="'address'" sortable="'address'">
							{{p.address}}</td>
						<td class="rowTd" data-title="'city'" sortable="'city'">
							{{p.address1}}</td>
						<td class="rowTd" data-title="'state'" sortable="'state'">
							{{p.city}}</td>
						<td class="rowTd" data-title="'country'" sortable="'country'">
							{{p.state}}</td>
						<td class="rowTd" data-title="'postalCode'"
							sortable="'postalCode'">{{p.country}}</td>
						<td class="rowTd" data-title="'phoneNo'" sortable="'phoneNo'">
							{{p.postelCode}}</td>
						<td class="rowTd" data-title="'Description'" sortable="'Description'">
							{{p.description}}</td>
						<td class="rowTd" data-title="'Return Bin'" sortable="'ReturnBin'">
							{{p.returnBin}}</td>
						<td class="rowTd"><button type="button"
								ng-click="editWarehouse(p);" class="btn btn-info"
								aria-label="Left Align">Edit</td>
						<td class="rowTd"><button type="button"
								ng-click="removewarehouse(p);" class="btn btn-info"
								aria-label="Left Align">Delete</td>
						</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div> -->