<md-card flex-gt-sm="90" flex-gt-md="80" ng-init="getWarehouse()">
   <md-card-content style="padding: 0px 0px 16px 0px;">
     <md-toolbar class="md-whiteframe-4dp">
	<div class="md-toolbar-tools">
	
	<div layout="row" layout-align="start center">	 
     <ng-md-icon icon="store" size="30"></ng-md-icon>
     	<h3 layout="column" style="padding: 0px 10px;">Storage Bin</h3>     	
	    <span class="close_box">
	   	<ng-md-icon class="icon-white svgstyle" size="35" icon="close" ui-sref="app.storagebin"></ng-md-icon> 
	   </span>      
     </div>  
	</div>
	<md-button class="md-fab edit-btn" aria-label="Eat cake" ng-click="editStoragebin(storagebin,whouse)">
		<ng-md-icon icon="mode_edit" size="20" style="fill: white;"></ng-md-icon>
	</md-button>
	</md-toolbar>
	<md-list>
			<div layout layout-sm="column">
			      
           	  	 <md-item class="md-raised" layout-padding  flex>
           		
           			<span  layout="column" class="detail-list" layout-align="start start">
            		 	<span class="ft-18 paddtb-8">{{storagebin.name}}</span>
            		 	<span class="hash_color ft-14">Name</span>
           			</span> 
           		</md-item>
           		<md-item class="md-raised" layout-padding  flex>
           	
           			<span  layout="column" class="detail-list" layout-align="start start">
            		 	<span class="ft-18 paddtb-8">{{storagebin.description}}</span>
            		 	<span class="hash_color ft-14">Description</span>
           			</span>       
           		</md-item>
           	
           	</div>
           	<div layout layout-sm="column">
           	
           			<md-item class="md-raised" layout-padding  flex>
            			<md-input-container layout-padding flex>
       						<label>Warehouse<span style="color:red">*</span></label>
         					<md-select ng-model="country" ng-required="true">
		            			<md-option ng-repeat="warehouse in getWarehouseList" value="{{warehouse.warehouseId}}">
		              			{{warehouse.name}}
		            			</md-option>
          					</md-select>
    					</md-input-container>
           			</md-item>
			      
           	  	 <md-item class="md-raised" layout-padding  flex>
           		
           			<span  layout="column" class="detail-list" layout-align="start start">
            		 	<span class="ft-18 paddtb-8">{{storagebin.row}}</span>
            		 	<span class="hash_color ft-14">Row (X)</span>
           			</span> 
           		</md-item>
           	</div>
           	<div layout layout-sm="column">
			      <md-item class="md-raised" layout-padding  flex>
           	
           			<span  layout="column" class="detail-list" layout-align="start start">
            		 	<span class="ft-18 paddtb-8">{{storagebin.stack}}</span>
            		 	<span class="hash_color ft-14">Stack (Y)</span>
           			</span>       
           		 </md-item>
           	  	 <md-item class="md-raised" layout-padding  flex>
           		
           			<span  layout="column" class="detail-list" layout-align="start start">
            		 	<span class="ft-18 paddtb-8">{{storagebin.level}}</span>
            		 	<span class="hash_color ft-14">Level (Z)</span>
           			</span> 
           		</md-item>
           	</div>
     </md-list>
   </md-card-content>
</md-card>
