<div ng-init="getStoreDetails()">
<!-- <md-toolbar class="md-whiteframe-4dp">
	<div class="md-toolbar-tools">
	
	<div layout="row" layout-align="start center">	 
     <ng-md-icon icon="store" size="30"></ng-md-icon>
     	<h3 layout="column" style="padding: 0px 10px;">Warehouse</h3>     	
	    <span class="close_box">
	   	<ng-md-icon class="icon-white svgstyle" size="35" icon="close" ui-sref="app.warehouse"></ng-md-icon> 
	   </span>      
     </div>  
	</div>
	<md-button class="md-fab edit-btn" aria-label="Eat cake" ng-click="editWarehouse(warehouse)">
		<ng-md-icon icon="mode_edit" size="20" style="fill: white;"></ng-md-icon>
	</md-button>
	</md-toolbar> -->
	
	<md-toolbar style="background-color:transparent !important;" >
	<div class="md-toolbar-tools ">
	
	<div layout="row" layout-align="start center">		 
     	<h3 layout="column" style="margin-left:-10px">Warehouse Detail</h3>     
     	 <!--  <span class="close_box">
		    <ng-md-icon class="icon-white svgstyle" size="35" icon="close" ui-sref="app.units"></ng-md-icon> </span> 	 -->
    </div>       
	</div>
	
	<md-button class="md-fab edit-btn" aria-label="Eat cake" ng-click="editWarehouse(warehouse)">
		<ng-md-icon icon="mode_edit" size="20" style="fill: white;"></ng-md-icon>
	</md-button>
	<md-button style="right:85px" class="md-fab edit-btn" aria-label="Eat cake" ui-sref="app.warehouse">
		<ng-md-icon  icon="arrow_back" size="20" style="fill: white;"></ng-md-icon>
	</md-button>
	
	</md-toolbar>
	
<md-card flex-gt-sm="90" flex-gt-md="80">
   <md-card-content style="padding: 0px 0px 16px 0px;">
     
	<md-list>
			 <div layout layout-sm="column">
			      
           	  	 <md-item class="md-raised" layout-padding  flex>
           		
           			<span  layout="column" class="detail-list" layout-align="start start">
            		 	<span class="ft-18 paddtb-8">{{warehouse.name}}</span>
            		 	<span class="hash_color ft-14">Name</span>
           			</span> 
           		</md-item>
           		<md-item class="md-raised" layout-padding  flex>
           	
           			<span  layout="column" class="detail-list" layout-align="start start">
            		 	<span class="ft-18 paddtb-8">{{warehouse.description}}</span>
            		 	<span class="hash_color ft-14">Description</span>
           			</span>       
           		</md-item>
           	
           	</div>
           	<div layout layout-sm="column">
           	
           		<md-item class="md-raised" layout-padding  flex>
           			<span  layout="column" class="detail-list" layout-align="start start">
            		 	<span class="ft-18 paddtb-8">{{warehouse.address.address1}}</span>
            		 	<span class="hash_color ft-14">Address-1</span>
           			</span>
           		</md-item>
           		<md-item class="md-raised" layout-padding  flex>
           			<span  layout="column" class="detail-list" layout-align="start start">
            		 	<span class="ft-18 paddtb-8">{{warehouse.address.address2}}</span>
            		 	<span class="hash_color ft-14">Address-2</span>
           			</span>       
           		</md-item>
           	</div>
           	<div layout layout-sm="column">
           	    <md-item class="md-raised" layout-padding  flex>
           			<span  layout="column" class="detail-list" layout-align="start start">
            		 	<span class="ft-18 paddtb-8">{{warehouse.address.city}}</span>
            		 	<span class="hash_color ft-14">City</span>
           			</span> 
           		</md-item>
           		<md-item class="md-raised" layout-padding  flex>
            		<!-- <md-input-container layout-padding flex>
       				<label>Country<span style="color:red">*</span></label>
         				<md-select ng-model="country" ng-required="true" ng-change = "getState(country);">
		            		<md-option ng-repeat="cnt in countries" value="{{cnt}}">
		              		{{cnt.name}}
		            		</md-option>
          				</md-select>
    				</md-input-container> -->
    				
    				<span  layout="column" class="detail-list" layout-align="start start">
		            <span class="ft-18 paddtb-8">{{warehouse.address.country.name}}</span>
		            <span class="hash_color ft-14">Country</span>
		          	</span>  
           		</md-item>
           	</div>
           	<div layout layout-sm="column">
           		<md-item class="md-raised" layout-padding  flex>
           			<!-- <md-input-container layout-padding flex>
       				<label>State<span style="color:red">*</span></label>
         			<md-select ng-model="state" ng-required="true">
		            	<md-option ng-repeat="state in states" value="{{state}}">
		              	{{state.name}}
		            	</md-option>
          			</md-select>
    				</md-input-container> -->
    				<span  layout="column" class="detail-list" layout-align="start start">
		             <span class="ft-18 paddtb-8">{{warehouse.address.state.name}}</span>
		             <span class="hash_color ft-14">State</span>
		           	</span>  
           		</md-item>
           		<md-item class="md-raised" layout-padding  flex>           		
           			<span  layout="column" class="detail-list" layout-align="start start">
            		 	<span class="ft-18 paddtb-8">{{warehouse.address.pinCode}}</span>
            		 	<span class="hash_color ft-14">Postal Code</span>
           			</span> 
           		</md-item>
           	</div>
     </md-list>
   </md-card-content>
</md-card>
</div>